
<template>

  <!-- Add Plan-->
		<div class="vx-col w-full mb-base">
			<vx-card title="Add Products" code-toggler>
        <form>
           

            <div class="vx-row mb-2">
            <div class="vx-col w-full">
               <v-select class="inputx sm:w-3/3" label-placeholder="Category" name="Category" v-model="category_id" :options="optioncategory_id" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select> 
                <span class="text-danger">{{ errors.first('Category') }}</span>
            </div>
          </div>  
      
        <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <div class="">
                <div class="large-4 medium-4 small-4 filezone">
                    <input type="file" id="files" ref="files" label-placeholder="Product Image" name="Product Image"  v-on:change="handleFiles()" v-validate="'required|image'"  accept=".jpg, .png, .gif"/>
                    <p>
                        Drop your Product Image here <br>or click to search
                    </p>
                </div>

                <div v-for="(file, key) in files" v-bind:key="key" class="file-listing">
                    <img class="preview" v-bind:ref="'preview'+parseInt(key)"/>
                  <div class="details"><span>{{ file.name }}</span></div>
                    <div class="success-container" v-if="file.id > 0">
                        Success
                        <input type="hidden" :name="input_name" :value="file.id"/>
                    </div>
                    <div class="remove-container" v-else>
                        <a class="remove" v-on:click="removeFile(key)">x</a>
                    </div>
                </div>

                
            </div>
            </div>  <span class="text-danger">{{ errors.first('Product Image') }}</span>
          </div>
      

        <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="Product Name" name="Product Name" id="product_name" v-model="product_name" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('Product Name') }}</span>
            </div>
          </div>  
           

          <div class="vx-row mb-2">
            <div class="vx-col w-full">           
  
                <quill-editor label-placeholder="Category"  v-model="product_desc" :options="editorOption" class="mt-5" >
                    <div id="toolbar" slot="toolbar">

                        <!-- Add a bold button -->
                        <button class="ql-bold">Bold</button>
                        <button class="ql-italic">Italic</button>

                        <!-- Add font size dropdown -->
                        <select class="ql-size">
                            <option value="small"></option>

                            <!-- Note a missing, thus falsy value, is used to reset to default -->
                            <option selected></option>
                            <option value="large"></option>
                            <option value="huge"></option>
                        </select>

                        <select class="ql-font">
                            <option selected="selected"></option>
                            <option value="serif"></option>
                            <option value="monospace"></option>
                        </select>

                        <!-- Add subscript and superscript buttons -->
                        <button class="ql-script" value="sub"></button>
                        <button class="ql-script" value="super"></button>

                       
                    </div>
                </quill-editor>
        

            
            </div>
          </div> 

         
          <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="Product Price" name="Product Price" id="product_price" v-model="product_price" v-validate="'required|numeric'"/>
              <span class="text-danger">{{ errors.first('Product Price') }}</span>
            </div>
          </div>
           <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="Discount(%)" name="Discount" id="discount" v-model="discount" v-validate="'required|numeric'"/>
              <span class="text-danger">{{ errors.first('Discount') }}</span>
            </div>
          </div>

        <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="PV" name="PV" id="pv" v-model="pv" v-validate="'required|numeric'"/>
              <span class="text-danger">{{ errors.first('PV') }}</span>
            </div>
          </div>
            <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="Product Weight" name="Product Weight" id="product_weight" v-model="product_weight" v-validate="'required|numeric'"/>
              <span class="text-danger">{{ errors.first('Product Weight') }}</span>
            </div>
          </div>
          
           <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="Product Shipping Cost" name="Product Shipping Cost" id="product_shipping_cost" v-model="product_shipping_cost" v-validate="'required|numeric'"/>
              <span class="text-danger">{{ errors.first('Product Shipping Cost') }}</span>
            </div>
          </div>

            <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-input class="w-full" label-placeholder="Product SKU" name="Product SKU" id="product_sku" v-model="product_sku" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('Product SKU') }}</span>
            </div>
          </div>

           <div class="vx-row mb-2">
            <div class="vx-col w-full st_switch vx-row mt-4 mb-4">
              <label class="vx-col sm:w-1/6 w-full"> Manage stock? </label>
              <div class="vx-col sm:w-1/6 w-full">
                <vs-checkbox class="w-full" label-placeholder="Manage stock" name="Manage stock" v-model="managestock"></vs-checkbox><span class="text-danger">{{ errors.first('Manage stock') }}</span>
              </div>
            </div>
          </div>

          

          <div v-show="managestock === true">
               <div class="vx-row mb-2">
              <div class="vx-col w-full">
                <vs-input class="w-full" label-placeholder="Stock quantity" name="Stock quantity" id="stock_quantity" v-model="stock_quantity" v-validate="'required'"/>
                <span class="text-danger">{{ errors.first('Stock quantity') }}</span>
              </div>
            </div>
            <div class="vx-row mb-2">
              <div class="vx-col w-full">
               <vs-select  v-validate="'required'" v-model="allow_backorders" name="Allow backorders" label="Allow backorders" class="select-large mt-5 w-full">
                            <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in allow_backordersoptions" />
                </vs-select> <span class="text-danger">{{ errors.first('Allow backorders') }}</span>
              </div>
            </div>
            <div class="vx-row mb-2">
              <div class="vx-col w-full">
                <vs-input class="w-full" label-placeholder="Low stock threshold" name="Low stock threshold" id="low_stock_threshhold" v-model="low_stock_threshhold" v-validate="'required'"/>
                <span class="text-danger">{{ errors.first('Low stock threshold') }}</span>
              </div>
            </div>

          </div>

          <div v-show="managestock === false">
                <div class="vx-row mb-2">
                <div class="vx-col w-full">
                  <vs-select  v-model="stock_status" name="Stock status" label="Stock status" class="select-large mt-5 w-full">
                            <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in stock_statusoptions" />
                        </vs-select><span class="text-danger">{{ errors.first('Stock status') }}</span>
                </div>
              </div>
          </div>

          <div class="vx-row mb-2">
            <div class="vx-col w-full st_switch vx-row mt-4 mb-4">
              <label class="vx-col sm:w-1/6 w-full"> Status </label>
              <div class="vx-col sm:w-1/6 w-full">
                <vs-switch v-model="status">
                    <span slot="1">Active</span>
                    <span slot="2">Suspend</span>
                </vs-switch>
              </div>
            </div>
          </div>


           <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-textarea label="Meta Title" name="Meta Title" v-model="meta_title" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('Meta Title') }}</span>
            </div>
          </div>  

             <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-textarea label="Meta keyword" name="Meta Keyword" v-model="meta_keyword" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('Meta Keyword') }}</span>
            </div>
          </div>  

             <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <vs-textarea label="Meta Description" name="Meta Description" v-model="meta_description" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('Meta Description') }}</span>
            </div>
          </div>  

          <div class="vx-row mb-2">
            <div class="vx-col w-full st_switch vx-row mt-4 mb-4">
              <label class="vx-col sm:w-1/6 w-full"> Authoship </label>
              <div class="vx-col sm:w-1/6 w-full">
                <vs-switch v-model="authoship_status">
                    <span slot="0">Active</span>
                    <span slot="1">Suspend</span>
                </vs-switch>
              </div>
            </div>
          </div>

          <div class="vx-row mb-2">
            <div class="vx-col w-full st_switch vx-row mt-4 mb-4">
              <label class="vx-col sm:w-1/6 w-full"> Attribute </label>
              <div class="vx-col sm:w-1/6 w-full">
                <vs-switch v-model="attribute" @click="checkattr">
                    <span slot="1">Active</span>
                    <span slot="2">Suspend</span>
                </vs-switch>
              </div>
            </div>
          </div>
          <div v-show="attribute === true">
               <div class="vx-row mb-2">
              <div class="vx-col w-full">
                <v-select v-model="selected" :options="attr" :dir="$vs.rtl ? 'rtl' : 'ltr'"  v-on:input="changeRoute()" v-validate="'required'"/>
                <span class="text-danger">{{ errors.first('Stock quantity') }}</span>
              </div>
            </div>
            <div class="vx-row mb-2">
              <div class="vx-col w-full">
                <v-select multiple :closeOnSelect="false" v-model="configselected" :options="config" :dir="$vs.rtl ? 'rtl' : 'ltr'" />
                <span class="text-danger">{{ errors.first('Stock quantity') }}</span>
              </div>
          </div>
          </div>

			
          <div class="vx-row mt-5">
            <div class="vx-col w-full">
              <vs-button type="filled"  @click="addproduct" class="mr-3 mb-2">Submit</vs-button>
              <vs-button color="warning" type="border" class="mb-2" @click="input17 = input18 = input19 = input20 = ''; check5 = false;">Cancle</vs-button>
            </div>
          </div>
        </form>
			</vx-card>
		</div>
</template>
<script>

import config from "@/config.js"
import vSelect from 'vue-select'
// require styles
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'
import Prism from 'vue-prism-component'
export default{  
      data() {
      return {
            optioncategory_id: [], 
            product_name:'',

            product_desc:'', 
            product_price:'', 
            pv:'', 
            product_weight:'', 
            product_shipping_cost:'', 
            status:'', 
            meta_title:'', 
            meta_keyword:'',
            meta_description:'',
            discount:'',
            category_id:'',
            editorOption: {
                modules: {
                    toolbar: '#toolbar'
                }
            },
            isDragging: false,
            dragCount: 0,
            files: [],
            images: [],
            managestock:false,
            product_sku:'',
            stock_status: "1",
            stock_statusoptions: [
                {text: "In Stock", value: 1},
                {text: "Out of stock", value: 2}
            ],
            allow_backorders:'2',
            allow_backordersoptions:[
              {text: "Allow", value: 1},
              {text: "Do not Allow", value: 2}
            ],
            stock_quantity:'0',
            low_stock_threshhold:'2',
            authoship_status:false, 
            attribute:'',
            attr: [],
            selected: {id: 0, label: 'selected'},
            configselected: [],
            config: ['foo','bar','baz']        

    }
  },  
  components: {'v-select': vSelect, quillEditor,
        Prism},
  computed: {
    validateForm() {
      return !this.errors.any();      
    },
  },
 created() {
      return this.getcategories(),this.getattr();
    }, 
  methods: { 
        checkattr(){
       if(this.attribute===true){
       // this.getattr();
      }
      else{
         this.getattr();
      }
    },
    changeRoute() {
      this.$vs.loading()
       this.configselected = [];
       const obj = {
              attr_id:this.selected.id,
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/viewattributesconfig",obj,{ headers: { Authorization: AuthStr } })
            .then(response => {
              console.log(response.data)
              var array=[];
              for(var i=0;i<response.data.length;i++){
                array.push(response.data[i].name);
              }
              console.log(array);
                this.config = array;
                this.$vs.loading.close()
            })

      },
    getattr(){
         const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/viewattributesselect",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                //this.optioncategory_id = response.data; 
                this.attr=response.data;
            })
		  .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
    },
         removeFile( key ){
                this.files.splice( key, 1 );
                this.getImagePreviews();
            },
            handleFiles() {
                let uploadedFiles = this.$refs.files.files;
            

                if(this.files.length <=0){
                  this.files.push(uploadedFiles[0]);
                  this.getImagePreviews();
                }
            },
            getImagePreviews(){
                for( let i = 0; i < this.files.length; i++ ){
                 

                    if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].name ) ) {
                        let reader = new FileReader();
                        reader.addEventListener("load", function(){
                            this.$refs['preview'+parseInt(i)][0].src = reader.result;
                        }.bind(this), false);
                        reader.readAsDataURL( this.files[i] );
                    }else{
                        this.$nextTick(function(){
                            this.$refs['preview'+parseInt(i)][0].src = '/img/generic.png';
                        });
                    }
                }
            },
        getFileSize(size) {
            const fSExt = ['Bytes', 'KB', 'MB', 'GB'];
            let i = 0;
            
            while(size > 900) {
                size /= 1024;
                i++;
            }
            return `${(Math.round(size * 100) / 100)} ${fSExt[i]}`;
        },
          
      getcategories(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcategorylist",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.optioncategory_id = response.data;                                       
            })
		    .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
            
        }, 

    addproduct() {   
      
      this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()

            const formData = new FormData();
           

            this.files.forEach(file => {
                formData.append('images[]', file, file.name);
            });

            
          formData.append('category_id', this.category_id['id'])
          formData.append('product_name', this.product_name)
          formData.append('product_desc', this.product_desc)
          formData.append('product_price', this.product_price)
          formData.append('pv', this.pv)
          formData.append('product_weight', this.product_weight)
          formData.append('product_shipping_cost', this.product_shipping_cost)
          formData.append('status', this.status)
          formData.append('meta_title', this.meta_title)
          formData.append('meta_keyword', this.meta_keyword)
          formData.append('meta_description', this.meta_description)
          formData.append('discount', this.discount) 
           formData.append('managestock', this.managestock)
          formData.append('stock_quantity', this.stock_quantity)
          formData.append('allow_backorders', this.allow_backorders)
          formData.append('low_stock_threshhold', this.low_stock_threshhold)   
          formData.append('stock_status', this.stock_status)  
          formData.append('product_sku', this.product_sku)          
          formData.append('authoship_status', this.authoship_status)  
          formData.append('attr_id',this.selected.id)
          formData.append('config_id',this.configselected)
          
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/addproduct",formData,{ headers: { Authorization: AuthStr } })

            .then(response => {
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Product',
                    text: 'Product successfully added',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$router.push({ path : '/products/view' });
            })
            .catch(error => {
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Product',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            });

            

        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Add Products',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
    })  
    }
  }
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
.v-select.w-full.vs--single.vs--searchable {
    margin-top: 22px;
}
 input[type="file"]{
        opacity: 0;
        width: 100%;
        height: 200px;
        position: absolute;
        cursor: pointer;
    }
    .filezone {
        outline: 2px dashed grey;
        outline-offset: -10px;
        background: #ccc;
        color: dimgray;
        padding: 10px 10px;
        min-height: 200px;
        position: relative;
        cursor: pointer;
    }
    .filezone:hover {
        background: #c0c0c0;
    }
    .filezone p {
        font-size: 1.2em;
        text-align: center;
        padding: 50px 50px 50px 50px;
    }
    .file-listing{
        margin: auto;
        padding: 0 10px 10px;
    }
    .file-listing img{
        height: 190px;
        max-width: 100%;
    }
    .success-container{
        text-align: center;
        color: green;
    }
    .remove-container{
        text-align: center;
    }
    .remove-container a{
        color: red;
        cursor: pointer;
    }
    a.submit-button{
        display: block;
        margin: auto;
        text-align: center;
        width: 200px;
        padding: 10px;
        text-transform: uppercase;
        background-color: #CCC;
        color: white;
        font-weight: bold;
        margin-top: 20px;
    }
    .file-listing {
       display: inline-block;
        vertical-align: top;
        position: relative;
        width: 20%;
    }
    .container.drop {
        position: relative;
    }
    .file-listing .details {
        background: #fff;
        margin-top: 0;
        box-shadow: 0px 3px 7px #e0e0e0;
        font-size: 12px;
        padding: 5px 10px;
        word-break: break-all;
        width: 100%;
        display: block;
    }
     .file-listing img{
         max-width: 100%;
     }
    .file-listing .remove-container{
        position: absolute;
        top: 3px;
        right: 20px;
        
    }
    
    .filezone{
        width: 23%;
        display: inline-block;
        background: #7267f0;
        color: #fff;
        outline: 2px dashed #cbc8f2;
    }
    .file-listing .remove-container a {
      color: #000;
      background: #fff;
      box-shadow: 0px 3px 6px #5a5a5a;
      padding: 2px 8px;
  }
</style>
