<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "ADD NEW" : "EDIT" }} VARIANT</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">

      <div class="p-6">

        <div class="vx-col sm:w-2/3 w-full">
        <!-- Image Container -->
        <div class="product_image">
         <span>Image</span>
            <div class="img-container mt-2 w-64 mx-auto flex items-center justify-center" v-if="dataImg">
            <img :src="dataImg" alt="img" class="responsive">
            </div>

            <!-- Image upload Buttons -->
            <div class="modify-img flex justify-between mt-5 mb-6">
             
            <input type="file" class="hidden" ref="updateImgInput" @change="updateCurrImg" accept="image/*">
            <vs-button class="mr-4" type="flat" @click="$refs.updateImgInput.click()">Update Image</vs-button>
            </div>
        </div>
        </div>
        <div class="select_product mb-6">
          <span>Select Attribute</span>
        <v-select v-model="selected" :options="attr" :dir="$vs.rtl ? 'rtl' : 'ltr'"  v-on:input="changeRoute()" v-validate="'required'"/>
        <span class="text-danger">{{ errors.first('Stock quantity') }}</span>
        </div>
        <div class="select_product">
          <span>Select Variant</span>
        <v-select v-model="variant_selected" :options="variant" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"/>
        <span class="text-danger">{{ errors.first('Stock quantity') }}</span>
        </div>

        <!-- NAME -->
        <vs-input label="SKU" v-model="sku" class="mt-5 w-full" name="sku" v-validate="'required'" />
        <span class="text-danger text-sm" v-show="errors.has('sku')">{{ errors.first('sku') }}</span>
         <vs-input label="Price" v-model="var_price" class="mt-5 w-full" name="Price" v-validate="'decimal:3'" />
        <span class="text-danger text-sm" v-show="errors.has('Price')">{{ errors.first('Price') }}</span>
         <vs-input label="Quantity" v-model="qty" class="mt-5 w-full" name="Quantity" v-validate="'required|numeric'" />
        <span class="text-danger text-sm" v-show="errors.has('Quantity')">{{ errors.first('Quantity') }}</span>
        
             <vs-input type="hidden" v-model="$route.params.product_id" class="mt-5 w-full" id="proid" name="proid"  />

      

        
      </div>
    </VuePerfectScrollbar>

    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button class="mr-6" @click="submitData" :disabled="!isFormValid">Submit</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

import vSelect from 'vue-select'
import config from "@/config.js"
export default {
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {},
    }
  },
   watch: {
    isSidebarActive(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.initValues()
        this.$validator.reset()
      }else {
		    //this.proid=$route.params.product_id
        this.dataId = this.data.id
        this.dataImg=this.data.image
        this.sku = this.data.sku
        this.var_price=this.data.price
        this.selected={id:this.data.attr_id,label:this.data.attrname}
        this.variant_selected= {id: this.data.variant_id, label:this.data.variantname},
        this.qty=this.data.quantity
        this.initValues()
        this.changeRoute()
      }
      // Object.entries(this.data).length === 0 ? this.initValues() : { this.dataId, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
    }
  },
  data() {
    return {
	  proid: '',
      dataId: null,
      sku: "",
      var_price: "",
      qty: "",
      dataImg : "https://1375256716.rsc.cdn77.org/assets/img/empty_product.png",
      attr: [],
      variant:[],
      selected: {id: 0, label: 'selected'},
      variant_selected: {id: 0, label: 'selected'},
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
    }
  },
  
  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive
      },
      set(val) {
        if(!val) {
          this.$emit('closeSidebar')
         //  this.$validator.reset()
         //  this.initValues()
        }
      }
    },
    isFormValid() {
      return !this.errors.any() 
    }
  },
  created() {
      return this.getattr();
    }, 
  methods: {
      updateCurrImg(input) {
            if (input.target.files && input.target.files[0]) {
            var reader = new FileReader()
            reader.onload = e => {
               this.dataImg = e.target.result
            }
            reader.readAsDataURL(input.target.files[0])
            }
         },
         changeRoute() {
            this.$vs.loading()
            const obj = {
                attr_id:this.selected.id,
              }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/getattributeconfig",obj,{ headers: { Authorization: AuthStr } })
          .then(response => {
              console.log(response.data)
              this.variant=response.data;
              this.$vs.loading.close()
          })
      },
         getattr(){
         const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/viewattributesselect",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                //this.optioncategory_id = response.data; 
                this.attr=response.data;
				//this.proid=$route.params.product_id;
            })
			   .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
    },
    initValues() {
      
      if(this.data.id) return
		
        this.dataId = null
        this.sku = ""
        this.var_price = 0
        this.selected= {id: 0, label: 'selected'},
        this.variant_selected= {id: 0, label: 'selected'},
        this.dataImg = 'https://1375256716.rsc.cdn77.org/assets/img/empty_product.png'
        this.qty=0
		
    },
   
    submitData() {
      this.$validator.validateAll().then(result => {
		 // this.proid=$route.params.product_id;
          if (result) { 			  
            const obj = {
              id: this.dataId,
              image:this.dataImg,
              attr_id:this.selected.id,
              variant_id:this.variant_selected.id,
              sku:this.sku,
              price:this.var_price,
              qty:this.qty,
            }
             if(this.dataId !== null && this.dataId >= 0 ) {
               const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
				 
                  this.$http.post(config.apiUrl +"api/admin/updateproductvariant/"+this.$route.params.product_id,obj,{ headers: { Authorization: AuthStr } })
                  .then(response => {
                    console.log(response);
                      this.$vs.loading.close()
                      this.$emit('closeSidebar')
                      this.$validator.reset()
                      this.initValues()
                      this.$vs.notify({
                          title: 'Variant',
                          text: 'Variant successfully updated',
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'success'
                      })
                    
                  })
                  .catch(error => {
                    console.log(error);
                      this.$vs.loading.close()
                      this.$vs.notify({
                          title: 'Variant',
                          text: 'Please check values',
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'warning'
                      })
                  });
            }else{
                  const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
				 
                  this.$http.post(config.apiUrl +"api/admin/addproductvariant/"+this.$route.params.product_id,obj,{ headers: { Authorization: AuthStr } })
                  .then(response => {
                    console.log(response);
                      this.$vs.loading.close()
                      this.$emit('closeSidebar')
                      this.$validator.reset()
                      this.initValues()
                      this.$vs.notify({
                          title: 'Variant',
                          text: 'Variant successfully added',
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'success'
                      })
                     
                  })
                  .catch(error => {
                    console.log(error);
                      this.$vs.loading.close()
                      this.$vs.notify({
                          title: 'Variant',
                          text: 'Please check values',
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'warning'
                      })
                  });
            }
          
          }
      })
    },
    
  },
  components: {
    VuePerfectScrollbar,'v-select': vSelect
  }
}
</script> 

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
