
<template>
  <!-- Add Plan-->
		<div class="vx-col w-full mb-base">
			<vx-card title="Edit Products" code-toggler>
        <form>
           

        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Category</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <v-select class="inputx sm:w-3/3" placeholder="Category" name="Category" v-model="category_id" :options="optioncategory_id" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select> 
                  <span class="text-danger">{{ errors.first('Category') }}</span>
              </div>
        </div> 

        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Category</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                    <div class="">
                      <div class="large-4 medium-4 small-4 filezone" >
                          <input type="file" id="files" ref="files" name="Product Image" v-on:change="handleFiles()" v-on:click="isHidden = true"    accept=".jpg, .png, .gif"/>
                          <p>
                              Drop your Product Image here <br>or click to search
                          </p>
                      </div>

                                            


                      <div v-for="(file, key) in files" v-bind:key="key" class="file-listing">

                      
                          <img class="preview" v-bind:ref="'preview'+parseInt(key)"   />
                        <div class="details"><span>{{ file.name }}</span></div>
                          <div class="success-container" v-if="file.id > 0">
                              Success
                              <input type="hidden" :name="input_name" :value="file.id"/>
                          </div>
                          <div class="remove-container" v-else>
                              <a class="remove" v-on:click="removeFile(key)">x</a>
                          </div>
                      </div>
						<span class="text-danger">{{ errors.first('Product Image') }}</span>
                  </div>
                  <div class="vx-row mt-6 mb-2"   v-if="!isHidden">
                <div class="vx-col w-full">
                    <img :src="getImgUrl(product_img)" style="width:30%">
                </div>
          </div>
              </div>
          </div>
          

        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Product Name</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" placeholder="Product Name" name="Product Name" id="product_name" v-model="product_name" v-validate="'required'"/>
                <span class="text-danger">{{ errors.first('Product Name') }}</span>
              </div>
        </div>  
         
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Product Category</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">           
    
                  <quill-editor placeholder="Category"  v-model="product_desc" :options="editorOption" class="mt-5" >
                      <div id="toolbar" slot="toolbar">

                          <!-- Add a bold button -->
                          <button class="ql-bold">Bold</button>
                          <button class="ql-italic">Italic</button>

                          <!-- Add font size dropdown -->
                          <select class="ql-size">
                              <option value="small"></option>

                              <!-- Note a missing, thus falsy value, is used to reset to default -->
                              <option selected></option>
                              <option value="large"></option>
                              <option value="huge"></option>
                          </select>

                          <select class="ql-font">
                              <option selected="selected"></option>
                              <option value="serif"></option>
                              <option value="monospace"></option>
                          </select>

                          <!-- Add subscript and superscript buttons -->
                          <button class="ql-script" value="sub"></button>
                          <button class="ql-script" value="super"></button>

                        
                      </div>
                  </quill-editor>
              </div>
        </div> 

        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Sale Price</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" placeholder="Sale Price" name="Sale Price" id="product_price" v-model="product_price" v-validate="'required|min_value:0'"/>
                <span class="text-danger">{{ errors.first('Sale Price') }}</span>
              </div>
        </div>

        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Discount(%)</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" placeholder="Discount(%)" name="Discount" id="discount" v-model="discount" v-validate="'required|min_value:0'"/>
                <span class="text-danger">{{ errors.first('Discount') }}</span>
              </div>
        </div>

        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>PV</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" placeholder="PV" name="PV" id="pv" v-model="pv" v-validate="'required|numeric'"/>
                <span class="text-danger">{{ errors.first('PV') }}</span>
              </div>
        </div>

        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Product Weight</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" placeholder="Product Weight" name="Product Weight" id="product_weight" v-model="product_weight" v-validate="'required'"/>
                <span class="text-danger">{{ errors.first('Product Weight') }}</span>
              </div>
        </div>
          
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Product Shipping Cost</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" placeholder="Product Shipping Cost" name="Product Shipping Cost" id="product_shipping_cost" v-model="product_shipping_cost" v-validate="'decimal:3'"/>
                <span class="text-danger">{{ errors.first('Product Shipping Cost') }}</span>
              </div>
        </div>

        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Product SKU</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" placeholder="Product SKU" name="Product SKU" id="product_sku" v-model="product_sku" v-validate="'required'"/>
                <span class="text-danger">{{ errors.first('Product SKU') }}</span>
              </div>
        </div>

        <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full st_switch">
              <label class="w-full"> Manage Stock? </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-checkbox class="w-full" laceholder="Manage stock" name="Manage stock" v-model="managestock"></vs-checkbox><span class="text-danger">{{ errors.first('Manage stock') }}</span>
            </div>
        </div>
          
        <div v-show="managestock === true">
         <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Stock Quantity</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" placeholder="Stock quantity" name="Stock quantity" id="stock_quantity" v-model="stock_quantity" v-validate="'required|numeric'"/>
                <span class="text-danger">{{ errors.first('Stock quantity') }}</span>
              </div>
          </div>

          <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Allow Backorders</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
               <vs-select  v-validate="'required'" v-model="allow_backorders" name="Allow backorders" class="select-large mt-5 w-full">
                            <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in allow_backordersoptions" />
                </vs-select> <span class="text-danger">{{ errors.first('Allow backorders') }}</span>
              </div>
         </div>

          <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Low Stock Threshold</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" placeholder="Low stock threshold" name="Low stock threshold" id="low_stock_threshhold" v-model="low_stock_threshhold" v-validate="'required|numeric'"/>
                <span class="text-danger">{{ errors.first('Low stock threshold') }}</span>
              </div>
          </div>
      </div>

      <div v-show="managestock === false">

          <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Stock Status</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                  <vs-select  v-model="stock_status" name="Stock status" class="select-large w-full">
                            <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in stock_statusoptions" />
                        </vs-select><span class="text-danger">{{ errors.first('Stock status') }}</span>
                </div>
          </div>
      </div>

      <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full st_switch">
              <label class=" w-full"> Status </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="status">
                    <span slot="1">Active</span>
                    <span slot="2">Suspend</span>
                </vs-switch>
            </div>
      </div>
          
      <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>Meta Title</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-textarea label="Meta Title" name="Meta Title" v-model="meta_title" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('Meta Title') }}</span>
            </div>
      </div>  

       <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Meta keyword</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-textarea label="Meta keyword" name="Meta Keyword" v-model="meta_keyword" v-validate="'required'"/>
                <span class="text-danger">{{ errors.first('Meta Keyword') }}</span>
              </div>
        </div>  

        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Meta Description</span>
               </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-textarea label="Meta Description" name="Meta Description" v-model="meta_description" v-validate="'required'"/>
                <span class="text-danger">{{ errors.first('Meta Description') }}</span>
              </div>
        </div>  
         <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col w-full st_switch vx-row mt-4 mb-4">
              <label class="vx-col sm:w-1/3 w-full"> Autoship </label>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="authoship_status">
                    <span slot="0">Active</span>
                    <span slot="1">Suspend</span>
                </vs-switch>
              </div>
            </div>
          </div>

          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col w-full st_switch vx-row mt-4 mb-4">
              <label class="vx-col sm:w-1/3 w-full"> Attribute </label>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="attribute">
                    <span slot="1">Active</span>
                    <span slot="2">Suspend</span>
                </vs-switch>
              </div>
            </div>
          </div>
          <div v-show="attribute === true">
               <div id="data-list-list-view" class="data-list-container">

    <data-view-sidebar :isSidebarActive="addNewDataSidebar" @closeSidebar="toggleDataSidebar" :data="sidebarData" />

    <vs-table ref="table" multiple v-model="selected" pagination :max-items="itemsPerPage" search :data="variants">

      <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

        <div class="flex flex-wrap-reverse items-center data-list-btn-container">


          <!-- ADD NEW -->
          <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
              <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
              <span class="ml-2 text-base text-primary">Add Variant</span>
          </div>
        </div>

        <!-- ITEMS PER PAGE -->
     
      </div>

      <template slot="thead">
        <vs-th sort-key="attribute">Attribute</vs-th>
        <vs-th sort-key="variant">Variant</vs-th>
        <vs-th sort-key="image">Image</vs-th>
        <vs-th sort-key="sku">SKU</vs-th>
        <vs-th sort-key="price">Price</vs-th>
        <vs-th sort-key="qty">Quantity</vs-th>
		<vs-th sort-key="status">Status</vs-th>
        <vs-th>Action</vs-th>
      </template>
	
        <template slot-scope="{data}">
          <tbody>
            <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

           
				
              <vs-td>
                <p class="product-name font-medium truncate">{{ tr.attrname }}</p>
              </vs-td>

              <vs-td>
                <p class="product-category">{{ tr.variantname }}</p>
              </vs-td>
              <vs-td>
                <img :src="tr.image" class="product-img" />
              </vs-td>
              <vs-td>
                <p class="product-category">{{ tr.sku }}</p>
              </vs-td>
              <vs-td>
                <p class="product-category">{{ tr.price }}</p>
              </vs-td>
              <vs-td>
                <p class="product-category">{{ tr.quantity }}</p>
              </vs-td>
				   <vs-td :data="data[indextr].status">
				<!--  <input type="checkbox" id="checkbox" v-model="checked">
                  
                <p class="product-id font-medium ">{{ tr.id }}</p> -->
					   
					   
				     <vs-switch color="success" v-model="product_status" name="product_status" >
                                                            <span slot="on">Active</span>
                                                            <span slot="off">Suspend</span>
                                                        </vs-switch>
				<!--   <p class="product_status">{{ tr.status }}</p> -->
              </vs-td>
              <vs-td class="whitespace-no-wrap">
                <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editData(tr)" />
                <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr.id)" />
              </vs-td>
            </vs-tr>
          </tbody>
        </template>
    </vs-table>
  </div>
          </div>

          <input type="hidden" v-model="hid_category_id">
			
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  
               </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-button type="filled"  @click="editproduct" class="mr-3 mb-2">Submit</vs-button>
              <vs-button color="warning" type="border" class="mb-2" @click="input17 = input18 = input19 = input20 = ''; check5 = false;">Cancel</vs-button>
            </div>
        </div>

        </form>
			</vx-card>
		</div>
</template>
<script>

import config from "@/config.js"
import vSelect from 'vue-select'
// require styles
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import DataViewSidebar from '@/views/pages/products/AddProductsVariant.vue'
import moduleDataList from "@/store/data-list/moduleDataList.js"
import { quillEditor } from 'vue-quill-editor'
import Prism from 'vue-prism-component'
export default{  
      data() {
      return {
		  	product_status:'',
            category_id:'',
            optioncategory_id: [], 
            product_name:'',
            product_desc:'', 
            product_price:'', 
            pv:'', 
            product_weight:'', 
            product_shipping_cost:'', 
            status:'', 
            meta_title:'', 
            meta_keyword:'',
            meta_description:'',
            discount:'',
            hid_category_id:'',
            editorOption: {
                modules: {
                    toolbar: '#toolbar'
                }
            },
            product_img:'',
            files: [],
            images: [],
            isHidden: false,
            managestock:false,
            product_sku:'',
            stock_status: "1",
            stock_statusoptions: [
                {text: "In Stock", value: 1},
                {text: "Out of stock", value: 2}
            ],
            allow_backorders:'2',
            allow_backordersoptions:[
              {text: "Allow", value: 1},
              {text: "Do not Allow", value: 2}
            ],
            stock_quantity:'0',
            low_stock_threshhold:'2',


            authoship_status:false, 
            attribute:'',
            attr: [],
             selected: [],
            configselected: [],
            config: ['foo','bar','baz'],
             itemsPerPage: 4,
          isMounted: false,

      // Data Sidebar
      addNewDataSidebar: false,
      sidebarData: {},
      variants:[],       

    }
  },  
  components: {'v-select': vSelect, quillEditor,
        Prism,DataViewSidebar},
  computed: {
    validateForm() {
      return !this.errors.any();      
    },
    currentPage() {
      if(this.isMounted) {
        return this.$refs.table.currentx
      }
      return 0
    },
   
    queriedItems() {
      return this.$refs.table ? this.$refs.table.queriedResults.length : this.products.length
    }
  },

     created() {
        if(!moduleDataList.isRegistered) {
          this.$store.registerModule('dataList', moduleDataList)
          moduleDataList.isRegistered = true
        }
     this.$store.dispatch("dataList/fetchDataListItems")
      return this.getproductdetails(),this.getcategories(),this.getattr(),this.fetchData();
    },  
  methods: { 
      addNewData() {
      this.sidebarData = {}
      this.toggleDataSidebar(true)
    },
    deleteData(id) {
       this.$vs.loading()
       const obj = {
              id: id,
       }
       const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                  this.$http.post(config.apiUrl +"api/admin/deleteproductvariant",obj,{ headers: { Authorization: AuthStr } })
                  .then(response => {
                    console.log(response);
                    this.fetchData()
                      this.$vs.loading.close()
                      this.$vs.notify({
                          title: 'Variant',
                          text: 'Variant successfully deleted',
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'success'
                      })
                    
                  })
                  .catch(error => {
                    console.log(error);
                      this.$vs.loading.close()
                      this.$vs.notify({
                          title: 'Variant',
                          text: 'Please check values',
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'warning'
                      })
                  });
    },
    
    editData(data) {
      this.sidebarData = data
      this.toggleDataSidebar(true)
    },
  
    toggleDataSidebar(val=false) {
      this.addNewDataSidebar = val
      this.fetchData()
    },
    fetchData() {
            this.$vs.loading()
            const obj = {
                          product_id: this.$route.params.product_id,
                        }
             const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
             this.$http.post(config.apiUrl +"api/admin/viewproductvariant",obj,{ headers: { Authorization: AuthStr } })
            .then(response => {
				  console.log(response)
                this.variants = response.data;
				 if(response.data[0].status==1){
              this.product_status = true;
            }else{
              this.product_status = false;
            }
				//this.product_status=response.data[0]['status'];
                this.$vs.loading.close()
            })
		  .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
   
    
    getattr(){
         const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/viewattributesselect",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                //this.optioncategory_id = response.data; 
                this.attr=response.data;
            })
		  .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
    },
    getImgUrl(pet) {   
    return pet;
  },
    removeFile( key ){
                this.files.splice( key, 1 );
                this.getImagePreviews();
            },
            handleFiles() {             

                let uploadedFiles = this.$refs.files.files;
                if(this.files.length <=0){
                  this.files.push(uploadedFiles[0]);
                  this.getImagePreviews();
                }
            },
            getImagePreviews(){
                for( let i = 0; i < this.files.length; i++ ){
                 

                    if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].name ) ) {
                        let reader = new FileReader();
                        reader.addEventListener("load", function(){
                            this.$refs['preview'+parseInt(i)][0].src = reader.result;
                        }.bind(this), false);
                        reader.readAsDataURL( this.files[i] );
                    }else{
                        this.$nextTick(function(){
                            this.$refs['preview'+parseInt(i)][0].src = '/img/generic.png';
                        });
                    }
                }
            },
        getFileSize(size) {
            const fSExt = ['Bytes', 'KB', 'MB', 'GB'];
            let i = 0;
            
            while(size > 900) {
                size /= 1024;
                i++;
            }
            return `${(Math.round(size * 100) / 100)} ${fSExt[i]}`;
        },
      getcategories(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcategorylist",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.optioncategory_id = response.data;                                       
            })
             .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        }, 


        getproductdetails(){
        this.$vs.loading()
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getproductdetails/"+this.$route.params.product_id,{ headers: { Authorization: AuthStr } })
        .then(response => {     

            if(response.data[0]['manage_stock']=='Yes'){
               this.managestock=true;
            }else{
               this.managestock=false;
            }


            this.category_id = response.data[0]['category_name'];
            this.product_name = response.data[0]['product_name']; 

            this.product_desc = response.data[0]['product_desc']; 
            this.product_price = response.data[0]['regular_price']; 
            this.pv = response.data[0]['pv']; 
            this.product_weight = response.data[0]['product_weight']; 
            this.product_shipping_cost = response.data[0]['shipping_cost']; 
           // this.status = response.data[0]['status']; 
            this.product_desc = response.data[0]['product_desc']; 
            this.meta_title = response.data[0]['meta_title']; 
            this.meta_keyword = response.data[0]['meta_keyword']; 
            this.meta_description = response.data[0]['meta_description'];
            this.discount = response.data[0]['discount'];  
            this.hid_category_id = response.data[0]['category_id'];  
            this.product_img = response.data[0]['product_img'];
         
            this.stock_quantity = response.data[0]['stock_qty'];
            this.allow_backorders = response.data[0]['allow_backorders'];
            this.low_stock_threshhold = response.data[0]['low_stock_threshhold'];
            this.stock_status = response.data[0]['stock_status'];
            this.product_sku = response.data[0]['product_sku'];
            if(response.data[0]['authoship_status']=='1'){
             this.authoship_status=true;
            }
            if(response.data[0]['attribute_status']=='1'){
             this.attribute=true;
            }
			if(response.data[0]['status']=='Active'){
             this.status=true;
            }
			
            //attribute:'',
           this.$vs.loading.close()             
            
        })
          .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
    },


    editproduct() {   
      
      this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()

            const formData = new FormData();          

            this.files.forEach(file => {
                formData.append('images[]', file, file.name);
            });            
          formData.append('category_id', this.category_id['id'])
          formData.append('product_name', this.product_name)
          formData.append('product_desc', this.product_desc)
          formData.append('product_price', this.product_price)
          formData.append('pv', this.pv)
          formData.append('product_weight', this.product_weight)
          formData.append('product_shipping_cost', this.product_shipping_cost)
          formData.append('status', this.status)
          formData.append('meta_title', this.meta_title)
          formData.append('meta_keyword', this.meta_keyword)
          formData.append('meta_description', this.meta_description)
          formData.append('discount', this.discount)   
          formData.append('hid_category_id', this.hid_category_id) 
          formData.append('hid_product_img', this.product_img)
           formData.append('managestock', this.managestock)
          formData.append('stock_quantity', this.stock_quantity)
          formData.append('allow_backorders', this.allow_backorders)
          formData.append('low_stock_threshhold', this.low_stock_threshhold)   
          formData.append('stock_status', this.stock_status)  
          formData.append('product_sku', this.product_sku) 
		   formData.append('attribute', this.attribute) 
           formData.append('authoship_status', this.authoship_status) 
  			formData.append('product_status', this.product_status) 

            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/updateproductdetails/"+this.$route.params.product_id,formData,{ headers: { Authorization: AuthStr } })
            .then(response => {
              console.log(response);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Edit Products',
                    text: 'Product successfully updated',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$router.push({ path : '/products/view' });
            })
            .catch(error => {
              console.log(error);
                  this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Edit Products',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            });

        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Compensation',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
    })  
    }
  }
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
.v-select.w-full.vs--single.vs--searchable {
    margin-top: 22px;
}
input[type="file"]{
        opacity: 0;
        width: 100%;
        height: 200px;
        position: absolute;
        cursor: pointer;
    }
    .filezone {
        outline: 2px dashed grey;
        outline-offset: -10px;
        background: #ccc;
        color: dimgray;
        padding: 10px 10px;
        min-height: 200px;
        position: relative;
        cursor: pointer;
    }
    .filezone:hover {
        background: #c0c0c0;
    }
    .filezone p {
        font-size: 1.2em;
        text-align: center;
        padding: 50px 50px 50px 50px;
    }
    .file-listing{
        margin: auto;
        padding: 0 10px 10px;
    }
    .file-listing img{
        height: 190px;
        max-width: 100%;
    }
    .success-container{
        text-align: center;
        color: green;
    }
    .remove-container{
        text-align: center;
    }
    .remove-container a{
        color: red;
        cursor: pointer;
    }
    a.submit-button{
        display: block;
        margin: auto;
        text-align: center;
        width: 200px;
        padding: 10px;
        text-transform: uppercase;
        background-color: #CCC;
        color: white;
        font-weight: bold;
        margin-top: 20px;
    }
    .file-listing {
       display: inline-block;
        vertical-align: top;
        position: relative;
        width: 20%;
    }
    .container.drop {
        position: relative;
    }
    .file-listing .details {
        background: #fff;
        margin-top: 0;
        box-shadow: 0px 3px 7px #e0e0e0;
        font-size: 12px;
        padding: 5px 10px;
        word-break: break-all;
        width: 100%;
        display: block;
    }
     .file-listing img{
         max-width: 100%;
     }
    .file-listing .remove-container{
        position: absolute;
        top: 3px;
        right: 20px;
        
    }
    .file-listing .remove-container a {
      color: #000;
      background: #fff;
      box-shadow: 0px 3px 6px #5a5a5a;
      padding: 2px 8px;
  }
    .filezone{
        display: inline-block;
        background: #7267f0;
        color: #fff;
        outline: 2px dashed #cbc8f2;
    }
	.product-img {
                height: 110px;
              }    

</style>
