<template>
    <vx-card title="Tabular Genealogy">
    <v-tree ref='tree'  :data='treeData' :draggable='true' />
    </vx-card>
</template>

<script>
import { VTree, VSelectTree}  from 'vue-tree-halower'
import config from "@/config.js"

export default {
  data() {
        return {
            treeData: []
        }
    },
    methods: {
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/gettabulargenealogydata/1/1",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.treeData = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
            });
        },
    },
    created() {
       return this.fetchData();
    },
    components: {
        VTree,
        VSelectTree
    }
}
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/extraComponents/tree.scss";
	
	.first-node.only-node {
    max-height: 550px;
    overflow: hidden;
        overflow-y: hidden;
    overflow-y: scroll;
}

</style>