<template>
    <vs-chip class="ag-grid-cell-chip" :color="chipColor(params.data.status)">      
      <span v-if="params.data.status == 'Active'" >Active</span>
      <span v-else-if="params.data.status == 'Suspend'" >Suspend</span>
      <span v-else >Delete </span>
    </vs-chip>    
</template>
<script>
    export default {
        name: 'CellRendererStatus',
        computed: {
          chipColor() {
            return (value) => {
              if(value === "Active") return "success"
              else if(value === "Suspend") return "danger"
              else if(value === "deactivated") return "danger"
              else "primary"
            }
          }
        }
    }
</script>

<style lang="scss" scpoped>
.ag-grid-cell-chip {
  &.vs-chip-success {
    background: rgba(var(--vs-success),.15);
    color: rgba(var(--vs-success),1) !important;
    font-weight: 500;
  }
  &.vs-chip-warning {
    background: rgba(var(--vs-warning),.15);
    color: rgba(var(--vs-warning),1) !important;
    font-weight: 500;
  }
  &.vs-chip-danger {
    background: rgba(var(--vs-danger),.15);
    color: rgba(var(--vs-danger),1) !important;
    font-weight: 500;
  }
}
</style>
