<template>
    <vx-card title="Add Product Level Commission">
        <form>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Plan</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">

              <v-select v-model="plan"  :closeOnSelect="false" :options="plans" v-validate="'required'" name="planname" :dir="$vs.rtl ? 'rtl' : 'ltr'"  />

					 <span class="text-danger" v-show="errors.has('planname')">The Plan Name is required</span>
                 
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Commission Name</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" v-model="productlevelcommission_name" name="commissionname" v-validate="'required'"/>
					 <span class="text-danger" v-show="errors.has('commissionname')">The Commission Name is required</span>
                   
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Commission Amount</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" v-model="productlevelcommission_amount" name="amount" v-validate="'required|min_value:0'"/>
					 <span class="text-danger" v-show="errors.has('amount')">The Amount is required</span>
                   
                </div>
            </div>


            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Method</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">

                  <v-select :options="['%','Flat']" :dir="$vs.rtl ? 'rtl' : 'ltr'"  name="method" id="method" v-model="method" v-validate="'required'"/>
               
                    <span class="text-danger" v-show="errors.has('commissionmethod')">The Commission Method is required</span>
              
                    
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Wallet</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">

                    <v-select :options="['C-Wallet','E-Wallet']" :dir="$vs.rtl ? 'rtl' : 'ltr'"  name="commissionwallet" id="commissionwallet" v-model="wallet" v-validate="'required'" />

					 <span class="text-danger" v-show="errors.has('commissionwallet')">The Commission Wallet is required</span>
                   
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">

                    <v-select :options="['Active','Suspend']" :dir="$vs.rtl ? 'rtl' : 'ltr'"  name="commissionstatus" id="commissionstatus" v-model="status" v-validate="'required'" />

					 <span class="text-danger" v-show="errors.has('commissionstatus')">The Commission Status is required</span>
                   
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-button class="mr-3 mb-2" @click.prevent="addlevelcommission">Submit</vs-button>
                </div>
            </div>

        </form>
    </vx-card>
</template>

<script>
import config from "@/config.js"
import vSelect from 'vue-select'
export default {
    data() {
        return {
            productlevelcommission_name: '',
            productlevelcommission_amount: '',
            plan: 'Select',
            plans: [],
            wallet: "C-Wallet",
            walletoptions: [
                {text: "C-Wallet", value:"C-Wallet"},
                {text: "E-Wallet", value:"E-Wallet"},
            ],
            method: "%",
            methodoptions: [
                {text: "%", value:"%"},
                {text: "Flat", value:"Flat"},
            ],
            status: "Active",
            statusoptions: [
                {text: "Active", value:"Active"},
                {text: "Suspend", value:"Suspend"},
            ],
        }
    },
    created() {
       return this.fetchPlans();
    },
    methods: {
        fetchPlans() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getranksplans",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.plans = response.data;
            })
             .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
        addlevelcommission() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    let commissiondetails = {
                        plan: this.plan['value'],
                        productlevelcommission_name: this.productlevelcommission_name,
                        productlevelcommission_amount: this.productlevelcommission_amount,
                        wallet: this.wallet,
                        method: this.method,
                        status: this.status,
                    }
                    this.$vs.loading()
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/addproductlevelcommission",commissiondetails,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        console.log(response);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Product Levelcommission',
                            text: 'Commission successfully added',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                        this.$router.push({ path : '/compensation/productlevelcommission' });
                    })
                    .catch(error => {
                        console.log(error);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Product Levelcommission',
                            text: 'Please check values',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'warning'
                        })
                    });

                }
            })
        
        },
        
    },
    components: {
        'v-select': vSelect,
    },
    computed: {
        validateForm() {
        return !this.errors.any() && this.planname != '' && this.commissionname != '' && this.amount != '' && this.commissionmethod != '' && this.commissionwallet != '' && this.commissionstatus != '';      
        },
    },
}
</script>