<template>
    <vx-card title="Product Level Commission">
        <div class="demo-alignment">
            <vs-button @click="addlevelcommission" color="primary" type="filled">Add Level Commission</vs-button>
        </div>
        <vs-table pagination :max-items="4" search :data="levelcommn">

            <template slot="thead">
                <vs-th sort-key="productlevelcommission_line_no">Level Line No</vs-th>
                <vs-th sort-key="productlevelcommission_name">Level Name</vs-th>
                <vs-th sort-key="productlevelcommission_amount">Commission</vs-th>
                <vs-th sort-key="created_on">Status</vs-th>
                <vs-th sort-key="action">Option</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                    <vs-td :data="data[indextr].productlevelcommission_line_no">
                        {{data[indextr].productlevelcommission_line_no}}
                    </vs-td>

                    <vs-td :data="data[indextr].productlevelcommission_name">
                        {{data[indextr].productlevelcommission_name}}
                    </vs-td>

                    <vs-td :data="data[indextr].productlevelcommission_amount">
                        {{data[indextr].productlevelcommission_amount}}
                    </vs-td>

                    <vs-td :data="data[indextr].product_levelcommission_status">
                        <vs-chip :color="getStatusColor(data[indextr].product_levelcommission_status)" class="product-order-status">{{data[indextr].product_levelcommission_status}}</vs-chip>
                    </vs-td>


                    <vs-td class="whitespace-no-wrap">
                        <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editcommission(data[indextr].productlevelcommission_id)" />
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vx-card>
</template>

<script>
import config from "@/config.js"

export default {
    data() {
        return {
            levelcommn: []
        }
    },
    methods: {
        getStatusColor(status) {
            if(status == 'Active') return "success"
            if(status == 'Suspend') return "danger"
        },
        addlevelcommission() {
            this.$router.push({ path : '/compensation/productlevelcommission/add' });
        },
        fetchCommissions() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getproductlevelommissions",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.levelcommn = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
        editcommission(productlevelcommission_id) {
            this.$router.push({ path : '/compensation/productlevelcommission/edit/'+productlevelcommission_id });
        }
    },
    created() {
       return this.fetchCommissions();
    },
}
</script>