<!-- =========================================================================================
    File Name: TheFooter.vue
    Description: Footer component
    Component Name: TheFooter
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <footer class="the-footer flex-wrap justify-between" :class="classes">
        <p>{{footer}}</p>
        <span class="md:flex hidden items-center">
            <!-- <span>Hand-crafted & Made with</span>
            <feather-icon icon="HeartIcon" svgClasses="stroke-current text-danger w-6 h-6" class="ml-2" /> -->
        </span>
    </footer>
</template>

<script>
import config from "@/config.js"
export default {
    name: "the-footer",
    props: {
        classes: {
            type: String,
        },
    },
     data() {
        return {
            footer:'',
          
        }
    },
     created() {
       return this.fetchData();
    },
    methods: {
        fetchData() {
                 this.$http.get(config.apiUrl+"api/admin/footer")  
           // const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
           // this.$http.get(config.apiUrl +"api/admin/footer",{ headers: { Authorization: AuthStr } })



    // const AuthStr = 'Bearer '.concat(localStorage.getItem('user_token'));
    // this.$http.get(config.apiUrl +"api/user/footer",{ headers: { Authorization: AuthStr } })
    .then(response => {   
	this.footer =response.data[0]['sitesettings_value']; 
	
            })
            .catch(error => {
                console.log(error);
            });
        },
    }
}
</script>
