

<template>
   <div>    
      <div class="h-screen vx-row bg-img">
         <div class="vx-col sm:w-2/3">
            <vx-card title="Shopify Connection">
               <div slot="no-body" class="full-page-bg-color">
                  <div class="">
                     <div class="vx-col sm:w-full md:w-full lg:w-2/3 self-center d-theme-dark-bg">
                        <div class="p-8">
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Shop Name </span>
                              </div>


                              <div class="vx-col sm:w-2/3 w-full">
                              <vs-input  class="w-full" type="text" name="shop name" id='shopname' v-model="shopname" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('shopname')" >{{ errors.first('shopname') }}</span>
                                  
                              </div>


                           </div>
                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>API Key</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="apikey" id='apikey' v-model="apikey" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('apikey')"  >{{ errors.first('apikey') }}</span>
                              </div>
                           </div>

                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>API Secret Key</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="apisecretkey" id='apisecretkey' v-model="apisecretkey" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('apisecretkey')"  >{{ errors.first('apisecretkey') }}</span>
                              </div>
                           </div>
                          
                                                      
                           <div class="vx-row"><div class="vx-col sm:w-1/3 w-full"> 
                           <span></span></div>
                              <div class="vx-col sm:w-1/3 w-full">
                                 <vs-button type="filled" @click.prevent="submitForm" class="mr-5 block">Submit</vs-button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               

            </vx-card>
         </div>
         <div class="vx-col sm:w-1/3">
            <vx-card title="Shopify Connection">
               <div slot="no-body" class="full-page-bg-color">
                  
               </div>
             
             <vs-input  class="w-full"  readonly  value="https://www.shopify.com/partners/blog/17056443-how-to-generate-a-shopify-api-token" />
               <span class="m-widget4__ext">
                    <a aria-label="link" href="https://www.shopify.com/partners/blog/17056443-how-to-generate-a-shopify-api-token" target="_blank" rel="noopener" >
                    <i aria-hidden="true" class=" la la-external-link"></i></a>
                </span>
                

                    <div class="shop-img"><img src="@/assets/images/pages/shopapi.png" alt=""  width="100%"  class="mx-auto" ></div>

                           

            </vx-card>
         </div>
      </div>
   </div>   
</template>        
<script>
import config from "@/config.js"

   export default {
       data() {
           return {               
               shopname:'', 
               apikey: '',
               apisecretkey:'',
           }
           
       },
created() {
      return this.getshopifydetail()  } , 
     
 

   methods: { 
      
        getshopifydetail(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getshopifyconnection",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.getshpifyrecord = response.data;  
                
                for(var i=0;i<response.data.length;i++){
              var sitesettings_name = response.data[i]['sitesettings_name'];
              if(sitesettings_name=='shopname'){
                 this.shopname = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='apikey'){
                 this.apikey = response.data[i]['sitesettings_value']; 
              } 
              if(sitesettings_name=='apisecretkey'){                 
                 this.apisecretkey = response.data[i]['sitesettings_value']; 
              }
                } 

            })
            .catch(error => {
                console.log(error);
            });
        },
 submitForm() {
  
      this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let connectform = {                 
               shopname:this.shopname,
               apikey:this.apikey,
               apisecretkey:this.apisecretkey                              
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/shopifyinsert",connectform,{ headers: { Authorization: AuthStr } })
            .then(response => {              
                console.log(response);  
                            
                this.$vs.loading.close()
                this.$vs.notify({                   
                    title: 'Shopify connection',
                    text: 'Shopify connection has created successfully ',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                }) 
                 this.$router.push({ path : '/shopify/shopifyconnection' });
            })
    
         }
    }) 
 
    },
        
       
    }

     
   }
</script>

<style lang="scss">
	#epintype {
    background: none;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 4px;
    padding: .75em;
	width:100%;
}

.shop-img {
    padding: inherit;
    border: 1px solid #000;
    margin-top: 10px !important;
}
</style>


