

<template>
   <div>    
      <div class="h-screen vx-row bg-img">
         <div class="vx-col sm:w-2/3">
            <vx-card title="Shopify Installation">
               <div slot="no-body" class="full-page-bg-color">
                  <div class="">
                     <div class="vx-col sm:w-full md:w-full lg:w-2/3 self-center d-theme-dark-bg">
                        <div class="p-8">
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Shop Name </span>
                              </div>


                              <div class="vx-col sm:w-2/3 w-full">
                              <vs-input  class="w-full" type="text" name="shop name" id='shopname' v-model="shopname" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('shopname')" >{{ errors.first('shopname') }}</span>
                                  
                              </div>


                           </div>
                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>API Key</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="apikey" id='apikey' v-model="apikey" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('apikey')"  >{{ errors.first('apikey') }}</span>
                              </div>
                           </div>

                           
                             <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Scopes</span>
                              </div>


 <vx-card card-background="linear-gradient(120deg, #7f7fd5, #86a8e7, #91eae4)" content-color="#fff" class="flex-1 vx-col p-5 plan_blk">
            <table class="scopes">
                <tbody>

                     <tr>
                           <th>API Access</th>
                           <th>Read</th>
                           <th>Write</th>
                              </tr>
                              <tr>
                                 <td>Products</td>
                                 <td><input aria-label="label" type="checkbox" v-model="scopesproduct1" name="read_products" ></td>
                                 <td><input aria-label="label" type="checkbox" v-model="scopesproduct2" name="write_products" ></td>
                              </tr>
                              <tr>
                                 <td>Customers</td>
                                 <td><input aria-label="label" type="checkbox" v-model="scopescustomers1" name="read_customers" ></td>
                                 <td><input aria-label="label" type="checkbox" v-model="scopescustomers2" name="write_customers" ></td>
                              </tr>
                              <tr>
                                 <td>Orders</td>
                                 <td><input aria-label="label" type="checkbox" v-model="scopesorders1" name="read_orders" value="read_orders"></td>
                                 <td><input aria-label="label" type="checkbox" v-model="scopesorders2" name="write_orders" value="write_orders"></td>
                              </tr>

                </tbody>
               
            </table>
        </vx-card>        
                           </div>
                           
                           
                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Status</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                             <span class="m-badge  bg-danger m-badge--wide"  v-if="this.access_token === ''">Not Installed</span> 
                                <span class="m-badge  bg-success m-badge--wide" v-if="this.access_token != ''" >Installed</span> 
                              </div>
                           </div>
                          
                                                      
                           <div class="vx-row"><div class="vx-col sm:w-1/3 w-full"> 
                           <span></span></div>
                              <div class="vx-col sm:w-1/3 w-full">
                                 <vs-button type="filled" @click.prevent="submitForm" class="mr-5 block">Submit</vs-button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               

            </vx-card>
         </div>
        
      </div>
   </div>   
</template>        
<script>
import config from "@/config.js"

   export default {
       data() {
           return {               
               shopname:'', 
               apikey: '',
               scopescustomers1:'',
               scopescustomers2:'',
               access_token:'',
               scopesorders1:'',
               scopesorders2:'',
               scopesproduct1:'',
               scopesproduct2:'',
           }
           
       },
created() {
      return this.getshopifydetail()  } , 
     
 

   methods: { 
      
        getshopifydetail(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getshopifyconnection",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.getshpifyrecord = response.data;  
                
                for(var i=0;i<response.data.length;i++){
              var sitesettings_name = response.data[i]['sitesettings_name'];
              if(sitesettings_name=='shopname'){
                 this.shopname = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='apikey'){
                 this.apikey = response.data[i]['sitesettings_value']; 
              } 
              if(sitesettings_name=='apisecretkey'){                 
                 this.apisecretkey = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='access_token'){                 
                 this.access_token = response.data[i]['sitesettings_value']; 
              }
                } 

            })
            .catch(error => {
                console.log(error);
            });
        },
 submitForm() {
  
      this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let connectform = {                 
               shopname:this.shopname,
               apikey:this.apikey,              
               scopesproduct1:this.scopesproduct1,
               scopesproduct2 :this.scopesproduct2,  
               scopesorders1 :this.scopesorders1,
               scopesorders2 :this.scopesorders2,
               scopescustomers1 :this.scopescustomers1,
               scopescustomers2 :this.scopescustomers2,                          
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/updateShopifyInstall",connectform,{ headers: { Authorization: AuthStr } })
            .then(response => {              
                console.log(response);  
                            
                this.$vs.loading.close()
                this.$vs.notify({                   
                    title: 'Shopify connection',
                    text: 'Shopify connection has created successfully ',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                }) 
                 //this.$router.push({ path : '/shopify/shopifyconnection' });
            })
    
         }
    }) 
 
    },
        
       
    }

     
   }
</script>

<style lang="scss">
	#epintype {
    background: none;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 4px;
    padding: .75em;
	width:100%;
}

.shop-img {
    padding: inherit;
    border: 1px solid #000;
    margin-top: 10px !important;
}
</style>


