<template>
    <vx-card title="Add Course">
        
        <form>
            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <label> Name </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                 <vs-input class="w-full" v-model="name" name="name" v-validate="'required'"/>
                    <span class="text-danger">{{ errors.first('name') }}</span>
              </div>
            </div>
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col w-full st_switch vx-row mt-4 mb-4">
              <label class="vx-col sm:w-1/3 w-full"> Status </label>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="status">
                    <span slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>
              </div>
            </div>
          </div>
            <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full">
                   
                </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-button class="mr-3 mb-2" @click.prevent="addrank">Submit</vs-button>
                </div>
            </div>
        </form>
    </vx-card>
</template>

<script>
import config from "@/config.js"
import vSelect from 'vue-select'

export default {
    data() {
        return {
            name: '',
            status: ''
        }
    },
    methods: {
        addrank() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    let coursedetails = {
                        name: this.name,
                        status: this.status,
                    }
                    this.$vs.loading()
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/addcourse",coursedetails,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        console.log(response);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Coaching',
                            text: 'Course successfully added',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                        this.$router.push({ path : '/coaching/managecoaching' });
                    })
                    .catch(error => {
                        console.log(error);
                    });
                }
            })
        },
       
    },
    created() {
       return this.fetchPlans();
    },
     components: {
        'v-select': vSelect,
    },
    computed: {
        validateForm() {
        return !this.errors.any() && this.planname != '' && this.rankname != '' && this.conditionvalue != '';      
        },
    },
}
</script>