<template>
    <vx-card title="Add Lesson">
        
        <form>
            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <label> Lesson Title </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                 <vs-input class="w-full" v-model="lesson_title" name="lesson_title" v-validate="'required'"/>
                    <span class="text-danger">{{ errors.first('lesson_title') }}</span>
              </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <label> Lesson Description

 </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
            <vs-textarea v-model="lesson_discription" name="lesson_description" v-validate="'required'"/>
                 
                    <span class="text-danger">{{ errors.first('lesson_description') }}</span>
              </div>
            </div>
           
            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <label> Lesson Video Duration </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                 <vs-input class="w-full" v-model="video_duration" name="video_duration" v-validate="'required'"/>
                    <span class="text-danger">{{ errors.first('video_duration') }}</span>
              </div>
            </div>

                  <div class="vx-row sm:w-2/3 mb-6">
        <!-- Image Container -->
        <div class="vx-col sm:w-1/3 w-full">
         <span>Lesson Video</span>
           </div>
            <div class="vx-col sm:w-2/3 w-full" v-if="datavid">
				<video controls="controls" height="360" loop="loop"  width="480" class="responsive">
  <source :src="datavid" type="video/mp4" />
						   </video>
         <!--   <img  :src="datavid" alt="video" class="responsive" style="width:100px;">-->
          
            <!-- Image upload Buttons -->
            <!-- <div class="vx-col sm:w-2/3 w-full"> -->
             
            <input type="file" class="hidden" ref="updateImgInput1" @change="updateCurrImg1" accept="video/mp4,video/x-m4v,video/*">
            <vs-button class="mr-4 mt-5" type="flat" @click="$refs.updateImgInput1.click()">Update Video</vs-button>
            </div>
      
        </div>

      <div class="vx-row sm:w-2/3 mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Lesson Image</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full">
                               <!-- Image Container -->
                                 <div class="img-container w-64 mx-auto flex items-center justify-center" v-if="dataImg">
									<!-- {{ dataImg }}-->
                                    <img :src="dataImg" alt="img" class="responsive" style="width:100px;">
                                 </div>

                                 <!-- Image upload Buttons -->
                                 <div class="modify-img flex justify-between mt-5">
                                    <input type="file" class="hidden" ref="updateImgInput" @change="updateCurrImg" accept="image/*">
                                    <vs-button class="mr-4" type="flat" @click="$refs.updateImgInput.click()">Update Image</vs-button>
                                 </div>
                                 
                              </div>
                           </div>

        <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col w-full st_switch vx-row mt-4 mb-4">
              <label class="vx-col sm:w-1/3 w-full"> Status </label>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="status">
                    <span slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>
              </div>
            </div>
          </div>
            
            <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full">
                </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-button class="mr-3 mb-2" @click.prevent="addlesson">Submit</vs-button>
                </div>
            </div>
        </form>
    </vx-card>
</template>

<script>
import config from "@/config.js"
import vSelect from 'vue-select'

export default {
    data() {
        return {
            lesson_title: '',
            lesson_discription:'',
            video_duration:'',
            datavid:[],
            dataImg:[],
            status: ''
        }
    },
    methods: {
        addlesson() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    let lessondetails = {
                        lesson_title: this.lesson_title,
                        lesson_discription:this.lesson_discription,
                        video_duration:this.video_duration,
                         datavid:this. datavid,
                        dataImg:this.dataImg,
                        status: this.status,
                    }
                   console.log(lessondetails);
                    this.$vs.loading()
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/addlesson/"+this.$route.params.course_id,lessondetails,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        console.log(response);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Coaching',
                            text: 'Lesson successfully added',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                        this.$router.push({ path : '/coaching/managecoaching' });
                    })
                    .catch(error => {
                        console.log(error);
                    });
                }
            })
        },

        updateCurrImg1(input) {
            if (input.target.files && input.target.files[0]) {
            var reader = new FileReader()
            reader.onload = e => {
               this.datavid = e.target.result
            }
            reader.readAsDataURL(input.target.files[0])
            }
         },

          updateCurrImg(input) {
            if (input.target.files && input.target.files[0]) {
            var reader = new FileReader()
            reader.onload = e => {
               this.dataImg = e.target.result
            }
            reader.readAsDataURL(input.target.files[0])
            }
         },
       
    },
    created() {
       //return this.fetchPlans();
    },
     components: {
        'v-select': vSelect,
    },
    computed: {
        validateForm() {
        return !this.errors.any() && this.planname != '' && this.rankname != '' && this.conditionvalue != '';      
        },
    },
    
}

</script>
