<template>
    <vx-card title="Edit Course">
        
        <form>
            

            <div class="vx-row sm:w-2/3 mb-6 mt-3">
				<div class="vx-col sm:w-1/3 w-full">
                    <span> Name </span>
                </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" v-model="course_name" name="coursename" v-validate="'required'"/>
                    <span class="text-danger">{{ errors.first('coursename') }}</span>
                </div>
            </div>  
            <div class="vx-row sm:w-2/3 mb-6">
            	<div class="vx-col sm:w-1/3 w-full">
                    <span> Status </span>
                </div>
              	<div class="vx-col sm:w-2/3 w-full">
					<vs-switch v-model="course_status">
						<span slot="on">On</span>
						<span slot="off">Off</span>
					</vs-switch>
              	</div>
          </div>
            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                    
                </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-button class="mb-2" @click.prevent="updatecourse">Update</vs-button>
                </div>
            </div>
        </form>
    </vx-card>
</template>

<script>
import config from "@/config.js"
import vSelect from 'vue-select'
export default {
    data() {
        return {
        
            course_name: '',
            course_status: '',
            
        }
    },
    methods: {
        updatecourse() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    let coursedetails = {
                        course_name: this.course_name,
                        course_status: this.course_status,
                    }
                    this.$vs.loading()
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/updatecourse/"+this.$route.params.course_id,coursedetails,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        console.log(response);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Course',
                            text: 'Course successfully updated',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                        this.$router.push({ path : '/coaching/managecoaching' });
                    })
                    .catch(error => {
                        console.log(error);
                        this.$vs.loading.close()
                    });
                }
            })
        },
        fetchCoursedetails() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcoursedetails/"+this.$route.params.course_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.course_name = response.data[0]['course_name'];
                this.course_status = response.data[0]['course_status'];
               
                console.log(this.course_name);
            })
            .catch(error => {
                console.log(error);
            });
        },
        
    },
    created() {
       return this.fetchCoursedetails();
    },
    components: {
        'v-select': vSelect,
    },
    computed: {
        validateForm() {
        return !this.errors.any() && this.course_name != '' && this.course_status != '';      
        },
    },
}
</script>