<template>
    <vx-card title="Edit Lesson">
        
        <form>
            

            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <label> Lesson Name </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
           <vs-input class="w-full" v-model="lesson_title" name="lessonname"  v-validate="'required'"/>
                 
                    <span class="text-danger">{{ errors.first('lessonname') }}</span>
              </div>
            </div>            

            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <label> Lesson Discription </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
            <vs-textarea v-model="lesson_description" name="lesson_description" v-validate="'required'"/>
                 
                    <span class="text-danger">{{ errors.first('lesson_discription') }}</span>
              </div>
            </div> 

            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <label> Video Duration </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
           <vs-input class="w-full" v-model="video_duration" name="videoduration"  v-validate="'required'"/>
                 
                    <span class="text-danger">{{ errors.first('videoduration') }}</span>
              </div>
            </div>

               <div class="vx-row mb-6 sm:w-2/3 ">
        <!-- Image Container -->
        <div class="vx-col sm:w-1/3 w-full">
         <span>Lesson Video</span>
           </div>
            <div class="vx-col sm:w-2/3 w-full" v-if="datavid">
				 <video ref="videoRef" src="datavid" id="video-container" width="480" controls ></video>
			<!--	<video controls="controls" height="360" loop="loop"  width="480" class="responsive">
  <source :src="datavid" type="video/mp4" />
						   </video>-->
          <!--  <img  :src="datavid" alt="video" class="responsive" style="width:100px;">-->
          
            <!-- Image upload Buttons -->
            <!-- <div class="vx-col sm:w-2/3 w-full"> -->
             
            <input type="file" class="hidden" ref="updateImgInput1" @change="updateCurrImg1" accept="video/mp4,video/x-m4v,video/*">
            <vs-button class="mr-4 mt-5" type="flat" @click="$refs.updateImgInput1.click()">Update Video</vs-button>
            </div>
      
        </div>
 <div class="vx-row mb-6 sm:w-2/3">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Lesson Image</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full">
                               <!-- Image Container -->
                                 <div class="img-container w-64 mx-auto flex items-center justify-center" v-if="dataImg">
									<!-- {{ dataImg }}-->
                                    <img :src="dataImg" alt="img" class="responsive" style="width:100px;">
                                 </div>

                                 <!-- Image upload Buttons -->
                                 <div class="modify-img flex justify-between mt-5">
                                    <input type="file" class="hidden" ref="updateImgInput" @change="updateCurrImg" accept="image/*">
                                    <vs-button class="mr-4" type="flat" @click="$refs.updateImgInput.click()">Update Image</vs-button>
                                 </div>
                                 
                              </div>
                           </div>
            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col w-full st_switch vx-row mt-4 mb-4">
              <label class="vx-col sm:w-1/3 w-full"> Status </label>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="status">
                    <span slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>
              </div>
            </div>
          </div>
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-button class="mr-3 mb-2" @click.prevent="updateLesson">Update</vs-button>
                </div>
            </div>
        </form>
    </vx-card>
</template>

<script>
import config from "@/config.js"
import vSelect from 'vue-select'
export default {
    data() {
        return {
			//this.$refs.videoRef.src = [];
            datavid:[],
         dataImg : [],
            lesson_title: '',
            lesson_description:'',
            video_duration:'',
            status: '',
            
        }
    },
    methods: {
         updateCurrImg1(input) {
            if (input.target.files && input.target.files[0]) {
            var reader = new FileReader()
            reader.onload = e => {
               this.datavid = e.target.result
            }
            reader.readAsDataURL(input.target.files[0])
            }
         },

          updateCurrImg(input) {
            if (input.target.files && input.target.files[0]) {
            var reader = new FileReader()
            reader.onload = e => {
               this.dataImg = e.target.result
            }
            reader.readAsDataURL(input.target.files[0])
            }
         },
        updateLesson() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    let lessondetails = {
                        lesson_title: this.lesson_title,
                        lesson_description:this.lesson_description,
                        video_duration:this.video_duration,
                        status: this.status,
                        dataImg: this.dataImg,
                        datavid: this.$refs.videoRef.src,
						datavid:this.datavid,
                    }
                    this.$vs.loading()
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/updatelesson/"+this.$route.params.courses_lesson_id,lessondetails,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        console.log(response);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Course',
                            text: 'Lesson successfully updated',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                        this.$router.push({ path : '/coaching/managecoaching' });
                    })
                    // .catch(error => {
                    //     console.log(error);
                    //     this.$vs.loading.close()
                    // });
                }
            })
        },
        fetchLessondetails() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getlessondetails/"+this.$route.params.courses_lesson_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.lesson_title = response.data[0]['lesson_title'];
                this.lesson_description= response.data[0]['lesson_description'];
                this.video_duration= response.data[0]['video_duration'];
                this.status = response.data[0]['status'];
                  this.dataImg = response.data[0]['image_path'];
                  this.$refs.videoRef.src = response.data[0]['video_path'];
               
               
               // console.log(response);
            })
            // .catch(error => {
            //     console.log(error);
            // });
        },
        
    },
    created() {
       return this.fetchLessondetails();
    },
	
  mounted()  {
    this.$refs.videoRef.src = [];
    this.$refs.videoRef.play();
  },
    components: {
        'v-select': vSelect,
    },
    computed: {
        validateForm() {
        return !this.errors.any() && this.lesson_title != '' && this.lesson_description != '' && this.video_duration != '';      
        },
    },
}
</script>