<template>
    <vx-card title="Manage Courses">
        <div class="demo-alignment">
            <vs-button @click="addCourse" color="primary" type="filled">Add Courses</vs-button>
        </div>
        <vs-table pagination :max-items="4" search :data="course">
            <template slot="thead">
                <vs-th sort-key="s_no">S.No</vs-th>
                <vs-th sort-key="plan_name">Name</vs-th>
                <vs-th sort-key="rank_name">Status</vs-th>
                 <vs-th sort-key="rank_name">Created On</vs-th>
                <vs-th sort-key="action">Action</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                    <vs-td>
                        {{ indextr + 1 }}
                    </vs-td>

                    <vs-td :data="data[indextr].course_name">
                        {{data[indextr].course_name}}
                    </vs-td>

                    <vs-td :data="data[indextr].course_status">
                           

<div class="con-vs-chip vs-chip-danger con-color " style="color: rgba(255, 255, 255, 0.9);" v-if="data[indextr].course_status != '1'"><span class="text-chip vs-chip--text">              Suspend 
                         </span></div>
                         <div class="con-vs-chip vs-chip-success con-color " style="color: rgba(255, 255, 255, 0.9);" v-else><span class="text-chip vs-chip--text">     Active          
                         </span></div>


                        <!-- {{data[indextr].course_status}} -->
                    </vs-td>
                    </vs-td>

                    <vs-td :data="data[indextr].created_on">
                        {{data[indextr].created_on}}
                    </vs-td>

                    <vs-td class="whitespace-no-wrap">
                    <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editCourse(data[indextr].course_id)" />
                    <feather-icon icon="TrashIcon" class="ml-4" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="deleteCourse(data[indextr].course_id)" />
                    <feather-icon icon="ListIcon" class="ml-4" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="viewCourse(data[indextr].course_id)" />
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    <input type="hidden" v-model="delete_course_id" >
    </vx-card>
</template>

<script>
import config from "@/config.js"
export default {
    data() {
        return {
            course: [],
			 delete_course_id:''
        }
    },
    methods: {
		  getStatusColor(status) {
            if(status == '1') 
            {
              
                return "success"
            }
            if(status == '2')
            {
               
                return "danger" 
            }
        },
        addCourse () {
            this.$router.push({ path : '/coaching/addcourse' });
        },
        editCourse (course_id) {
            this.$router.push({ path : '/coaching/editcourse/'+course_id });
        },
        deleteCourse (course_id) {
			
			 this.delete_course_id=course_id,
        this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Do you want to delete course',
                accept: this.acceptAlert,
            })

           // this.$router.push({ path : '/coaching/editcourse/'+course_id });
        },
		  acceptAlert() {

 
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/deletecourse/"+this.delete_course_id,{ headers: { Authorization: AuthStr } }) 
            .then(response => {               
                console.log(response)  
				 this.fetchCourse();
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Course',
                    text: 'Course Deleted',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })
            })
            // this.$router.push({ path : '/coaching/managecoaching/'+course_id });
        },
        viewCourse (course_id) {
            this.$router.push({ path : '/coaching/viewcourse/'+course_id });
        },
        fetchCourse() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcourse",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.course = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
            });
        }
    },
    created() {
       return this.fetchCourse();
    },
}
</script>