<template>
    <vx-card title="view Lesson">
        
        <form>
            

            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <label> Lesson Name </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
           <vs-input class="w-full" v-model="lesson_title" name="lessonname"  v-validate="'required'"/>
                 
                    <span class="text-danger">{{ errors.first('lessonname') }}</span>
              </div>
            </div>            

            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <label> Lesson Discription </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
            <vs-textarea v-model="lesson_description" name="lesson_description" v-validate="'required'"/>
                 
                    <span class="text-danger">{{ errors.first('lesson_discription') }}</span>
              </div>
            </div> 

            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <label> Video Duration </label>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
           <vs-input class="w-full" v-model="video_duration" name="videoduration"  v-validate="'required'"/>
                 
                    <span class="text-danger">{{ errors.first('videoduration') }}</span>
              </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col w-full st_switch vx-row mt-4 mb-4">
              <label class="vx-col sm:w-1/3 w-full"> Status </label>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="status">
                    <span slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>
              </div>
            </div>
          </div>
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-button color="warning" type="filled" @click.prevent="onCancel"  class="mb-2">Cancel</vs-button>
                </div>
            </div>
            
        </form>
    </vx-card>
</template>

<script>
import config from "@/config.js"
import vSelect from 'vue-select'
export default {
    data() {
        return {
        
            lesson_title: '',
            lesson_description:'',
            video_duration:'',
            status: '',
            
        }
    },
    methods: {
        updateLesson() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    let lessondetails = {
                        lesson_title: this.lesson_title,
                        lesson_description:this.lesson_title,
                        video_duration:this.video_duration,
                        status: this.status,
                    }
                    this.$vs.loading()
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/updatelesson/"+this.$route.params.courses_topics_id,lessondetails,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        console.log(response);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Course',
                            text: 'Lesson successfully updated',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                        this.$router.push({ path : '/coaching/managecoaching' });
                    })
                    .catch(error => {
                        console.log(error);
                        this.$vs.loading.close()
                    });
                }
            })
        },
        fetchLessondetails() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getlessondetails/"+this.$route.params.courses_lesson_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.lesson_title = response.data[0]['lesson_title'];
                this.lesson_description= response.data[0]['lesson_description'];
                this.video_duration= response.data[0]['video_duration'];
                this.status = response.data[0]['status'];
               
                console.log(response);
            })
            .catch(error => {
                console.log(error);
            });
        },

         onCancel(){
        console.log('CANCEL SUBMIT');
        this.show = false;
        this.$router.push({ path : '/coaching/managecoaching' });
},
        
    },
   
    created() {
       return this.fetchLessondetails();
    },
    
    components: {
        'v-select': vSelect,
    },
    computed: {
        validateForm() {
        return !this.errors.any() && this.lesson_title != '' && this.lesson_description != '' && this.video_duration != '';      
        },
    },
}
</script>