<template>
    <vx-card title="Manage Lesson">
        <div class="demo-alignment">
            <vs-button @click="addLesson()" color="primary" type="filled">Add Lesson</vs-button>
        </div>
        <vs-table pagination :max-items="4" search :data="course">
            <template slot="thead">
                <vs-th sort-key="s_no">S.No</vs-th>
                <vs-th sort-key="plan_name">Lesson Title</vs-th>
                <vs-th sort-key="rank_name">Lesson Description</vs-th>
                 <vs-th sort-key="rank_name">Created On</vs-th>
                <vs-th sort-key="action">Action</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                    <vs-td>
                        {{ indextr + 1 }}
                    </vs-td>

                    <vs-td :data="data[indextr].lesson_title">
                        {{data[indextr].lesson_title}}
                    </vs-td>

                    <vs-td :data="data[indextr].lesson_description">
                        {{data[indextr].lesson_description}}
                    </vs-td>

                    <vs-td :data="data[indextr].created_on">
                        {{data[indextr].created_on}}
                    </vs-td>

                    <vs-td class="whitespace-no-wrap">
                    <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editLessone(data[indextr].courses_lesson_id)" />
                    <feather-icon icon="TrashIcon" class="ml-4" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="deleteLessone(data[indextr].courses_lesson_id)" />
                    <feather-icon icon="ListIcon" class="ml-4" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="viewLessone(data[indextr].courses_lesson_id)" />
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vx-card>
</template>

<script>
import config from "@/config.js"
export default {
    data() {
        return {
            course: []
        }
    },
    methods: {
        addLesson () {
			 this.$router.push({ path : '/coaching/addlesson/'+this.$route.params.course_id });
           // this.$router.push({ path : '/coaching/addlesson/'+course_id });
        },
        editLessone (courses_lesson_id) {
            this.$router.push({ path : '/coaching/editlesson/'+courses_lesson_id });
        },
        deleteLessone (courses_lesson_id) {
           this.delete_courses_lesson_id=courses_lesson_id,
        this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Do you want to delete lesson',
                accept: this.acceptAlert,
            })

        },
		 acceptAlert() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/deletelesson/"+this.delete_courses_lesson_id,{ headers: { Authorization: AuthStr } }) 
            .then(response => {
               this.fetchCourse();
                console.log(response)             
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'lesson',
                    text: 'lesson Deleted',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })
                   // this.$router.push({ path : '/coaching/managecoaching'});
            })
            
            // this.$router.push({ path : '/coaching/managecoaching' });
        },
        viewLessone (courses_lesson_id) {
            this.$router.push({ path : '/coaching/viewlessone/'+courses_lesson_id });
        },   
             
        fetchCourse() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getlesson/"+this.$route.params.course_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.course = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
            });
        }
    },
    created() {
       return this.fetchCourse();
    },
}
</script>