<template>
<div>
  <!-- Add Plan-->
		<div class="vx-col w-full mb-base">
			<vx-card title="Edit Help Articles" code-toggler>
        <form>
          <div class="vx-row sm:w-2/3  mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                        <span>Title</span>
                    </div>

            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" name="Title" id="Title" v-model="help_articles_title" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('Title') }}</span>
            </div>
          </div>  

          <div class="vx-row sm:w-2/3  mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                        <span> Description</span>
                    </div>

            <div class="vx-col sm:w-2/3 w-full">
                       <quill-editor name="Description" id="Description" v-model="help_articles_description" v-validate="'required'"></quill-editor>

              <!--<vs-input class="w-full" name="Description" id="Description" v-model="help_articles_description" v-validate="'required'"/>-->
              <span class="text-danger">{{ errors.first('Description') }}</span>
            </div>
          </div> 

           <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                        <span>Status</span>
                    </div>

            <div class="vx-col sm:w-2/3 w-full">
              <vs-switch color="success" v-model="status">
        <span slot="on">Active</span>
        <span slot="off">Suspend</span>
      </vs-switch>
             
            </div>
          </div> 
          
          
			
          <div class="vx-row sm:w-2/3 mb-6">
			  <div class="vx-col sm:w-1/3 w-full">
                        
                    </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-button type="filled"  @click="edithelparticles" class="mr-3 mb-2">Submit</vs-button>
              <vs-button color="warning" type="filled" @click.prevent="onCancel"  class="mb-2">Cancel</vs-button>
            </div>
          </div>
        </form>
			</vx-card>
		</div>

    </div>
</template>
<script>

import config from "@/config.js"
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import vSelect from 'vue-select'
export default{  
      data() {
      return {
      help_articles_title: '',
      help_articles_description: '',
      status: ''
    }
  },  
  components: {'v-select': vSelect,quillEditor},
  computed: {
    validateForm() {
      return !this.errors.any() && this.help_articles_title != '' && this.help_articles_description != '';      
    },
  }, 
  created() {
      return this.gethelparticles();
    }, 
  methods: {  
    onCancel(){
       this.$router.push({ path : '/helparticles' });
    },   
    gethelparticles(){
        this.$vs.loading()
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getedithelparticledetails/"+this.$route.params.help_articles_id,{ headers: { Authorization: AuthStr } })
        .then(response => {     

            if(response.data[0]['status']=='1'){
               this.status=true;
            }else{
               this.status=false;
            }

            this.help_articles_title = response.data[0]['help_articles_title'];
            this.help_articles_description = response.data[0]['help_articles_description']; 

            this.$vs.loading.close()             
            
        })
        .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
    }, 
    edithelparticles() {        
      this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let helparticlesdetails = {
              help_articles_title: this.help_articles_title,
              help_articles_description:this.help_articles_description,
              status: this.status,
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/edithelparticles/"+this.$route.params.help_articles_id,helparticlesdetails,{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response);

                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Help Articles',
                    text: 'Help articles successfully updated',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$router.push({ path : '/helparticles' });
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Help Articles',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            });

        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Help Articles',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
    })  
    }
  }
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
.v-select.w-full.vs--single.vs--searchable {
    margin-top: 22px;
}
</style>
