<template>
<div>

<vx-card > 
<div class="demo-alignment">
            <vs-button @click="addhelparticles" color="primary" type="filled">Add Help Articles</vs-button>
        </div>
        <vs-table pagination :max-items="10" search :data="showhelparticles">

                <template slot="thead">
                            <vs-th>S.No</vs-th>
                            <vs-th sort-key="members_username">Title</vs-th>
                            <vs-th sort-key="history_datetime">Status</vs-th>
                            <vs-th sort-key="history_datetime">Action</vs-th>
                           
                        
                             
                </template>
   <template slot-scope="{data}">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

            <vs-td>
              <p class="product-name font-medium truncate">{{indextr+1}}</p>
            </vs-td>
            <vs-td>
               <p class="product-category">{{data[indextr].help_articles_title}}</p>
            </vs-td>
            <vs-td>          
               <p class="product-category" v-if="data[indextr].status == 1">Active</p>
                <p class="product-category" v-if="data[indextr].status == 2">Suspend</p>
            </vs-td>          
            <vs-td class="whitespace-no-wrap">
              <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="viewHelpArticlesDetails(data[indextr].help_articles_id)" />
             <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteHelpArticles(data[indextr].help_articles_id)" />
      
            </vs-td>

          </vs-tr>
        </tbody>
      </template>
            
            </vs-table> 
            </vx-card>
</div>
    </template>

    <style type="text/scss">
        
        .vx-card__body h2 {
    font-size: 2.5rem;
    font-weight: 500;
}
    </style>

      <script>
        import config from "@/config.js"
        export default {
        data() {
            return {
                showhelparticles: [],
                pendingtickets:'',
                recenttickets:'',
                newtickets:'',
                delete_article_id:'',
            }
        },
        created() {
            return this.fetchData();
        },
        methods: {
       addhelparticles () {
            this.$router.push({ path : '/helparticles/add' });
        },     
      deleteHelpArticles(articleid){
        this.delete_article_id=articleid,
        this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Do you want to delete article',
                accept: this.acceptAlert,
            })
       
         
    },
    acceptAlert() {

 
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/deletehelparticle/"+this.delete_article_id,{ headers: { Authorization: AuthStr } }) 
            .then(response => {
                response.data;
                this.$http.get(config.apiUrl +"api/admin/viewhelparticles",{ headers: { Authorization: AuthStr } })
                .then(response => {
                    this.showhelparticles = response.data; 
                })
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Help Article',
                    text: 'Article Deleted',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })
            })
        },
            viewHelpArticlesDetails(id){
                this.$router.push({ path : '/helparticles/edit/'+id });
            },
            fetchData() {            
                
                this.$vs.loading()
                const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                this.$http.get(config.apiUrl +"api/admin/viewhelparticles",{ headers: { Authorization: AuthStr } })
                .then(response => {
                    this.showhelparticles = response.data;
                    this.$vs.loading.close()
                })
				.catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
            },

            
        }   
        }
</script>


    

