<template>
    <div>
       <div class="vx-row">
                
            <!-- LINE CHART -->
            <div class="vx-col w-full md:w-3/5 mb-base">
                <vx-card :title="title" >
                    <div class="vx-row w-full ml-6 mt-5 mb-6">
                        <div class="vx-col sm:w-1/5 "> <span>API Keys</span>
                        </div>
                        <div class="vx-col sm:w-3/5 ">
                            <vs-input v-model="apikey" class="w-full" name="apikey" id='apikey' v-validate="'required'" />
                            <span class="text-danger" v-show="errors.has('apikey')">The Apikey is required</span>
                        </div>
                    </div>
                     <div class="vx-row w-full ml-6 mt-5 mb-6">
                        <div class="vx-col sm:w-1/5 "> <span>Status</span>
                        </div>
                        <div class="vx-col sm:w-3/5 ">
                             <vs-select v-model="status" name="integrationstatus" class="w-full select-large" v-validate="'required'">
                                <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in statusoptions" class="w-full" />
                            </vs-select>
                            <span class="text-danger" v-show="errors.has('integrationstatus')">The Commission Status is required</span>
                        </div>
                    </div>

                     <div class="vx-row w-full ml-6 mt-5 mb-6">
                        <div class="vx-col sm:w-1/5 "> <span>Company Name</span>
                        </div>
                        <div class="vx-col sm:w-3/5 ">
                            <vs-input v-model="companyname" class="w-full" name="companyname" id='companyname' v-validate="'required'" />
                            <span class="text-danger" v-show="errors.has('companyname')">The Company Name is required</span>
                        </div>
                    </div>

                     <div class="vx-row w-full ml-6 mt-5 mb-6">
                        <div class="vx-col sm:w-1/5 "> <span>Street1</span>
                        </div>
                        <div class="vx-col sm:w-3/5 ">
                            <vs-input v-model="street1" class="w-full" name="street1" id='street1' v-validate="'required'" />
                            <span class="text-danger" v-show="errors.has('street1')">The Street1 is required</span>
                        </div>
                    </div>

                     <div class="vx-row w-full ml-6 mt-5 mb-6">
                        <div class="vx-col sm:w-1/5 "> <span>Street2</span>
                        </div>
                        <div class="vx-col sm:w-3/5 ">
                            <vs-input v-model="street2" class="w-full" name="street2" id='street2' v-validate="'required'" />
                            <span class="text-danger" v-show="errors.has('street2')">The Street2 is required</span>
                        </div>
                    </div>

                     <div class="vx-row w-full ml-6 mt-5 mb-6">
                        <div class="vx-col sm:w-1/5 "> <span>City</span>
                        </div>
                        <div class="vx-col sm:w-3/5 ">
                            <vs-input v-model="city" class="w-full" name="city" id='city' v-validate="'required'" />
                            <span class="text-danger" v-show="errors.has('city')">The City is required</span>
                        </div>
                    </div>

                     <div class="vx-row w-full ml-6 mt-5 mb-6">
                        <div class="vx-col sm:w-1/5 "> <span>State</span>
                        </div>
                        <div class="vx-col sm:w-3/5 ">
                            <vs-input v-model="state" class="w-full" name="state" id='state' v-validate="'required'" />
                            <span class="text-danger" v-show="errors.has('state')">The State is required</span>
                        </div>
                    </div>

                     <div class="vx-row w-full ml-6 mt-5 mb-6">
                        <div class="vx-col sm:w-1/5 "> <span>Country</span>
                        </div>
                        <div class="vx-col sm:w-3/5 ">
                            <vs-input v-model="country" class="w-full" name="country" id='country' v-validate="'required'" />
                            <span class="text-danger" v-show="errors.has('country')">The Country is required</span>
                        </div>
                    </div>

                    <div class="vx-row w-full ml-6 mt-5 mb-6">
                        <div class="vx-col sm:w-1/5 "> <span>Zip</span>
                        </div>
                        <div class="vx-col sm:w-3/5 ">
                            <vs-input v-model="zip" class="w-full" name="zip" id='zip' v-validate="'required'" />
                            <span class="text-danger" v-show="errors.has('zip')">The zip is required</span>
                        </div>
                    </div>



                    <div class="vx-row ml-6 w-full mb-6">
                        <div class="vx-col sm:w-1/5 "> 
                        </div>
                        <div class="vx-col sm:w-3/5 ">
                            <vs-button color="primary" class="mr-2" type="filled" @click="submitData">submit</vs-button>
                            <vs-button color="dark" type="filled" @click="integrationCancel">cancel</vs-button>
                        </div>
                    </div>
                </vx-card>
            </div>

            <!-- RADIAL CHART -->
            <div class="vx-col w-full md:w-2/5 mb-base">
                <vx-card title="Help">
                    <vx-input-group class="w-4/5 ml-6">
                        <vs-input v-model="apilink" disabled="disabled" />

                        <template slot="append">
                            <div class="append-text btn-addon">
                            <a href="https://www.easypost.com/account/api-keys" target="_blank">
                            <i class="material-icons">link</i>
                            </a>
                            </div>
                            
                        </template>
                        </vx-input-group>
                        <img src="https://c1-cbn-storage.s3.us-east-2.amazonaws.com/images/1584518422easypost_apikey.png" width="100%" class="mt-5">
                </vx-card>
            </div>
        </div>
    </div>
</template>

<script>
import config from "@/config.js"
export default {
    data() {
        return {
            companyname:'',
            street1:'',
            street2:'',
            city:'',
            state:'',
            country:'',
            zip:'',
            title:'',
            integration:[],
            statusoptions: [
                {text: "Test", value:"Test"},
                {text: "Production", value:"Production"},
            ],
            status:'',
            apikey:'',
            apilink:'https://www.easypost.com/account/api-keys',
        }
    },
    created() {
       return this.fetchData();
    },
    methods:{
        integrationCancel(){
            this.$router.push({ path : '/settings/integration' });
        },
        submitData(){
            this.$validator.validateAll().then(result => {
            if(result) {
                this.$vs.loading()
                    let obj = {
                        apikey : this.apikey,
                        status : this.status,
                        companyname : this.companyname,
                        street1 : this.street1,
                        street2 : this.street2,
                        city : this.city,
                        state : this.state,
                        country : this. country,
                        zip : this.zip,
                    }
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/inserteasypostintegration",obj,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        console.log(response);
                        this.$vs.notify({
                            title: 'Integration',
                            text: 'Integration Update Successfully ',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                        this.$vs.loading.close()
                        
                    })
                    .catch(error => {
                        console.log(error);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Failed',
                            text: error.response.data.errors.message,
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'warning'
                        })
                    }); 
                }
            })
        },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getintegrationdetails/easypost",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.integration = response.data;
                this.apikey = response.data[0].integration_value;
                this.status = response.data[1].integration_value;
                this.title = response.data[2].integration_value;
                this.companyname = response.data[3].integration_value;
                this.street1 = response.data[4].integration_value;
                this.street2 = response.data[5].integration_value;
                this.city = response.data[6].integration_value;
                this.state = response.data[7].integration_value;
                this.country = response.data[8].integration_value;
                this.zip = response.data[9].integration_value;
                this.$vs.loading.close()
            })
           .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
    },
}
</script>

<style lang="scss">
.append-text a i {
    color: #fff;
    margin-top: 5px;
}
.append-text.btn-addon {
    background: #7367f0;
    padding: 0 10px;
    border-radius: 0 5px 5px 0px;
}
</style>