
<template>

    <div id="knowledge-base-page" >
        <!-- JUMBOTRON -->
        <vs-alert active="true" class="mt-5 mb-5 pt-2 pb-2" icon-pack="feather" icon="icon-star">
            This tool has third party integration like Shopify, Avalara,Zoho CRM etc., to grow your business as reliable and smart with easy steps.
        </vs-alert>
        

        <!-- KNOWLEDGE BASE CARDS  -->
 
      
        <div class="vx-row" >
                <div class="vx-col w-full md:w-1/3 sm:w-1/2 mb-base"  :key="indextr" v-for="(tr, indextr) in integration">
                    <vx-card class="text-center cursor-pointer integ" @click.stop="viewIntegration(integration[indextr].integration_url)">
                        <img :src="integration[indextr].integration_img" alt="graphic" width="180" class="mx-auto mb-4 mt-5"> 
                        <h4 class="mb-2 mt-2"> {{ integration[indextr].integration_name }} </h4>
                    </vx-card>
                </div>
            </div>
    </div>
</template>
<script>
import config from "@/config.js"
export default {
    data() {
        return {
            integration:[],
        }
    },
    created() {
       return this.fetchData();
    },
    methods:{
        viewIntegration(integrationurl){
           this.$router.push({ path : integrationurl });
        },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/integrationlist",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.integration = response.data;
                this.$vs.loading.close()
            })
           .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
    },
}
</script>

<style lang="scss">
.knowledge-base-jumbotron-content {
    background:#fff000;
    background-size: cover;
}
.integ{
    min-height: 150px;
}
</style>
