

<template>
   <div>    
      <div class="h-screen vx-row bg-img">
         <div class="vx-col sm:w-2/3">
            <vx-card title="Wordpress Connection">
               <div slot="no-body" class="full-page-bg-color">
                  <div class="">
                     <div class="vx-col sm:w-full md:w-full lg:w-2/3 self-center d-theme-dark-bg">
                        <div class="p-8">
                          
<!-- 
                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Host</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="host" id='host' v-model="host" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('host')"  >{{ errors.first('host') }}</span>
                              </div>
                           </div> -->


                            <!-- <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>UserName</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="userName" id='userName' v-model="userName" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('userName')"  >{{ errors.first('userName') }}</span>
                              </div>
                           </div>
                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Password</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="password" id='password' v-model="password" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('password')"  >{{ errors.first('password') }}</span>
                              </div>
                           </div>
                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>DB Name</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="dbname" id='dbname' v-model="dbname" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('dbname')"  >{{ errors.first('dbname') }}</span>
                              </div>
                           </div> --> 



                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Prefix</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="Prefix" id='Prefix' v-model="Prefix" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('Prefix')"  >{{ errors.first('Prefix') }}</span>
                              </div>
                           </div>




                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Woocomerce path</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="woocommerce_path" id='woocommerce_path' v-model="woocommerce_path" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('woocommerce_path')"  >{{ errors.first('woocommerce_path') }}</span>
                              </div>
                           </div>


                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Woocomerce key</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="woocommerce_key" id='woocommerce_key' v-model="woocommerce_key" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('woocommerce_key')"  >{{ errors.first('woocommerce_key') }}</span>
                              </div>
                           </div>

                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Woocommerce secret</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="text" name="woocommerce_secret" id='woocommerce_secret' v-model="woocommerce_secret" min="0" v-validate="'required'"/>
                                 <span class="text-danger" v-show="errors.has('woocommerce_secret')"  >{{ errors.first('woocommerce_secret') }}</span>
                              </div>
                           </div>




                  
                               <div class="vx-row mb-5">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Products</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                               <vs-switch v-model="productstatus" name="productstatus">
                                 <span slot="on">On</span>
                                 <span slot="off">Off</span>
                              </vs-switch>
                              </div>
                           </div>

                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Orders</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                             <vs-switch v-model="orderstatus" name="orderstatus">
                                 <span slot="on">On</span>
                                 <span slot="off">Off</span>
                              </vs-switch>
                              </div>
                           </div>

                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Discount</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                             <vs-switch v-model="discountstatus" name="discountstatus">
                                 <span slot="on">On</span>
                                 <span slot="off">Off</span>
                              </vs-switch>
                              </div>
                           </div>

                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Product Level Commision</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-switch v-model="productlevelcommissionstatus" name="productlevelcommissionstatus" >
                                 <span slot="on">On</span>
                                 <span slot="off">Off</span>
                              </vs-switch>	
                              </div>
                           </div>


                          


                          
                                                      
                           <div class="vx-row"><div class="vx-col sm:w-1/3 w-full"> 
                           <span></span></div>
                              <div class="vx-col sm:w-1/3 w-full">
                                 <vs-button type="filled" @click.prevent="submitForm" class="mr-5 block">Submit</vs-button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               

            </vx-card>
         </div>
      
      </div>
   </div>   
</template>        
<script>
import config from "@/config.js"

   export default {
       data() {
           return {               
              
               Prefix:'',
               woocommerce_path:'',
               woocommerce_key:'',
               woocommerce_secret:'',
               productstatus:'',
               orderstatus:'',
               discountstatus:'',
               productlevelcommissionstatus:'',
           }
           
       },
created() {
      return this.getwordpressdetail()  } , 
     
 

   methods: { 
      
        getwordpressdetail(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getwordpressconnection",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.getshpifyrecord = response.data;  

                
                
                for(var i=0;i<response.data.length;i++){
              var sitesettings_name = response.data[i]['sitesettings_name'];
              
              if(sitesettings_name=='Prefix'){                 
                 this.Prefix = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='woocommerce_path'){                 
                 this.woocommerce_path = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='woocommerce_key'){                 
                 this.woocommerce_key = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='woocommerce_secret'){                 
                 this.woocommerce_secret = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='productstatus'){  
                 
                 if(response.data[i]['sitesettings_value']=='1'){
                    this.productstatus = response.data[i]['sitesettings_value']; 
                 }else{
                    this.product = '0';
                 }
                 
              }
              
              if(sitesettings_name=='orderstatus'){                 
                 
                 if(response.data[i]['sitesettings_value']=='1'){
                    this.orderstatus = response.data[i]['sitesettings_value']; 
                 }
              }
              
              if(sitesettings_name=='discountstatus'){                
                
                 if(response.data[i]['sitesettings_value']=='1'){
                    this.discountstatus = response.data[i]['sitesettings_value']; 
                 }
              }
              
              if(sitesettings_name=='productlevelcommissionstatus'){                 
                
                 if(response.data[i]['sitesettings_value']=='1'){
                    this.productlevelcommissionstatus = response.data[i]['sitesettings_value']; 
                 }
              }

              
                } 

            })
            .catch(error => {
                console.log(error);
            });
        },
 submitForm() {
  
      this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let connectform = { 
                
                Prefix:this.Prefix,
                woocommerce_path:this.woocommerce_path,
                woocommerce_key:this.woocommerce_key,
                woocommerce_secret:this.woocommerce_secret,
                productstatus:this.productstatus,
                orderstatus:this.orderstatus,
                discountstatus:this.discountstatus,
                productlevelcommissionstatus:this.productlevelcommissionstatus,
                                           
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/wordpressconnectioninstall",connectform,{ headers: { Authorization: AuthStr } })
            .then(response => {              
                console.log(response);  
                            
                this.$vs.loading.close()
                this.$vs.notify({                   
                    title: 'Wordpress connection',
                    text: 'Wordpress connection has created successfully ',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                }) 
                 this.$router.push({ path : '/wordpress/wordpressconnection' });
            })
    
         }
    }) 
 
    },
        
       
    }

     
   }
</script>

<style lang="scss">
	#epintype {
    background: none;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 4px;
    padding: .75em;
	width:100%;
}

.shop-img {
    padding: inherit;
    border: 1px solid #000;
    margin-top: 10px !important;
}
</style>


