<template>
  <vs-tabs>
    <vs-tab  label="Pending" @click="fetchDatapending">
      <vs-table pagination :max-items="4" search :data="withdrawpending">

            <template slot="thead">
              <vs-th>S.No</vs-th>
                <vs-th sort-key="members_username">Name</vs-th>
                <vs-th sort-key="history_amount">Amount</vs-th>
                <vs-th sort-key="history_wallet_type">Wallet</vs-th>
                <vs-th sort-key="paymentsettings_name">Account Type</vs-th>
                <vs-th sort-key="action">Account Details</vs-th>
                 <vs-th sort-key="history_datetime">Requested Date</vs-th>
                   <vs-th sort-key="action">Option</vs-th>
            </template>

         <template slot-scope="{data}">
                
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td>
                      {{ indextr + 1 }}
                  </vs-td>
                    <vs-td :data="data[indextr].members_username">
                        {{data[indextr].members_username}}
                    </vs-td>

                    <vs-td :data="data[indextr].history_amount">
                        {{data[indextr].history_amount}}
                    </vs-td>

                     <vs-td :data="data[indextr].history_wallet_type">
                        {{data[indextr].history_wallet_type}}
                    </vs-td>

                    <vs-td :data="data[indextr].paymentsettings_name">
                        {{data[indextr].paymentsettings_name}}
                    </vs-td>
                   
                   <vs-td :data="data[indextr].account_details">
                        <ul v-if="data[indextr].paymentsettings_name== 'Bankwire'">
                            <li  :key="indextr"  v-for="(key, indextr) in data[indextr].account_details.bankwire">
                             {{ indextr }} : {{key}}
                            </li>
                            </ul>
                            <ul v-if="data[indextr].paymentsettings_name== 'Paypal'">
                            <li  :key="indextr"  v-for="(key, indextr) in data[indextr].account_details">
                             {{ indextr }} : {{key}}
                            </li>
                            </ul>
                    </vs-td>

                     <vs-td :data="data[indextr].history_datetime">
                        {{data[indextr].history_datetime}}
                    </vs-td>
                    <vs-td> 
                        <div class="demo-alignment">
                            <vs-button  @click="showalertmodal(data[indextr].history_id)" color="primary" type="border">Pay</vs-button>
                        </div>
                    </vs-td>                
                </vs-tr>
            </template>
        </vs-table>
        <vs-popup class="holamundo" title="" :active.sync="withdrawactionmodal">
            <form>
                <vs-input hidden name="historyid" v-model="history_id" class="w-full"/>
                    <p> Do You Want to Accept the withdrawal?</p>
                <br><br>
                <div class="vx-row">
                    <div class="vx-col sm:w-2/6 w-full ml-auto width_btn flex">
                        <vs-button type="filled" @click.prevent="paidwithdraw" class="mr-5 mb-2">Paid</vs-button>
                         <vs-button color="warning" type="filled" @click.prevent="onCancel"  class="mb-2">Cancel</vs-button>
                    </div>
                </div>
            </form>
        </vs-popup>
    </vs-tab>
  

    <vs-tab  label="Paid" @click="fetchData">
      <vs-table pagination :max-items="4" search :data="withdrawalpaid">

            <template slot="thead">
              <vs-th>S.No</vs-th>
                <vs-th sort-key="members_username">Name</vs-th>
                <vs-th sort-key="history_amount">Amount</vs-th>
                <vs-th sort-key="history_wallet_type">Wallet</vs-th>
                <vs-th sort-key="paymentsettings_name">Account Type</vs-th>
                <vs-th sort-key="action">Account Details</vs-th>
                 <vs-th sort-key="history_datetime">Date</vs-th>
                    </template>

         <template slot-scope="{data}">
                
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                <vs-td>
                      {{ indextr + 1 }}
                  </vs-td>
                    <vs-td :data="data[indextr].members_username">
                        {{data[indextr].members_username}}
                    </vs-td>

                    <vs-td :data="data[indextr].history_amount">
                        {{data[indextr].history_amount}}
                    </vs-td>
                     <vs-td :data="data[indextr].history_wallet_type">  
                          {{data[indextr].history_wallet_type}}
                    </vs-td>
                    <vs-td :data="data[indextr].paymentsettings_name">
                        {{data[indextr].paymentsettings_name}}
                    </vs-td>
                   
                    <vs-td :data="data[indextr].account_details">
                        <ul v-if="data[indextr].paymentsettings_name== 'Bankwire'">
                            <li  :key="indextr"  v-for="(key, indextr) in data[indextr].account_details.bankwire">
                             {{ indextr }} : {{key}}
                            </li>
                            </ul>
                            <ul v-if="data[indextr].paymentsettings_name== 'Paypal'">
                            <li  :key="indextr"  v-for="(key, indextr) in data[indextr].account_details">
                             {{ indextr }} : {{key}}
                            </li>
                            </ul>
                    </vs-td>
                     <vs-td :data="data[indextr].history_datetime">
                        {{data[indextr].history_datetime}}
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table>
    </vs-tab>
  </vs-tabs>
</template>

<script>
import config from "@/config.js"
export default {
    data() {
        return {
            history_id: '',
            withdrawactionmodal: false,
            withdrawalpaid: [],
            withdrawpending: []
        }
    },
   created() {
       return this.fetchData(),
       this.fetchDatapending();
    },
        methods: {
			   onCancel(){
                        this.$vs.loading();
                            let datas = {
                            history_id: this.history_id,
                            }
                            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                            this.$http.post(config.apiUrl +"api/admin/cancelwithdraw",datas,{ headers: { Authorization: AuthStr } })
                            .then(response => {
                                    console.log(response.data)
                                    this.fetchData();
                                    this.fetchDatapending();
                                    this.$vs.loading.close()
                                    this.withdrawactionmodal=false;
                                })
                            .catch(error => {
                                    console.log(error);
                                });
                },
            fetchData() {
					 this.$vs.loading();
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.get(config.apiUrl +"api/admin/withdraw",{ headers: { Authorization: AuthStr } })
                    .then(response => {
						 this.$vs.loading.close()
                        this.withdrawalpaid = response.data;
                    })
                    .catch(error => {
                        console.log(error); 
						localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                    });
            },
            fetchDatapending() {
				 	this.$vs.loading();
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.get(config.apiUrl +"api/admin/withdrawpending",{ headers: { Authorization: AuthStr } })
                    .then(response => {
                     this.$vs.loading.close()
                        this.withdrawpending = response.data;
                    })
                    .catch(error => {
                        console.log(error); 
						localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                    });
            },       
         showalertmodal(history_id) {    
             this.history_id = history_id;
                this.withdrawactionmodal=true;         
         
        },
        paidwithdraw() {
            this.$vs.loading();
             let datas = {
              history_id: this.history_id,
            }

            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/approvewithdrawreq",datas,{ headers: { Authorization: AuthStr } })
            .then(response => {
				 this.fetchData();
                  this.fetchDatapending();
                this.$vs.loading.close()
                 this.withdrawactionmodal=false;
				 this.$vs.notify({
                    title: 'Withdraw',
                    text: 'successfully paid',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })
                  console.log(response.data[0]['history_amount']);
				})
               .catch(error => {
                    console.log(error);
                });
            
        },
    }
 
}

</script>


    

