

<template>
<form>
   <div>
   <div class="bg-img">
      <div class="vx-col mt-10" >
         <vx-card title="Content Management">
            <div slot="no-body" class="full-page-bg-color">
            <div class="">
               <div class="vx-col sm:w-full md:w-full self-center d-theme-dark-bg">
                  <div class="p-6">                            
                     <div class="vx-row sm:w-2/3 mt-10 mb-6">
                        <div class="vx-col sm:w-1/3 w-full">
                           <span>Select Type</span>
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                           <select class="inputx cms_content sm:w-3/3" label-placeholder="Category" name="LeaveType" @change="cmslist()" v-model="cmsid">
                              <option value="0">Select</option>
                              <option value="1">Welcome Message</option>
                              <option value="2">About Us</option>
                              <option value="3">Terms and Conditions</option>
                              <option value="4">How it Works</option>
                              <option value="6">Ask Experts</option>
                              <option value="15">Privacy Policy</option>
                              <option value="27">Testimonials</option> 
                              <!-- <option value="7">Business Tips</option> -->
                              <option value="22">Banner Message1</option>
                              <option value="23">Banner Message2</option>
                              <option value="24">Banner Message3</option>
                              <option value="25">Banner Message4</option>
                              <option value="26">Banner Message5</option>  
                           </select> 
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
               

<!-- drop down -->
<!-- welcomemessage -->
<div class="vx-col w-full" id="welcomemessage" style="display:none">
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full"  v-model="welcomemessage['title']" v-validate="'required'" name="title" />   
                    <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
               </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                    <quill-editor v-model="welcomemessage['content']" v-validate="'required'" name="content"></quill-editor>
                    <span class="text-danger text-sm" v-show="errors.has('content')">{{ errors.first('content') }}</span>
               </div>
        </div>
</div>
<!-- bannermessage1 -->
<div class="vx-col w-full" id="bannermessage1" style="display:none" >
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Page Title</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full"   v-model="bannermessage1['pagetitle']" v-validate="'required'" name="title"/> 
                    <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
                </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">  
                    <vs-input class="w-full"   v-model="bannermessage1['title1']" v-validate="'required'" name="title" label-placeholder="
                                    Enter the title1 "/> 
                    <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
               </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description 1</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                     <vs-input class="w-full" placeholder="
                                    Enter the Description 1 "  v-model="bannermessage1['description1']"/>
                </div>
        </div> 
            <h4 class="mb-6"> PERSON 2</h4><br>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the  Title"  v-model="bannermessage1['title2']"/>
               </div>
        </div> 
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description 2</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter Description 2"  v-model="bannermessage1['description2']"/>
               </div>
        </div>
            <h4 class="mb-6">PERSON 3</h4>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" placeholder="Enter the Title"  v-model="bannermessage1['title3']"/>
               </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description 3</span>
               </div> 
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" placeholder="Enter Description 3"  v-model="bannermessage1['description3']"/>                               
                    <quill-editor v-model="bannermessage1['bannermessage1content']"></quill-editor>
                </div>
                             
        </div>                      
</div>
<!-- Testimonials -->
<div class="vx-col w-full" id="testimonials" style="display:none" >
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Page Title</span>
               </div> 
                <div class="vx-col sm:w-2/3 w-full">        
                   <vs-input class="w-full"   v-model="testimonials['pagetitle']" v-validate="'required'" name="title"/> 
                   <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>  
                </div>
        </div>
        <h4 class="mb-6"> PERSON 1</h4>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">      
                   <vs-input class="w-full"   v-model="testimonials['title1']" v-validate="'required'" name="title" label-placeholder="
                                    Enter the title1 "/> 
               </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
                  <span>Description 1</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">    
                  <vs-input class="w-full" v-model="testimonials['description1']"/>
               </div> 
        </div>
              <h4 class="mb-6"> PERSON 2</h4>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full"> 
                   <vs-input class="w-full" placeholder="Enter the  Title"  v-model="testimonials['title2']"/> 
               </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description 2</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter Description 2"  v-model="testimonials['description2']"/>
               </div> 
        </div>
                <h4 class="mb-6"> PERSON 3</h4>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Title"  v-model="testimonials['title3']"/>
               </div>
        </div>
         <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description 3</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter Description 3"  v-model="testimonials['description3']"/>   
               </div>
         </div>
                 <h4 class="mb-6"> PERSON 4</h4>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" placeholder="Enter the Title"  v-model="testimonials['title4']"/> 
               </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description 4</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter Description 4"  v-model="testimonials['description4']"/>     
               </div>
        </div> 
                 <h4 class="mb-6"> PERSON 5</h4>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" placeholder="Enter the Title"  v-model="testimonials['title5']"/>
               </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description 5</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full mb-6" placeholder="Enter Description 3"  v-model="testimonials['description5']"/> 
                   <quill-editor v-model="testimonials['testimonialscontent']"></quill-editor>    
               </div>
        </div>
</div> 
<!-- aboutus -->
<div class="vx-col w-full" id="aboutus" style="display:none" >
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Page Title</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full"  v-validate="'required'" name="pagetitle"  v-model="aboutus['pagetitle']"/> 
                   <span class="text-danger text-sm" v-show="errors.has('pagetitle')">{{ errors.first('pagetitle') }}</span>
                </div>
        </div>
   <!--     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Select Image</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                    <div class="">
                       <div class="large-4 medium-4 small-4 filezone">
                            <input type="file" id="files" ref="files"  v-on:change="handleFiles()"/>
                            <p> choose file </p>
                        </div>
                        <div v-for="(file, key) in files" v-bind:key="key" class="file-listing">
                            <img class="preview" v-bind:ref="'preview'+parseInt(key)"/>
                            <div class="details"><span>{{ file.name }}</span></div>
                                <div class="success-container" v-if="file.id > 0">
                                    Success
                                    <input type="hidden" :name="input_name" :value="file.id"/>
                                </div>
                                <div class="remove-container" v-else>
                                    <a class="remove" v-on:click="removeFile(key)">x</a>
                                </div>
                        </div>
                    </div>
                </div>
        </div> -->
          <!--  <h4 class="mb-6"> PERSON 1</h4>
         <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Image Title"  v-model="aboutus['title1']" v-validate="'required'" name="title1"/> 
                    <span class="text-danger text-sm" v-show="errors.has('title1')">{{ errors.first('title1') }}</span>
                </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Fackbook link</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Fackbook link"  v-model="aboutus['fblink1']" v-validate="'required'" name="fblink1" v-validate="'url:require_protocol'" data-vv-as="Fackbook link"/>
                   <span class="text-danger text-sm" v-show="errors.has('fblink1')">{{ errors.first('fblink1') }}</span>
                </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Twitter link</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Twitter link"  v-model="aboutus['twitterlink1']" v-validate="'url:require_protocol'" name="twitterlink1"/>
                   <span class="text-danger text-sm" v-show="errors.has('twitterlink1')">{{ errors.first('twitterlink1') }}</span>
                </div>
        </div> -->
        <!--    <h4 class="mb-6"> PERSON 2</h4>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Image Title"  v-model="aboutus['title2']" v-validate="'required'" name="title2"/> 
                   <span class="text-danger text-sm" v-show="errors.has('title2')">{{ errors.first('title2') }}</span>
                </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Fackbook link</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Fackbook link"  v-model="aboutus['fblink2']" v-validate="'required'" name="fblink2" v-validate="'url:require_protocol'" data-vv-as="Fackbook link"/> 
                    <span class="text-danger text-sm" v-show="errors.has('fblink2')">{{ errors.first('fblink2') }}</span>
                </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Twitter link</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Twitter link"  v-model="aboutus['twitterlink2']" v-validate="'url:require_protocol'" name="twitterlink2"/> 
                   <span class="text-danger text-sm" v-show="errors.has('twitterlink2')">{{ errors.first('twitterlink2') }}</span>
                </div>
        </div> -->
       <!--     <h4 class="mb-6"> PERSON 3</h4>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Image Title"  v-model="aboutus['title3']" v-validate="'required'" name="title3"/> 
                    <span class="text-danger text-sm" v-show="errors.has('title3')">{{ errors.first('title3') }}</span>
                </div>
        </div> -->
     <!--   <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Fackbook link</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <span class="text-danger text-sm" v-show="errors.has('title3')">{{ errors.first('title3') }}</span>  <br>
                    <label class="col-form-label col-lg-3 col-sm-12">Fackbook link*:</label>
					
                </div>
        </div> -->
	
	<!--  <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Fackbook link</span>
               </div> -->
           <!--     <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Fackbook link"  v-model="aboutus['fblink3']" v-validate="'required'" name="fblink1" v-validate="'url:require_protocol'" data-vv-as="Fackbook link"/>
                   <span class="text-danger text-sm" v-show="errors.has('fblink3')">{{ errors.first('fblink3') }}</span>
                </div> -->
		  
		  
		 <!--   <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Fackbook link</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Fackbook link"  v-model="aboutus['fblink3']"  name="fblink3" v-validate="'url:require_protocol'" data-vv-as="Fackbook link"/> 
                    <span class="text-danger text-sm" v-show="errors.has('fblink3')">{{ errors.first('fblink3') }}</span>
                </div>
        </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Twitter link</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Twitter link"  v-model="aboutus['twitterlink3']" v-validate="'url:require_protocol'" name="twitterlink3"/> 
                    <span class="text-danger text-sm" v-show="errors.has('twitterlink3')">{{ errors.first('twitterlink3') }}</span>
                </div>
        </div> -->
          <!--   <h4 class="mb-6"> PERSON 4</h4>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                   <vs-input class="w-full" placeholder="Enter the Image Title"  v-model="aboutus['title4']" v-validate="'required'" name="title4"/> 
                    <span class="text-danger text-sm" v-show="errors.has('title4')">{{ errors.first('title4') }}</span>
                </div>
        </div> 
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Fackbook link</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" placeholder="Enter the Fackbook link"  v-model="aboutus['fblink4']" v-validate="'required'" name="fblink4" v-validate="'url:require_protocol'" data-vv-as="Fackbook link"/> 
                    <span class="text-danger text-sm" v-show="errors.has('fblink4')">{{ errors.first('fblink4') }}</span>
                </div>
        </div> 
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Twitter link</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" placeholder="Enter the Twitter link"  v-model="aboutus['twitterlink4']" v-validate="'url:require_protocol'" name="twitterlink4"/> 
                    <span class="text-danger text-sm" v-show="errors.has('twitterlink4')">{{ errors.first('twitterlink4') }}</span>
                </div>
        </div>    -->                
         <!--   <h4 class="mb-6"> PERSON 5</h4>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" placeholder="Enter the Twitter link"  v-model="aboutus['title5']" v-validate="'required'" name="title5"/> 
                    <span class="text-danger text-sm" v-show="errors.has('title5')">{{ errors.first('title5') }}</span>
                </div>
        </div>
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Fackbook link</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" placeholder="Enter the Fackbook link"  v-model="aboutus['fblink5']"  v-validate="'url:require_protocol'" name="fblink5" v-validate="'url:require_protocol'" data-vv-as="Fackbook link"/> 
                    <span class="text-danger text-sm" v-show="errors.has('fblink5')">{{ errors.first('fblink5') }}</span>
                </div>
        </div> -->
        <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                 <!-- <span>Twitter link</span> -->
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                  <!--  <vs-input class="w-full mb-6" placeholder="Enter the Twitter link"  v-model="aboutus['twitterlink5']" v-validate="'url:require_protocol'" name="twitterlink5"/> 
                    <span class="text-danger text-sm" v-show="errors.has('twitterlink5')">{{ errors.first('twitterlink5') }}</span> -->
                    <quill-editor v-model="aboutus['aboutuscontent']"></quill-editor>
                </div>
        </div>
</div>
 
<!-- ask experts -->
<div class="vx-col w-full" id="askexperts" style="display:none">
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="askexperts['title']" v-validate="'required'" name="title"/>   
                  <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description</span>
               </div>  
               <div class="vx-col sm:w-2/3 w-full">
                  <quill-editor v-model="askexperts['askexpertscontent']" v-validate="'required'" name="content"></quill-editor>
                  <span class="text-danger text-sm" v-show="errors.has('content')">{{ errors.first('content') }}</span> 
               </div>
     </div>
</div>
<!-- privacy policy -->
<div class="vx-col w-full" id="privacypolicy" style="display:none">
    <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-validate="'required'" name="title" v-model="privacypolicy['title']"/>  
                  <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span> 
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <quill-editor v-model="privacypolicy['privacypolicycontent']" v-validate="'required'" name="content"></quill-editor>
                    <span class="text-danger text-sm" v-show="errors.has('content')">{{ errors.first('content') }}</span> 
               </div>
     </div>
</div>
<!-- business tips -->
<div class="vx-col w-full" id="businesstips" style="display:none">
    <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <quill-editor v-model="businesstipscontent"></quill-editor>
               </div>
     </div>
</div>
<!-- how its work  -->
<div class="vx-col w-full" id="howitswork" style="display:none" >
    <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-validate="'required'" name="title"   v-model="howitswork['title']"/>  
                    <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span> 
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <quill-editor v-model="howitswork['content']" v-validate="'required'" name="content"></quill-editor>
                  <span class="text-danger text-sm" v-show="errors.has('content')">{{ errors.first('content') }}</span> 
               </div>
     </div>
</div>
<!-- terms and conditions -->
<div class="vx-col w-full" id="termsandconditions" style="display:none" >
    <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full"  v-validate="'required'" name="title" v-model="termsandconditions['title']"/>  
                  <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <quill-editor v-model="termsandconditions ['termsandconditionscontent']" v-validate="'required'" name="content"  ></quill-editor>
                    <span class="text-danger text-sm" v-show="errors.has('content')">{{ errors.first('content') }}</span>
               </div>
     </div>
</div>
<!-- Banner Message2 -->
<div class="vx-col w-full" id="bannermessage2" style="display:none" >
    <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Page Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full"   v-model="bannermessage2['pagetitle']" v-validate="'required'" name="pagetitle"/> 
                    <span class="text-danger text-sm" v-show="errors.has('pagetitle')">{{ errors.first('pagetitle') }}</span>
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full"  v-validate="'required'" name="title" v-model="bannermessage2['title']"/>  
                    <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <quill-editor v-model="bannermessage2['bannermessage2content']" v-validate="'required'" name="content" ></quill-editor>
                    <span class="text-danger text-sm" v-show="errors.has('content')">{{ errors.first('content') }}</span> 
               </div>
     </div>
</div>
<!-- Banner Message3 -->
<div class="vx-col w-full" id="bannermessage3" style="display:none" >
    <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Page Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full"   v-model="bannermessage3['pagetitle']" v-validate="'required'" name="pagetitle"/>   
                    <span class="text-danger text-sm" v-show="errors.has('pagetitle')">{{ errors.first('pagetitle') }}</span>
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full"   v-model="bannermessage3['title']" v-validate="'required'" name="title"/>
                    <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                  <quill-editor v-model="bannermessage3['bannermessage3content']" v-validate="'required'" name="content"></quill-editor>
                    <span class="text-danger text-sm" v-show="errors.has('content')">{{ errors.first('content') }}</span>
               </div>
     </div>
</div>
<!-- Banner Message4 -->
<div class="vx-col w-full" id="bannermessage4" style="display:none" >
    <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Page Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                       <vs-input class="w-full" v-validate="'required'" name="pagetitle"  v-model="bannermessage4['pagetitle']"/>  
                        <span class="text-danger text-sm" v-show="errors.has('pagetitle')">{{ errors.first('pagetitle') }}</span>
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                       <vs-input class="w-full"   v-model="bannermessage4['title']"  v-validate="'required'" name="title"/> 
                        <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                        <quill-editor v-model="bannermessage4['bannermessage4content']" v-validate="'required'" name="content"></quill-editor>
                        <span class="text-danger text-sm" v-show="errors.has('content')">{{ errors.first('content') }}</span> 
               </div>
     </div>
</div>
<!-- Banner Message5 -->
<div class="vx-col w-full" id="bannermessage5" style="display:none" >
    <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Page Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                        <vs-input class="w-full"   v-model="bannermessage5['pagetitle']" v-validate="'required'" name="pagetitle"/> 
                        <span class="text-danger text-sm" v-show="errors.has('pagetitle')">{{ errors.first('pagetitle') }}</span>
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Title</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                        <vs-input class="w-full" v-validate="'required'" name="title"  v-model="bannermessage5['title']"/> 
                        <span class="text-danger text-sm" v-show="errors.has('title')">{{ errors.first('title') }}</span>
               </div>
     </div>
     <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Description</span>
               </div> 
               <div class="vx-col sm:w-2/3 w-full">
                        <quill-editor v-model="bannermessage5['bannermessage5content']" v-validate="'required'" name="content"></quill-editor>
                        <span class="text-danger text-sm" v-show="errors.has('content')">{{ errors.first('content') }}</span> 
               </div>
     </div>
</div>
<!-- Footer Button -->
    <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span></span>
               </div> 
                <div class="vx-col sm:w-2/3 w-full ml-auto flex cms_btn">                      
                    <vs-button type="filled" @click.prevent="submit" class="mr-5 block">Submit</vs-button>
                    <vs-button color="warning" type="filled" @click.prevent="onCancel"  class="mr-5 block">Cancel</vs-button>
                </div>
    </div>
   </vx-card>
         </div>
      </div>
   </div>
    </form>
</template>

<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import config from "@/config.js"
import vSelect from 'vue-select'
   export default {
       data() {
           return {
                cmsid:[],
              welcomemessage:{
               title: '',
               content:'',
              },
              howitswork:{
                  title:'',
                content: '',
              },
           
              askexperts:{
                askexpertscontent:'',
                 title:'',
              },
              privacypolicy:{
               title:'',
               privacypolicycontent:'',
              },
              businesstipscontent:'',
              aboutus:{
                  pagetitle:'',
                  title1:'',
                  fblink1:'',
                  twitterlink1:'',
                  title2:'',
                  fblink2:'',
                  twitterlink2:'',
                  title3:'',
                  fblink3:'',
                  twitterlink3:'',
                  title4:'',
                  fblink4:'',
                  twitterlink4:'',
                  title5:'',
                  fblink5:'',
                  twitterlink5:'',
                  aboutuscontent:'',
              } , 
                  termsandconditions:{
                     title:'',
                     termsandconditionscontent:'',
                  },
               bannermessage1:{ 
                  pagetitle:'',              
                  title1:'',
                  description1:'',
                  title2:'',
                  description2:'',
                  title3:'',
                  description3:'',
                  bannermessage1content :'',
               },
            testimonials:{
                  pagetitle:'',              
                  title1:'',
                  description1:'',
                  title2:'',
                  description2:'',
                  title3:'',
                  description3:'',
                   title4:'',
                  description4:'',
                   title5:'',
                  description5:'',
                  testimonialscontent :'',
            },
            bannermessage2:{
               pagetitle:'',
               title:'',
               bannermessage2content:'',
            },
            bannermessage3:{
               pagetitle:'',
                 title:'',
                 bannermessage3content:'',
            },
             bannermessage4:{
               pagetitle:'',
                 title:'',
                 bannermessage4content:'',
            },
             bannermessage5:{
               pagetitle:'',
                 title:'',
                 bannermessage5content:'',
            },
 
                files: [],
            images: [],
              
           }
       },
components: {'v-select': vSelect,quillEditor,},
      
  
created() {
      
      return this.fetchData()

       } , 
  

   methods: {
        // fetchData() {
        //            this.welcomemessage=true;
        //     },
	   onCancel(){
            console.log('CANCEL SUBMIT');
            this.show = false;
            this.$router.push({ name: 'home' });
        },
 removeFile( key ){
                this.files.splice( key, 1 );
                this.getImagePreviews();
            },
            handleFiles() {
                let uploadedFiles = this.$refs.files.files;

                console.log(this.files.length);

                if(this.files.length <=4){
                  this.files.push(uploadedFiles[0]);
                  this.getImagePreviews();
                }
            },
            getImagePreviews(){
                for( let i = 0; i < this.files.length; i++ ){                  

                    if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].name ) ) {
                        let reader = new FileReader();
                        reader.addEventListener("load", function(){
                            this.$refs['preview'+parseInt(i)][0].src = reader.result;
                        }.bind(this), false);
                        reader.readAsDataURL( this.files[i] );
                    }else{
                        this.$nextTick(function(){
                            this.$refs['preview'+parseInt(i)][0].src = '/img/generic.png';
                        });
                    }
                }
            },
        getFileSize(size) {
            const fSExt = ['Bytes', 'KB', 'MB', 'GB'];
            let i = 0;
            
            while(size > 900) {
                size /= 1024;
                i++;
            }
            return `${(Math.round(size * 100) / 100)} ${fSExt[i]}`;
        },
          
      getcategories(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcategorylist",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.optioncategory_id = response.data;                                       
            })
            .catch(error => {
                console.log(error);
            });
        }, 

         cmslist(){
    
    
             let contentmanagement = {          
                      
                  cmsid:this.cmsid, 
            }

                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/contentmanagementfetch",contentmanagement,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                    // console.log(response);
                        if(this.cmsid=='1'){
                            document.getElementById('welcomemessage').style.display="block"; 
                            this.welcomemessage['title']=response.data[0]['cms_name']; 
                            this.welcomemessage['content']=response.data[0]['cms_content'];   
                        }else{
                        document.getElementById('welcomemessage').style.display="none";
                        }
                        if(this.cmsid=='2'){
                            document.getElementById('aboutus').style.display="block"; 
                            this.aboutus['pagetitle']=response.data[0]['cms_name'];    
                        }else{
                            document.getElementById('aboutus').style.display="none";
                        }
    
                        if(this.cmsid=='3'){
                        document.getElementById('termsandconditions').style.display="block";  
                        this.termsandconditions['title']=response.data[0]['cms_name'];
                        this.termsandconditions['termsandconditionscontent']=response.data[0]['cms_content'];
                        }else{
                        document.getElementById('termsandconditions').style.display="none";
                        }
                         if(this.cmsid=='4'){
                         document.getElementById('howitswork').style.display="block"; 
                                this.howitswork['title']=response.data[0]['cms_name'];
                                this.howitswork['content'] = response.data[0]['cms_content']; 
                        }else{
                            document.getElementById('howitswork').style.display="none";
                        }
                         if(this.cmsid=='6'){
                            document.getElementById('askexperts').style.display="block";  
                            this.askexperts['title']=response.data[0]['cms_name'];
                            this.askexperts['askexpertscontent'] = response.data[0]['cms_content'];  
                        }else{
                            document.getElementById('askexperts').style.display="none";
                        }
                         if(this.cmsid=='15'){
                                document.getElementById('privacypolicy').style.display="block";       this.privacypolicy['title']=response.data[0]['cms_name'];
                                this.privacypolicy['privacypolicycontent'] = response.data[0]['cms_content']; 
                            }else{
                                document.getElementById('privacypolicy').style.display="none";
                            }
                             if(this.cmsid=='22'){
                                document.getElementById('bannermessage1').style.display="block";    this.bannermessage1['pagetitle']=response.data[0]['cms_name'];
                                this.bannermessage1['bannermessage1content']=response.data[0]['cms_content'];
                            }else{
                                document.getElementById('bannermessage1').style.display="none";
                            }
                            if(this.cmsid=='23'){
                                document.getElementById('bannermessage2').style.display="block";     this.bannermessage2['pagetitle']=response.data[0]['cms_name'];
                                this.bannermessage2['title'] = response.data[0]['title'];  
                                this.bannermessage2['bannermessage2content'] = response.data[0]['cms_content']; 
                            }else{
                                document.getElementById('bannermessage2').style.display="none";
                            }
                            if(this.cmsid=='24'){
                                document.getElementById('bannermessage3').style.display="block";
                                this.bannermessage3['pagetitle']=response.data[0]['cms_name'];
                                this.bannermessage3['title'] = response.data[0]['title'];  
                                this.bannermessage3['bannermessage3content'] = response.data[0]['cms_content']; 
                                }else{
                                    document.getElementById('bannermessage3').style.display="none";
                                }

                                 if(this.cmsid=='25'){
                                    document.getElementById('bannermessage4').style.display="block";  this.bannermessage4['pagetitle']=response.data[0]['cms_name'];
                                    this.bannermessage4['title'] = response.data[0]['title'];  
                                    this.bannermessage4['bannermessage4content'] = response.data[0]['cms_content'];     
                                }else{
                                    document.getElementById('bannermessage4').style.display="none";
                                }

                                 if(this.cmsid=='26'){
                                    document.getElementById('bannermessage5').style.display="block";
                                    this.bannermessage5['pagetitle']=response.data[0]['cms_name'];
                                    this.bannermessage5['title'] = response.data[0]['title'];  
                                    this.bannermessage5['bannermessage5content'] = response.data[0]['cms_content'];              
                                }else{
                                    document.getElementById('bannermessage5').style.display="none";
                                }

                                    if(this.cmsid=='27'){
                                    document.getElementById('testimonials').style.display="block";
                                    this.testimonials['pagetitle']=response.data[0]['cms_name'];
                                    //this.testimonials['title'] = response.data[0]['title'];  
                                    this.testimonials['testimonialscontent'] = response.data[0]['cms_content'];              
                                }else{
                                    document.getElementById('testimonials').style.display="none";
                                }
                            })
			     .catch(error => {  
            console.log(error);
             if(error == 'Error: Network Error') { 
               localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                  //this.forcedlogout()
                }

            this.$vs.loading.close()
        });
       
   }, 

  submit() { 
     
     // this.$validator.validateAll().then(result => {
        // if(result) {
        //     this.$vs.loading()
            const formData = new FormData();          

            this.files.forEach(file => {
                formData.append('images[]', file, file.name);
            });
            
                  formData.append('cmsid', this.cmsid)
                  formData.append('welcomemessage[]', this.welcomemessage['title'])
                  formData.append('welcomemessage[]', this.welcomemessage['content'])
                  formData.append('aboutus[]', this.aboutus['pagetitle'])
                  formData.append('aboutus[]', this.aboutus['title1'])
                  formData.append('aboutus[]', this.aboutus['fblink1'])
                  formData.append('aboutus[]', this.aboutus['twitterlink1'])
                  formData.append('aboutus[]', this.aboutus['title2'])
                  formData.append('aboutus[]', this.aboutus['fblink2'])
                  formData.append('aboutus[]', this.aboutus['twitterlink2'])
                  formData.append('aboutus[]', this.aboutus['title3'])
                  formData.append('aboutus[]', this.aboutus['fblink3'])
                  formData.append('aboutus[]', this.aboutus['twitterlink3'])
                  formData.append('aboutus[]', this.aboutus['title4'])
                  formData.append('aboutus[]', this.aboutus['fblink4'])
                  formData.append('aboutus[]', this.aboutus['twitterlink4'])
                  formData.append('aboutus[]', this.aboutus['title5'])
                  formData.append('aboutus[]', this.aboutus['fblink5'])
                  formData.append('aboutus[]', this.aboutus['twitterlink5'])
                  formData.append('aboutus[]', this.aboutus['aboutuscontent'])
                  formData.append('howitswork[]', this.howitswork['title'])
                  formData.append('howitswork[]', this.howitswork['content'])
                  formData.append('askexperts[]', this.askexperts['title'])
                  formData.append('askexperts[]', this.askexperts['askexpertscontent'])
                  formData.append('privacypolicy[]', this.privacypolicy['title'])
                  formData.append('privacypolicy[]', this.privacypolicy['privacypolicycontent'])
                  formData.append('businesstipscontent', this.businesstipscontent)
                  formData.append('bannermessage1[]', this.bannermessage1['pagetitle'])
                  formData.append('bannermessage1[]', this.bannermessage1['title1'])
                  formData.append('bannermessage1[]', this.bannermessage1['description1'])
                  formData.append('bannermessage1[]', this.bannermessage1['title2'])
                  formData.append('bannermessage1[]', this.bannermessage1['description2'])
                  formData.append('bannermessage1[]', this.bannermessage1['title3'])
                  formData.append('bannermessage1[]', this.bannermessage1['description3'])
                  formData.append('bannermessage1[]', this.bannermessage1['bannermessage1content'])
                  formData.append('bannermessage2[]', this.bannermessage2['pagetitle'])
                  formData.append('bannermessage2[]', this.bannermessage2['title'])
                  formData.append('bannermessage2[]', this.bannermessage2['bannermessage2content'])
                  formData.append('bannermessage3[]', this.bannermessage3['pagetitle'])
                  formData.append('bannermessage3[]', this.bannermessage3['title'])
                  formData.append('bannermessage3[]', this.bannermessage3['bannermessage3content'])
                  formData.append('bannermessage4[]', this.bannermessage4['pagetitle'])
                  formData.append('bannermessage4[]', this.bannermessage4['title'])
                  formData.append('bannermessage4[]', this.bannermessage4['bannermessage4content'])
                  formData.append('bannermessage5[]', this.bannermessage5['pagetitle'])
                  formData.append('bannermessage5[]', this.bannermessage5['title'])
                  formData.append('bannermessage5[]', this.bannermessage5['bannermessage5content'])
                  formData.append('testimonials[]', this.testimonials['pagetitle'])
                  formData.append('testimonials[]', this.testimonials['title1'])
                  formData.append('testimonials[]', this.testimonials['description1'])
                  formData.append('testimonials[]', this.testimonials['title2'])
                  formData.append('testimonials[]', this.testimonials['description2'])
                  formData.append('testimonials[]', this.testimonials['title3'])
                  formData.append('testimonials[]', this.testimonials['description3'])
                  formData.append('testimonials[]', this.testimonials['title4'])
                  formData.append('testimonials[]', this.testimonials['description4'])
                  formData.append('testimonials[]', this.testimonials['title5'])
                  formData.append('testimonials[]', this.testimonials['description5'])
                  formData.append('testimonials[]', this.testimonials['testimonialscontent'])
                  formData.append('termsandconditions[]', this.termsandconditions['title'])
                  formData.append('termsandconditions[]', this.termsandconditions['termsandconditionscontent'])



            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/contentmanagementsubmit",formData,{ headers: { Authorization: AuthStr } })        
            .then(response => {
               console.log(response);                
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Content Management',
                    text: 'updated successfully',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                 .catch(error => {
                        console.log(error); 
                    });
                
            })
    
        // }
   // })   
    },
   
       
    }

   }
</script>

<style >
.vs-switch {
   width: 112px;
    height:21px;
}
  
</style>
    <style>
    select {
        width: 150px;
        margin: 10px;
    }
    select:focus {
        min-width: 150px;
        width: auto;
    }  
     input[type="file"]{
        opacity: 0;
        width: 100%;
        height: 200px;
        position: absolute;
        cursor: pointer;
    }
    .filezone {
        outline: 2px dashed grey;
        outline-offset: -10px;
        background: #ccc;
        color: dimgray;
        padding: 10px 10px;
        min-height: 200px;
        position: relative;
        cursor: pointer;
    }
    .filezone:hover {
        background: #c0c0c0;
    }
    .filezone p {
        font-size: 1.2em;
        text-align: center;
        padding: 50px 50px 50px 50px;
    }
    .file-listing{
        margin: auto;
        padding: 0 10px 10px;
    }
    .file-listing img{
        height: 190px;
        max-width: 100%;
    }
    .success-container{
        text-align: center;
        color: green;
    }
    .remove-container{
        text-align: center;
    }
    .remove-container a{
        color: red;
        cursor: pointer;
    }
    a.submit-button{
        display: block;
        margin: auto;
        text-align: center;
        width: 200px;
        padding: 10px;
        text-transform: uppercase;
        background-color: #CCC;
        color: white;
        font-weight: bold;
        margin-top: 20px;
    }
    .file-listing {
       display: inline-block;
        vertical-align: top;
        position: relative;
        width: 20%;
    }
    .container.drop {
        position: relative;
    }
    .file-listing .details {
        background: #fff;
        margin-top: 0;
        box-shadow: 0px 3px 7px #e0e0e0;
        font-size: 12px;
        padding: 5px 10px;
        word-break: break-all;
        width: 100%;
        display: block;
    }
     .file-listing img{
         max-width: 100%;
     }
    .file-listing .remove-container{
        position: absolute;
        top: 3px;
        right: 20px;
        
    }
    .file-listing .remove-container a{
        color: #fff;
    }
    .filezone{
       
        display: inline-block;
        background: #7267f0;
        color: #fff;
        outline: 2px dashed #cbc8f2;
    }
	select:focus {
    min-width: 100%;
    
}
    .cms_content {
        padding: .7rem !important;
        width: 100%;
        margin: 0 !important;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
}
    .v-select.w-full.vs--single.vs--searchable {
    margin-top: 22px;
}
</style> 