

<template>
   <!-- Add Plan-->
   <div class="vx-col w-full mb-6">
      <vx-card title="Change Password" code-toggler>
         <form>
            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full"> 
                  <span>Current Password</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" type="password" name="Current Password" id="current_password" v-model="current_password" v-validate="'required'"/>
                  <span class="text-danger">{{ errors.first('Current Password') }}</span>
               </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>New Password</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input type="password" v-validate="'required|min:6|max:15'" ref="password"  name="password" v-model="password" class="w-full" />
                  <span class="text-danger text-sm" v-show="errors.has('password')">{{ errors.first('password') }}</span>
               </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Confirm Password</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input type="password" v-validate="'required|min:6|max:15|confirmed:password'" data-vv-as="password" name="confirm_password" v-model="confirm_password" class="w-full" />
                  <span class="text-danger text-sm" v-show="errors.has('confirm_password')">{{ errors.first('confirm_password') }}</span>
               </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-button type="filled"  @click="changepassword" class="mr-3 mb-2">Submit</vs-button>
				    <vs-button color="warning" type="border" @click.prevent="onCancel"  class="mr-3 mb-2">Cancel</vs-button>
               </div>
            </div>
         </form>
      </vx-card>
   </div>
</template>
<script>
   import config from "@/config.js"
   
   
   export default{  
         data() {
         return { 
              current_password:'',
              password:'',
              confirm_password:'',    }
     },
     methods: { 
		 onCancel(){
			console.log('CANCEL SUBMIT');
			this.show = false;
			this.$router.push({ name: 'home' });
        	},
         changepassword(){
           this.$validator.validateAll().then(result => {
           if(result) {
               this.$vs.loading()
             const formData = new FormData();           
             formData.append('current_password', this.current_password)
             formData.append('password', this.password)  
               const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
               this.$http.post(config.apiUrl +"api/admin/changepassword",formData,{ headers: { Authorization: AuthStr } })
               .then(response => {
   				console.log(response);   
                   this.$vs.loading.close()
                   this.$vs.notify({
                       title: 'Change Password',
                       text: 'Password changed successfully',
                       iconPack: 'feather',
                       icon: 'icon-alert-circle',
                       color: 'success'
                   })
				    this.$router.push({ name: 'home' });
                   //this.$router.push({ path : '/profile/changepassword' });
               })
               .catch(error => {  
   				console.log(error); 
                   this.$vs.loading.close()
                   this.$vs.notify({
                       title: 'Current Password',
                       text: 'Please check current password',
                       iconPack: 'feather',
                       icon: 'icon-alert-circle',
                       color: 'warning'
                   })
               });
   
               
   
           }
       })
               
           }, 
   
        
         
     }
   }
</script>

