<template>
   <!-- Add Plan-->
   <div class="vx-col w-full mb-base">
      <vx-card title="Profile Settings" code-toggler>
         <form>
            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>User Name</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" placeholder="User Name" name="username" id="username" v-model="user_data.name" v-validate="'required'"/>
                  <span class="text-danger">{{ errors.first('username') }}</span>
               </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Admin Mail ID</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" placeholder="Mail" name="mail" id="mail" v-model="user_data.email" v-validate="'required'"/>
                  <span class="text-danger">{{ errors.first('mail') }}</span>
               </div>
            </div> 
			 
			   <div class="vx-row sm:w-2/3 mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Admin Image</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full">
                               <!-- Image Container -->
                                 <div class="img-container w-64 items-center justify-center" v-if="dataImg">
									<!-- {{ dataImg }}-->
                                    <img :src="dataImg" alt="img" class="responsive" style="width:100px;">
                                 </div>

                                 <!-- Image upload Buttons -->
                                 <div class="modify-img flex justify-between mt-5">
                                    <input type="file" class="hidden" ref="updateImgInput" @change="updateCurrImg" accept="image/*">
                                    <vs-button class="mr-4" type="flat" @click="$refs.updateImgInput.click()">Update Image</vs-button>
                                 </div>
                                 
                              </div>
                           </div>
			 
            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-button type="filled"  @click="profileupdate" class="mr-3 mb-2">Submit</vs-button>
               </div>
            </div>
         </form>
      </vx-card>
   </div>
</template>
<script>
   import config from "@/config.js"   
  
   export default{  
         data() {
         return {
               dataImg : [],
               form:[],
               user_data:[],
               username:'',
               email:'',
               
   
       }
     },     
    
   
        created() {
         return this.getprofile();
       },  
     methods: {
		  updateCurrImg(input) {
            if (input.target.files && input.target.files[0]) {
            var reader = new FileReader()
            reader.onload = e => {
               this.dataImg = e.target.result
            }
            reader.readAsDataURL(input.target.files[0])
            }
         },
       getprofile () {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            const cli_id = localStorage.getItem("admin_details");          
            const obj = JSON.parse(cli_id);
             this.$http.get(config.apiUrl +"api/admin/getprofile/" + obj.id,{ headers: { Authorization: AuthStr } })
            .then(response => {                
                console.log(response.data[0]);
				 
                //console.log(obj);

            this.form = obj.email; 
                this.user_data = response.data[0];
				 this.dataImg=response.data[0]['image'];

            })
            .catch(error => {
                if(error.response.data.errors.message == 'Unauthenticated') { 
                  this.forcedlogout() }

            });
        },
        profileupdate(){          
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let admindetails = {
          username: this.user_data.name,          
          email: this.user_data.email,
			  dataImg: this.dataImg,
		  }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          const cli_id = localStorage.getItem("admin_details");          
            const obj = JSON.parse(cli_id);
          this.$http.post(config.apiUrl +"api/admin/updateprofile/" + obj.id,admindetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
			    this.getprofile();
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Admin Profile',
              text: 'Successfully Updated',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            //this.$router.push({ path : '/settings/sitesettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Admin Profile',
              text: 'Fill the Fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Admin Profile',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
     }
       
     
   }
</script>
<style lang="scss">
   #page-user-list {
   .user-list-filters {
   .vs__actions {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-58%);
   }
   }
   }
   .v-select.w-full.vs--single.vs--searchable {
   margin-top: 22px;
   }
   input[type="file"]{
   opacity: 0;
   width: 100%;
   height: 200px;
   position: absolute;
   cursor: pointer;
   }
   .filezone {
   outline: 2px dashed grey;
   outline-offset: -10px;
   background: #ccc;
   color: dimgray;
   padding: 10px 10px;
   min-height: 200px;
   position: relative;
   cursor: pointer;
   }
   .filezone:hover {
   background: #c0c0c0;
   }
   .filezone p {
   font-size: 1.2em;
   text-align: center;
   padding: 50px 50px 50px 50px;
   }
   .file-listing{
   margin: auto;
   padding: 0 10px 10px;
   }
   .file-listing img{
   height: 190px;
   max-width: 100%;
   }
   .success-container{
   text-align: center;
   color: green;
   }
   .remove-container{
   text-align: center;
   }
   .remove-container a{
   color: red;
   cursor: pointer;
   }
   a.submit-button{
   display: block;
   margin: auto;
   text-align: center;
   width: 200px;
   padding: 10px;
   text-transform: uppercase;
   background-color: #CCC;
   color: white;
   font-weight: bold;
   margin-top: 20px;
   }
   .file-listing {
   display: inline-block;
   vertical-align: top;
   position: relative;
   width: 20%;
   }
   .container.drop {
   position: relative;
   }
   .file-listing .details {
   background: #fff;
   margin-top: 0;
   box-shadow: 0px 3px 7px #e0e0e0;
   font-size: 12px;
   padding: 5px 10px;
   word-break: break-all;
   width: 100%;
   display: block;
   }
   .file-listing img{
   max-width: 100%;
   }
   .file-listing .remove-container{
   position: absolute;
   top: 3px;
   right: 20px;
   }
   .file-listing .remove-container a {
   color: #000;
   background: #fff;
   box-shadow: 0px 3px 6px #5a5a5a;
   padding: 2px 8px;
   }
   .filezone{
   width: 100%;
   display: inline-block;
   background: #7267f0;
   color: #fff;
   outline: 2px dashed #cbc8f2;
   }
</style>