<!-- =========================================================================================
    File Name: Login.vue
    Description: Login Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card class="animated_bgfull">
        <div slot="no-body" class="full-page-bg-color">

          <div class="vx-row no-gutter justify-center items-center">

            <div class="vx-col hidden logo_left lg:block lg:w-1/2">
            
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
              <div class="px-8 pt-8 login-tabs-container">

                <div class="vx-card__title mb-4">
                  <h4 class="mb-4"> <p>{{logintitle}}</p></h4>
                  <p>{{loginsubcontent}}</p>
                </div>
                
                    <login-jwt class="mt-20"></login-jwt>

              </div>
            </div>
          </div>
        </div>
      </vx-card>
		<div class="hero"> 
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
      </div>
    </div>
  </div>
</template>


<script>
import config from "@/config.js"
import LoginJwt from "./LoginJWT.vue"

export default {
  components: {
    LoginJwt    
  },
   data() {
        return {
            logintitle:'',
          
        }
    },
        created() {
       return this.fetchData();
    },
    methods: {
        fetchData() {
			this.$http.get(config.apiUrl+"api/admin/logincontent")
               // const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            //this.$http.get(config.apiUrl +"api/admin/logincontent",{ headers: { Authorization: AuthStr } })

    // const AuthStr = 'Bearer '.concat(localStorage.getItem('user_token'));
    // this.$http.get(config.apiUrl +"api/user/logincontent",{ headers: { Authorization: AuthStr } })
    .then(response => {   
  this.logintitle =response.data[0]['logincontent']; 
  this.loginsubcontent =response.data[0]['loginsubcontent']; 
	
            })
              .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
    }
}
</script>

<style lang="scss">
.login-tabs-container {
  min-height: 505px;
	}
  .con-tab {
    padding-bottom: 14px;
  }

  .con-slot-tabs {
    margin-top: 1rem;
  }
	.layout--full-page .full-page-bg-color {
    background-color: #282729;
}
.logo_left {
    background: url(../../../assets/images/cbn-final-login.gif) no-repeat top center/cover;
    padding: 253px 0 !important;
}

</style>
