<template>	
<vx-card
    title="Card Details"
    title-color="primary"
    >
    <div class="vx-row">
     <vs-col vs-offset="2" v-tooltip="'col - 8'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="8">
    <div class="vx-row w-full mb-6 card_details pb-8">
    <div class="vx-col sm:w-1/4 w-full">
    <label>Card Details</label>
    </div>
    <div class="vx-col sm:w-3/4 w-full">
    <vx-card>
        <div class="balance_blk vx-row">
            <label class="vx-col sm:w-1/2 w-full text-black">Amount</label>
            <div class="vx-col bal_rate sm:w-1/2 w-full">
                <vx-tooltip
                    title="Initial value"
                    color="warning" class="mr-5">
                    <vs-button color="success" type="gradient">{{ currency }} {{amount}} </vs-button>
                </vx-tooltip>
                      
            </div>
        </div>
         <div class="balance_blk vx-row">
            <label class="vx-col sm:w-1/2 w-full text-black">Balance</label>
            <div class="vx-col bal_rate sm:w-1/2 w-full">
               
                <vx-tooltip
                    title="Current Balance"
                    color="warning" v-if="balance >'0'">
                    <vs-button color="success" type="gradient">{{ currency }} {{balance}} </vs-button>
                </vx-tooltip>
                <vx-tooltip
                    title="Current Balance"
                    color="warning" v-else>
                    <vs-button color="success" type="gradient">{{ currency }} 0 </vs-button>
                </vx-tooltip>
             
            </div>
        </div>
        <div class="creation_blk vx-row">
            <div class="vx-col sm:w-1/2 w-full text-black">
            <label class="">Code</label>
            <p class="code-no">{{code}}</p>
            </div>
           <div class="vx-col sm:w-1/2 w-full text-black">
            <label class="">Creation date</label>
            <p class="code-no">{{creationdate}}</p>
           </div>
           
        </div>
        <div class="order_blk vx-row">
          
           <div class="vx-col sm:w-1/2 w-full text-black">
            <label class="">Purchased by</label>
            <p class="">This card was issued manually.</p>
           </div>
           <div class="vx-col sm:w-1/2 w-full text-black">
            <label class="">Expiration Date</label>
            <p class="code-no">{{expirydate}}</p>
           </div>
           
        </div>
        <div class="cust_note">
            <vs-textarea class="" v-model="note"  placeholder="Add a note to this gift card..." label="Note (will not be shared with the customer)" />
        </div>
        <vs-button color="success" @click="saveNotes" type="filled">Save Note</vs-button>
    </vx-card>
    </div>
    </div>

   
      </vs-col>
</div>

  <div class="vx-row">
     <vs-col vs-offset="2" v-tooltip="'col - 8'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="8">
 <div class="vx-row w-full mb-6 card_details pb-8">
    <div class="vx-col sm:w-1/4 w-full">
    <label>History</label>
    </div>
    <div class="vx-col sm:w-3/4 w-full">
    <vx-card >
            <label class="vx-col sm:w-2/6 w-full"><i class="vs-icon notranslate icon-scale text-primary icon-alert feather icon-users null"></i></label>
         <div class="vx-col hist sm:w-5/6 w-full" :key="indextr" v-for="(keypur, indextr) in cardpurchaseddetails">
         <p class="hist_cont"> {{ cardpurchaseddetails[indextr].details }}</p>
         <p class="hist_date">{{ cardpurchaseddetails[indextr].created_on }}</p>
         </div>
    </vx-card>
     <vx-card class="mt-4">
          <label class="vx-col sm:w-2/6 w-full"><i class="vs-icon notranslate icon-scale text-primary icon-alert feather icon-star null"></i>   
</label>
         <div class="vx-col hist sm:w-5/6 w-full">
         <p class="hist_cont">You issued a new gift card.</p>
         <p class="hist_date">{{creationdate}}</p>
         </div>
    </vx-card>
    </div>
    </div>
     </vs-col>
</div>

<div class="vx-row">
     <vs-col vs-offset="2" v-tooltip="'col - 8'" vs-type="flex" vs-justify="center" vs-align="center" vs-w="8">
<div class="vx-row w-full mb-6 detail_buttons pb-8">
    <div class="vx-col sm:w-1/2 w-full" v-if="status != 'disabledcard'">
     <vs-button color="warning" type="filled" class="mr-3" @click="disableIndividualGiftcard" >Disable Gift Card</vs-button>
    </div>
    <div class="vx-col sm:w-1/2 w-full">
    
     <vs-button color="dark" type="border" class="mr-3  w-full" @click="resend">Resend Gift Card to Customer</vs-button>
    
    </div>
</div>
 </vs-col>
</div>
 
  
</vx-card>
</template>

<script>
import config from "@/config.js"
export default{  
    data() {
      return {
            code:'',
            creationdate:'',
            note:'',
            expirydate:'',
            balance:'',
            amount:'',
            status:'',
            cardpurchaseddetails:[],
               currency:'', 
          
    }   
  },  
   created() {
      return this.getcarddetails(),this.getcurrencydetails();
    },  
  methods: { 
	  resend(){
		  this.$vs.loading()
		  
             let resenddetails = {
             gift_id:this.$route.params.giftcards_id
             }
             const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
             this.$http.post(config.apiUrl +"api/admin/giftcardresend",resenddetails,{ headers: { Authorization: AuthStr } })
             .then(response => {
               console.log(response);
               this.$vs.loading.close()
               this.$vs.notify({
                 title: 'Resend Successfully',
                 text: 'Successfully Updated',
                 iconPack: 'feather',
                 icon: 'icon-alert-circle',
                 color: 'success'
               })
               
             })
             .catch(error => {
               console.log(error);
               this.$vs.loading.close()
               this.$vs.notify({
                 title: 'Cannot send mail',
                 text: 'Please check values',
                 iconPack: 'feather',
                 icon: 'icon-alert-circle',
                 color: 'warning'
               })
             });
	  },
        getcurrencydetails(){

      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcurrency",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.currency = response.data;                                       
            })
           .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });

    },
        disableIndividualGiftcard(){

            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/giftcards/individualgiftcard/"+this.$route.params.giftcards_id,{ headers: { Authorization: AuthStr } }) 
            .then(response => {
                response.data;
                this.$router.push({ path : '/giftcards/view' });
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Gift cards',
                    text: 'Gift cards disabled successfully',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })
            })
        },
        saveNotes(){

            let notedetails = {
              note: this.note,            
            }
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/giftcards/savenotes/"+this.$route.params.giftcards_id,notedetails,{ headers: { Authorization: AuthStr } }) 
            .then(response => {
                response.data;
                this.$router.push({ path : '/giftcards/view' });
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Gift cards',
                    text: 'Gift cards notes updated successfully',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })
            })

        },   
        getcarddetails(){
        this.$vs.loading()
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/giftcards/get/"+this.$route.params.giftcards_id,{ headers: { Authorization: AuthStr } })
        .then(response => {     
        
           if(response.data[0]['neverexpires']=='yes')
           {
              this.expirydate ='Never';  
           }else{
               this.expirydate =response.data[0]['expirydate'];
           }
            this.code = response.data[0]['code'];
            this.creationdate = response.data[0]['created_on'];
            this.note = response.data[0]['note'];
            this.balance = response.data[0]['balance'];
            this.amount = response.data[0]['amount'];
            this.status = response.data[0]['status'];     
            this.cardpurchaseddetails=response.data;
           this.$vs.loading.close()             
            
        })
        .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
    },

  }
  
}
</script>

<style>
.balance_blk .con-vs-tooltip {
    display: inline-block;
    vertical-align: middle;
}
.balance_blk label {
    vertical-align: middle;
}
.creation_blk {
    padding: 30px 0;
    border-top: 1px solid #ddd;
}
.order_blk {
    padding: 30px 0;
    border-top: 1px solid #ddd;
}
.cust_note{
    padding: 30px 0;
    border-top: 1px solid #ddd;
}
.balance_blk {
    padding: 10px 0 30px;
}
.cust_note > .vs-con-textarea {
    border: 1px solid #ddd !important;
}
.card_details{
    border-bottom: 1px solid #ddd;
}
.card_details .hist {
    padding-left: 15px;
}
.code-no {
    word-break: break-all;
}
</style>