<template>	

<vx-card title="Gift Cards">
    <div class="demo-alignment">


<vs-row class="m-0">
 <vs-col vs-offset="8" vs-type="flex" vs-justify="center" vs-align="center" vs-w="10">
    <vs-button @click="popupActive2=true" class="top_buttons w-full" color="primary" type="filled">Issue Gift Card</vs-button>
     <vs-button @click="disableGiftCards"  color="primary" type="filled" class="top_buttons w-full">Disable Selected Gift Cards</vs-button>
  </vs-col>
</vs-row>
    <vs-popup classContent="popup-example" title="Issue Gift Card" :active.sync="popupActive2">
    <div class="vx-row mb-6">
    <div class="vx-col w-full">
      <vs-input class="w-full" label="Code"   :value="codepath"  readonly/>
    </div>
    </div>
    <input type="hidden" v-model="Code" vs-value="val1">
 <div class="vx-row mb-6">
  <div class="vx-col w-full radio_blk">
  <label class="vs-input--label">Initial value</label>
  <ul class="centerx mt-2">
  <li>
    <vs-radio v-model="giftcardinitialvalue" vs-value="10" >$10.00</vs-radio>
  </li>
  <li>
    <vs-radio v-model="giftcardinitialvalue" vs-value="25"  >$25.00</vs-radio>
  </li>
  <li>
    <vs-radio v-model="giftcardinitialvalue" vs-value="50"   >$50.00</vs-radio>
  </li>
  <li>
    <vs-radio v-model="giftcardinitialvalue" vs-value="100"   >$100.00</vs-radio>
  </li>
  <li>
    <vs-radio v-model="giftcardinitialvalue" vs-value="val5" >other</vs-radio>
  </li>
</ul>
</div>
</div>
    <div class="vx-row mb-6">
    <div class="vx-col w-full" v-show="giftcardinitialvalue === 'val5'">
      <vs-input class="w-full" label="Enter Amount" name="Amount" v-model="amount" min="1"  v-validate="'required|numeric'" /> 
      <span class="text-danger">{{ errors.first('Amount') }}</span>
    </div>
    </div>
    <div class="vx-row mb-6">
    <div class="vx-col w-full">

        <v-select class="inputx sm:w-3/3" v-validate="'required'" name="Customer" v-model="members_id" :options="optionmembers_id" :dir="$vs.rtl ? 'rtl' : 'ltr'" ></v-select> 
                <span class="text-danger">{{ errors.first('Customer') }}</span>
     </div>
    </div>
    <div class="vx-row mb-6">
    <div class="vx-col sm:w-1/2 w-full"  v-show="neverexpires === false">
    <label class="vs-input--label">Expires on</label>
    <datepicker placeholder="Select a Date" v-model="expirydate" format="yyyy-MM-dd" ></datepicker>
    </div>
    <div class="vx-col sm:w-1/2 w-full"  v-show="neverexpires === true">
    <label class="vs-input--label">Expires on</label>
   
    </div>

     <div class="vx-col sm:w-1/2 w-full mt-5">
     <vs-checkbox v-model="neverexpires">Never Expires</vs-checkbox>
     </div>
    </div>

     
    <div class="vx-row mb-6">
    <div class="vx-col w-full">
              <vs-textarea v-model="note" placeholder="Why was this card issued?" label="Note (will not be shared with the customer)" />
    </div>
    </div>
   
    

      <!-- <vs-input class="inputx mb-3" placeholder="Code" v-model="value1" />
      <vs-input disabled class="inputx mb-3" placeholder="Disabled" v-model="value2" /> -->
       
      <vs-button color="primary" type="filled" @click="insertgiftcard" >Issue Gift Card</vs-button>
    </vs-popup>



    <vs-popup class="holamundo showcodee" title="Issue gift card" :active.sync="popupActivo5" >
    <div class="issue-gift-card-success">
      <div class="gift-card-success-icon">
      <label><i class="vs-icon notranslate icon-scale text-primary icon-alert feather icon-check null"></i></label>
    </div>
    <div class="gift_contents"><span v-if="giftcardinitialvalue =='val5'"  > {{currency}}{{amount}} gift card successfully issued </span><span v-if="giftcardinitialvalue !='val5'"  > {{currency}}{{giftcardinitialvalue}} gift card successfully issued </span><br>

      <input type="text"  class="card_code" v-model="giftcardcodesuc">
      </div>
<!-- <div class="pop_footer">
      <p> Once you close this window, you won’t be able to see this code again.</p>
</div> -->
</div>
 <vs-button class="ml-4 mb-3" color="danger" type="filled" @click="closestep2carddetails" >Close</vs-button>
    </vs-popup>
  

  </div>
<vs-tabs>
  <vs-tab label="All" @click="setSelectedTabs('1')" >
    <div class="tab-text mt-3">
   <vs-table multiple v-model="selectedallgiftcard" pagination max-items="10" search :data="allgiftcard">
   
    <template slot="thead">
      <vs-th sort-key="code">Code</vs-th>
      <vs-th sort-key="members_username">Customer</vs-th>
      <vs-th sort-key="expirydate">Expires</vs-th>
      <vs-th sort-key="amount">Initial value</vs-th>
      <vs-th sort-key="balance">Balance</vs-th>
      <vs-th sort-key="action">Action</vs-th>
    </template>
    <template slot-scope="{data}">
      <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

        <vs-td :data="data[indextr].code">
          {{ data[indextr].code }}  <vs-chip class="dissabledd" v-if="data[indextr].status =='disabledcard'">Disabled</vs-chip> 
        </vs-td>

        <vs-td :data="data[indextr].members_username">
          {{ data[indextr].members_username }}
        </vs-td>

        <vs-td :data="data[indextr].expirydate" v-if="data[indextr].neverexpires =='yes'">
         -

        </vs-td>
         <vs-td :data="data[indextr].expirydate" v-if="data[indextr].neverexpires
          =='no'">
         {{ data[indextr].expirydate }}
        </vs-td>
        <vs-td :data="data[indextr].amount">
          {{currency}}{{ data[indextr].amount }}
        </vs-td>
         <vs-td :data="data[indextr].balance">
         {{currency}}{{ data[indextr].balance }}
        </vs-td>
        <vs-td :data="data[indextr].action">
           <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editGiftcards(data[indextr].giftcards_id)" />

        </vs-td>
      </vs-tr>

     

    </template>
  </vs-table>


    </div>
  </vs-tab>
  <vs-tab label="New" @click="setSelectedTabs('2')">
    <div class="tab-text mt-3">
       <vs-table multiple v-model="selectednewgiftcards" pagination max-items="10" search :data="alllatestgiftcard">
    <template slot="thead">
      <vs-th sort-key="email">Code</vs-th>
      <vs-th sort-key="username">Customer</vs-th>
      <vs-th sort-key="website">Expires</vs-th>
      <vs-th sort-key="id">Initial value</vs-th>
      <vs-th sort-key="id">Balance</vs-th>
    </template>
    <template slot-scope="{data}">
      <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

        <vs-td :data="data[indextr].code">
          {{ data[indextr].code }}
        </vs-td>

        <vs-td :data="data[indextr].members_username">
          {{ data[indextr].members_username }}
        </vs-td>

        <vs-td :data="data[indextr].expirydate">
          {{ data[indextr].expirydate }}
        </vs-td>

        <vs-td :data="data[indextr].amount">
          {{currency}}{{ data[indextr].amount }}
        </vs-td>
         <vs-td :data="data[indextr].balance">
          {{currency}}{{ data[indextr].balance }}
        </vs-td>
        <vs-td :data="data[indextr].action">
           <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editGiftcards(data[indextr].giftcards_id)" />

        </vs-td>
      </vs-tr>
    </template>
  </vs-table>
    </div>
  </vs-tab>
  <vs-tab label="Partially Used" @click="setSelectedTabs('3')">
    <div class="tab-text mt-3">
     <vs-table multiple v-model="selectedpartiallyused" pagination max-items="10" search :data="allpartiallygiftcard">
    <template slot="thead">
      <vs-th sort-key="email">Code</vs-th>
      <vs-th sort-key="username">Customer</vs-th>
      <vs-th sort-key="website">Expires</vs-th>
      <vs-th sort-key="id">Initial value</vs-th>
      <vs-th sort-key="id">Balance</vs-th>
    </template>
    <template slot-scope="{data}">
      <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

        <vs-td :data="data[indextr].code">
          {{ data[indextr].code }}
        </vs-td>

        <vs-td :data="data[indextr].members_username">
          {{ data[indextr].members_username }}
        </vs-td>

        <vs-td :data="data[indextr].expirydate">
          {{ data[indextr].expirydate }}
        </vs-td>

        <vs-td :data="data[indextr].amount">
          {{currency}}{{ data[indextr].amount }}
        </vs-td>
         <vs-td :data="data[indextr].balance">
          {{currency}}{{ data[indextr].balance }}
        </vs-td>
        <vs-td :data="data[indextr].action">
           <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editGiftcards(data[indextr].giftcards_id)" />

        </vs-td>
      </vs-tr>
    </template>
  </vs-table>
    </div>
  </vs-tab>
   <vs-tab label="Used" @click="setSelectedTabs('4')">
    <div class="tab-text mt-3">
       <vs-table multiple v-model="selectedusedgiftcards" pagination max-items="10" search :data="allusedgiftcard">
    <template slot="thead">
      <vs-th sort-key="email">Code</vs-th>
      <vs-th sort-key="username">Customer</vs-th>
      <vs-th sort-key="website">Expires</vs-th>
      <vs-th sort-key="id">Initial value</vs-th>
      <vs-th sort-key="id">Balance</vs-th>
    </template>
    <template slot-scope="{data}">
      <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

        <vs-td :data="data[indextr].code">
          {{ data[indextr].code }}
        </vs-td>

        <vs-td :data="data[indextr].members_username">
          {{ data[indextr].members_username }}
        </vs-td>

        <vs-td :data="data[indextr].expirydate">
          {{ data[indextr].expirydate }}
        </vs-td>

        <vs-td :data="data[indextr].amount">
         {{currency}}{{ data[indextr].amount }}
        </vs-td>
         <vs-td :data="data[indextr].balance">
          {{currency}}{{ data[indextr].balance }}
        </vs-td>
        <vs-td :data="data[indextr].action">
           <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editGiftcards(data[indextr].giftcards_id)" />

        </vs-td>
      </vs-tr>
    </template>
  </vs-table>
    </div>
  </vs-tab>
  
<input type="hidden" v-model="selectedtabs">

    <vs-tab label="Disabled" >
    <div class="tab-text mt-3">
     <vs-table multiple v-model="selecteddisabledcards" pagination max-items="10" search :data="alldisabledgiftcard">
    <template slot="thead">
      <vs-th sort-key="email">Code</vs-th>
      <vs-th sort-key="username">Customer</vs-th>
      <vs-th sort-key="website">Expires</vs-th>
      <vs-th sort-key="id">Initial value</vs-th>
      <vs-th sort-key="id">Balance</vs-th>
      <vs-th sort-key="id">Action</vs-th>
    </template>
    <template slot-scope="{data}">
      <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

        <vs-td :data="data[indextr].code">
          {{ data[indextr].code }}
        </vs-td>

        <vs-td :data="data[indextr].members_username">
          {{ data[indextr].members_username }}
        </vs-td>

        <vs-td :data="data[indextr].expirydate">
          {{ data[indextr].expirydate }}
        </vs-td>

        <vs-td :data="data[indextr].amount">
           {{currency}}{{ data[indextr].amount }}
        </vs-td>
         <vs-td :data="data[indextr].balance">
           {{currency}}{{ data[indextr].balance }}
        </vs-td>
         <vs-td class="whitespace-no-wrap">
              <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editGiftcards(data[indextr].giftcards_id)" />
        </vs-td>
      </vs-tr>
    </template>
  </vs-table>
    </div>
  </vs-tab>
</vs-tabs>     
</vx-card>

</template>

<script>
import config from "@/config.js"
import Datepicker from 'vuejs-datepicker';
import vSelect from 'vue-select'
export default {
  
  data() {
    return {
      selectedallgiftcard: [],
      allgiftcard: [],
      allusedgiftcard:[],
      alllatestgiftcard:[],
      allpartiallygiftcard:[],
      alldisabledgiftcard:[],
      popupActive2: false,
      giftcardinitialvalue:'10',
      neverexpires: true,
      note: '',
      expirydate: null,
      code:'',
      members_id:'',
      optionmembers_id: [],
      isMounted: false,
      amount:'1' , 
      codepath: null,
      showAmount:false,
      Code:'',
      popupActivo5:false,
      giftcardcodesuc:'',
      giftcardcodesucamount:'',
      giftcarddetails:[],  
      selected:[],
      selectedtabs:'',
      selectednewgiftcards: [],
      selectedpartiallyused: [],
      selectedusedgiftcards: [],
      selecteddisabledcards: [],

      
    }
  },
  
  methods: {
	    fetchcurrency()
        {
             const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcurrency",{ headers: { Authorization: AuthStr } })

            .then(response => {  
                 
                this.currency=response.data;

            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },

    closestep2carddetails(){
       this.popupActivo5 = false;

       let text = " "
      let chars = "ABCDEFGHITYUHJKLZXVBNMabcdefghijklmnopqrstuvwxyz1234560789"
      for( let i=0; i < 30; i++ ) {
				text += chars.charAt(Math.floor(Math.random() * chars.length))
         }

this.codepath=text;
    this.code=text;         

                this.fetchData();
                this.$router.push({ path : '/giftcards/view' });
    },
   setSelectedTabs(id){
     this.selectedtabs=id;
   }, 
  editGiftcards(giftcards_id){

      this.$router.push({ path : '/giftcards/details/'+giftcards_id });

  },  
  insertgiftcard(){
  this.$validator.validateAll().then(result => {
        if(result) {
           this.$vs.loading()
           const formData = new FormData();       
           formData.append('amount', this.amount) 
           formData.append('code', this.codepath)
           formData.append('giftcardinitialvalue', this.giftcardinitialvalue)
           formData.append('members_id', this.members_id['id'])
           formData.append('expirydate', this.expirydate)
           formData.append('note', this.note)
           formData.append('neverexpires', this.neverexpires)
           const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/giftcards/insert",formData,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Gift cards',
                    text: 'Gift cards added successfully',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                 this.popupActive2 = false;
                 this.giftcardcodesuc=this.codepath;
                 if(this.giftcardinitialvalue=='val5'){
                   this.giftcardcodesucamount=this.amount;
                 }else{
                   this.giftcardcodesucamount=this.giftcardinitialvalue;
                 }
                 
                this.popupActivo5 = true;

                this.fetchData();
                this.$router.push({ path : '/giftcards/view' });
            })
            .catch(error => {
                  this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Gift cards',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            });

        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Gift cards',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
    }) 

    },
    fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getgiftcards",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.allgiftcard = response.data.all;
                this.alllatestgiftcard = response.data.latest;
                this.allpartiallygiftcard=response.data.allpartiallygiftcard;
                this.allusedgiftcard=response.data.allusedgiftcard;
                this.alldisabledgiftcard=response.data.alldisabledgiftcard;

                this.$vs.loading.close()
            })
		.catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },

        getmemberslist(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getmemberslist",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.optionmembers_id = response.data;                                       
            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        }, 

        disableGiftCards(){

          if(this.selectedallgiftcard.length>0){

            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Do you want to disable card',
                accept: this.acceptAlert,
            })
          }
         
        },
        acceptAlert() {

            let arr = [];

            if(this.selectedtabs=='1'){
              this.selectedallgiftcard.forEach((value, index) => {
                  arr.push(value.code);               
              });
            } 

            if(this.selectedtabs=='2'){
              this.selectednewgiftcards.forEach((value, index) => {
                  arr.push(value.code);               
              });
            } 
            if(this.selectedtabs=='3'){
              this.selectedpartiallyused.forEach((value, index) => {
                  arr.push(value.code);               
              });
            } 
             if(this.selectedtabs=='3'){
              this.selectedusedgiftcards.forEach((value, index) => {
                  arr.push(value.code);               
              });
            } 



            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/giftcards/disable/"+this.selectedallgiftcard.length,arr,{ headers: { Authorization: AuthStr } }) 
            .then(response => {
                response.data;
                this.fetchData();
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Gift cards',
                    text: 'Gift cards disabled successfully',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })
            })
        },

  },
  created() {

      let text = " "
      let chars = "ABCDEFGHITYUHJKLZXVBNMabcdefghijklmnopqrstuvwxyz1234560789"
      for( let i=0; i < 30; i++ ) {
				text += chars.charAt(Math.floor(Math.random() * chars.length))
         }

    this.codepath = text;
    return this.fetchData(),this.getmemberslist(),this.fetchcurrency();
  },
  mounted() {
    this.isMounted = true;
  },
  components: {
    'v-select': vSelect,Datepicker
  }
}
</script>

<style>
.demo-alignment button {
    width: 100%;
}
.radio_blk ul li {
    display: inline-block;
    margin-right: 12px;
}
.vs-popup .vs-con-input{
    padding-top: 0.5rem;
}
.pop_footer {
    border-top: 1px solid #ccc;
    padding: 15px 20px;
}
.pop_footer p{
  text-align: center;
}
.holamundo .vs-popup--content{
  padding: 0;
}
.gift_contents {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.gift_contents input.card_code {
    margin-top: 20px;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    color: #5e5e5e;
    width: 420px;
    text-align: center;
}
.gift_contents span {
    font-size: 20px;
    color: #5e5e5e;
}
.gift_contents .card_det {
    border: none;
    width: 55px;
    font-size: 20px;
    color: #5e5e5e;
}
.gift-card-success-icon .icon-alert {
    position: inherit;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: 1px solid rgba(var(--vs-primary),1)!important;
    width: 66px;
    height: 66px;
    border-radius: 100%;
    font-size: 40px;
}
.issue-gift-card-success {
    padding: 40px 0;
}
.top_buttons {
    width: 100%;
    padding: 12px 0 !important;
    margin-right: 10px;
}
.top_buttons.vs-button-primary.vs-button-filled {
    background: rgba(var(--vs-primary),1)!important;
}
.vuesax-app-is-ltr .con-vs-chip.dissabledd {
    float: right;
}
.showcodee .vs-popup--close {
    display: none;
}
	
[dir] .top_buttons.vs-button-primary.vs-button-filled {
background: #ffc400 !important;
}
	
</style>                    