<template>
<div>

<div class="vx-row">
<div class="vx-col sm:w-1/3 mb-base w-full mt-10">
<div class="vx-card">
<div class="vx-card__collapsible-content vs-con-loading__container ">
<div class="vx-card__body">
<div class="feature feature-1">
    <div class="feature-decorated"></div>
    <div class="feature-icon">
        <feather-icon icon="ClockIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"/>
    </div>
    <div class="feature-cont pb-4">
        <div class="feature-title">{{ pendingtickets }}</div>
        <div class="feature-text">Pending Tickets</div>
    </div>
</div>

<div class="feature feature-1">
    <div class="feature-decorated"></div>
    <div class="feature-icon">
        <feather-icon icon="RefreshCwIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"/>
    </div>
    <div class="feature-cont pb-4">
        <div class="feature-title">{{ recenttickets }}</div>
        <div class="feature-text">Recently Updated</div>
    </div>
</div>

<div class="feature feature-1">
    <div class="feature-decorated"></div>
    <div class="feature-icon">
        <feather-icon icon="ArchiveIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"/>
    </div>
    <div class="feature-cont">
        <div class="feature-title">{{ newtickets }}</div>
        <div class="feature-text">New Tickets</div>
    </div>
</div>
</div>
</div>
</div>
</div>

<div class="vx-col sm:w-2/3 mb-base w-full mt-10">
<div class="vx-card">
<div class="vx-card__collapsible-content vs-con-loading__container ">
<div class="vx-card__body">
        <vs-table pagination :max-items="4" search :data="showticketslist">

   <template slot-scope="{data}">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

            <vs-td>
              <div class="">
                            <div class="ticket_blk">
                             <div class="comment-img"  v-if="data[indextr].memimage !== null">
                                 <img :src="data[indextr].memimage" alt="userimage"> 
                                    
                            </div>
                            <div class="comment-img"  v-if="data[indextr].memimage == null">                              
                                    <svg  xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            </div>     
                            <span class="ticket-cont">
                                <span class="ticket-name">
                                    {{data[indextr].members_username}}
                                </span>
                                <span class="ticket-title h5" @click.stop="viewTicketsDetails(data[indextr].tickets_id)">
                                   {{data[indextr].tickets_subject}}
                                </span>
                                <ul class="ticket-info">
                                    <li>Created: {{data[indextr].date}}</li>
                                    <li>Category: {{data[indextr].categories_name}}</li>

                                    <li class="ticket-new bg-primary text-white" v-if="data[indextr].status == -1">New</li>
                                        <li class="ticket-new bg-dark text-white" v-if="data[indextr].status == 0">Open</li>
                                    <li class="ticket-new bg-warning text-white" v-if="data[indextr].status == 1">Closed</li>
                                    <li class="ticket-new bg-danger text-white" v-if="data[indextr].status == 2">Pending</li>

                                   </ul>
                            </span>

                            <span class="ticket-status" v-if="data[indextr].status != 1">
                            </span>

                              <span class="ticket-status closed" v-if="data[indextr].status == 1">
                            </span>

                            </div>
                        </div>
                    
            </vs-td>

          </vs-tr>
        </tbody>
      </template>
            
            </vs-table> 
            </div>
</div>
</div>
</div></div>
       

</div>
    </template>

    <style type="text/scss">
    .ticket_blk {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 30px;
            margin-bottom: 20px;
        }
        .comment-img {
            width: 80px;
            min-width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 3px;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .comment-img img{
            width: 100%;
            height: 100%;
            font-family: "object-fit: cover";
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 3px;
        }
        .ticket-cont {
    margin-left: 30px;
}
.ticket-name {
    display: block;
    margin-top: -6px;
    font-weight: 600;
    color: #7a7a7a;
}
.ticket-title.h5 {
    display: block;
    margin-bottom: 0;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    margin-top: 9px;
}
.ticket-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 10px 0 -6px;
    font-size: .875rem;
    color: #7a7a7a;
}
.ticket-info li {
    display: inline-block;
    padding-top: 4px;
    margin-right: 30px;
    list-style: none;
}

.ticket-status::before {
    background-color: #7b71df;
    content: "";
    width: 5px;
    min-width: 5px;
    height: 5px;
    margin-top: -2px;
    margin-right: 10px;
    border-radius: 5px;
}
.ticket-status::after {
    content: "Open";
    color: #7b71df;
    font-family: "Maven Pro",sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.ticket-status.closed::after {
    content: "Closed";
    color: #999;
}
.ticket-status {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 30px;
    right: 30px;
    margin-left: 30px;
}    
.vx-card__body h2 {
    font-size: 2.5rem;
    font-weight: 500;
}
.feature-title {
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
}
.feature-icon {
    display: flex;
}
.feature {
    display: flex;
    margin-bottom: 10px;
}
.feature-cont {
    margin-left: 30px;
}
.feature-icon svg {
    width: 50px !important;
    height: 2rem !important;
    color: #7b71df;
}
.ticket_blk .ticket-title.h5 {
    font-size: 18px;
    text-transform: capitalize;
}
.ticket_blk:hover .ticket-title.h5 {
    color: #7b71df;
}
.tr-values.vs-table--tr.tr-table-state-null:nth-child(2n+1) {
    background: #fff;
    border-bottom: 1px solid #ececec;
}
.ticket-info .ticket-new {
    padding: 5px 10px 6px;
    border-radius: 4px;
}
.sub_tick {
    position: absolute;
    top: 35px;
}
.ticket_listt{
    position: relative;
}
.comment-img {
    background: #cbcbcb;
    padding: 0;
    border-radius: 4px !important;
}
    </style>

      <script>
        import config from "@/config.js"
        export default {
        data() {
            return {
                showticketslist: [],
                pendingtickets:'',
                recenttickets:'',
                newtickets:'',
            }
        },
        created() {
            return this.fetchData();
        },
        methods: {

            viewTicketsDetails(id){
                this.$router.push({ path : '/tickets/details/'+id });
            },
            fetchData() {            
                
                this.$vs.loading()
                const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                this.$http.get(config.apiUrl +"api/admin/viewticketlist",{ headers: { Authorization: AuthStr } })
                .then(response => {
                    this.showticketslist = response.data['tickets'];
                    this.pendingtickets=response.data['pending'];
                    this.recenttickets=response.data['recent'];
                    this.newtickets=response.data['new'];

                    this.$vs.loading.close()
                })
            },

            
        }   
        }
</script>


    

