<template>
<div>
    <vx-card title="Account" class="">

<div class="vx-row user-details">

          <!-- Avatar Col -->
          <div class="vx-col" >
            <div class="img-container user_icon mb-4">
               <svg  xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
            </div>
          </div>

          <!-- Information - Col 1 -->
          <div class="vx-col flex-1">
            <table>
              <tr>
                <td class="font-semibold">User ID</td>
                <td>{{view_members_id}}</td>
              </tr>
              <tr>
                <td class="font-semibold">User Name</td>
                <td>{{view_members_username}}</td>
              </tr>
              <tr>
                <td class="font-semibold">Ticket No</td>
                <td>{{view_ticket_number}}</td>
              </tr>
            </table>
          </div>
          <!-- /Information - Col 1 -->

          <!-- Information - Col 2 -->
          <div class="vx-col flex-1">
            <table>
              <tr>
                <td class="font-semibold">Subject</td>
                <td>{{view_tickets_subject}}</td>
              </tr>
              <tr>
                <td class="font-semibold">Category</td>
                <td>{{view_categories_name}}</td>
              </tr>
             
            </table>
          </div>
          <!-- /Information - Col 2 -->
         
        </div>
    </vx-card>

 <div class="vx-row">
           <div class="vx-col w-full mt-10">
            <div class="vx-card">
                    <div class="vx-card__collapsible-content vs-con-loading__container ">
                        <div class="vx-card__body p-0">
                            <div class="chat1">
                                <div class="chat_head">
                                <h2>{{view_tickets_subject}}</h2>

                                <span class="ticket-status" v-if="view_ticket_status != 'Closed'">
                            </span>

                              <span class="ticket-status closed" v-if="view_ticket_status == 'Closed'">
                            </span>

                                </div>
                                <div class="ticket_cont">
                                    <ul>
                                        <li><h6>Ticket ID</h6><p>#{{view_ticket_number}}</p></li>
                                        <li><h6>Status</h6><p>{{view_ticket_status}}</p></li>
                                        <li><h6>Date</h6><p>{{view_ticket_date}}</p></li>
                                    </ul>
                                </div>
                                <div class="ticket_comment sm:w-2/3" v-for="(item, index) in replieddetails" :key="index">
                                    <div>
                                <div class="comment-img vx-col sm:w-1/6 w-full" v-if="replieddetails[index].memimage !== null && replieddetails[index].ticket_type==1">
                                    <img :src="replieddetails[index].memimage" alt="users">
                                </div>
                                <div class="comment-img vx-col sm:w-1/6 w-full" v-if="replieddetails[index].ticket_type==2">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path style="fill:#D2E4FF;" d="M266.07,511.798L266.07,511.798C124.796,517.359,5.763,407.343,0.202,266.07v-0.001C-5.359,124.796,104.657,5.763,245.93,0.202h0.001C387.204-5.359,506.237,104.657,511.798,245.93v0.001C517.359,387.204,407.343,506.237,266.07,511.798z"/><path style="fill:#B6D7FF;" d="M511.798,245.931L511.798,245.931c-3.61-91.701-55.039-170.217-129.317-212.518c36.292,42.26,59.119,96.602,61.48,156.587l0,0c5.561,141.273-104.455,260.306-245.728,265.867l0,0c-49.572,1.951-96.396-10.344-136.55-33.211c49.182,57.268,123.099,92.341,204.387,89.141l0,0C407.343,506.237,517.359,387.204,511.798,245.931z"/><circle style="fill:#175BE7;" cx="255.65" cy="181.41" r="59.52"/><path style="fill:#6CA5FF;" d="M376.305,389H129.612c-4.403,0-7.612-3.43-7.612-7.833v-38.38C122,303.524,153.468,272,192.731,272h120.456C352.449,272,384,303.524,384,342.787v38.38C384,385.57,380.709,389,376.305,389z"/><g><rect x="169" y="345" style="fill:#175BE7;" width="17" height="44"/><rect x="320" y="345" style="fill:#175BE7;" width="16" height="44"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                </div>
                                <div class="comment-img user_commentimg vx-col sm:w-1/6 w-full" v-if="replieddetails[index].memimage == null && replieddetails[index].ticket_type==1">
                                    <svg  xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>

                                </div>    
                                
                                <div class="comment-cont vx-col sm:w-5/6 w-full">
                                    <p class="comment-name" v-if='replieddetails[index].ticket_type==1 ' >
                                        {{replieddetails[index].members_username}} <span  v-if='replieddetails[index].ticket_type==1 && replieddetails[index].list_value==0'>replied</span></p>
                                   
                                    <p class="comment-name" v-if='replieddetails[index].ticket_type==2'>Admin <span>replied</span></p>

                                   
                                    <div class="comment-date">{{replieddetails[index].date}}</div>
                                    <div class="comment-text">
                                        <p class="mb-0"> <vs-textarea rows="7" v-model="repliedmessage" :placeholder="replieddetails[index].tickets_description" disabled/></p>
                                    </div>
                                    <p class="comment-file comment-file-jpg" v-if="replieddetails[index].tickets_attachment !== ''">
                                             <span class="comment-file-img" v-if="replieddetails[index].tickets_attachment !== null && replieddetails[index].tickets_attachment_size !=='pdf'">
                                                <img :src="replieddetails[index].tickets_attachment" alt="userimage"  style="width: 50px;">                                                 
                                        </span>
                                         <span class="comment-file-img" v-if="replieddetails[index].tickets_attachment == null ">
                                             <svg  xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                
                                        </span>
                                        <span class="comment-file-img" v-if="replieddetails[index].tickets_attachment_size =='pdf'">
                                             <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="550.801px" height="550.801px" viewBox="0 0 550.801 550.801" style="enable-background:new 0 0 550.801 550.801;" xml:space="preserve"><g><g><path d="M267.342,414.698c-6.613,0-10.884,0.585-13.413,1.165v85.72c2.534,0.586,6.616,0.586,10.304,0.586c26.818,0.189,44.315-14.576,44.315-45.874C308.738,429.079,292.803,414.698,267.342,414.698z"/><path d="M152.837,414.313c-6.022,0-10.104,0.58-12.248,1.16v38.686c2.531,0.58,5.643,0.78,9.903,0.78c15.757,0,25.471-7.973,25.471-21.384C175.964,421.506,167.601,414.313,152.837,414.313z"/><path d="M475.095,131.992c-0.032-2.526-0.833-5.021-2.568-6.993L366.324,3.694c-0.021-0.034-0.062-0.045-0.084-0.076c-0.633-0.707-1.36-1.29-2.141-1.804c-0.232-0.15-0.475-0.285-0.718-0.422c-0.675-0.366-1.382-0.67-2.13-0.892c-0.19-0.058-0.38-0.14-0.58-0.192C359.87,0.114,359.037,0,358.203,0H97.2C85.292,0,75.6,9.693,75.6,21.601v507.6c0,11.913,9.692,21.601,21.6,21.601H453.6c11.908,0,21.601-9.688,21.601-21.601V133.202C475.2,132.796,475.137,132.398,475.095,131.992z M193.261,463.873c-10.104,9.523-25.072,13.806-42.569,13.806c-3.882,0-7.391-0.2-10.102-0.58v46.839h-29.35V394.675c9.131-1.55,21.967-2.721,40.047-2.721c18.267,0,31.292,3.501,40.036,10.494c8.363,6.612,13.985,17.497,13.985,30.322C205.308,445.605,201.042,456.49,193.261,463.873z M318.252,508.392c-13.785,11.464-34.778,16.906-60.428,16.906c-15.359,0-26.238-0.97-33.637-1.94V394.675c10.887-1.74,25.083-2.721,40.046-2.721c24.867,0,41.004,4.472,53.645,13.995c13.61,10.109,22.164,26.241,22.164,49.37C340.031,480.4,330.897,497.697,318.252,508.392z M439.572,417.225h-50.351v29.932h47.039v24.11h-47.039v52.671H359.49V392.935h80.082V417.225z M97.2,366.752V21.601h250.203v110.515c0,5.961,4.831,10.8,10.8,10.8H453.6l0.011,223.836H97.2z"/><path d="M386.205,232.135c-0.633-0.059-15.852-1.448-39.213-1.448c-7.319,0-14.691,0.143-21.969,0.417c-46.133-34.62-83.919-69.267-104.148-88.684c0.369-2.138,0.623-3.828,0.741-5.126c2.668-28.165-0.298-47.179-8.786-56.515c-5.558-6.101-13.721-8.131-22.233-5.806c-5.286,1.385-15.071,6.513-18.204,16.952c-3.459,11.536,2.101,25.537,16.708,41.773c0.232,0.246,5.189,5.44,14.196,14.241c-5.854,27.913-21.178,88.148-28.613,117.073c-17.463,9.331-32.013,20.571-43.277,33.465l-0.738,0.844l-0.477,1.013c-1.16,2.437-6.705,15.087-2.542,25.249c1.901,4.62,5.463,7.995,10.302,9.767l1.297,0.349c0,0,1.17,0.253,3.227,0.253c9.01,0,31.25-4.735,43.179-48.695l2.89-11.138c41.639-20.239,93.688-26.768,131.415-28.587c19.406,14.391,38.717,27.611,57.428,39.318l0.611,0.354c0.907,0.464,9.112,4.515,18.721,4.524l0,0c13.732,0,23.762-8.427,27.496-23.113l0.189-1.004c1.044-8.393-1.065-15.958-6.096-21.872C407.711,233.281,387.978,232.195,386.205,232.135z M142.812,319.744c-0.084-0.1-0.124-0.194-0.166-0.3c-0.896-2.157,0.179-7.389,1.761-11.222c6.792-7.594,14.945-14.565,24.353-20.841C159.598,317.039,146.274,319.603,142.812,319.744z M200.984,122.695L200.984,122.695c-14.07-15.662-13.859-23.427-13.102-26.041c1.242-4.369,6.848-6.02,6.896-6.035c2.824-0.768,4.538-0.617,6.064,1.058c3.451,3.791,6.415,15.232,5.244,36.218C202.764,124.557,200.984,122.695,200.984,122.695z M193.714,256.068l0.243-0.928l-0.032,0.011c7.045-27.593,17.205-67.996,23.047-93.949l0.211,0.201l0.021-0.124c18.9,17.798,47.88,43.831,82.579,70.907l-0.39,0.016l0.574,0.433C267.279,235.396,228.237,241.84,193.714,256.068z M408.386,265.12c-2.489,9.146-7.277,10.396-11.665,10.396l0,0c-5.094,0-9.998-2.12-11.116-2.632c-12.741-7.986-25.776-16.688-38.929-25.998c0.105,0,0.2,0,0.316,0c22.549,0,37.568,1.369,38.158,1.411c3.766,0.14,15.684,1.9,20.82,7.938C407.984,258.602,408.755,261.431,408.386,265.12z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                                
                                        </span>

                                        <span class="comment-file-name">{{replieddetails[index].tickets_attachment_name}}</span>
                                        <span class="comment-file-icon" v-if="replieddetails[index].tickets_attachment_size =='pdf'"><feather-icon icon="DownloadIcon" @click.stop="downloadWithVueResource(replieddetails[index].tickets_attachment,replieddetails[index].tickets_attachment_name)" svgClasses="w-5 h-5 hover:text-primary stroke-current"/></span>
                                        <span class="comment-file-icon" v-if="replieddetails[index].tickets_attachment_size !=='pdf'"><a :href="replieddetails[index].tickets_attachment" target="_blank" download><feather-icon icon="EyeIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" /></a></span>
                                    </p>
                                </div>
                                </div>
                                </div>

                                 
                                </div>

<div class="vx-card__body sm:w-2/3 chat_reply">
                                 <form>      
                              <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/6 w-full">
                                 <span>Reply</span>
                              </div>
                              <div class="vx-col sm:w-5/6 w-full">
                              <vs-textarea rows="6" name="Reply" id="tickets_description" v-model="tickets_description" v-validate="'required'"/>
                                <p>Enter same markdown content</p>
                                <span class="text-danger">{{ errors.first('Reply') }}</span>
                              </div>
                              </div>
                               <div class="vx-row mb-6">       
                              <div class="vx-col sm:w-1/6 mt-5 w-full">
                                 <span>Attachment</span>
                              </div>
                              <div class="vx-col sm:w-5/6 w-full">
                               <!-- Image Container -->
                                 <div class="img-container w-64 " v-if="dataImg">
                                    <img :src="dataImg" alt="img" class="responsive" >
                                 </div>

                                 <!-- Image upload Buttons -->
                                 <div class="modify-img flex justify-between mt-5">
                                    <input type="file" class="hidden" ref="updateImgInput"  @change="updateCurrImg"  accept="application/pdf,image/*">
                                    <vs-button class="mr-4" type="filled" @click="$refs.updateImgInput.click()">Upload</vs-button>
                                 </div>
                            </div>
                           </div>
                                  
                           <div class="vx-row mb-6">
                                    <div class="vx-col sm:w-1/6 w-full mt-3"> <span>Status</span> </div>
                                    <div class="vx-col sm:w-5/6 w-full">
            
                                   <v-select class="inputx " v-model="status" :options="ticketstatus" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'" name='status'  ></v-select>
                                    <span class="text-danger">{{ errors.first('status') }}</span>                    
                                 
                                    </div>
                           </div>
                            <div class="vx-row sm:w-3/3 mb-6">
               <div class="vx-col sm:w-1/6 w-full">
               </div>
               <div class="vx-col sm:w-5/6 w-full">
                  <vs-button type="filled"  @click="updateTickets" class="mr-3 mb-2">Submit</vs-button>
				    <vs-button color="warning" type="border" @click="onCancelPage"  class="mr-3 mb-2">Cancel</vs-button>
               </div>
            </div>
                             </form>  
                             </div>   
               </div>
                    </div>
                    </div>
                     </div>
      </div>


</div>
             
 </template>


 <script>
 import config from "@/config.js"
   import vSelect from 'vue-select'
        export default {
        data() {
            return {
                tickets_description:'',
                dataImg:'',
                status:'New',
                replieddetails:[],
                index:'',
                item:'',
                repliedmessage:'',
                view_members_username:'',
                view_ticket_number:'',
                view_tickets_subject:'',
                view_members_id:'',
                view_categories_name:'',
                view_members_image:'',
                view_ticket_status:'',
                view_ticket_date:'',
                
                ticketstatus: [{
                        id: -1,
                        label: 'New'
                    }, {
                        id: 1,
                        label: 'Close'
                    },{
                        id: 2,
                        label: 'Pending'
                    },{
                        id: 0,
                        label: 'Open'
                    }, ],
            }
        },
         components: {
                'v-select': vSelect,
            },
        created() {
            return this.fetchData();
        },
        methods: {
             onCancelPage(){
      this.$router.push({ path : '/tickets' });   
    },
forceFileDownload(response,fname){

      
      const url = window.URL.createObjectURL(new Blob([response.data]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', fname) //or any other extension
      document.body.appendChild(link)
      link.click()
    },
    downloadWithVueResource(fpath,fname){
     this.$vs.loading()
      this.$http({
        method: 'get',
        url: fpath,
        responseType: 'arraybuffer'
      })
      .then(response => {        
        this.forceFileDownload(response,fname)  
        this.$vs.loading.close()  
      })
      .catch(() => this.$vs.loading.close()  )

            },
              updateCurrImg(input) {
            if (input.target.files && input.target.files[0]) {
            var reader = new FileReader()
            reader.onload = e => {
               this.dataImg = e.target.result
            }
            reader.readAsDataURL(input.target.files[0])
            }
         },
            updateTickets(){
               
               this.$validator.validateAll().then(result => {
                if(result) {
                    this.$vs.loading()

            const formData = new FormData();          

          if(this.status['id']>='-1'){
              formData.append('status', this.status['id'])
          }else{
              formData.append('status', -1)
          }            
          
          formData.append('tickets_description', this.tickets_description)
           formData.append('ticket_attachment', this.dataImg)     


            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/updatetickets/"+this.$route.params.tickets_id,formData,{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Tickets',
                    text: 'Tickets replied successfully',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$router.push({ path : '/tickets' });
            })
            .catch(error => {
                 console.log(error);
                  this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Tickets',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            });
                    
        
                }
            })
            },
            fetchData() { 
                           
                
                this.$vs.loading()
                const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                this.$http.get(config.apiUrl +"api/admin/ticketreplieddetails/"+this.$route.params.tickets_id,{ headers: { Authorization: AuthStr } })
                .then(response => {
                    this.replieddetails = response.data['ticketreplies'];
                    this.view_members_username=response.data['ticketdetails'][0]['members_username'];
                    this.view_ticket_number=response.data['ticketdetails'][0]['ticket_number'];
                    this.view_tickets_subject=response.data['ticketdetails'][0]['tickets_subject'];
                    this.view_members_id=response.data['ticketdetails'][0]['members_id'];
                    this.view_categories_name=response.data['ticketdetails'][0]['categories_name'];
                    this.view_ticket_date=response.data['ticketdetails'][0]['date'];
                    if(response.data['ticketdetails'][0]['status']=='1'){
                       this.view_ticket_status='Closed'; 
                    }else if(response.data['ticketdetails'][0]['status']=='0'){
                        this.view_ticket_status='Open'; 
                    }else if(response.data['ticketdetails'][0]['status']=='2'){
                        this.view_ticket_status='Pending'; 
                    }else if(response.data['ticketdetails'][0]['status']=='-1'){
                        this.view_ticket_status='New'; 
                    }

                    if(response.data['ticketdetails'][0]['memimage']==null){
                    this.view_members_image='';
                    }else{
                        this.view_members_image=response.data['ticketdetails'][0]['memimage'];
                    }
                    this.$vs.loading.close()
                })
            },

            
        }   
        }




</script>

<style type="text/scss">

.img_riteattach .img_attach img {
    width: 40px;
    height: 40px;
    margin-left: 45px;
}
.user_details {
    text-align: center;
}
.name_set .rite {
    text-align: right;
}
.name_set p {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 13px;
    width: 82px;
}
.name_set .rite_st {
    padding-left: 12px;
    color: #7367F0;
    text-align: left;
}
.user_img {
    text-align: center;
    margin: 0 auto;
    display: block;
}
.user_img img {
    margin: 0 auto 12px;
    display: block !important;
    text-align: center;
    width: 50px;
}
.img_riteattach {
    float: right;
    margin-bottom: 0;
}
.img_riteattach p {
    font-size: 12px;
    text-align: right;
    margin-bottom: 6px;
}
.chat1 h3 {
    margin-bottom: 10px;
}
.chat1 {
    padding: 0;
    margin-bottom: 20px;
    border-radius: 3px;
}
.chat1 .vs-con-textarea {
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
}
.chat2 {
    background: #e2efff;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 3px;
}
.img_attach {
        width: 20px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    
.img-container.user_icon {
    background: #cbcbcb;
    padding: 22px;
    border-radius: 5px;
}
.user-details table td {
    padding-bottom: .8rem;
    vertical-align: top;
    min-width: 140px;
    word-break: break-all;
}
.ticket-status::before {
    background-color: #2b72e6;
    content: "";
    width: 5px;
    min-width: 5px;
    height: 5px;
    margin-top: -2px;
    margin-right: 10px;
    border-radius: 5px;
}
.ticket-status::after {
    content: "Open";
    color: #2b72e6;
    font-family: "Maven Pro",sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.ticket-status {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 30px;
    right: 30px;
    margin-left: 30px;
}
.chat_head {
    padding: 30px 21px;
}
.chat_head h2 {
    font-size: 20px;
}
.ticket_cont {
    background: #fafafa;
}
.ticket_cont ul li {
    display: inline-block;
    width: 33.3%;
    padding: 20px;
    border-right: 1px solid #ececec;
    justify-content: center;
    flex-grow: 1;
    margin: 0 auto;
    text-align: center;
}
.ticket_cont li h6 {
    padding-bottom: 10px;
    width: 140px;
    margin: 0 auto;
    text-align: left;
}
.ticket_cont li p {
    padding-bottom: 10px;
    width: 143px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 0;
}
.ticket_comment {
    padding: 50px;
}
.comment-img {
    display: flex;
    align-items: center;
    width: 80px;
    min-width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 3px;
}
.comment-cont {
    margin-left: 30px;
    display: block;
}
.ticket_comment > div {
    display: flex;
}
.comment-img img {
    width: 100%;
    height: 100%;
    font-family: "object-fit: cover";
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3px;
}
.comment-date {
    color: #1b1b1b;
    font-weight: 400;
    padding: 5px 0 10px;
}
.comment-name {
    color: #1b1b1b;
    font-weight: 600;
}
.comment-text {
    width: 800px;
    padding-bottom: 12px;
}
.comment-text p {
    color: #333;
    font-weight: 500;
}
.comment-file.comment-file-jpg {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 20px 20px 70px;
    color: rgba(122,122,122,.8);
    background-color: rgba(247,247,247,.8);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(229,229,229,.8);
    box-shadow: inset 0 0 0 1px rgba(229,229,229,.8);
    -webkit-transition: background-color .2s ease-in-out,color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
}
.comment-file-img {
    position: absolute;
    top: 12px;
    left: 12px;
}
.comment-file-size {
    display: block;
    margin-top: -1px;
    margin-bottom: -6px;
    font-size: .875rem;
    color: #bababa;
}
span.comment-file-icon {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    right: 20px;
    bottom: 0;
    font-size: 1.5rem;
}
span.comment-file-img {
    width: 40px;
    margin-top: 5px;
}
.vx-card__body form {
    padding: 0 30px;
}
.comment-cont span.comment-file-img svg {
    width: 40px;
    height: 35px;
    fill: #6e6d6d !important;
}
.comment-img svg {
    width: 60px;
}
.comment-name span {
    font-size: 10px;
    color: #7f7f7f;
}
.ticket_comment .comment-img img {
    border-radius: 100%;
    width: 63px;
    height: 63px;
}
.ticket_comment .comment-img {
    background: transparent;
    padding: 0;
    border-radius: 4px !important;
}

.comment-img.user_commentimg svg {
    background: #d9d9d9;
    padding: 15px;
    height: 60px;
    border-radius: 100%;
}
.comment-img.user_commentimg {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

</style>