    <template>
       
<vs-table pagination :max-items="10" search :data="registersettingdata">
                <template slot="thead">
                     <vs-th>S.No</vs-th>
                            <vs-th sort-key="username">Username</vs-th>
                            <vs-th sort-key="amount_paid">Amount paid</vs-th>
                            <vs-th sort-key="paid_currency">Paid Currency</vs-th>
                            <vs-th sort-key="payment_mode">Payment Mode</vs-th>
                            <vs-th sort-key="transaction_id">Transaction ID</vs-th>
                            <vs-th sort-key="paid_date">Paid Date</vs-th>
                            <vs-th sort-key="type">Type</vs-th>
                                <vs-th sort-key="action">Action</vs-th> 
                </template>

            <template slot-scope="{data}">
                
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                   <vs-td>
                      {{ indextr + 1 }}
                  </vs-td>
                    <vs-td :data="data[indextr].members_username">
                        {{data[indextr].members_username}}
                    </vs-td>

                    <vs-td :data="data[indextr].payment_user_request_amount">
                      {{ currency }}  {{data[indextr].payment_user_request_amount}}
                    </vs-td>
                        <vs-td :data="data[indextr].paymenthistory_amount">
                       {{ currency }} {{data[indextr].paymenthistory_amount}}
                     </vs-td>
                       <vs-td :data="data[indextr].paymentname">
                         {{data[indextr].paymentname}}
                         </vs-td>
                                
                    <vs-td :data="data[indextr].paymenthistory_trans_id">
                    {{data[indextr].paymenthistory_trans_id}}
                                    </vs-td>
                    <vs-td :data="data[indextr].paymenthistory_date">
                    {{data[indextr].paymenthistory_date}}
                                    </vs-td>
                    <vs-td :data="data[indextr].paymenthistory_type">
                            {{data[indextr].paymenthistory_type}}
                    </vs-td>

                     <vs-td :data="data[indextr].paymenthistory_type">

                          <div v-if="data[indextr].paymenthistory_status === 'notpaid'">
                           <vs-button type="filled"  @click="updateewallet(data[indextr].paymenthistory_id)" class="mr-3 mb-2">Activated</vs-button>
                        </div>
                        <div v-else>
                            <vs-button type="filled" class="mr-3 mb-2">Paid</vs-button>
                        </div>

                             
                    </vs-td>
                </vs-tr>
            </template>
            </vs-table> 
    </template>
     <script>
import config from "@/config.js"
export default {
    data() {
        return {
				currency:'',
            registersettingdata: [],            
        }
    },
    created() {
       return this.fetchData(),this.fetchcurrency();
    },
    methods: {
		
		  fetchcurrency()
        {
             const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcurrency",{ headers: { Authorization: AuthStr } })

            .then(response => {  
                 
                this.currency=response.data;

            })
            .catch(error => {
                console.log(error);
            });
        },
        updateewallet(paymenthistory_id){       
            this.$vs.loading() 
            let plandetails = {
                walletid:paymenthistory_id             
            } 
            
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/updateewallet",plandetails,{ headers: { Authorization: AuthStr } })
            .then(response => {

                 response.data;
                   this.$http.get(config.apiUrl + "api/admin/ewalletgetdata", {
                         headers: {
                          Authorization: AuthStr
                             }
                        })
                        .then(response => {
                            this.registersettingdata = response.data;
                        })
                        .catch(error => {
                            console.log(error);
                        });
              
                this.$vs.loading.close()
                this.$vs.notify({
                title: 'Ewallet Setting',
                text: 'Successfully Updated',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'success'
                })
                               
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
                this.$vs.notify({
                title: 'Register Setting',
                text: 'Fill the Fields',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'warning'
                })
            });

           
        },
        fetchData() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/ewalletgetdata",{ headers: { Authorization: AuthStr } })
            .then(response => {    
                console.log(response);            
                this.registersettingdata = response.data;
            })
            .catch(error => {
                console.log(error);
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
            });
        }     
    }   
}

</script>


    

