
<template>
<div>
<vs-breadcrumb>
   <li><router-link to="/">E-Store</router-link><span class="vs-breadcrum--separator">/</span></li>
   <li aria-current="page" class="active">Add Categories</li>
</vs-breadcrumb>
<br>

  <!-- Add Plan-->
		<div class="vx-col w-full mb-base">
			<vx-card title="Add Category" code-toggler>
        <form>
          <div class="vx-row sm:w-2/3  mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                        <span>Category Name</span>
                    </div>

            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" name="category_name" id="category_name" v-model="category_name" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('category_name') }}</span>
            </div>
          </div>  

          <div class="vx-row sm:w-2/3  mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                        <span>Category Description</span>
                    </div>

            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" name="category_desc" id="category_desc" v-model="category_desc" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('category_desc') }}</span>
            </div>
          </div> 

           <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                        <span>Status</span>
                    </div>

            <div class="vx-col sm:w-2/3 w-full">
              <vs-switch color="success" v-model="status">
        <span slot="on">Active</span>
        <span slot="off">Suspend</span>
      </vs-switch>
             
            </div>
          </div> 
          
          
			
          <div class="vx-row sm:w-2/3 mb-6">
			  <div class="vx-col sm:w-1/3 w-full">
                        
                    </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-button type="filled"  @click="addcategory" class="mr-3 mb-2">Submit</vs-button>
              <vs-button color="warning" type="filled" @click.prevent="onCancel"  class="mb-2">Cancel</vs-button>
            </div>
          </div>
        </form>
			</vx-card>
		</div>

    </div>
</template>
<script>

import config from "@/config.js"
//import vSelect from 'vue-select'
export default{  
      data() {
      return {
      category_name: '',
      category_desc: '',
      status: ''
    }
  },  
  //components: {'v-select': vSelect,},
  computed: {
    validateForm() {
      return !this.errors.any() && this.category_name != '' && this.category_desc != '';      
    },
  }, 
  methods: {  
    onCancel(){
        console.log('CANCEL SUBMIT');
        this.show = false;
        this.$router.push({ name: 'Categories' });
    },
   
    addcategory() {        
      this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let categorydetails = {
              category_name: this.category_name,
              category_desc:this.category_desc,
              status: this.status,
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/addestorecategory",categorydetails,{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response);

                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Categories',
                    text: 'Categories successfully added',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$router.push({ path : '/category/estorecategory' });
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Categories',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            });

        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Categories',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
    })  
    }
  }
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
.v-select.w-full.vs--single.vs--searchable {
    margin-top: 22px;
}
</style>
