<template>
<div>
<vs-breadcrumb>
   <li><router-link to="/">E-Store</router-link><span class="vs-breadcrum--separator">/</span></li>
   <li aria-current="page" class="active">Categories</li>
</vs-breadcrumb>
<br>	
<vx-card title="Categories"> 
        <div class="demo-alignment">
            <vs-button @click="addestorecategory" color="primary" type="filled">Add Category</vs-button>
        </div>
        <b><div id="currentcur"></div></b>
        <vs-table pagination :max-items="20" search :data="category">

                <template slot="thead">                    
                    <vs-th sort-key="currency_id">No.</vs-th>
                    <vs-th sort-key="category_name">Category Name</vs-th>
                    <vs-th sort-key="category_desc">Description</vs-th>
                    <vs-th sort-key="category_id">Status</vs-th>
                    <vs-th sort-key="category_id">Action</vs-th>                    
                </template>
                  <template slot-scope="{data}">
                
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">                    
                    <vs-td :data="data[indextr].category_id">
                        {{ indextr + 1 }}
                    </vs-td>
                    <vs-td :data="data[indextr].category_name">
                        {{data[indextr].category_name}}
                    </vs-td>
                     <vs-td :data="data[indextr].category_desc">
                        {{data[indextr].category_desc}}
                    </vs-td>
                    <vs-td :data="data[indextr].status">
                        <vs-chip :color="getStatusColor(data[indextr].status)" class="product-order-status">{{data[indextr].status}}</vs-chip>
                    </vs-td>

                    <vs-td :data="data[indextr].category_id">
						 <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editCategory(data[indextr].category_id)" />
        
                        <feather-icon icon="Trash2Icon" svgClasses="w-5 h-5 hover:text-primary" @click.stop="deletecategory(data[indextr].category_id)" />
                    </vs-td>                    
                </vs-tr>
            </template>
            
            </vs-table> 
</vx-card>
</div>
    </template>
      <script>
import config from "@/config.js"
export default {
    data() {
        return {
            category: [
                
            ]
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
        fetchData() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getestorecategory",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.category = response.data;

            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
        getStatusColor(status) {
            if(status == 'Active') return "success"
            if(status == 'Suspend') return "danger"
        },
        addestorecategory () {
            this.$router.push({ path : '/category/addcategory' });
        },  
		editCategory (category_id) {
            this.$router.push({ path : '/category/editcategory/'+category_id });
        },
         deletecategory(id){
        this.delete_id=id,
        this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Do you want to delete categories',
                accept: this.acceptAlert,
            })
       
         
    },
    acceptAlert() {

 
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/deleteestorecategory/"+this.delete_id,{ headers: { Authorization: AuthStr } }) 
            .then(response => {
                response.data;
                this.$http.get(config.apiUrl +"api/admin/getestorecategory",{ headers: { Authorization: AuthStr } })
                .then(response => {
                    this.category = response.data; 
                })
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Categories',
                    text: 'Categories Deleted',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })
            })
        },
    getOrderStatusColor(status) {
      if(status == 'on_hold') return "warning"
      if(status == 'delivered') return "success"
      if(status == 'canceled') return "danger"
      return "primary"
    }

           
    }   
}

</script>


    

