<template>
        <vx-card title="Currency Settings"> 
            <b><div id="currentcur"></div></b>
            <vs-table pagination :max-items="100" search :data="users">
                <template slot="thead">                    
                    <vs-th sort-key="currency_id">Default</vs-th>
                    <vs-th sort-key="currency_symbol">Currency Symbol</vs-th>
                    <vs-th sort-key="currency_value">Currency Code</vs-th>
                </template>

                <template slot-scope="{data}">
            
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                        <vs-td :data="data[indextr].currency_id">

                            <input v-if="data[indextr].set_currency==1" :checked="true" type="radio" name="currency_ids" v-on:click="currencysetup(data[indextr].currency_id)"/>                        
                             <input v-else :checked="false" type="radio" name="currency_ids" v-on:click="currencysetup(data[indextr].currency_id)"/>                        

                       
                        </vs-td>

                        <vs-td :data="data[indextr].currency_symbol">
                            {{data[indextr].currency_symbol}}
                        </vs-td>
                        <vs-td :data="data[indextr].currency_value">
                            {{data[indextr].currency_value}}
                        </vs-td>
                        
                    </vs-tr>
                </template>
            </vs-table> 
        </vx-card>
</template>
<script>
import config from "@/config.js"
export default {
    data() {
        return {
            users: []
        }
    },
    created() {
       return this.fetchData(),this.currentcurrency();
    },
    methods: {
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/currencysettings",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.users = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
            });
        },
        currencysetup(id){
            console.log(id);
            this.$validator.validateAll().then(result => {
                if(result) {
                this.$vs.loading()
                let plandetails = {
                    id: id,
                }
                const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                this.$http.post(config.apiUrl +"api/admin/currencysetup",plandetails,{ headers: { Authorization: AuthStr } })
                .then(response => {
                    console.log(response);
                    this.$vs.loading.close()
                    this.$vs.notify({
                    title: 'Currency Setup Done',
                    text: 'Currency Configured Successfully',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })       
                    this.currentcurrency();             
                    this.$router.push({ path : '/settings/currencysettings' });                    
                })
                .catch(error => {
                    console.log(error);
                    this.$vs.loading.close()
                    this.$vs.notify({
                    title: 'Currency Setup Done',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                    })
                });

                }else{
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Currency Setup Done',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
                }
            })           
        },
        currentcurrency(){
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/currentcurrency",{ headers: { Authorization: AuthStr } })
            .then(response => {                             
                document.getElementById('currentcur').innerHTML = "Current Currency - "+response.data[0]['currency']+'('+response.data[0]['currency_value']+')';                
            })
            .catch(error => {
                console.log(error);
            });          
        },       
    }   
}

</script>


    

