<template>
   <vx-card title="Mail Settings" code-toggler>
      <div class="mt-5">
         <vs-tabs>
            <vs-tab label="Email Notification">
               <div class="tab-text mt-10">
                  <vs-table stripe :data="mailtemplates">
                     <template slot="thead">
                        <vs-th>Template Name</vs-th>
                        <vs-th>Configure</vs-th>
                     </template>
                     <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                           <vs-td :data="data[indextr].mail_name">
                              {{data[indextr].mail_name}}
                           </vs-td>
                           <vs-td :data="data[indextr].mail_id">
                              <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click="mailtemplateconfigs(data[indextr].mail_id),mailtemplateconfig=true"/>
                           </vs-td>
                        </vs-tr>
                     </template>
                  </vs-table>
                  <vs-popup class="holamundo"  title="Configure Mail Template" :active.sync="mailtemplateconfig">
                     <form>
                        <vs-input type="hidden" class="w-full mb-base" v-model="mail_id" />
                        <div class="vx-col md:w-1/2 w-full mb-base">
                           <br>
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-4/3 w-full">
                                 <span>Mail Name</span>
                              </div>
                              <div class="vx-col sm:w-4/3 w-full">
                                 <vs-input class="w-full mb-base" v-model="mail_name" v-validate="'required'"/>
                              </div>
                           </div>
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-4/3 w-full">
                                 <span>Display Name</span>
                              </div>
                              <div class="vx-col sm:w-4/3 w-full">
                                 <vs-input class="w-full mb-base" v-model="mail_from_name" v-validate="'required'"/>
                              </div>
                           </div>
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-4/3 w-full">
                                 <span>From Email Address</span>
                              </div>
                              <div class="vx-col sm:w-4/3 w-full">
                                 <vs-input class="w-full mb-base" v-model="mail_from" v-validate="'required'"/>
                              </div>
                           </div>
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-4/3 w-full">
                                 <span>Mail Subject</span>
                              </div>
                              <div class="vx-col sm:w-4/3 w-full">
                                 <vs-input class="w-full mb-base" v-model="mail_subject" v-validate="'required'"/>
                              </div>
                           </div>
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-4/3 w-full">
                                 <span>Mail Content -Preview</span>
                              </div>
                              <div class="vx-col sm:w-4/3 w-full">
                                 <vs-button type="filled"  @click="preview(mail_content),mailtemplatepreview=true" class="mr-3 mb-2">Preview</vs-button>
                              </div>
                           </div>
                           <br>       	  		  
                           <div class="vx-row mb-2">
                              <div class="vx-col w-full">
                                 <label class="vx-col sm:w-1/3 w-full">Mail Status</label>
                                 <vs-switch v-model="mail_status" v-validate="'required'">
                                    <span slot="on">On</span>
                                    <span slot="off">Off</span>
                                 </vs-switch>
                              </div>
                           </div>
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-4/3 w-full">
                                 <vs-button type="filled"  @click="updatemailtemplate" class="mr-3 mb-2">Update</vs-button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </vs-popup>
					<vs-popup class="holamundo"  title="Preview Mail" :active.sync="mailtemplatepreview">
                     <form>
                        <div class="vx-col md:w-1/2 w-full mb-base" id="preview">
                           
                        </div>
                     </form>
                  </vs-popup>
               </div>
            </vs-tab>
            <vs-tab label="Settings">
               <div class="tab-text mb-6 mt-10">
                  <form>
                     <div class="vx-row sm:w-2/3 mb-6">
                        <div class="vx-col sm:w-1/3 w-full">
                           <span>Mail Type</span>
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                        <v-select v-model="smtp_perfer" :options="variant" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"/>
                          
                        </div>
                     </div>
                     <div id="smtp"  v-if="smtp_perfer.id=='2'">
                     <div class="vx-row sm:w-2/3 mb-6"  >
                        <div class="vx-col sm:w-1/3 w-full">
                           <span>SMTP Host</span>
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                           <vs-input class="w-full" v-model="smtp_hname"/>
                        </div>
                     </div>
                     <div class="vx-row sm:w-2/3 mb-6"  >
                        <div class="vx-col sm:w-1/3 w-full">
                           <span>SMTP Port</span>
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                           <vs-input class="w-full" v-model="smtp_port" />
                        </div>
                     </div>
                     <div class="vx-row sm:w-2/3 mb-6"  >
                        <div class="vx-col sm:w-1/3 w-full">
                           <span>SMTP Username</span>
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                           <vs-input class="w-full" v-model="smtp_user"/>
                        </div>
                     </div>
                     <div class="vx-row sm:w-2/3 mb-6"  >
                        <div class="vx-col sm:w-1/3 w-full">
                           <span>SMTP Password</span>
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                           <vs-input class="w-full" v-model="smtp_pass" />
                        </div>
                     </div>
                     <div class="vx-row sm:w-2/3 mb-6"  >
                        <div class="vx-col sm:w-1/3 w-full">
                           <span>Sender Email</span>
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                           <vs-input class="w-full" v-model="sender_email"/>
                        </div>
                     </div>
                     <div class="vx-row sm:w-2/3 mb-6"  >
                        <div class="vx-col sm:w-1/3 w-full">
                           <span>Sender Name</span>
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                           <vs-input class="w-full" v-model="sender_name"/>
                        </div>
                     </div>
                     </div>
                      <div id="sendgrid" v-if="smtp_perfer.id=='3'">
                     <div class="vx-row sm:w-2/3 mb-6"  >
                        <div class="vx-col sm:w-1/3 w-full">
                           <span>Userame</span>
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                           <vs-input class="w-full" v-model="sendgrid_user"/>
                        </div>
                     </div>
                     <div class="vx-row sm:w-2/3 mb-6"  >
                        <div class="vx-col sm:w-1/3 w-full">
                           <span>Password</span>
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                           <vs-input class="w-full" v-model="sendgrid_pass"/>
                        </div>
                     </div>
                     </div>
                     <div class="vx-row sm:w-2/3 mb-6"  >
                        <div class="vx-col sm:w-1/3 w-full">
                        </div>
                        <div class="vx-col sm:w-2/3 w-full">
                           <vs-button type="filled"  @click="emailsettings" class="mr-3 mb-2">Update</vs-button>
                        </div>
                     </div>
                  </form>
               </div>
            </vs-tab>
            <!--<vs-tab label="General Settings">
               <div class="tab-text">
                  <br><br>
                   <p>Brownie ice cream biscuit candy biscuit jujubes. Dessert cake gummies fruitcake chocolate cake sweet roll pastry croissant danish. Pudding chocolate bar sweet roll muffin cake tootsie roll biscuit pastry. Chupa chups dessert donut. Pastry gummi bears tart cookie apple pie sugar plum bear claw.</p>
                   <p class="mt-2">Pudding jelly chocolate powder jelly beans icing candy soufflé sweet. Cotton candy sugar plum fruitcake dessert dragée. Toffee chocolate cake chocolate cake oat cake topping macaroon caramels cotton candy. Ice cream lemon drops lollipop.</p>
               </div>
               </vs-tab>-->
         </vs-tabs>
      </div>
   </vx-card>
</template>
<script>
   import config from "@/config.js"
   import vSelect from 'vue-select'
   import { quillEditor } from 'vue-quill-editor'
   import 'quill/dist/quill.core.css'
   import 'quill/dist/quill.snow.css'
   import 'quill/dist/quill.bubble.css'
   export default {
   
      data() {
         return {
			 mailtemplatepreview: false,
            mailtemplateconfig: false,
            mail_name:'',
            mail_from_name:'',
            mail_from:'',
            mail_subject:'',
            mail_id:'',
            mail_status:true,
            mail_content:'',
            mailtemplates: [
                  
            ],
            smtp_perfer:{id: 0, label: 'selected'},
            smtp_hname:'',
            smtp_port:'',
            smtp_user:'',
            smtp_pass:'',
            sender_email:'',
            sender_name:'',
            sendgrid_user:'',
            sendgrid_pass:'',
            variant: [
               {id: 1, label: 'PHP'},
               {id: 2, label: 'SMTP'},
               {id: 3, label: 'Sendgrid'},
                  
            ],             
         }
      }, 
      created() {
         return this.mailtemplatedata(),this.emailsettingdata();
      },
     components: {
      'v-select': vSelect,
       quillEditor,
     },        
     methods: { 
		  preview(content){
        this.mailtemplateconfig = false;
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
           this.$http.get(config.apiUrl +"api/admin/getsitelogo",{ headers: { Authorization: AuthStr } })
           .then(response => {                       
              console.log(response.data[0].sitesettings_value);
              document.getElementById("preview").innerHTML =content.replace("[site_logo]", response.data[0].sitesettings_value); 
               })
           .catch(error => {
               console.log(error);
           });  
      },
      
    
      emailsettingdata(){       
         const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
           this.$http.get(config.apiUrl +"api/admin/getemailsettingdata",{ headers: { Authorization: AuthStr } })
           .then(response => {    
                if(response.data[0]['smtp_perfer']==1){
                  this.smtp_perfer = {id: 1, label: 'PHP'};
                }
                if(response.data[0]['smtp_perfer']==2){
                  this.smtp_perfer = {id: 2, label: 'SMTP'};
                }
                if(response.data[0]['smtp_perfer']==3){
                  this.smtp_perfer = {id: 3, label: 'Sendgrid'};
                }
                
                
   
               
                   this.smtp_hname = response.data[0]['smtp_hname'];
                   this.smtp_port = response.data[0]['smtp_port'];
                   this.smtp_user = response.data[0]['smtp_user'];
                   this.smtp_pass = response.data[0]['smtp_pass'];
                   this.sender_email = response.data[0]['sender_email'];
                   this.sender_name = response.data[0]['sender_name'];  
                   this.sendgrid_pass = response.data[0]['sendgrid_pass'];
				   this.sendgrid_user = response.data[0]['sendgrid_user'];
           })
           .catch(error => {
               console.log(error);
           });       
      },
      emailsettings(){      
         
         this.$validator.validateAll().then(result => {
           if(result) {
             this.$vs.loading()
             let plandetails = {
             smtp_perfer: this.smtp_perfer,
             smtp_hname: this.smtp_hname,          
             smtp_port: this.smtp_port,    
             smtp_user: this.smtp_user,      
             smtp_pass: this.smtp_pass,
             sender_email: this.sender_email,
             sender_name: this.sender_name,    
             sendgrid_user:this.sendgrid_user,
			 sendgrid_pass:this.sendgrid_pass,
             
             }
             const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
             this.$http.post(config.apiUrl +"api/admin/postemailsettings",plandetails,{ headers: { Authorization: AuthStr } })
             .then(response => {
               console.log(response);
               this.$vs.loading.close()
               this.$vs.notify({
                 title: 'Mail Settings',
                 text: 'Successfully Updated',
                 iconPack: 'feather',
                 icon: 'icon-alert-circle',
                 color: 'success'
               })
               this.mailtemplateconfig = false;
               this.$router.push({ path : '/settings/mailsettings' });
             })
             .catch(error => {
               console.log(error);
               this.$vs.loading.close()
               this.$vs.notify({
                 title: 'Mail Settings',
                 text: 'Please check values',
                 iconPack: 'feather',
                 icon: 'icon-alert-circle',
                 color: 'warning'
               })
             });
   
           }else{
             this.$vs.loading.close()
             this.$vs.notify({
                 title: 'Mail Settings',
                 text: 'Please fill all fields',
                 iconPack: 'feather',
                 icon: 'icon-alert-circle',
                 color: 'warning'
             })
           }
         })
          
      },
      mailtemplateconfigs(id){
          this.mail_id = id;  
         const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
           this.$http.get(config.apiUrl +"api/admin/getemailtemplateconfig/"+id,{ headers: { Authorization: AuthStr } })
           .then(response => {                       
              console.log(response.data[0]);
               this.mail_name = response.data[0]['mail_name'];
               this.mail_from_name = response.data[0]['mail_from_name'];                                                               
               this.mail_from = response.data[0]['mail_from'];  
               this.mail_subject = response.data[0]['mail_subject'];    
               this.mail_content = response.data[0]['mail_content'];    
               if(response.data[0]['mail_status']=='1'){
                 this.mail_status = true;
               }else{
                 this.mail_status = false; 
               }  
                                        
           })
           .catch(error => {
               console.log(error);
           });       
   
      },
      updatemailtemplate(){
         this.$validator.validateAll().then(result => {
           if(result) {
             this.$vs.loading()
             let plandetails = {
             mail_id: this.mail_id,
             mail_name: this.mail_name,          
             mail_from_name: this.mail_from_name,    
             mail_from: this.mail_from,      
             mail_subject: this.mail_subject,
             mail_content: this.mail_content,
             mail_status: this.mail_status,          
             }
             const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
             this.$http.post(config.apiUrl +"api/admin/postmailtemplateconfig",plandetails,{ headers: { Authorization: AuthStr } })
             .then(response => {
               console.log(response);
               this.$vs.loading.close()
               this.$vs.notify({
                 title: 'Mail Template Configured',
                 text: 'Successfully Added',
                 iconPack: 'feather',
                 icon: 'icon-alert-circle',
                 color: 'success'
               })
               this.mailtemplateconfig = false;
               this.$router.push({ path : '/settings/mailsettings' });
             })
             .catch(error => {
               console.log(error);
               this.$vs.loading.close()
               this.$vs.notify({
                 title: 'Mail Template Config',
                 text: 'Please check values',
                 iconPack: 'feather',
                 icon: 'icon-alert-circle',
                 color: 'warning'
               })
             });
   
           }else{
             this.$vs.loading.close()
             this.$vs.notify({
                 title: 'Mail Template Config',
                 text: 'Please fill all fields',
                 iconPack: 'feather',
                 icon: 'icon-alert-circle',
                 color: 'warning'
             })
           }
         })      
      },
      mailtemplatedata(){
         const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
         this.$http.get(config.apiUrl +"api/admin/mailtemplates",{ headers: { Authorization: AuthStr } })
         .then(response => {                
               this.mailtemplates = response.data;
               this.$vs.loading.close()
   
         })
         .catch(error => {
               console.log(error);
         });         
      },   
     }, 
   }
</script>    
<style>
   select#mailsettingdropdown {
   border: 1px solid rgba(0, 0, 0, 0.2);
   padding: .7rem !important;
   border-radius: 4px;
   width: 100%;
   }
</style>