<template>

<vx-card title="Payment Settings"> 
        
  <vs-tabs :position="isSmallerScreen ? 'top' : 'left'" class="tabs-shadow-none" id="profile-tabs" :key="isSmallerScreen">

    <!-- GENERAL -->
    <vs-tab icon-pack="feather" :label="!isSmallerScreen ? 'Paypal' : ''">
		<vx-card title="Paypal" code-toggler>
        <form>
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>Gateway Name</span>
            </div><div class="vx-col sm:w-2/3 w-full"><vs-input class="w-full" v-model="paymentsettings_name" v-validate="'required'"/>              	              	
            </div>
          </div> 
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>Paypal Email ID</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full"><vs-input class="w-full"  v-model="paymentsettings_accnum" v-validate="'required|email'"/><span class="text-danger">{{ errors.first('paymentsettings_accnum') }}</span>			         	              	
            </div>
          </div> 
          <div class="vx-row sm:w-2/3 mb-6">
          <div class="vx-col sm:w-1/3 w-full">
            <span>Payment Mode</span>
          </div><div class="vx-col sm:w-2/3 w-full"><v-select name="lvlcommnwallet"  class="inputx" v-model="paymentoption" :options="paymentoptions" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
          </div>
          </div> 	   
          <br>       	  		  
          <div class="vx-row sm:w-2/3 mb-6">
          <div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="paypalstatus" v-validate="'required'">
                    <span  slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>				
            </div>
          </div> 	

          <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-button type="filled"  @click="updatepaypal" class="mr-3 mb-2">Update</vs-button>              
            </div>
          </div>		  			  	  		  
        </form>
		</vx-card>
    </vs-tab>



    <vs-tab icon-pack="feather" @click="getebankwire" :label="!isSmallerScreen ? 'Bankwire' : ''">      
      <vx-card title="Bankwire" code-toggler>
        <div class="mt-5">
        <form>          
          <div class="vx-row sm:w-2/3 w-full mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>Gateway Name</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" v-model="bankwire_paymentsettings_name" v-validate="'required'"/>   
            </div>
          </div>
          <div class="vx-row sm:w-2/3 w-full mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>Account Name</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" v-model="bankwire_paymentsettings_accname" v-validate="'required'"/>   
            </div>
          </div>
          <div class="vx-row sm:w-2/3 w-full mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>Account Number</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" v-model="bankwire_paymentsettings_accnum" v-validate="'required'"/>   
            </div>   
          </div>
          <div class="vx-row sm:w-2/3 w-full mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>Address</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <textarea class="vs-textarea" label-placeholder="Address" v-model="bankwire_address"></textarea>                     
            </div>
          </div>
          <div class="vx-row sm:w-2/3 w-ful mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>Switch Code</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" v-model="bankwire_switchcode" v-validate="'required'"/>   
            </div> 
          </div>
          <div class="vx-row sm:w-2/3 w-full mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>Bank Route</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" v-model="bankwire_bankroute" v-validate="'required'"/>   
            </div>
          </div>
          <div class="vx-row sm:w-2/3 w-full mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-switch v-model="bankwirestatus" v-validate="'required'">
                    <span slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>	              
            </div> 
          </div>
            <br> 
            <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-button type="filled"  @click="updatebankwire" class="mr-3 mb-2">Update</vs-button>                                                  
            </div>
	</div>
        </form>
        </div>
      </vx-card>      
    </vs-tab>



    <vs-tab icon-pack="feather" @click="getpm" :label="!isSmallerScreen ? 'Perfect Money' : ''">
      <vx-card title="Perfect Money" code-toggler>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Gateway Name</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pm_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Account Name</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pm_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Account Number</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pm_paymentsettings_accnum" v-validate="'required'"/>   
              </div>  
            </div> 
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Status</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="pmstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div> <br> 
             <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updatepm" class="mr-3 mb-2">Update</vs-button>                                                  
              </div>
	</div>
          </form>
        </div>
      </vx-card>
    </vs-tab>



    <vs-tab icon-pack="feather"  @click="getbitpay" :label="!isSmallerScreen ? 'Bitpay Bitcoin' : ''">
      <vx-card title="Bitpay Bitcoin" code-toggler>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Gateway Name</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="bitpay_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>API Key</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" label-placeholder="API Key" v-model="bitpay_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Payment Mode</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <v-select class="inputx" v-model="bitpaypaymentoption" :options="bitpaypaymentoptions" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
              </div>   
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Status</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <br>
                  <vs-switch v-model="bitpaystatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div> 
            </div>
            <br> 
              <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updatebitpay" class="mr-3 mb-2">Update</vs-button>                                                  
              </div>
	</div>
          </form>
        </div>
      </vx-card>
    </vs-tab>



    <vs-tab icon-pack="feather" @click="getskrill" :label="!isSmallerScreen ? 'Skrill' : ''">
      <vx-card title="Skrill" code-toggler>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Gateway Name</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="skrill_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Merchant Email ID</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="skrill_paymentsettings_accname" v-validate="'required'"/>   
              </div> 
            </div> 
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Status</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <br>
                  <vs-switch v-model="skrillstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div> 
            </div>
            <br> 
              <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updateskrill" class="mr-3 mb-2">Update</vs-button>                                                  
	</div></div>
          </form>
        </div>
      </vx-card>
    </vs-tab>


    <vs-tab icon-pack="feather"  @click="getpayeer" :label="!isSmallerScreen ? 'Payeer' : ''">
      <vx-card title="Payeer" code-toggler>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Gateway Name</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="payeer_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Merchant ID</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="payeer_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Merchant Key</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="payeer_paymentsettings_accnum" v-validate="'required'"/>   
              </div>    
            </div>  
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Payment Mode</span>
              </div>        
              <div class="vx-col sm:w-2/3 w-full">
                <v-select class="inputx" v-model="payeerpaymentoption" :options="payeerpaymentoptions" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
              </div>  
            </div> 
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Status</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <br>
                  <vs-switch v-model="payeerstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div> <br> 
              <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updatepayeer" class="mr-3 mb-2">Update</vs-button>                                                  
	</div></div>
          </form>
        </div>
      </vx-card>
    </vs-tab>


    <vs-tab icon-pack="feather" @click="getcheque" :label="!isSmallerScreen ? 'Cheque' : ''">
      <vx-card title="Cheque" code-toggler>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Gateway Name</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cheque_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>In Favour Of</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cheque_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>  
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Status</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <br>
                <vs-switch v-model="chequestatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div> <br> 
              <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updatecheque" class="mr-3 mb-2">Update</vs-button>                                                  
	</div></div>
          </form>
        </div>
      </vx-card>
    </vs-tab>

    <vs-tab icon-pack="feather" @click="getepin" :label="!isSmallerScreen ? 'E-Pin' : ''">
      <vx-card title="E-Pin" code-toggler>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Gateway Name</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="epin_paymentsettings_name" v-validate="'required'"/>   
              </div> 
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Status</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <br>
                
                  <vs-switch v-model="epinstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div> <br> 
              <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updateepin" class="mr-3 mb-2">Update</vs-button>                                                  
	</div></div>
          </form>
        </div>
      </vx-card>
    </vs-tab>


    <vs-tab icon-pack="feather" @click="getcp" :label="!isSmallerScreen ? 'Coin Payment' : ''">
      <vx-card title="Coin Payment" code-toggler>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Gateway Name</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cp_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Merchant ID</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cp_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>IPN Secret</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cp_paymentsettings_accnum" v-validate="'required'"/>   
              </div>
            </div> 
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Debug Mail</span>
              </div>  
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cp_debugemail" v-validate="'required'"/>   
              </div> 
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Status</span>
              </div>                
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="cpstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div>
             <br> 
              <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updatecp" class="mr-3 mb-2">Update</vs-button>                                                  
	</div></div>
          </form>
        </div>
      </vx-card>
    </vs-tab>

    <vs-tab icon-pack="feather" @click="getstripe" :label="!isSmallerScreen ? 'Stripe' : ''">
      <vx-card title="Stripe" code-toggler>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Gateway Name</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="stripe_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Public Key</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="stripe_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Private Key</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="stripe_paymentsettings_accnum" v-validate="'required'"/>   
              </div> 
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Payment Mode</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <v-select class="inputx" v-model="stripepaymentoption" :options="stripepaymentoptions" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
              </div>                 
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Status</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
               
                  <vs-switch v-model="stripestatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div> <br> 
              <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updatestripe" class="mr-3 mb-2">Update</vs-button>                                                  
              </div>
	</div>
          </form>
        </div>
      </vx-card>
    </vs-tab>


    <vs-tab icon-pack="feather" @click="getewallet" :label="!isSmallerScreen ? 'E-Wallet' : ''">
      <vx-card title="E-Wallet" code-toggler>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Gateway Name"</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="ewallet_paymentsettings_name" v-validate="'required'"/>   
              </div> 
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Status</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <br>
                
                  <vs-switch v-model="ewalletstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div> 
            </div>
            <br> 
              <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updateewallet" class="mr-3 mb-2">Update</vs-button>                                                  
	</div></div>
          </form>
        </div>
      </vx-card>
    </vs-tab>  


    <vs-tab icon-pack="feather" @click="getchargebee" :label="!isSmallerScreen ? 'Chargebee' : ''">
      <vx-card title="Chargebee" code-toggler>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Gateway Name</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cb_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>API Key</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cb_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Site</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full " v-model="cb_paymentsettings_accnum" v-validate="'required'"/>   
              </div> 
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Payment Mode</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <v-select class="inputx" v-model="cbpaymentoption" :options="cbpaymentoptions" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
              </div>                 
            </div>
            <div class="vx-row sm:w-2/3 w-full mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                    <span>Status</span>
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                
                  <vs-switch v-model="cbstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div> <br> 
              <div class="vx-row sm:w-2/3 mt-5">
			  <div class="vx-col sm:w-1/3 w-full">
                  
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updatchargebee" class="mr-3 mb-2">Update</vs-button>                                                  
	</div></div>
          </form>
        </div>
      </vx-card>
    </vs-tab>      


  </vs-tabs>
</vx-card>
</template>


<script>
import config from "@/config.js"
import vSelect from 'vue-select'
//import { Validator } from 'vee-validate';
export default {

  data() {
      return {
      paymentsettings_name: '',
    paymentsettings_accnum: '',
    paymentoption:'',
    paypalstatus:'',
		paymentoptions: [
			{id: 1, label: 'Sandbox'},
			{id: 2, label: 'Live'},
    ], 
    bankwire_paymentsettings_name:'',
    bankwire_paymentsettings_accname:'',
    bankwire_paymentsettings_accnum:'',
    bankwire_address:'',
    bankwire_switchcode:'',
    bankwire_bankroute:'',
    bankwirestatus:'',
    pm_paymentsettings_name:'',
    pm_paymentsettings_accname:'',
    pm_paymentsettings_accnum:'',
    pmstatus:'',
    bitpay_paymentsettings_name:'',
    bitpay_paymentsettings_accname:'',
    bitpaypaymentoption:'',
		bitpaypaymentoptions: [
			{id: 1, label: 'Sandbox'},
			{id: 2, label: 'Live'},
    ],
    bitpaystatus:'',    
    skrill_paymentsettings_name:'', 
    skrill_paymentsettings_accname:'',
    skrillstatus:'',
    payeer_paymentsettings_name:'',
    payeer_paymentsettings_accname:'',
    payeer_paymentsettings_accnum:'',
    payeerpaymentoption:'',
		payeerpaymentoptions: [
			{id: 1, label: 'Sandbox'},
			{id: 2, label: 'Live'},
    ], 
    payeerstatus:'',   
    cheque_paymentsettings_name:'',
    cheque_paymentsettings_accname:'',
    chequestatus:'',
    epin_paymentsettings_name:'',
    epinstatus:'',
    cp_paymentsettings_name:'',
    cp_paymentsettings_accname:'',
    cp_paymentsettings_accnum:'',
    cp_debugemail:'',
    cpstatus:'',
    stripe_paymentsettings_name:'',
    stripe_paymentsettings_accname:'',
    stripe_paymentsettings_accnum:'',
    stripestatus:'',
    stripepaymentoption:'',
		stripepaymentoptions: [
			{id: 1, label: 'Sandbox'},
			{id: 2, label: 'Live'},
    ], 
    ewallet_paymentsettings_name:'',
    ewalletstatus:'',
    cb_paymentsettings_name:'',
    cb_paymentsettings_accname:'',
    cb_paymentsettings_accnum:'',
    cbstatus:'',
    cbpaymentoption:'',
		cbpaymentoptions: [
			{id: 1, label: 'Sandbox'},
			{id: 2, label: 'Live'},
    ],     
    }
  },  
    components: {       
      'v-select': vSelect,
  },

    created() {
      return this.paypalupdate();
  },
  methods: { 
    updatchargebee(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          cb_paymentsettings_name: this.cb_paymentsettings_name,          
          cb_paymentsettings_accname: this.cb_paymentsettings_accname,          
          cb_paymentsettings_accnum: this.cb_paymentsettings_accnum,                    
          cbpaymentoption: this.cbpaymentoption,                    
          cbstatus: this.cbstatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/chargebeesettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Chargebee Setting',
              text: 'Plan successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Chargebee Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Chargebee Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },     
    getchargebee(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getchargebee",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.cb_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            this.cb_paymentsettings_accname = response.data[0]['paymentsettings_accname'];            
            this.cb_paymentsettings_accnum = response.data[0]['paymentsettings_accnum'];                  
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.cbstatus = "on";
            }else{
              this.cbstatus = "off";
            }  
            if(response.data[0]['paymentsettings_mode']=='sandbox'){              
              this.cbpaymentoption = "Sandbox";
            }else{
              this.cbpaymentoption = "Live";
            }             
            
        })
        .catch(error => {
            console.log(error);
        });
    },    
    updateewallet(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          ewallet_paymentsettings_name: this.ewallet_paymentsettings_name,          
          ewalletstatus: this.ewalletstatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/ewalletsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'E-Wallet Setting',
              text: 'Payment successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'E-Wallet Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'E-Wallet Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getewallet(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getewallet",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.ewallet_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.ewalletstatus = "on";
            }else{
              this.ewalletstatus = "off";
            }           
        })
        .catch(error => {
            console.log(error);
        });
    },     
    updatestripe(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          stripe_paymentsettings_name: this.stripe_paymentsettings_name,          
          stripe_paymentsettings_accname: this.stripe_paymentsettings_accname,          
          stripe_paymentsettings_accnum: this.stripe_paymentsettings_accnum,                    
          stripepaymentoption: this.stripepaymentoption,                    
          stripestatus: this.stripestatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/stripesettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Stripe Setting',
              text: 'Payment successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Stripe Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Stripe Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },     
    getstripe(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getstripe",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.stripe_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            this.stripe_paymentsettings_accname = response.data[0]['paymentsettings_accname'];            
            this.stripe_paymentsettings_accnum = response.data[0]['paymentsettings_accnum'];                  
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.stripestatus = "on";
            }else{
              this.stripestatus = "off";
            }  
            if(response.data[0]['paymentsettings_mode']=='sandbox'){              
              this.stripepaymentoption = "Sandbox";
            }else{
              this.stripepaymentoption = "Live";
            }             
            
        })
        .catch(error => {
            console.log(error);
        });
    },
    updatecp(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          cp_paymentsettings_name: this.cp_paymentsettings_name,          
          cp_paymentsettings_accname: this.cp_paymentsettings_accname,          
          cp_paymentsettings_accnum: this.cp_paymentsettings_accnum,          
          cp_debugemail: this.cp_debugemail,          
          cpstatus: this.cpstatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/cpsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Coin Payment Setting',
              text: 'Payment successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Coin Payment Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Coin Payment Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getcp(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getcp",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.cp_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            this.cp_paymentsettings_accname = response.data[0]['paymentsettings_accname'];            
            this.cp_paymentsettings_accnum = response.data[0]['paymentsettings_accnum'];      
            let payout_apivalues = JSON.parse(response.data[0]['payout_apivalues']);
            this.cp_debugemail = payout_apivalues['debugemail'];                  
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.cpstatus = "on";
            }else{
              this.cpstatus = "off";
            }           
        })
        .catch(error => {
            console.log(error);
        });
    },    
    updateepin(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          epin_paymentsettings_name: this.epin_paymentsettings_name,          
          epinstatus: this.epinstatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/epinsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'E-Pin Setting',
              text: 'Payment successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'E-Pin Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'E-Pin Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getepin(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getepin",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.epin_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.epinstatus = "on";
            }else{
              this.epinstatus = "off";
            }           
        })
        .catch(error => {
            console.log(error);
        });
    },     
    updatecheque(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          cheque_paymentsettings_name: this.cheque_paymentsettings_name,
          cheque_paymentsettings_accname: this.cheque_paymentsettings_accname,          
          chequestatus: this.chequestatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/chequesettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Cheque Setting',
              text: 'Payment successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Cheque Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Cheque Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getcheque(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getcheque",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.cheque_paymentsettings_name = response.data[0]['paymentsettings_name'];
            this.cheque_paymentsettings_accname = response.data[0]['paymentsettings_accname'];                                                               
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.chequestatus = "on";
            }else{
              this.chequestatus = "off";
            }           
        })
        .catch(error => {
            console.log(error);
        });
    },      
    updatepayeer(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          payeer_paymentsettings_name: this.payeer_paymentsettings_name,
          payeer_paymentsettings_accname: this.payeer_paymentsettings_accname,          
          payeer_paymentsettings_accnum: this.payeer_paymentsettings_accnum,    
          payeerpaymentoption: this.payeerpaymentoption,      
          payeerstatus: this.payeerstatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/payeersettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Payeer Setting',
              text: 'Payment successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Payeer Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Payeer Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getpayeer(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayeer",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.payeer_paymentsettings_name = response.data[0]['paymentsettings_name'];
            this.payeer_paymentsettings_accname = response.data[0]['paymentsettings_accname'];                                                               
            this.payeer_paymentsettings_accnum = response.data[0]['paymentsettings_accnum'];                                                               
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.payeerstatus = "on";
            }else{
              this.payeerstatus = "off";
            }  
            if(response.data[0]['paymentsettings_mode']=='sandbox'){              
              this.payeerpaymentoption = "Sandbox";
            }else{
              this.payeerpaymentoption = "Live";
            }                     
        })
        .catch(error => {
            console.log(error);
        });
    },     
    updateskrill(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          skrill_paymentsettings_name: this.skrill_paymentsettings_name,
          skrill_paymentsettings_accname: this.skrill_paymentsettings_accname,          
          skrillstatus: this.skrillstatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/skrillsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Skrill Setting',
              text: 'Payment successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Skrill Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Skrill Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getskrill(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getskrill",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.skrill_paymentsettings_name = response.data[0]['paymentsettings_name'];
            this.skrill_paymentsettings_accname = response.data[0]['paymentsettings_accname'];                                                               
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.skrillstatus = "on";
            }else{
              this.skrillstatus = "off";
            }           
        })
        .catch(error => {
            console.log(error);
        });
    },    
    updatebitpay(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          bitpay_paymentsettings_name: this.bitpay_paymentsettings_name,
          bitpay_paymentsettings_accname: this.bitpay_paymentsettings_accname,
          bitpaypaymentoption: this.bitpaypaymentoption,
          bitpaystatus: this.bitpaystatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/bitpaysettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Bitpay Setting',
              text: 'Payment successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Bitpay Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Bitpay Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getbitpay(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getbitpay",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.bitpay_paymentsettings_name = response.data[0]['paymentsettings_name'];
            this.bitpay_paymentsettings_accname = response.data[0]['paymentsettings_accname'];                                                               
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.bitpaystatus = "on";
            }else{
              this.bitpaystatus = "off";
            }
            if(response.data[0]['paymentsettings_mode']=='sandbox'){
              this.bitpaypaymentoption = "Sandbox";
            }else{
              this.bitpaypaymentoption = "Live";
            }            
        })
        .catch(error => {
            console.log(error);
        });
    },
    updatepm(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          pm_paymentsettings_name: this.pm_paymentsettings_name,
          pm_paymentsettings_accname: this.pm_paymentsettings_accname,
          pm_paymentsettings_accnum: this.pm_paymentsettings_accnum,
          pmstatus: this.pmstatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/pmsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Perfect Money Setting',
              text: 'Payment successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Perfect Money Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Perfect Money Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getpm(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpm",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.pm_paymentsettings_name = response.data[0]['paymentsettings_name'];
            this.pm_paymentsettings_accname = response.data[0]['paymentsettings_accname'];                     
            this.pm_paymentsettings_accnum = response.data[0]['paymentsettings_accnum'];                                 
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.pmstatus = "on";
            }else{
              this.pmstatus = "off";
            }
        })
        .catch(error => {
            console.log(error);
        });
    },
    updatebankwire(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          bankwire_paymentsettings_name: this.bankwire_paymentsettings_name,
          bankwire_paymentsettings_accname: this.bankwire_paymentsettings_accname,
          bankwire_paymentsettings_accnum: this.bankwire_paymentsettings_accnum,
          bankwirestatus: this.bankwirestatus,
          bankwire_address: this.bankwire_address,
          bankwire_switchcode: this.bankwire_switchcode,
          bankwire_bankroute: this.bankwire_bankroute,
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/bankwiresettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Bankwire Setting',
              text: 'Payment successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/paymentsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Bankwire Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Bankwire Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getebankwire(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getbankwire",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.bankwire_paymentsettings_name = response.data[0]['paymentsettings_name'];
            this.bankwire_paymentsettings_accname = response.data[0]['paymentsettings_accname'];                     
            this.bankwire_paymentsettings_accnum = response.data[0]['paymentsettings_accnum'];                     
            let payout_apivalues = JSON.parse(response.data[0]['payout_apivalues']);
            this.bankwire_address = payout_apivalues['address'];
            this.bankwire_switchcode = payout_apivalues['switchcode'];
            this.bankwire_bankroute = payout_apivalues['bankroute'];
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.bankwirestatus = "on";
            }else{
              this.bankwirestatus = "off";
            }

        })
        .catch(error => {
            console.log(error);
        });      

    },
    paypalupdate() {
     
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpaypal",{ headers: { Authorization: AuthStr } })
        .then(response => {   
             console.log(response.data);         
            this.paymentsettings_name = response.data[0]['paymentsettings_name'];
            this.paymentsettings_accnum = response.data[0]['paymentsettings_accname'];
            if(response.data[0]['paymentsettings_mode']=='sandbox'){
              this.paymentoption = "Sandbox";
            }else{
              this.paymentoption = "Live";
            }
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.paypalstatus = true;
            }else{
              this.paypalstatus = false;
            }            
            
        })
        .catch(error => {
            console.log(error);
        });
    },      
    updatepaypal() {   
		this.$validator.validateAll().then(result => {
			if(result) {
				this.$vs.loading()
				let plandetails = {
				paymentsettings_name: this.paymentsettings_name,
				paymentsettings_accnum: this.paymentsettings_accnum,
				paymentoption: this.paymentoption,
        		paypalstatus: this.paypalstatus,
				}
				const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
				this.$http.post(config.apiUrl +"api/admin/paypalsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
				.then(response => {
					console.log(response);
					this.$vs.loading.close()
					this.$vs.notify({
						title: 'Paypal Setting',
						text: 'Payment successfully added',
						iconPack: 'feather',
						icon: 'icon-alert-circle',
						color: 'success'
					})
					this.$router.push({ path : '/settings/paymentsettings' });
				})
				.catch(error => {
					console.log(error);
					this.$vs.loading.close()
					this.$vs.notify({
						title: 'Paypal Setting',
						text: 'Please check values',
						iconPack: 'feather',
						icon: 'icon-alert-circle',
						color: 'warning'
					})
				});

			}else{
				this.$vs.loading.close()
				this.$vs.notify({
						title: 'Paypal Setting',
						text: 'Please fill all fields',
						iconPack: 'feather',
						icon: 'icon-alert-circle',
						color: 'warning'
				})
			}
		})
    }
  }
}
</script>

<style lang="scss">
#profile-tabs {
  .vs-tabs--content {
    padding: 0;
  }
  .vs-textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
}
</style>