<template>

      <vx-card title="Payout Configuration"> 
       <form>  
         <div class="w-full">      
            
            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Minimum Withdraw Amount</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="minimum_amount" v-validate="'required'"/>                   
               </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Maximum Withdraw Amount</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="maximum_amount" v-validate="'required'"/> 
               </div>
            </div> 

            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Number of Withdraw Allowed in a Month</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="no_withdraw_allowed" v-validate="'required'"/> 
               </div>
            </div>             

            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Admin Withdraw Commission in %</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="admin_withdraw_commission" v-validate="'required'"/> 
               </div>
            </div>   


                                                                                                                                                          

            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                 
               </div>
               <div class="vx-col sm:w-2/3 w-full">
               <vs-button type="filled"  @click="updatepayoutconfig" class="mr-3 mb-2">Update</vs-button>              
               </div>
            </div>                
                  
      
         </div>
      </form>
       </vx-card>
</template> 

<script>
import config from "@/config.js"
export default {

  data() {
      return {
         minimum_amount:'',
         maximum_amount:'',
         no_withdraw_allowed:'',
         admin_withdraw_commission:'',
         mass_payout:'',      
      }
  },   
   created() {
      return this.getpayoutconfig();
  },  
  methods: { 
    getpayoutconfig(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayoutconfig",{ headers: { Authorization: AuthStr } })
        .then(response => {  
           //let payout_apivalues = JSON.parse(response.data[0]);    
           for(var i=0;i<response.data.length;i++){
              var generalsettings_name = response.data[i]['generalsettings_name'];
              if(generalsettings_name=='minimum_amount'){
                 this.minimum_amount = response.data[i]['generalsettings_value']; 
              }
              if(generalsettings_name=='maximum_amount'){
                 this.maximum_amount = response.data[i]['generalsettings_value']; 
              } 
              if(generalsettings_name=='no_withdraw_allowed'){                 
                 this.no_withdraw_allowed = response.data[i]['generalsettings_value']; 
              }
              if(generalsettings_name=='admin_withdraw_commission'){
                 this.admin_withdraw_commission = response.data[i]['generalsettings_value']; 
              } 
              if(generalsettings_name=='mass_payout'){
                  if(response.data[0]['generalsettings_value']=='Active'){
                     this.mass_payout = "on";
                  }else{
                     this.mass_payout = "off";
                  }                                   
              }               
           }             
            
        })
        .catch(error => {
            console.log(error);
        });
    },     
    updatepayoutconfig(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          minimum_amount: this.minimum_amount,          
          maximum_amount: this.maximum_amount,    
          no_withdraw_allowed: this.no_withdraw_allowed,    
          admin_withdraw_commission: this.admin_withdraw_commission,    
          mass_payout: this.mass_payout,
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/updatepayoutconfig",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Payout Configuration',
              text: 'Successfully Updated',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/payoutconfig' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Payout Configuration',
              text: 'Fill the Fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Payout Configuration',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },  
  }, 
}
</script>    
    