<template>

<vx-card title="Payout Settings"> 
        
  <vs-tabs :position="isSmallerScreen ? 'top' : 'left'" class="tabs-shadow-none" id="profile-tabs" :key="isSmallerScreen">

    <!-- GENERAL -->
    <vs-tab icon-pack="feather" :label="!isSmallerScreen ? 'Paypal' : ''">
		<div title="Paypal" class="ml-6">
      <h2 class="mt-2 mb-10">Paypal</h2>
        <form>
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
             <span>Gateway Name</span>               
            </div>
            <div class="vx-col sm:w-2/3 w-full">
				<vs-input class="w-full" v-model="paymentsettings_name" v-validate="'required'"/>              	              	
            </div>
          </div> 
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
             <span>Paypal Email ID</span>               
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" v-model="paymentsettings_accnum" v-validate="'required|email'"/>	
				      <span class="text-danger">{{ errors.first('paymentsettings_accnum') }}</span>			         	              	
            </div>
          </div> 
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
             <span>Client ID</span>               
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" v-model="paypalclientid" v-validate="'required'"/>              	              	
            </div>
          </div> 
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
             <span>Secret ID</span>               
            </div>
            <div class="vx-col sm:w-2/3 w-full">
			      	<vs-input class="w-full" v-model="paypalsecretid" v-validate="'required'"/>              	              	
            </div>
          </div>           
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
             <span>Payment Method</span>               
            </div>
            <div class="vx-col sm:w-2/3 w-full">
				<v-select name="lvlcommnwallet"  class="inputx" v-model="paymentoption" :options="paymentoptions" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
            </div>
          </div> 	   
          <br>       	  		  
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
             <span>Status</span>               
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              
                <vs-switch v-model="paypalstatus" v-validate="'required'">
                    <span slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>				
            </div>
          </div> 	
          <br>       	  		  
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
             <span>Instant Payout Status</span>               
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-switch v-model="paypalinstant" v-validate="'required'">
                    <span slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>				
            </div>
          </div> 	          

          <div class="vx-row sm:w-2/3 mt-5">
            <div class="vx-col sm:w-1/3 w-full">
             <span></span>               
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-button type="filled"  @click="updatepaypal" class="mr-3 mb-2">Update</vs-button>              
            </div>
          </div>		  			  	  		  
        </form>
		</div>
    </vs-tab>



    <vs-tab icon-pack="feather" @click="getebankwire" :label="!isSmallerScreen ? 'Bankwire' : ''">      
      <div class="ml-6">
          <h2 class="mt-2 mb-10">Bankwire</h2>
        <div class="mt-5">
        <form>          
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
             <span>Gateway Name</span>               
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" v-model="bankwire_paymentsettings_name" v-validate="'required'"/>   
            </div>
          </div>
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
             <span>Status</span>               
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="bankwirestatus" v-validate="'required'">
                    <span slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>	              
            </div>
          </div> 
          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full"></div>
            <div class="vx-col sm:w-2/3 w-full">
              
              <vs-button type="filled"  @click="updatebankwire" >Update</vs-button>                                                  
            </div>
          </div>
        </form>
        </div>
      </div>      
    </vs-tab>



    <vs-tab icon-pack="feather" @click="getpm" :label="!isSmallerScreen ? 'Perfect Money' : ''">
      <div class="ml-6">
          <h2 class="mt-2 mb-10">Perfect Money</h2>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
              <span>Gateway Name</span>               
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pm_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
              <span>Account Number</span>               
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pm_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
              <span>Account Password</span>               
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pm_paymentsettings_accnum" v-validate="'required'"/>   
              </div> 
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
              <span>Wallet ID</span>               
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pm_walletId" v-validate="'required'"/>   
              </div> 
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
              <span>Payment Mode</span>               
              </div> 
                <div class="vx-col sm:w-2/3 w-full">
                  <v-select  class="inputx" v-model="pm_paymentoption" :options="paymentoptions" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
                </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
              <span>Status</span>               
              </div>                              
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="pmstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                <span>Instant Withdraw</span>               
              </div> 
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="pminstant" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>  
            </div> 
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                        
              </div>           
              <div class="vx-col sm:w-2/3 w-full">
               <vs-button type="filled"  @click="updatepm" class="mr-3 mb-2">Update</vs-button>                                                  
              </div>
            </div>
          </form>
        </div>
      </div>
    </vs-tab>



    <vs-tab icon-pack="feather"  @click="getbitpay" :label="!isSmallerScreen ? 'Bitpay Bitcoin' : ''">
      <div class="ml-6">
          <h2 class="mt-2 mb-10">Bitpay Bitcoin</h2>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Gateway Name</span>               
                </div> 
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="bitpay_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>               
                </div> 
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="bitpaystatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div>
              <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full"></div>
                <div class="vx-col sm:w-2/3 w-full">
                  <vs-button type="filled"  @click="updatebitpay" class="mr-3 mb-2">Update</vs-button>                                                  
                </div>
              </div>
          </form>
        </div>
      </div>
    </vs-tab>



    <vs-tab icon-pack="feather" @click="getskrill" :label="!isSmallerScreen ? 'Skrill' : ''">
      <div class="ml-6">
          <h2 class="mt-2 mb-10">Skrill</h2>
          <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Gateway Name</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="skrill_paymentsettings_name" v-validate="'required'"/>   
              </div> 
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="skrillstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div> 
            </div>
              <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full"></div>
                <div class="vx-col sm:w-2/3 w-full">
                  <vs-button type="filled"  @click="updateskrill" class="mr-3 mb-2">Update</vs-button>                                                  
                </div>
              </div>
          </form>
        </div>
      </div>
    </vs-tab>


    <vs-tab icon-pack="feather"  @click="getpayeer" :label="!isSmallerScreen ? 'Payeer' : ''">
      <div class="ml-6">
          <h2 class="mt-2 mb-10">Payeer</h2>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Gateway Name</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="payeer_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Account Number</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="payeer_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>API Id</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="payeer_paymentsettings_accnum" v-validate="'required'"/>   
              </div> 
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Key</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="payeer_key" v-validate="'required'"/>   
              </div>  
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Payment Mode</span>               
                </div>                          
              <div class="vx-col sm:w-2/3 w-full">
                <v-select class="inputx" v-model="payeerpaymentoption" :options="payeerpaymentoptions" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
              </div>  
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>               
                </div> 
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="payeerstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Instant Withdraw</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="payeerinstant" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>  
            </div>            
              <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full"></div>
                <div class="vx-col sm:w-2/3 w-full">
                  <vs-button type="filled"  @click="updatepayeer" class="mr-3 mb-2">Update</vs-button>                                                  
                </div>
              </div>
          </form>
        </div>
      </div>
    </vs-tab>


    <vs-tab icon-pack="feather" @click="getcheque" :label="!isSmallerScreen ? 'Cheque' : ''">
      <div class="ml-6">
          <h2 class="mt-2 mb-10">Cheque</h2>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Gateway Name</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cheque_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>               
                </div>  
              <div class="vx-col sm:w-2/3 w-full">
                 <vs-switch v-model="chequestatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div> 
            </div>
              <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full"></div>
                <div class="vx-col sm:w-2/3 w-full">
                  <vs-button type="filled"  @click="updatecheque" class="mr-3 mb-2">Update</vs-button>                                                  
                </div>
              </div>
          </form>
        </div>
      </div>
    </vs-tab>

    <vs-tab icon-pack="feather" @click="getcp" :label="!isSmallerScreen ? 'Coin Payment' : ''">
        <div class="ml-6">
          <h2 class="mt-2 mb-10">Coin Payment</h2>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Gateway Name</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cp_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Merchant ID</span>               
              </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cp_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>IPN Secret</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="cp_paymentsettings_accnum" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>               
                </div>                   
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="cpstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Instant Withdraw</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="cpinstant" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div>              
            <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full"></div>
                <div class="vx-col sm:w-2/3 w-full">
                  <vs-button type="filled"  @click="updatecp" class="mr-3 mb-2">Update</vs-button>                                                  
                </div>
            </div>
          </form>
        </div>
      </div>
    </vs-tab>

    <vs-tab icon-pack="feather" @click="getstripe" :label="!isSmallerScreen ? 'Stripe' : ''">
      <div class="ml-6">
          <h2 class="mt-2 mb-10">Stripe</h2>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Gateway Name</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="stripe_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Private Key</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="stripe_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>               
                </div>                                            
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="stripestatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full"></div>
                <div class="vx-col sm:w-2/3 w-full">
                  <vs-button type="filled"  @click="updatestripe" class="mr-3 mb-2">Update</vs-button>                                                  
                </div>
            </div>
          </form>
        </div>
      </div>
    </vs-tab>

    <vs-tab icon-pack="feather" @click="getpayquicker" :label="!isSmallerScreen ? 'Payquicker' : ''">
      <div class="ml-6">
          <h2 class="mt-2 mb-10">Payquicker</h2>
        <div class="mt-5">
          <form>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Gateway Name</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pq_paymentsettings_name" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Client ID</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pq_paymentsettings_accname" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Secret ID</span>               
                </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pq_paymentsettings_accnum" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Account Number</span>               
                </div> 
              <div class="vx-col sm:w-2/3 w-full">
                <vs-input class="w-full" v-model="pq_accountno" v-validate="'required'"/>   
              </div>
            </div>
            <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>               
                </div>                                             
              <div class="vx-col sm:w-2/3 w-full">
                  <vs-switch v-model="pqstatus" v-validate="'required'">
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                  </vs-switch>	              
              </div>
            </div>
              <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full"></div>
                <div class="vx-col sm:w-2/3 w-full">
                <vs-button type="filled"  @click="updatpayquicker" class="mr-3 mb-2">Update</vs-button>                                                  
              </div>
            </div>
          </form>
        </div>
      </div>
    </vs-tab>      


  </vs-tabs>
</vx-card>
</template>


<script>
import config from "@/config.js"
import vSelect from 'vue-select'
//import { Validator } from 'vee-validate';
export default {

  data() {
      return {
      paymentsettings_name: '',
    paymentsettings_accnum: '',
    paypalclientid:'',
    paypalsecretid:'',
    paymentoption:'',
    paypalstatus:true,
    paypalinstant:true,
		paymentoptions: [
			{id: 1, label: 'Sandbox'},
			{id: 2, label: 'Live'},
    ], 
    bankwire_paymentsettings_name:'',
    bankwirestatus:true,
    pm_paymentsettings_name:'',
    pm_paymentsettings_accname:'',
    pm_paymentsettings_accnum:'',
    pmstatus:'',
    pm_paymentoption:'',
    pm_walletId:'',
    pminstant:'',
    bitpay_paymentsettings_name:'',    
    bitpaystatus:'',    
    skrill_paymentsettings_name:'',     
    skrillstatus:'',
    payeer_paymentsettings_name:'',
    payeer_paymentsettings_accname:'',
    payeer_paymentsettings_accnum:'',
    payeerpaymentoption:'',
		payeerpaymentoptions: [
			{id: 1, label: 'Sandbox'},
			{id: 2, label: 'Live'},
    ], 
    payeerstatus:'',   
    payeer_key:'',   
    payeerinstant:'',   
    cheque_paymentsettings_name:'',    
    chequestatus:'',
    cp_paymentsettings_name:'',
    cp_paymentsettings_accname:'',
    cp_paymentsettings_accnum:'',    
    cpstatus:'',
    cpinstant:'',
    stripe_paymentsettings_name:'',
    stripe_paymentsettings_accname:'',    
    stripestatus:'',
    pq_paymentsettings_name:'',
    pq_paymentsettings_accname:'',
    pq_paymentsettings_accnum:'',
    pq_accountno:'',
    pqstatus:'',   
    }
  },  
    components: {       
      'v-select': vSelect,
  },

    created() {
      return this.paypalupdate();
  },
  methods: { 
    updatpayquicker(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          pq_paymentsettings_name: this.pq_paymentsettings_name,          
          pq_paymentsettings_accname: this.pq_paymentsettings_accname,          
          pq_paymentsettings_accnum: this.pq_paymentsettings_accnum,                    
          pq_accountno: this.pq_accountno,                    
          pqstatus: this.pqstatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/pqpayoutsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Payquicker Setting',
              text: 'Plan successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/payoutsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Payquicker Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Payquicker Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },     
    getpayquicker(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayquicker",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.pq_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            this.pq_paymentsettings_accname = response.data[0]['paymentsettings_accname'];            
            this.pq_paymentsettings_accnum = response.data[0]['paymentsettings_accnum'];     
            let payout_apivalues = JSON.parse(response.data[0]['payout_apivalues']);
            this.pq_accountno = payout_apivalues['pq_accountno'];                             
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.pqstatus = "on";
            }else{
              this.pqstatus = "off";
            }  
          
            
        })
        .catch(error => {
            console.log(error);
        });
    },    
    updatestripe(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          stripe_paymentsettings_name: this.stripe_paymentsettings_name,          
          stripe_paymentsettings_accname: this.stripe_paymentsettings_accname,                    
          stripestatus: this.stripestatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/stripepayoutsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Stripe Setting',
              text: 'Plan successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/payoutsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Stripe Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Stripe Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },     
    getstripe(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayoutstripe",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.stripe_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            this.stripe_paymentsettings_accname = response.data[0]['paymentsettings_accname'];                                          
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.stripestatus = "on";
            }else{
              this.stripestatus = "off";
            }                           
        })
        .catch(error => {
            console.log(error);
        });
    },
    updatecp(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          cp_paymentsettings_name: this.cp_paymentsettings_name,          
          cp_paymentsettings_accname: this.cp_paymentsettings_accname,          
          cp_paymentsettings_accnum: this.cp_paymentsettings_accnum,                            
          cpstatus: this.cpstatus,          
          cpinstant: this.cpinstant,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/cppayoutsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Coin Payment Setting',
              text: 'Plan successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/payoutsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Coin Payment Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Coin Payment Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getcp(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayoutcp",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.cp_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            this.cp_paymentsettings_accname = response.data[0]['paymentsettings_accname'];            
            this.cp_paymentsettings_accnum = response.data[0]['paymentsettings_accnum'];                              
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.cpstatus = "on";
            }else{
              this.cpstatus = "off";
            }
            if(response.data[0]['instantpayout_status']=='Active'){
              this.cpinstant = "on";
            }else{
              this.cpinstant = "off";
            }                       
        })
        .catch(error => {
            console.log(error);
        });
    },       
    updatecheque(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          cheque_paymentsettings_name: this.cheque_paymentsettings_name,          
          chequestatus: this.chequestatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/chequespayoutettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Cheque Setting',
              text: 'Plan successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/payoutsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Cheque Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Cheque Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getcheque(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayoutcheque",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.cheque_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.chequestatus = "on";
            }else{
              this.chequestatus = "off";
            }           
        })
        .catch(error => {
            console.log(error);
        });
    },      
    updatepayeer(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          payeer_paymentsettings_name: this.payeer_paymentsettings_name,
          payeer_paymentsettings_accname: this.payeer_paymentsettings_accname,          
          payeer_paymentsettings_accnum: this.payeer_paymentsettings_accnum,    
          payeerpaymentoption: this.payeerpaymentoption,      
          payeerstatus: this.payeerstatus,
          payeer_key: this.payeer_key,
          payeerinstant: this.payeerinstant,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/payeerpayoutsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Payeer Setting',
              text: 'Plan successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/payoutsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Payeer Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Payeer Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getpayeer(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayoutpayeer",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.payeer_paymentsettings_name = response.data[0]['paymentsettings_name'];
            this.payeer_paymentsettings_accname = response.data[0]['paymentsettings_accname'];                                                               
            this.payeer_paymentsettings_accnum = response.data[0]['paymentsettings_accnum'];      
            let payout_apivalues = JSON.parse(response.data[0]['payout_apivalues']);
            this.payeer_key = payout_apivalues['payeer_key'];                                                                       
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.payeerstatus = "on";
            }else{
              this.payeerstatus = "off";
            }  
            if(response.data[0]['paymentsettings_mode']=='sandbox'){              
              this.payeerpaymentoption = "Sandbox";
            }else{
              this.payeerpaymentoption = "Live";
            }  
            if(response.data[0]['instantpayout_status']=='Active'){
              this.payeerstatus = "on";
            }else{
              this.payeerstatus = "off";
            }                                 
        })
        .catch(error => {
            console.log(error);
        });
    },     
    updateskrill(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          skrill_paymentsettings_name: this.skrill_paymentsettings_name,                  
          skrillstatus: this.skrillstatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/skrillpayoutsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Skrill Setting',
              text: 'Plan successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/payoutsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Skrill Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Skrill Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getskrill(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayoutskrill",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.skrill_paymentsettings_name = response.data[0]['paymentsettings_name'];                                                                           
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.skrillstatus = "on";
            }else{
              this.skrillstatus = "off";
            }           
        })
        .catch(error => {
            console.log(error);
        });
    },    
    updatebitpay(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          bitpay_paymentsettings_name: this.bitpay_paymentsettings_name,          
          bitpaystatus: this.bitpaystatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/bitpaypayoutsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Bitpay Setting',
              text: 'Plan successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/payoutsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Bitpay Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Bitpay Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getbitpay(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayoutbitpay",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.bitpay_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.bitpaystatus = "on";
            }else{
              this.bitpaystatus = "off";
            }
        })
        .catch(error => {
            console.log(error);
        });
    },
    updatepm(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          pm_paymentsettings_name: this.pm_paymentsettings_name,
          pm_paymentsettings_accname: this.pm_paymentsettings_accname,
          pm_paymentsettings_accnum: this.pm_paymentsettings_accnum,
          pm_walletId: this.pm_walletId,
          pm_paymentoption: this.pm_paymentoption,
          pminstant: this.pminstant,
          pmstatus: this.pmstatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/pmpayoutsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Perfect Money Setting',
              text: 'Plan successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/payoutsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Perfect Money Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Perfect Money Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getpm(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayoutpm",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.pm_paymentsettings_name = response.data[0]['paymentsettings_name'];
            this.pm_paymentsettings_accname = response.data[0]['paymentsettings_accname'];                     
            this.pm_paymentsettings_accnum = response.data[0]['paymentsettings_accnum'];   
            let payout_apivalues = JSON.parse(response.data[0]['payout_apivalues']);
            this.pm_walletId = payout_apivalues['pm_walletId'];                                           
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.pmstatus = "on";
            }else{
              this.pmstatus = "off";
            }
            if(response.data[0]['instantpayout_status']=='Active'){
              this.pminstant = "on";
            }else{
              this.pminstant = "off";
            }
            if(response.data[0]['paymentsettings_mode']=='sandbox'){
              this.pm_paymentoption = "Sandbox";
            }else{
              this.pm_paymentoption = "Live";
            }                        
        })
        .catch(error => {
            console.log(error);
        });
    },
    updatebankwire(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          bankwire_paymentsettings_name: this.bankwire_paymentsettings_name,          
          bankwirestatus: this.bankwirestatus,          
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/bankwirepayoutsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Bankwire Setting',
              text: 'Plan successfully added',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/payoutsettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Bankwire Setting',
              text: 'Please check values',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Bankwire Setting',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },
    getebankwire(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayoutbankwire",{ headers: { Authorization: AuthStr } })
        .then(response => {                       
            this.bankwire_paymentsettings_name = response.data[0]['paymentsettings_name'];            
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.bankwirestatus = true;
            }else{
              this.bankwirestatus = false;
            }

        })
        .catch(error => {
            console.log(error);
        });      

    },
    paypalupdate() {
     
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getpayoutpaypal",{ headers: { Authorization: AuthStr } })
        .then(response => {   
             console.log(response.data);         
            this.paymentsettings_name = response.data[0]['paymentsettings_name'];
            this.paymentsettings_accnum = response.data[0]['paymentsettings_accname'];
            let payout_apivalues = JSON.parse(response.data[0]['payout_apivalues']);
            this.paypalclientid = payout_apivalues['paypalclientid'];   
            this.paypalsecretid = payout_apivalues['paypalsecretid'];   


            if(response.data[0]['paymentsettings_mode']=='sandbox'){
              this.paymentoption = "Sandbox";
            }else{
              this.paymentoption = "Live";
            }
            if(response.data[0]['paymentsettings_status']=='Active'){
              this.paypalstatus = true;
            }else{
              this.paypalstatus = false;
            }
            if(response.data[0]['instantpayout_status']=='Active'){
              this.paypalinstant = true;
            }else{
              this.paypalinstant = false;
            }                        
            
        })
        .catch(error => {
            console.log(error);
        });
    },      
    updatepaypal() {   
		this.$validator.validateAll().then(result => {
			if(result) {
				this.$vs.loading()
				let plandetails = {
				paymentsettings_name: this.paymentsettings_name,
        paymentsettings_accnum: this.paymentsettings_accnum,
        paypalclientid: this.paypalclientid,
        paypalsecretid: this.paypalsecretid,
        paypalinstant: this.paypalinstant,
        paypalstatus: this.paypalstatus,    
        paymentoption:this.paymentoption,        
				}
				const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
				this.$http.post(config.apiUrl +"api/admin/paypalpayoutsettingupdate",plandetails,{ headers: { Authorization: AuthStr } })
				.then(response => {
					console.log(response);
					this.$vs.loading.close()
					this.$vs.notify({
						title: 'Paypal Setting',
						text: 'Plan successfully added',
						iconPack: 'feather',
						icon: 'icon-alert-circle',
						color: 'success'
					})
					this.$router.push({ path : '/settings/payoutsettings' });
				})
				.catch(error => {
					console.log(error);
					this.$vs.loading.close()
					this.$vs.notify({
						title: 'Paypal Setting',
						text: 'Please check values',
						iconPack: 'feather',
						icon: 'icon-alert-circle',
						color: 'warning'
					})
				});

			}else{
				this.$vs.loading.close()
				this.$vs.notify({
						title: 'Paypal Setting',
						text: 'Please fill all fields',
						iconPack: 'feather',
						icon: 'icon-alert-circle',
						color: 'warning'
				})
			}
		})
    }
  }
}
</script>

<style lang="scss">
#profile-tabs {
  .vs-tabs--content {
    padding: 0;
  }
}
</style>