<template>
	
<vx-card title="Registration Settings">     
        <form>     
              
        <vs-table pagination :max-items="20" search :data="registersettingdata">

                <template slot="thead">                    
                    <vs-th sort-key="Category Name">Field Name</vs-th>
                    <vs-th sort-key="currency_symbol">Enable/Disable Field</vs-th>
                    <vs-th sort-key="currency_value">Required Field</vs-th>
                </template>
            <template slot-scope="{data}">

                
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].category_name">
                     {{data[indextr].id}}   {{data[indextr].category_name}}                        
                    </vs-td>

                    <vs-td :data="data[indextr].displayalter">                      

  
                        <div v-if="data[indextr].display === '1'">
                            <vs-checkbox  name="packageform" id="packageform" v-model="packageform[data[indextr].displayalter]"></vs-checkbox>
                        </div>
                        <div v-else>
                             <vs-checkbox   name="packageform"  id="packageform" v-model="packageform[data[indextr].displayalter]"></vs-checkbox>
                        </div>

                    </vs-td>
                     <vs-td :data="data[indextr].requiredalter">
                         <div v-if="data[indextr].required_option === '1'">
                            <vs-checkbox name="packageform1" id="packageform1" v-model="packageform1[data[indextr].requiredalter]"></vs-checkbox>  
                        </div>
                        <div v-else>
                            <vs-checkbox name="packageform1" id="packageform1" v-model="packageform1[data[indextr].requiredalter]"></vs-checkbox>  
                        </div>                                                  
                    </vs-td>
                    
                </vs-tr>
            </template>
            
            </vs-table> 
            <div class="vx-row mb-6">
               <div class="vx-col sm:w-2/3 w-full">
               <vs-button type="filled"  @click="updateregsetting" class="mr-3 mb-2">Update</vs-button>              
               </div>
            </div>              
            </form>
</vx-card>
    </template>
      <script>
import config from "@/config.js"
export default {
    data() {
        return {
            registersettingdata: [],
            packageform:{
             display_1:false,
             display_2:false,
             display_3:false,
             display_4:false,
             display_5:false,
             display_6:false,
             display_7:false,
             display_8:false,
             display_9:false,
             display_10:false,
             display_11:false,
             display_12:false},
            packageform1:{
                 required_1:false,
             required_2:false,
             required_3:false,
             required_4:false,
             required_5:false,
             required_6:false,
             required_7:false,
             required_8:false,
             required_9:false,
             required_10:false,
             required_11:false,
             required_12:false
            },
            display_1:false,
             display_2:true,
            checked:false,
            isCheckAll: false,
            langsdata: ["PHP","Vue.js","AngularJS","jQuery","JavaScript"],
            languages: [],
            selectedlang: "",
            disval:""
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
        updateregsetting(){
        this.$validator.validateAll().then(result => {
            if(result) {
            this.$vs.loading() 
            let plandetails = {
                packageform:this.packageform,
                packageform1:this.packageform1,
                packageform11:this.packageform11,
            } 
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/updateregsettings",plandetails,{ headers: { Authorization: AuthStr } })
            .then(response => {
               console.log(response);
                //this.display_1=response.data.packageform.
                this.$vs.loading.close()
                this.$vs.notify({
                title: 'Register Setting',
                text: 'Successfully Updated',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'success'
                })
                this.$router.push({ path : '/settings/registersetting' });
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
                this.$vs.notify({
                title: 'Register Setting',
                text: 'Fill the Fields',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'warning'
                })
            });

            }else{
            this.$vs.loading.close()
            this.$vs.notify({
                title: 'Register Setting',
                text: 'Please fill all fields',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'warning'
            })
            }
        })
        },
        fetchData() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/registersettings",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.registersettingdata = response.data;
               // console.log(response.data[1].display)
               
               if(response.data[0].display=='0'){
                   this.packageform.display_1=false;
                }else{
                   this.packageform.display_1=true;
                 }                 
                 if(response.data[1].display=='0'){
                   this.packageform.display_2=false;
                  }else{
                   this.packageform.display_2=true;
                 }                 
                 if(response.data[2].display=='0'){
                   this.packageform.display_3=false;
                  }else{
                   this.packageform.display_3=true;
                 }                 
                 if(response.data[3].display=='0'){
                   this.packageform.display_4=false;
                  }else{
                   this.packageform.display_4=true;
                 }                 
                 if(response.data[4].display=='0'){
                   this.packageform.display_5=false;
                  }else{
                   this.packageform.display_5=true;
                 }if(response.data[5].display=='0'){
                   this.packageform.display_6=false;
                  }else{
                   this.packageform.display_6=true;
                 }if(response.data[6].display=='0'){
                   this.packageform.display_7=false;
                  }else{
                   this.packageform.display_7=true;
                 }if(response.data[7].display=='0'){
                   this.packageform.display_8=false;
                  }else{
                   this.packageform.display_8=true;
                 }if(response.data[8].display=='0'){
                   this.packageform.display_9=false;
                  }else{
                   this.packageform.display_9=true;
                 }if(response.data[9].display=='0'){
                   this.packageform.display_10=false;
                  }else{
                   this.packageform.display_10=true;
                 }if(response.data[10].display=='0'){
                   this.packageform.display_11=false;
                  }else{
                   this.packageform.display_11=true;
                 }if(response.data[11].display=='0'){
                   this.packageform.display_12=false;
                  }else{
                   this.packageform.display_12=true;
                 }


                 if(response.data[0].required_option=='0'){
                   this.packageform1.required_1=false;
                }else{
                   this.packageform1.required_1=true;
                 }                 
                 if(response.data[1].required_option=='0'){
                   this.packageform1.required_2=false;
                  }else{
                   this.packageform1.required_2=true;
                 }                 
                 if(response.data[2].required_option=='0'){
                   this.packageform1.required_3=false;
                  }else{
                   this.packageform1.required_3=true;
                 }                 
                 if(response.data[3].required_option=='0'){
                   this.packageform1.required_4=false;
                  }else{
                   this.packageform1.required_4=true;
                 }                 
                 if(response.data[4].required_option=='0'){
                   this.packageform1.required_5=false;
                  }else{
                   this.packageform1.required_5=true;
                 }if(response.data[5].required_option=='0'){
                   this.packageform1.required_6=false;
                  }else{
                   this.packageform1.required_6=true;
                 }if(response.data[6].required_option=='0'){
                   this.packageform1.required_7=false;
                  }else{
                   this.packageform1.required_7=true;
                 }if(response.data[7].required_option=='0'){
                   this.packageform1.required_8=false;
                  }else{
                   this.packageform1.required_8=true;
                 }if(response.data[8].required_option=='0'){
                   this.packageform1.required_9=false;
                  }else{
                   this.packageform1.required_9=true;
                 }if(response.data[9].required_option=='0'){
                   this.packageform1.required_10=false;
                  }else{
                   this.packageform1.required_10=true;
                 }if(response.data[10].required_option=='0'){
                   this.packageform1.required_11=false;
                  }else{
                   this.packageform1.required_11=true;
                 }if(response.data[11].required_option=='0'){
                   this.packageform1.required_12=false;
                  }else{
                   this.packageform1.required_12=true;
                 }
                
                
            })
            .catch(error => {
                console.log(error);
            });
        },
        currencysetup(id){
            console.log(id);
            this.$validator.validateAll().then(result => {
                if(result) {
                this.$vs.loading()
                let plandetails = {
                    id: id,
                }
                const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                this.$http.post(config.apiUrl +"api/admin/currencysetup",plandetails,{ headers: { Authorization: AuthStr } })
                .then(response => {
                    console.log(response);
                    this.$vs.loading.close()
                    this.$vs.notify({
                    title: 'Currency Setup Done',
                    text: 'Currency Configured Successfully',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })                    
                    this.$router.push({ path : '/settings/currencysettings' });                    
                })
                .catch(error => {
                    console.log(error);
                    this.$vs.loading.close()
                    this.$vs.notify({
                    title: 'Currency Setup Done',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                    })
                });

                }else{
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Currency Setup Done',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
                }
            })           
        },     
    }   
}

</script>


    

