<template>
	
      <vx-card title="Site Settings"> 
       <form>  
         <div class="vx-col md:w-2/3 w-full">      
            <br>
            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Site Name</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="sitename" v-validate="'required'"/>                   
               </div>
            </div>

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Site Version</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="siteversion" v-validate="'required'"/> 
               </div>
            </div> 

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Company Name</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="company_name" v-validate="'required'"/> 
               </div>
            </div> 

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Company Address</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <textarea class="vs-textarea" v-model="company_address" v-validate="'required'"/> 
               </div>
            </div>  

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Site Meta Title</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="site_meta_title" v-validate="'required'"/> 
               </div>
            </div>   

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Site Meta Keyword</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="site_meta_keyword" v-validate="'required'"/> 
               </div>
            </div> 

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Site Meta Theme Color</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="site_meta_theme_color" v-validate="'required'"/> 
               </div>
            </div> 

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Site Meta Description</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <textarea class="vs-textarea"  v-model="site_meta_Description" v-validate="'required'"/> 
               </div>
            </div> 

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Footer Content</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <textarea class="vs-textarea"  v-model="footer_content" v-validate="'required'"/> 
               </div>
            </div> 

        <!--    <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Date and Time Format</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <v-select class="inputx" v-model="datetimeformatval" :options="datetimeformatoptions" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
               </div>
            </div> -->

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Login Content</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <textarea class="vs-textarea"  v-model="login_content" /> 
               </div>
            </div> 

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Login Sub Content</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <textarea class="vs-textarea"  v-model="login_sub_content" /> 
               </div>
            </div>  

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Registration Content</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <textarea class="vs-textarea"  v-model="register_content" /> 
               </div>
            </div>   

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Registration Sub Content</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <textarea class="vs-textarea"  v-model="register_sub_content" /> 
               </div>
            </div> 
			 
			  <div class="vx-row mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Shipping Type</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-select v-model="shipping" name="shipping" class="w-full select-large" v-validate="'required'">
                     <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in shippingoptions" class="w-full" />
                  </vs-select>
               </div>
            </div>  
			 
			 <div class="vx-row mb-6">
            <div class="vx-col sm:w-1/3 w-full">
            <span>Default Plan</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
            <v-select class="inputx sm:w-3/3" v-model="defaultmatrix" :options="matrixlist" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'" name='matrixlist'></v-select>
            <span class="text-danger">{{ errors.first('matrixlist') }}</span>
            </div>
            </div>

            <div class="vx-row mb-6">
               <div class="vx-col sm:w-2/3 w-full">
               <vs-button type="filled"  @click="updatesitesettings" class="mr-3 mb-2">Update</vs-button>              
               </div>
            </div>                
                  
      
         </div>
      </form>
       </vx-card>
</template> 

<script>
import config from "@/config.js"
import vSelect from 'vue-select'
export default {

  data() {
      return {
		 shippingoptions: [
                {text: "Auto", value:"Auto"},
                {text: "Manual", value:"Manual"},
            ],
		   defaultmatrix:[],
         matrixlist:[],
         selectdefaultplan:[],
         shipping:'',
         sitename:'',
         siteversion:'',
         company_name:'',
         company_address:'',
         site_meta_title:'',
         site_meta_keyword:'',
         site_meta_theme_color:'',
         site_meta_Description:'',
         footer_content:'',
         datetimeformatval:'',
		datetimeformatoptions: [
			{id: 1, label: 'd-M-Y'},
         {id: 2, label: 'm/d/Y'},
         {id: 3, label: 'd-M-Y h:i'},
         {id: 4, label: 'd-M-Y h:i:s'},
    ],   
         login_content:'',
         login_sub_content:'',
         register_content:'',
         register_sub_content:'',


      }
  }, 
   components: {       
      'v-select': vSelect,
  },  
   created() {
      return this.getsitesettings(),this.fetchmatrixlist(),this.getdefaultplan();
  },  
  methods: { 
	    fetchmatrixlist() {            
      this.$vs.loading()
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
      this.$http.get(config.apiUrl +"api/admin/addusermatrixlistplan",{ headers: { Authorization: AuthStr } })
      .then(response => {
      this.matrixlist = response.data;
      this.$vs.loading.close()
      })
      .catch(error => {
      this.$vs.loading.close()
      console.log(error);
      });
      },
      getdefaultplan(){
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
      this.$http.get(config.apiUrl +"api/admin/getselectedmatrixplan",{ headers: { Authorization: AuthStr } })
      .then(response => {
      this.defaultmatrix = response.data;
      })
      .catch(error => {
      this.$vs.loading.close()
      console.log(error);
      });
      },
    getsitesettings(){
        this.$vs.loading()
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getsitesettings",{ headers: { Authorization: AuthStr } })
        .then(response => {  
           //let payout_apivalues = JSON.parse(response.data[0]);    
           for(var i=0;i<response.data.length;i++){
              var sitesettings_name = response.data[i]['sitesettings_name'];
              if(sitesettings_name=='sitename'){
                 this.sitename = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='siteversion'){
                 this.siteversion = response.data[i]['sitesettings_value']; 
              } 
              if(sitesettings_name=='company_name'){                 
                 this.company_name = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='company_address'){
                 this.company_address = response.data[i]['sitesettings_value']; 
              } 
              if(sitesettings_name=='site_meta_title'){
                 this.site_meta_title = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='site_meta_keyword'){
                 this.site_meta_keyword = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='site_meta_theme_color'){
                 this.site_meta_theme_color = response.data[i]['sitesettings_value']; 
              } 
              if(sitesettings_name=='site_meta_Description'){
                 this.site_meta_Description = response.data[i]['sitesettings_value']; 
              }   
              if(sitesettings_name=='footer_content'){
                 this.footer_content = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='datetimeformatval'){
                 this.datetimeformatval = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='login_content'){
                 this.login_content = response.data[i]['sitesettings_value']; 
              }
              if(sitesettings_name=='login_sub_content'){
                 this.login_sub_content = response.data[i]['sitesettings_value']; 
              } 
              if(sitesettings_name=='register_content'){
                 this.register_content = response.data[i]['sitesettings_value']; 
              } 
              if(sitesettings_name=='register_sub_content'){
                 this.register_sub_content = response.data[i]['sitesettings_value']; 
              }  
			  if(sitesettings_name=='shippingtype'){
                 this.shipping = response.data[i]['sitesettings_value']; 
              } 
               
           }
           this.$vs.loading.close()             
            
        })
        .catch(error => {
            console.log(error);
            this.$vs.loading.close()
        });
    },     
    updatesitesettings(){
      this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
          sitename: this.sitename,          
          siteversion: this.siteversion,    
          company_name: this.company_name,    
          company_address: this.company_address,    
          site_meta_title: this.site_meta_title,    
          site_meta_keyword: this.site_meta_keyword,    
          site_meta_theme_color: this.site_meta_theme_color,    
          site_meta_Description: this.site_meta_Description,    
          footer_content: this.footer_content,    
          datetimeformatval: this.datetimeformatval,    
          login_content: this.login_content,    
          login_sub_content: this.login_sub_content,    
          register_content: this.register_content,    
          register_sub_content: this.register_sub_content, 
		  shippingtype: this.shipping,
			  defaultmatrix: this.defaultmatrix.id,
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/updatesitesettings",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            console.log(response);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Site Setting',
              text: 'Successfully Updated',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            this.$router.push({ path : '/settings/sitesettings' });
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Site Setting',
              text: 'Successfully Updated',
              iconPack: 'feather',
              icon: 'icon-alert-circle', 
              color: 'success'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Site Setting',
              text: 'Please fill all fields', 
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },  
  }, 
}
</script>  

<style lang="scss">
.vs-textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
</style>
    