<template>
      <vx-card title="Tax Configuration"> 
       <form>  
         <div class="w-full">      
            
            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Lable</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="lable_value" name="lable_value" v-validate="'required'"/>  
                  <span class="text-danger text-sm">{{ errors.first('lable_value') }}</span>       
               </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Tax(%)</span>
               </div>
               <div class="vx-col sm:w-2/3 w-full">
                  <vs-input class="w-full" v-model="tax_value" name="tax_value" v-validate="'required|numeric'"/> 
                  <span class="text-danger text-sm">{{ errors.first('tax_value') }}</span>
               </div>
            </div> 

         <div class="vx-row sm:w-2/3 mb-6">
          <div class="vx-col sm:w-1/3 w-full">
                  <span>Status</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="taxstatus">
                    <span slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>				
            </div>
         </div> 

                                                                                                                                                         

            <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                 
               </div>
               <div class="vx-col sm:w-2/3 w-full">
               <vs-button type="filled"  @click="updatetaxconfig" class="mr-3 mb-2">Update</vs-button>              
               </div>
            </div>                
                  
      
         </div>
      </form>
       </vx-card>
</template> 

<script>
import config from "@/config.js"
export default {

  data() {
      return {
         lable_value:'',
         tax_value:'',    
         taxstatus:'' 
      }
  },   
   created() {
      return this.gettaxconfig();
  },  
  methods: { 
    gettaxconfig(){
       this.$vs.loading()
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/gettaxconfig",{ headers: { Authorization: AuthStr } })
        .then(response => {  
			console.log(response)
           this.$vs.loading.close()
            this.lable_value=response.data[0].tax_name; 
            this.tax_value = response.data[0].tax_value;
           if(response.data[0].status==1){
              this.taxstatus = true;
            }else{
              this.taxstatus = false;
            }
           console.log(this.taxstatus) 
        })
        .catch(error => {
            console.log(error);
        });
    },     
    updatetaxconfig(){
       this.$validator.validateAll().then(result => {
        if(result) {
          this.$vs.loading()
          let plandetails = {
            lable_value: this.lable_value,          
            tax: this.tax_value, 
            status:this.taxstatus
          }
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
          this.$http.post(config.apiUrl +"api/admin/updatetaxconfig",plandetails,{ headers: { Authorization: AuthStr } })
          .then(response => {
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Tax Configuration',
              text: 'Successfully Updated',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
          })
          .catch(error => {
            console.log(error);
            this.$vs.loading.close()
            this.$vs.notify({
              title: 'Tax Configuration',
              text: 'Fill the Fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          });

        }else{
          this.$vs.loading.close()
          this.$vs.notify({
              title: 'Tax Configuration',
              text: 'Please fill all fields',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
          })
        }
      })
    },  
  }, 
}
</script>    
    