

<template>
     <vx-card title="Deduct Bonus">
        <div class="demo-alignment">
            <vs-button @click="sentbonus" color="primary" type="filled">Deduct Bonus</vs-button>
        </div>
        <vs-table pagination :max-items="4" search :data="decbonus">

                <template slot="thead">
                            <vs-th sort-key="members_username">Username</vs-th>
                            <vs-th sort-key="history_type">Type</vs-th>
                            <vs-th sort-key="history_wallet_type">Wallet Type</vs-th>
                            <vs-th sort-key="history_amount">Amount</vs-th>
                            <vs-th sort-key="history_description">Description</vs-th>                            
                            <vs-th sort-key="history_datetime"> Date</vs-th>
                </template>
                <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                    <vs-td :data="data[indextr].members_username">
                        {{data[indextr].members_username}}
                    </vs-td>

                    <vs-td :data="data[indextr].history_type">
                        {{data[indextr].history_type}}
                    </vs-td>

                    <vs-td :data="data[indextr].history_wallet_type">
                        {{data[indextr].history_wallet_type}}
                    </vs-td>
                    
                    <vs-td :data="data[indextr].history_amount">
                        {{data[indextr].history_amount}}
                    </vs-td>

                     <vs-td :data="data[indextr].history_description">
                        {{data[indextr].history_description}}
                    </vs-td>                    

                    <vs-td :data="data[indextr].history_datetime">
                        {{data[indextr].history_datetime}}
                    </vs-td>

                </vs-tr>
            </template>
                </vs-table> 
                </vx-card>
    </template>


    <script>
import config from "@/config.js"
export default {
    data() {
        return {
            decbonus: []
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
        fetchData() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getdetectbonus",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.decbonus = response.data;
            })
            .catch(error => {
                console.log(error);
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
            });
        },
        sentbonus () {
            this.$router.push({ path : '/wallet/bonus/sentdetectbonus' });
        }
    }
}
</script>