
<template>
  
		<div class="vx-col w-full mb-6">
			<vx-card title="Deduct Bonus" code-toggler>
        <form>
            
       <!--   <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                  <span>User Name</span>
               </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" name="user_name" id="user_name" v-model="user_name" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('user_name') }}</span>
            </div>
          </div>      -->
			 <div class="vx-row sm:w-2/3 mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Username</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full">
                               <v-select class="inputx sm:w-3/3" name="username" v-model="members_id" :options="optionmembers_id" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>  
                                 <span class="text-danger" v-show="errors.has('username')" >Select User Name</span>
                                  <!-- <span class="text-danger">{{ errors.first('minimumamt') }}</span> -->
                              </div>
                           </div>

              <div class="vx-row sm:w-2/3 mb-6">
               <div class="vx-col sm:w-1/3 w-full">
                  <span>Amount</span>
               </div>
            <div class="vx-col sm:w-2/3 w-full">
        <vs-input size="large" v-validate="'required||numeric'" name="amount" id="amount" v-model="amount" class="w-full" />
        <span class="text-danger text-sm" v-show="errors.has('amount')">{{ errors.first('amount') }}</span>
      </div>
           </div>  

          <div class="vx-row sm:w-2/3 mb-6">
          <div class="vx-col sm:w-1/3 w-full">
                  <span>Wallet Options</span>
               </div>
            <div class="vx-col sm:w-2/3 w-full">
              <v-select name="walletoptions"  class="w-full" v-model="wallet_type" :options="walletoptions" :dir="$vs.rtl ? 'rtl' : 'ltr'" />
              <span class="text-danger text-sm" v-show="errors.has('input1')">{{ errors.first('walletoptions') }}</span>
            </div>
          </div>
            

             <div class="vx-row sm:w-2/3 mb-6">
              <div class="vx-col sm:w-1/3 w-full">
                  <span>Memo</span>
               </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-textarea name="memo" v-model="memo" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('memo') }}</span>
            </div>
          </div>   
          <div class="vx-row sm:w-2/3 mb-6">
          <div class="vx-col sm:w-1/3 w-full">
                
               </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-button type="filled"  @click="sendbonus" class="mr-3 mb-2">Submit</vs-button>
            </div>
          </div>
        </form>
			</vx-card>
		</div>
</template>

 
<script>
import config from "@/config.js"
import vSelect from 'vue-select'
export default {
    data() {
        return {
		  members_id:'', 
          optionmembers_id: [],
		  wallet_type:'',
          user_name: '',
          amount: '',
          memo: '',          
          walletoptions: [
                {id: 1, label: 'C-Wallet'},
                {id: 2, label: 'E-Wallet'},
          ]
        }
    },
    created() {
		return this.getcategories()
    },
    methods: {
		 getcategories(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getdeductuserlist",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.optionmembers_id = response.data;                                       
            })
            .catch(error => {
                console.log(error);
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
            });
        },
        sendbonus() {
          this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let bonusdetails = {
			  members_id:this.members_id,
             // user_name: this.user_name,
              amount: this.amount,
              memo: this.memo,
             // walletoptions:this.walletoptions,
				   wallet_type:this.wallet_type,
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/deductbonus",bonusdetails,{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Bonus',
                    text: 'Detect Bonus Sent successfully added',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$router.push({ path : '/bonus/detectbonuslist' });
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Bonus',
                    text: error.response.data.errors.message,
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            });

        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Bonus',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
    })

        }
    },
    components: {
        'v-select': vSelect,
    }
}
</script>    