<template>
    <div>

        <!-- First Block Start -->


        <!-- First Block End -->
   <div class="vx-row">
            <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
                <statistics-card-line
                  v-if="subscribersGained.analyticsData"
                  icon="DollarSignIcon"
                  :statistic="subscribersGained.analyticsData.subscribers | k_formatter"
                  statisticTitle="Total Earnings"
                  :chartData="subscribersGained.series"
                  type='area' />
            </div>
	   
	    

            <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
                <statistics-card-line
                  v-if="revenueGenerated.analyticsData"
                  icon="UsersIcon"
                  :statistic="revenueGenerated.analyticsData.revenue | k_formatter"
                  statisticTitle="Total Members"
                  :chartData="revenueGenerated.series"
                  color='success'
                  type='area' />
            </div>

            <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
                <statistics-card-line
                  v-if="quarterlySales.analyticsData"
                  icon="ShoppingCartIcon"
                  :statistic="quarterlySales.analyticsData.sales"
                  statisticTitle=" Total Sales"
                  :chartData="quarterlySales.series"
                  color='danger'
                  type='area' />
            </div>
            <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
                <statistics-card-line
                  v-if="ordersRecevied.analyticsData"
                  icon="ShoppingBagIcon"
                  :statistic="ordersRecevied.analyticsData.orders | k_formatter"
                  statisticTitle="Total Withdrawal"
                  :chartData="ordersRecevied.series"
                  color='warning'
                  type='area' />
            </div>
        </div>





        <div class="vx-row">

            <!-- LINE CHART -->
            <div class="vx-col w-full md:w-2/3 mb-base revenue_chart">
                <vx-card title="Revenue">
                    <template slot="actions">
                        <feather-icon icon="SettingsIcon" svgClasses="w-6 h-6 text-grey"></feather-icon>
                    </template>
                    <div slot="no-body" class="p-6 pb-0">
                        <div class="flex" v-if="revenueComparisonLine.analyticsData">
                            <div class="mr-6">
                                <p class="mb-1 font-semibold">This Month</p>
                                <p class="text-3xl text-success"><sup class="text-base mr-1">{{ currency }}</sup>{{ revenueComparisonLine.analyticsData.thisMonth.toLocaleString() }}</p>
                            </div>
                            <div>
                                <p class="mb-1 font-semibold">Last Month</p>
                                <p class="text-3xl"><sup class="text-base mr-1">{{ currency }}</sup>{{ revenueComparisonLine.analyticsData.lastMonth.toLocaleString() }}</p>
                            </div>
                        </div>
                        <vue-apex-charts
                          type=line
                          height=266
                          :options="analyticsData.revenueComparisonLine.chartOptions"
                          :series="revenueComparisonLine.series" />
                    </div>
                </vx-card>
            </div>

             <!-- RADIAL CHART -->
            <div class="vx-col w-full md:w-1/3 mb-base">
                <vx-card title="Goal Overview">
                    <template slot="actions">
                        <feather-icon icon="HelpCircleIcon" svgClasses="w-6 h-6 text-grey"></feather-icon>
                    </template>

                    <!-- CHART -->
                    <template slot="no-body">
                        <div class="mt-10">
                            <vue-apex-charts type=radialBar height=240 :options="analyticsData.goalOverviewRadialBar.chartOptions" :series="goalOverview.series" />
                        </div>
                    </template>

                    <!-- DATA -->
                    <div class="flex justify-between text-center mt-6" slot="no-body-bottom">
                        <div class="w-1/2 border border-solid d-theme-border-grey-light border-r-0 border-b-0 border-l-0">
                            <p class="mt-4">Completed</p>
                            <p class="mb-4 text-3xl font-semibold">{{ goalOverview.analyticsData.completed }}</p>
                        </div>
                        <div class="w-1/2 border border-solid d-theme-border-grey-light border-r-0 border-b-0">
                            <p class="mt-4">In Progress</p>
                            <p class="mb-4 text-3xl font-semibold">{{ goalOverview.analyticsData.inProgress }}</p>
                        </div>
                    </div>
                </vx-card>
            </div>

            </div>   

 <div class="vx-row">

            <div class="vx-col w-full md:w-1/3 lg:w-1/3 xl:w-1/3 mb-base">
                <vx-card title="Statistics">
                    <div v-for="(browser, index) in browserStatistics" :key="browser.id" :class="{'mt-4': index}">
                        <div class="flex justify-between">
                            <div class="flex flex-col">
                                <span class="mb-1">{{ browser.name }}</span>
                                <h4>{{ browser.ratio }}%</h4>
                            </div>
                            <div class="flex flex-col text-right">
                                <span class="flex -mr-1">
                                    <span class="mr-1">{{ browser.comparedResult }}</span>
                                    <feather-icon :icon=" browser.comparedResult < 0 ? 'ArrowDownIcon' : 'ArrowUpIcon'" :svgClasses="[browser.comparedResult < 0 ? 'text-danger' : 'text-success'  ,'stroke-current h-4 w-4 mb-1 mr-1']"></feather-icon>
                                </span>
                                <span class="text-grey">{{ browser.time | time(true) }}</span>
                            </div>
                        </div>
                        <vs-progress :percent="browser.ratio"></vs-progress>
                    </div>
                </vx-card>
            </div>

            <div class="vx-col md:w-2/3 w-full mb-base">
               <vx-card title="Top Products">   
                <vs-table max-items="5" pagination :data="topproduct">
                    <template slot="thead">
                        <vs-th>Product</vs-th>
                        <vs-th>Availability</vs-th>
                        <vs-th>Total Sales</vs-th>
                        <vs-th>Total Count Sold</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="data[indextr].email">{{ data[indextr].name }}</vs-td>
                            <vs-td :data="data[indextr].status">
                                <vs-chip v-if="data[indextr].status=='In Stock'" color="success">{{ data[indextr].status }}</vs-chip>
                                <vs-chip v-if="data[indextr].status=='Out of stock'" color="danger">{{ data[indextr].status }}</vs-chip>
                                <vs-chip v-if="data[indextr].status==''" color="success">In Stock</vs-chip>
                            </vs-td>
                            <vs-td :data="data[indextr].id">{{ data[indextr].totalsales }}</vs-td>
                            <vs-td :data="data[indextr].id">{{ data[indextr].totalsold }}</vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
               </vx-card>
            </div>

        </div>
        <!-- Second Block Start -->

       <!-- fifth Block start --> 
       <div class="vx-row">
          <div class="vx-col w-full lg:w-1/2 lg:mt-0 mt-base">
                <vx-card title="Product Orders">
                    <!-- SLOT = ACTIONS -->
                   

                    <div slot="no-body" v-if="chartstatus===true">
                        <vue-apex-charts class="mt-6 mb-8" type=donut height=320 :options="sessionsByDeviceDonut.chartOptions" :series="sessionsData.series" />
                    </div>

                    <ul class="mt-2">
                        <li v-for="deviceData in sessionsData.analyticsData" :key="deviceData.device" class="flex mb-3">
                            <feather-icon :icon="deviceData.icon" :svgClasses="[`h-5 w-5 stroke-current text-${deviceData.color}`]"></feather-icon>
                            <span class="ml-2 inline-block font-semibold">{{ deviceData.device }}</span>
                            <span class="mx-2">-</span>
                            <span class="mr-4">{{ deviceData.sessionsPercentage }} Orders</span>
                            
                        </li>
                    </ul>
                </vx-card>
            </div>

           <div class="vx-col w-full lg:w-1/2 lg:mt-0 mt-base">
                <vx-card title="Audit Log" style="height: 100%; overflow: auto;">
                    <vx-timeline :data="timelineData"   height="290"/>
                </vx-card>
            </div>
		   </div>
		      <div class="vx-row mt-5">
           <div class="vx-col md:w-1/2 w-full mb-base">
               <vx-card title="Outstanding Payouts">
                        <vs-table pagination :max-items="4" search :data="outstanding_payouts">

                            <template slot="thead">
								<vs-th sort-key="date">UserName</vs-th>
                                <vs-th sort-key="date">Date</vs-th>
                                <vs-th sort-key="username">Amount</vs-th>
                               
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

									
									<vs-td :data="data[indextr].members_username">
                                        {{data[indextr].members_username}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].history_datetime">
                                        {{data[indextr].history_datetime}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].history_amount">
                                        {{ currency }} {{data[indextr].history_amount}}
                                    </vs-td>

                                </vs-tr>
                            </template>
                        </vs-table>
                </vx-card>
            </div>
				   <div class="vx-col md:w-1/2 w-full mb-base">
               <vx-card title="Top Earners">
                        <vs-table pagination :max-items="4" search :data="top_earners">

                            <template slot="thead">
                                <vs-th sort-key="username">UserName</vs-th>
                                <vs-th sort-key="amount">Amount</vs-th>
                               
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="data[indextr].members_username">
                                        {{data[indextr].members_username}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].total">
                                        {{ currency }}  {{data[indextr].total}}
                                    </vs-td>
                                 
                                </vs-tr>
                            </template>
                        </vs-table>
                </vx-card>
                
            </div>
              </div>
       

       <!-- fifth Block End --> 

 <div class="vx-row mt-5">
           <div class="vx-col md:w-1/2 w-full mb-base">
               <vx-card title="Commissions Summary">
                        <vs-table pagination :max-items="4" search :data="commission_summary">

                            <template slot="thead">
								<vs-th sort-key="date">UserName</vs-th>
                                <vs-th sort-key="Description">Description</vs-th>
                                <vs-th sort-key="amount">Amount</vs-th>
                               
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

									
									<vs-td :data="data[indextr].members_username">
                                        {{data[indextr].members_username}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].history_description">
                                        {{data[indextr].history_description}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].history_amount">
                                        {{ currency }} {{data[indextr].history_amount}}
                                    </vs-td>

                                </vs-tr>
                            </template>
                        </vs-table>
                </vx-card>
            </div>
				<div class="vx-col md:w-1/2 w-full mb-base">
               <vx-card title="Recent Joinees">
                        <vs-table pagination :max-items="4" search :data="recent_joinees">

                            <template slot="thead">
                                <vs-th sort-key="username">UserName</vs-th>
                                <vs-th sort-key="date">Date</vs-th>
                                 <vs-th sort-key="status">Status</vs-th>
                               
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="data[indextr].members_username">
                                        {{data[indextr].members_username}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].members_doj">
                                        {{data[indextr].members_doj}}
                                    </vs-td>
									
								
									
                                        <vs-td :data="data[indextr].members_status">  
							 <vs-chip v-if="data[indextr].members_status=='1'" color="success">Active</vs-chip>
                                <vs-chip v-if="data[indextr].members_status=='0'" color="danger">Suspend</vs-chip>
                  <!--       <div class="con-vs-chip vs-chip-danger con-color "  color="success" style="color: rgba(255, 255, 255, 0.9);" v-if="data[indextr].members_status == '1'"><span class="text-chip vs-chip--text">               Active
                         </span></div>
                         <div class="con-vs-chip vs-chip-success con-color " style="color: rgba(255, 255, 255, 0.9);" v-else><span class="text-chip vs-chip--text" color="danger">               Suspend
                         </span></div> -->
                        
                    </vs-td>
                                 
                                </vs-tr>
                            </template>
                        </vs-table>
                </vx-card>
                
            </div> 
              </div>
<div class="vx-row mt-5">
           <div class="vx-col md:w-1/2 w-full mb-base">
               <vx-card title="Unfinished Orders">
                        <vs-table pagination :max-items="4" search :data="unfinished_orders">

                            <template slot="thead">
								<vs-th sort-key="date">Distributor Name</vs-th>
                                <vs-th sort-key="Description">Amount</vs-th>
                                <vs-th sort-key="amount">Pay Status</vs-th>
                               
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

									
									<vs-td :data="data[indextr].members_username">
                                        {{data[indextr].members_username}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total_price">
                                       {{ currency }}  {{data[indextr].total_price}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].paymenthistory_status">
										 <vs-chip v-if="data[indextr].paymenthistory_status=='notpaid'" color="danger">Not Paid</vs-chip>
                                
                                       
                                    </vs-td>

                                </vs-tr>
                            </template>
                        </vs-table>
                </vx-card>
            </div>
				 <div class="vx-col md:w-1/2 w-full mb-base">
               <vx-card title="Orders Awaiting Approval">
                        <vs-table pagination :max-items="4" search :data="ordersawaiting_approval">

                            <template slot="thead">
                                <vs-th sort-key="username">Order</vs-th>
                                <vs-th sort-key="date">Distributor Name</vs-th>
                                 <vs-th sort-key="status">Purchase Total</vs-th>
                                   <vs-th sort-key="status">Status</vs-th>
                               
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="data[indextr].paymenthistory_trans_id">
                                        {{data[indextr].paymenthistory_trans_id}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].members_username">
                                        {{data[indextr].members_username}}
                                    </vs-td>
									  <vs-td :data="data[indextr].total_price">
                                        {{ currency }} {{data[indextr].total_price}}
                                    </vs-td>
                               <vs-td :data="data[indextr].order_status">
										 <vs-chip v-if="data[indextr].order_status=='-1'" color="danger">Cancel </vs-chip>
                                
                                       
                                    </vs-td>
                                 
                                </vs-tr>
                            </template>
                        </vs-table>
                </vx-card>
                
            </div>
              </div>
<div class="vx-row mt-5">
           <div class="vx-col md:w-1/2 w-full mb-base">
               <vx-card title="Rank Overview">
                        <vs-table pagination :max-items="4" search :data="rank_overview">

                            <template slot="thead">
								<vs-th sort-key="date">User Name</vs-th>
                                <vs-th sort-key="Description">Rank</vs-th>
                               
                               
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

									
									<vs-td :data="data[indextr].members_username">
                                        {{data[indextr].members_username}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].rank_value">
                                        {{data[indextr].rank_value}}
                                    </vs-td>

                                    

                                </vs-tr>
                            </template>
                        </vs-table>
                </vx-card>
            </div>
				
              </div>
    </div>
</template>





<script>
import config from "@/config.js"
import StatisticsCardLine from '@/components/statistics-cards/StatisticsCardLine.vue'
import apexChatData from './charts/apex-charts/apexChartData.js'
import VueApexCharts from 'vue-apexcharts'
import analyticsData from './analyticsData.js'
import VxTimeline from "@/components/timeline/VxTimeline"
import ChangeTimeDurationDropdown from '@/components/ChangeTimeDurationDropdown.vue'


export default{
        // LINE AREA CHART
        
    components: {
        StatisticsCardLine,
        VueApexCharts,
        VxTimeline,
        ChangeTimeDurationDropdown
	},	
    data() {
        
        return {
			currency:'',
			rank_overview:[],
			ordersawaiting_approval:[],
			unfinished_orders:[],
			recent_joinees:[],
			commission_summary:[],
			 top_earners:[],
			outstanding_payouts:[],
		chartstatus:false,
		
        subscribersGained: {},
        revenueGenerated: {},
        quarterlySales: {},
        ordersRecevied: {},
        apexChatData: apexChatData,
        revenueComparisonLine: {},
        goalOverview: {}, 
        browserStatistics: [], 
        sessionsData: {},
        analyticsData: analyticsData,         
        siteTraffic: {
        series: [{
            name: 'admin@qw.net',
            data: [150, 200, 125, 225, 200, 250]
        }],



  

        revenueComparisonLine: {
        // series: [{
        //         name: "This Month",
        //         data: [45000, 47000, 44800, 47500, 45500, 48000, 46500, 48600]
        //     },
        //     {
        //         name: "Last Month",
        //         data: [46000, 48000, 45500, 46600, 44500, 46500, 45000, 47000]
        //     }
        // ],
        chartOptions: {
            chart: {
                toolbar: { show: false },
                dropShadow: {
                  enabled: true,
                  top: 5,
                  left: 0,
                  blur: 4,
                  opacity: 0.10,
                },
            },
            stroke: {
                curve: 'smooth',
                dashArray: [0, 8],
                width: [4, 2],
            },
            grid: {
                borderColor: '#e7e7e7',
            },
            legend: {
                show: false,
            },
            colors: ['#F97794', '#b8c2cc'],
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'dark',
                    inverseColors: false,
                    gradientToColors: ['#7367F0', '#b8c2cc'],
                    shadeIntensity: 1,
                    type: 'horizontal',
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [0, 100, 100, 100]
                },
            },
            markers: {
                size: 0,
                hover: {
                    size: 5
                }
            },
            xaxis: {
                labels: {
                    style: {
                        cssClass: 'text-grey fill-current',
                    }
                },
                axisTicks: {
                    show: false,
                },
                categories: ['01', '05', '09', '13', '17', '21', '26', '31'],
                axisBorder: {
                    show: false,
                },
            },
            yaxis: {
                tickAmount: 5,
                labels: {
                    style: {
                        cssClass: 'text-grey fill-current',
                    },
                    formatter: function(val) {
                        return val > 999 ? (val / 1000).toFixed(1) + 'k' : val;
                    }
                }
            },
            tooltip: {
                x: { show: false }
            }
        }
    },
        chartOptions: {
            grid: {
                show: false,
                padding: {
                    left: 0,
                    right: 0
                }
            },
            chart: {
                type: 'line',
                dropShadow: {
                    enabled: true,
                    top: 5,
                    left: 0,
                    blur: 4,
                    opacity: 0.10,
                },
                toolbar: {
                    show: false,
                },
                sparkline: {
                    enabled: true
                }
            },
            stroke: {
                width: 5,
                curve: 'smooth'
            },
            xaxis: {
                type: 'numeric',
            },
            colors: ['#7367F0'],
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'dark',
                    gradientToColors: ['#A9A2F6'],
                    shadeIntensity: 1,
                    type: 'horizontal',
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [0, 100, 100, 100]
                },
            },
            markers: {
                size: 0,
                hover: {
                    size: 5
                }
            },
            tooltip: {
                x: { show: false }
            },
        }
    },
    newsletter: {
        series: [{
            name: 'Our Products',
            data: [365, 390, 365, 400, 375, 400]
        }],
        chartOptions: {
            grid: {
                show: false,
                padding: {
                    left: 0,
                    right: 0
                }
            },
            chart: {
                type: 'line',
                dropShadow: {
                    enabled: true,
                    top: 5,
                    left: 0,
                    blur: 4,
                    opacity: 0.10,
                },
                toolbar: {
                    show: false,
                },
                sparkline: {
                    enabled: true
                }
            },
            stroke: {
                width: 5,
                curve: 'smooth'
            },
            xaxis: {
                type: 'numeric',
            },
            colors: ['#FF9F43'],
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'dark',
                    gradientToColors: ['#ffc085'],
                    shadeIntensity: 1,
                    type: 'horizontal',
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [0, 75, 100, 100]
                },
            },
            markers: {
                size: 0,
                hover: {
                    size: 5
                }
            },
            tooltip: {
                x: { show: false }
            },
        }
    },
    chart4: {
        series: [{
            name: 'Total Withdrawal',
            data: [365, 390, 365, 400, 375, 400]
        }],
        chartOptions: {
            grid: {
                show: false,
                padding: {
                    left: 0,
                    right: 0
                }
            },
            chart: {
                type: 'line',
                dropShadow: {
                    enabled: true,
                    top: 5,
                    left: 0,
                    blur: 4,
                    opacity: 0.0,
                },
                toolbar: {
                    show: false,
                },
                sparkline: {
                    enabled: true
                }
            },
            stroke: {
                width: 5,
                curve: 'smooth'
            },
            xaxis: {
                type: 'numeric',
            },
            colors: ['#FF9F43'],
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'dark',
                    gradientToColors: ['#ffc085'],
                    shadeIntensity: 1,
                    type: 'horizontal',
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [0, 75, 100, 100]
                },
            },
            markers: {
                size: 0,
                hover: {
                    size: 5
                }
            },
            tooltip: {
                x: { show: false }
            },
        }
    },
   activeUsers: {
        series: [{
            name: 'Total Members',
            data: [750, 1000, 900, 1250, 1000, 1200, 1100]
        }],
        chartOptions: {
            grid: {
                show: false,
                padding: {
                    left: 0,
                    right: 0
                }
            },
            chart: {
                type: 'line',
                dropShadow: {
                    enabled: true,
                    top: 5,
                    left: 0,
                    blur: 4,
                    opacity: 0.10,
                },
                toolbar: {
                    show: false,
                },
                sparkline: {
                    enabled: true
                }
            },
            stroke: {
                width: 5,
                curve: 'smooth'
            },
            xaxis: {
                type: 'numeric',
            },
            colors: ['#28C76F'],
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'dark',
                    gradientToColors: ['#55DD92'],
                    shadeIntensity: 1,
                    type: 'horizontal',
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [0, 75, 100, 100]
                },
            },
            markers: {
                size: 0,
                hover: {
                    size: 5
                }
            },
            tooltip: {
                x: { show: false }
            },
        }
    },

        
    users:  [
                {
                    "id": 1,
                    "username": "Bret",
                },
                {
                    "id": 2,
                    "username": "Antonette",
                },
                {
                    "id": 3,
                    "username": "Samantha",
                },
                {
                    "id": 4,
                    "username": "Karianne",
                },
                {
                    "id": 5,
                   "username": "Kamren",
                },
                {
                    "id": 6,
                   "username": "Leopoldo_Corkery",
                },
            ],
        users_com:  [
                {
                    "id": 1,
                    "username": "Leopoldo_Corkery",
                },
                {
                    "id": 2,
                    "username": "Antonette",
                },
                {
                    "id": 3,
                    "username": "Samantha",
                },
                {
                    "id": 4,
                    "username": "Karianne",
                },
                {
                    "id": 5,
                   "username": "Kamren",
                },
                {
                    "id": 6,
                   "username": "Leopoldo_Corkery",
                },
            ],
        topproduct: [],
            join: [
            {
                "name": 11644667,
                "plan": "binary2",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 11644668,
                "plan": "linear",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 11644669,
                "plan": "forced",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 11644670,
                "plan": "xup plan",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 11644671,
                "plan": "forced",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 116446672,
                "plan": "linear",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 116446673,
                "plan": "forced",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 116446674,
                "plan": "linear",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            ],
            timelineData: [],

            browserAnalytics: [],
         // Customers
    customersPie: {
        // analyticsData: [
        //     { 'customerType': 'New', 'counts': 890, color: 'primary' },
        //     { 'customerType': 'Returning', 'counts': 258, color: 'warning' },
        //     { 'customerType': 'Referrals ', 'counts': 149, color: 'danger' },
        // ],
        // series: [690, 258, 149],
        chartOptions: {
            labels: ['New', 'Returning', 'Referrals'],
            dataLabels: {
                enabled: false
            },
            legend: { show: false },
            chart: {
                type: 'pie',
                offsetY: 0,
                dropShadow: {
                    enabled: false,
                    blur: 5,
                    left: 1,
                    top: 1,
                    opacity: 0.2
                },
                toolbar: {
                    show: false
                }
            },
            stroke: {
                width: 5
            },
            colors: ['#7961F9', '#FF9F43', '#EA5455'],
            fill: {
                type: 'gradient',
                gradient: {
                    gradientToColors: ['#9c8cfc', '#FFC085', '#f29292']
                }
            }
        }
    },
			sessionsByDeviceDonut: {
            chartOptions: {
                labels: [],
                dataLabels: {
                    enabled: false
                },
                legend: { show: true },
                chart: {
                    offsetY: 30,
                    type: 'donut',
                    toolbar: {
                        show: false
                    }
                },
                stroke: { width: 0 },
                colors: ['#7961F9', '#FF9F43', '#EA5455', '#44c76f'],
                fill: {
                    type: 'gradient',
                    gradient: {
                        gradientToColors: ['#9c8cfc', '#FFC085', '#f29292', '#44c76f']
                    }
                }
            }
        },

        }
    },

    created() {
      return this.totalearn(),this.totalmembers(),this.totalsales(),this.totalwithdrawal(),this.monthRevenue(),this.goalOverviewData(),this.getStatistics(),this.getTopProducts(),this.getDonutOrders(),this.outstandingpayouts(),this.topearners(),this.commissionsummary(),this.recentjoinees(),this.unfinishedorders(),this.ordersawaitingapproval(),this.rankoverview(),this.fetchcurrency(),this.getauditlog()
    },
    
    methods: {
		   fetchcurrency()
        {
             const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcurrency",{ headers: { Authorization: AuthStr } })

            .then(response => {  
                 
                this.currency=response.data;

            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
		rankoverview() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/rankoverview",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.rank_overview = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
		 ordersawaitingapproval() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/ordersawaitingapproval",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.ordersawaiting_approval = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
		 unfinishedorders() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/unfinishedorders",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.unfinished_orders = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
		
		recentjoinees() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/recentjoinees",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.recent_joinees = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
		// getStatusColor(status) {
           // if(status == '1') 
           // {
               // <span>pending</span>
                //status='<span class="m-badge  m-badge--danger m-badge--wide">PENDING </span>'
               // return "success"
           // }
           // if(status == '0')
           // {
                //<span>pending</span>
                //status='<span class="m-badge  m-badge--danger m-badge--wide">PENDING </span>'
               // return "danger" 
           // }
       // },-->
		 commissionsummary() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/commissionsummary",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.commission_summary = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
		     topearners() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/topearners",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.top_earners = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
		 outstandingpayouts() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/outstandingpayouts",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.outstanding_payouts = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
        totalearn() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/totalearn",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.subscribersGained = response.data;

            })
            .catch(error => {
                console.log(error);
            });
		},
		totalmembers() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/totalmembers",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.revenueGenerated = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
		totalsales() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/totalsales",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.quarterlySales = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
         totalwithdrawal() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/totalwithdraw",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.ordersRecevied = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
        monthRevenue() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/monthrevenue",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.revenueComparisonLine = response.data;
            })
            .catch(error => {
                 console.log(error);
            });
        },
        goalOverviewData() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/goaloverview",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.goalOverview = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
		getStatistics() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/statistics",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.browserStatistics = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
        getTopProducts() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/topproducts",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.topproduct = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
        getDonutOrders() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/donutorders",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.sessionsData = response.data;
                this.sessionsByDeviceDonut.chartOptions.labels=response.data.category;
                this.sessionsByDeviceDonut.chartOptions.colors=response.data.colors;
                this.sessionsByDeviceDonut.chartOptions.fill.gradient.gradientToColors=response.data.colors;
                this.chartstatus=true;
            })
            .catch(error => {
                console.log(error);
            });
        },
         getauditlog() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/auditlog",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.timelineData = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
	}	
}
</script>


<style lang="scss">
.con-vs-chip {
    min-height: 16px;
    min-width: 16px;
    font-size: .6rem;
}
.sale_by_country {
    min-height: 377px;
}

.revenue_chart .vx-card .vx-card__collapsible-content.vs-con-loading__container {
    min-height: 402px;
}
.stat_text p {
    font-size: 14px;
    word-break: break-all;
}
.stat_text {
    width: 70%;
}
</style>