<template>
    <div>

        <!-- First Block Start -->

        <div class="vx-row">
            <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
                <statistics-card-line
                  class="md:mb-0 mb-base"
                  icon="DollarSignIcon"
                  icon-right
                  statistic="$ 1552"
                  statisticTitle="Total Earnings"
                  :chartData="siteTraffic.series" />
            </div>
            <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
                <statistics-card-line
                  class="md:mb-0 mb-base"
                  icon="ShoppingBagIcon"
                  icon-right
                  statistic="8"
                  statisticTitle="Total Members"
                  :chartData="activeUsers.series"
                  color="success" /> 
            </div>
            <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
                <statistics-card-line
                  icon="ShoppingCartIcon"
                  icon-right
                  statistic="76"
                  statisticTitle="Our Products"
                  :chartData="newsletter.series"
                  color="warning" />
            </div>
			
            <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
                <statistics-card-line
                  icon="LayersIcon"
                  icon-right
                  statistic="356.00"
                  statisticTitle="Total Withdrawal"
                  :chartData="chart4.series"
                  color="danger" />
            </div>
			
        </div>
		


        <!-- First Block End -->

       <!-- chart Block start --> 

            <div class="vx-col w-full pt-10 mb-base">
                    <vx-card title="Statistics">
                        <vue-apex-charts type="line" height="380" :options="apexChatData.lineChartSimple.chartOptions" :series="apexChatData.lineChartSimple.series"></vue-apex-charts>
                        <template slot="codeContainer">
    {{ apexChatData.lineChartSimpleCode }}
                        </template>
                    </vx-card>
            </div>

       <!-- chart Block End --> 

       <!-- third Block start --> 
       <div class="vx-row">
           <div class="vx-col md:w-2/3 w-full mb-base">
               <vx-card title="Top Product">   
                <vs-table max-items="4" pagination :data="topproduct">
                    <template slot="thead">
                        <vs-th>Product</vs-th>
                        <vs-th>Availability</vs-th>
                        <vs-th>Total Sales</vs-th>
                        <vs-th>Total Count Sold</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="data[indextr].email">{{ data[indextr].email }}</vs-td>
                            <vs-td :data="data[indextr].username">
                                <vs-chip color="success">instock</vs-chip>
                            </vs-td>
                            <vs-td :data="data[indextr].id">{{ data[indextr].website }}</vs-td>
                            <vs-td :data="data[indextr].id">{{ data[indextr].id }}</vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
               </vx-card>
            </div>

           <div class="vx-col md:w-1/3 w-full mb-base">
                <vx-card title="Sales by Country">
                    <vue-apex-charts type="donut" height="290" :options="apexChatData.donutChart.chartOptions" :series="apexChatData.donutChart.series"></vue-apex-charts>
                    <template slot="codeContainer">
{{ apexChatData.donutChartCode }}
                    </template>
                </vx-card>
            </div>
       </div>

       <!-- third Block End --> 

       <!-- fourth block -->

        <div class="vx-row">
            <div class="vx-col w-1/2 md:w-1/3 xl:w-1/4">
                <statistics-card-line
                  hideChart
                  class="mb-base"
                  icon="EyeIcon"
                  statistic="13"
                  statisticTitle="Product Out Of Stock" />
            </div>

            <div class="vx-col w-1/2 md:w-1/3 xl:w-1/4">
                <statistics-card-line
                  hideChart
                  class="mb-base"
                  icon="MessageSquareIcon"
                  statisticTitle="Products Backorder"
                  statistic="0"
                  color='success' />
            </div>

            <div class="vx-col w-1/2 md:w-1/3 xl:w-1/4">
                <statistics-card-line
                  hideChart
                  class="mb-base"
                  icon="ShoppingBagIcon"
                  statistic="0"
                  statisticTitle="Orders Status Report"
                  color='warning' />
            </div>

            <div class="vx-col w-1/2 md:w-1/3 xl:w-1/4">
                <statistics-card-line
                  hideChart
                  class="mb-base"
                  icon="HeartIcon"
                  statistic="0"
                  statisticTitle="Parties Status Report"
                  color='danger' />
            </div>
        </div>

        <!-- fourth block End -->

        <!-- fifth Block start --> 
       <div class="vx-row">
           <div class="vx-col md:w-2/3 w-full mb-base">
               <vx-card title="Recently Joined Distributors">
                        <vs-table pagination :max-items="4" search :data="join">

                            <template slot="thead">
                                <vs-th sort-key="email">Name</vs-th>
                                <vs-th sort-key="username">Plan</vs-th>
                                <vs-th sort-key="id">Email</vs-th>
                                <vs-th sort-key="email">DOJ</vs-th>
                                <vs-th sort-key="username">Phone</vs-th>
                                <vs-th sort-key="id">Status</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="data[indextr].name">
                                        {{data[indextr].name}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].plan">
                                        {{data[indextr].plan}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].email">
                                        {{data[indextr].email}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].doj">
                                        {{data[indextr].doj}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].phone">
                                        {{data[indextr].phone}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip color="success">Active</vs-chip>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                </vx-card>
            </div>

           <div class="vx-col md:w-1/3 w-full mb-base">
                <vx-card title="Audit Log" style="height: 420px;">
                    <vx-timeline :data="timelineData"   height="290"/>
                </vx-card>
            </div>
       </div>

       <!-- fifth Block End --> 

    </div>
</template>





<script>
import config from "@/config.js"
import './analyticsData.js'
import StatisticsCardLine from '@/components/statistics-cards/StatisticsCardLine.vue'
import VueApexCharts from 'vue-apexcharts'
import apexChatData from './charts/apex-charts/apexChartData.js'
import VxTimeline from "@/components/timeline/VxTimeline"

export default{
    
    components: {
        StatisticsCardLine,
        VueApexCharts,
        VxTimeline
	},	
    data() {
        
        return {apexChatData: apexChatData,           
         siteTraffic: {
        series: [{
            name: 'Weekly Sales',
            data: [150, 200, 125, 225, 200, 250]
        }],
        chartOptions: {
            grid: {
                show: false,
                padding: {
                    left: 0,
                    right: 0
                }
            },
            chart: {
                type: 'line',
                dropShadow: {
                    enabled: true,
                    top: 5,
                    left: 0,
                    blur: 4,
                    opacity: 0.10,
                },
                toolbar: {
                    show: false,
                },
                sparkline: {
                    enabled: true
                }
            },
            stroke: {
                width: 5,
                curve: 'smooth'
            },
            xaxis: {
                type: 'numeric',
            },
            colors: ['#7367F0'],
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'dark',
                    gradientToColors: ['#A9A2F6'],
                    shadeIntensity: 1,
                    type: 'horizontal',
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [0, 100, 100, 100]
                },
            },
            markers: {
                size: 0,
                hover: {
                    size: 5
                }
            },
            tooltip: {
                x: { show: false }
            },
        }
    },
    newsletter: {
        series: [{
            name: 'New Enrollment',
            data: [365, 390, 365, 400, 375, 400]
        }],
        chartOptions: {
            grid: {
                show: false,
                padding: {
                    left: 0,
                    right: 0
                }
            },
            chart: {
                type: 'line',
                dropShadow: {
                    enabled: true,
                    top: 5,
                    left: 0,
                    blur: 4,
                    opacity: 0.10,
                },
                toolbar: {
                    show: false,
                },
                sparkline: {
                    enabled: true
                }
            },
            stroke: {
                width: 5,
                curve: 'smooth'
            },
            xaxis: {
                type: 'numeric',
            },
            colors: ['#FF9F43'],
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'dark',
                    gradientToColors: ['#ffc085'],
                    shadeIntensity: 1,
                    type: 'horizontal',
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [0, 75, 100, 100]
                },
            },
            markers: {
                size: 0,
                hover: {
                    size: 5
                }
            },
            tooltip: {
                x: { show: false }
            },
        }
    },
    chart4: {
        series: [{
            name: 'Product Value',
            data: [365, 390, 365, 400, 375, 400]
        }],
        chartOptions: {
            grid: {
                show: false,
                padding: {
                    left: 0,
                    right: 0
                }
            },
            chart: {
                type: 'line',
                dropShadow: {
                    enabled: true,
                    top: 5,
                    left: 0,
                    blur: 4,
                    opacity: 0.0,
                },
                toolbar: {
                    show: false,
                },
                sparkline: {
                    enabled: true
                }
            },
            stroke: {
                width: 5,
                curve: 'smooth'
            },
            xaxis: {
                type: 'numeric',
            },
            colors: ['#FF9F43'],
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'dark',
                    gradientToColors: ['#ffc085'],
                    shadeIntensity: 1,
                    type: 'horizontal',
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [0, 75, 100, 100]
                },
            },
            markers: {
                size: 0,
                hover: {
                    size: 5
                }
            },
            tooltip: {
                x: { show: false }
            },
        }
    },
   activeUsers: {
        series: [{
            name: 'Products Sold',
            data: [750, 1000, 900, 1250, 1000, 1200, 1100]
        }],
        chartOptions: {
            grid: {
                show: false,
                padding: {
                    left: 0,
                    right: 0
                }
            },
            chart: {
                type: 'line',
                dropShadow: {
                    enabled: true,
                    top: 5,
                    left: 0,
                    blur: 4,
                    opacity: 0.10,
                },
                toolbar: {
                    show: false,
                },
                sparkline: {
                    enabled: true
                }
            },
            stroke: {
                width: 5,
                curve: 'smooth'
            },
            xaxis: {
                type: 'numeric',
            },
            colors: ['#28C76F'],
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'dark',
                    gradientToColors: ['#55DD92'],
                    shadeIntensity: 1,
                    type: 'horizontal',
                    opacityFrom: 1,
                    opacityTo: 1,
                    stops: [0, 75, 100, 100]
                },
            },
            markers: {
                size: 0,
                hover: {
                    size: 5
                }
            },
            tooltip: {
                x: { show: false }
            },
        }
    },
    users:  [
                {
                    "id": 1,
                    "username": "Bret",
                },
                {
                    "id": 2,
                    "username": "Antonette",
                },
                {
                    "id": 3,
                    "username": "Samantha",
                },
                {
                    "id": 4,
                    "username": "Karianne",
                },
                {
                    "id": 5,
                   "username": "Kamren",
                },
                {
                    "id": 6,
                   "username": "Leopoldo_Corkery",
                },
            ],
        users_com:  [
                {
                    "id": 1,
                    "username": "Leopoldo_Corkery",
                },
                {
                    "id": 2,
                    "username": "Antonette",
                },
                {
                    "id": 3,
                    "username": "Samantha",
                },
                {
                    "id": 4,
                    "username": "Karianne",
                },
                {
                    "id": 5,
                   "username": "Kamren",
                },
                {
                    "id": 6,
                   "username": "Leopoldo_Corkery",
                },
            ],
        topproduct: [
            {
                "id": 1,
                "name": "Leanne Graham",
                "username": "Bret",
                "email": "test product",
                "website": "$ 2033",
            },
            {
                "id": 2,
                "name": "Ervin Howell",
                "username": "Antonette",
                "email": "test product",
                "website": "$ 540",
            },
            {
                "id": 3,
                "name": "Clementine Bauch",
                "username": "Samantha",
                "email": "test product",
                "website": "$ 100",
            },
            {
                "id": 4,
                "name": "Patricia Lebsack",
                "username": "Karianne",
                "email": "test product",
                "website": "$ 540",
            },
            {
                "id": 5,
                "name": "Chelsey Dietrich",
                "username": "Kamren",
                "email": "test product",
                "website": "$ 540",
            },
            {
                "id": 6,
                "name": "Mrs. Dennis Schulist",
                "username": "Leopoldo_Corkery",
                "email": "test product",
                "website": "$ 540",
            },
            {
                "id": 7,
                "name": "Kurtis Weissnat",
                "username": "Elwyn.Skiles",
                "email": "test product",
                "website": "$ 540",
            },
            {
                "id": 8,
                "name": "Nicholas Runolfsdottir V",
                "username": "Maxime_Nienow",
                "email": "test product",
                "website": "$ 540",
            },
            ],
            join: [
            {
                "name": 11644667,
                "plan": "binary2",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 11644668,
                "plan": "linear",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 11644669,
                "plan": "forced",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 11644670,
                "plan": "xup plan",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 11644671,
                "plan": "forced",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 116446672,
                "plan": "linear",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 116446673,
                "plan": "forced",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            {
                "name": 116446674,
                "plan": "linear",
                "email": "maxwin800@aa.com",
                "doj": "02-Jan-2020	",
                "phone": "--",
            },
            ],
            timelineData: [
              {
                color: "primary",
                icon: "PlusIcon",
                title: "New users Register",
                time: "25 mins Ago"
              },
              {
                color: "primary",
                icon: "PlusIcon",
                title: "New invoice received",
                time: "15 Days Ago"
              },
              {
                color: "primary",
                icon: "PlusIcon",
                title: "New order received",
                time: "20 days ago"
              },
            ],

            browserAnalytics: [{
            id: 1,
            name: 'Total Revenue',
            ratio: 73,
            comparedResult: '800'
            },
            {
            id: 3,
            name: 'Total Downline',
            ratio: 8,
            comparedResult: '-200'
            },
            {
            id: 2,
            name: 'New Orders',
            ratio: 19,
            comparedResult: '100'
            },
            {
            id: 4,
            name: 'Frontline',
            ratio: 27,
            comparedResult: '-450'
            },
        ],
         // Customers
    customersPie: {
        // analyticsData: [
        //     { 'customerType': 'New', 'counts': 890, color: 'primary' },
        //     { 'customerType': 'Returning', 'counts': 258, color: 'warning' },
        //     { 'customerType': 'Referrals ', 'counts': 149, color: 'danger' },
        // ],
        // series: [690, 258, 149],
        chartOptions: {
            labels: ['New', 'Returning', 'Referrals'],
            dataLabels: {
                enabled: false
            },
            legend: { show: false },
            chart: {
                type: 'pie',
                offsetY: 0,
                dropShadow: {
                    enabled: false,
                    blur: 5,
                    left: 1,
                    top: 1,
                    opacity: 0.2
                },
                toolbar: {
                    show: false
                }
            },
            stroke: {
                width: 5
            },
            colors: ['#7961F9', '#FF9F43', '#EA5455'],
            fill: {
                type: 'gradient',
                gradient: {
                    gradientToColors: ['#9c8cfc', '#FFC085', '#f29292']
                }
            }
        }
    },

        }
    },
    created() {
      return this.firstblock()
	},
    methods: {
        firstblock() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getfirstblock",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.users = response.data;
                console.log(response.data);

            })
            .catch(error => {
                console.log(error);
            });
		},
	}	
}
</script>


<style lang="scss">
.con-vs-chip {
    min-height: 16px;
    min-width: 16px;
    font-size: .6rem;
}
</style>