<template>
    <vx-card title="Add Ranks">
        <div class="demo-alignment mb-6">
            <vs-button @click="addcondition" color="primary" type="filled">Add Condition</vs-button>
			<vs-button @click="removecondition" color="primary" type="filled">Remove Condition</vs-button>
        </div>
        <form>
            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Plan</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">

                <v-select v-model="plan"  :closeOnSelect="false" :options="plans" v-validate="'required'" name="planname" :dir="$vs.rtl ? 'rtl' : 'ltr'"  />
                
                    <span class="text-danger">{{ errors.first('plan') }}</span>
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Rank Name</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" v-model="rank_name" name="rank" v-validate="'required'"/>
                    <span class="text-danger" v-show="errors.has('rank')">The Rank Name is required</span>
                </div>
            </div>

            <div v-for="rankrepeatcondtion in rankrepeatcondtions" :key="rankrepeatcondtion">
                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Rank Condition</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">

                    <v-select :options="['1.No of Direct Referals','2.No of Group Referals','3.No of Sales','4.Number of Product Sold','5.Target Achieved','6.Level Completion','7.PV Points','8.GPV Points','9.Sales Target','10.Group Sales Target']" :dir="$vs.rtl ? 'rtl' : 'ltr'"  name="rankcondition" id="method" v-model="rankrepeatcondtion['condition']" v-validate="'required'"/>
               
                        <span class="text-danger" v-show="errors.has('rankcondition')">The Rank condition is required</span>
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Condition Value</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                        <vs-input type="number" v-model="rankrepeatcondtion['condition_value']" name="condition" class="w-full" v-validate="'required|min_value:0'"/>
                        <span class="text-danger" v-show="errors.has('condition')" >{{ errors.first('condition') }}</span>
                    </div>
                </div>
            </div>
            
            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Bonus</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input type="number" v-model="bonus" class="w-full" name="bonus"  v-validate="'required|min_value:0'" />
                     <span class="text-danger">{{ errors.first('bonus') }}</span>
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Bonus Wallet</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                  <v-select :options="['C-Wallet','E-Wallet']" :dir="$vs.rtl ? 'rtl' : 'ltr'"  name="wallet" id="wallet" v-model="wallet" v-validate="'required'" />
                    <span class="text-danger" v-show="errors.has('wallet')">Please choose a Wallet</span>
                  
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-button class="mr-3 mb-2" @click.prevent="addrank">Submit</vs-button>
                </div>
            </div>
        </form>
    </vx-card>
</template>

<script>
import config from "@/config.js"
import vSelect from 'vue-select'
export default {
    data() {
        return {
            plan: '',
            rank_name: '',
            rank_condition: '',
            condition: '',
            bonus: '',
            wallet: 'C-Wallet',
            walletoptions: [
                {text: "C-Wallet", value:"C-Wallet"},
                {text: "E-Wallet", value:"E-Wallet"},
            ],
            plans: [ ],
            conditions: [
                {text: "1.No of Direct Referals", value:"1"},
                {text: "2.No of Group Referals", value:"2"},
                {text: "3.No of Sales", value:"3"},
                {text: "4.Number of Product Sold", value:"4"},
                {text: "5.Target Achieved", value:"5"},
                {text: "6.Level Completion", value:"6"},
                {text: "7.PV Points", value:"7"},
                {text: "8.GPV Points", value:"8"},
                {text: "9.Sales Target", value:"9"},
                {text: "10.Group Sales Target", value:"10"},
            ],
            rankrepeatcondtions: [
                {}
            ],
        }
    },
    methods: {
        addrank() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    let rankdetails = {
                        plan: this.plan,
                        rank_name: this.rank_name,
                        bonus: this.bonus,
                        wallet: this.wallet,
                        condition: this.rankrepeatcondtions,
                    }
                    this.$vs.loading()
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/addrank",rankdetails,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        console.log(response);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Compensation',
                            text: 'Rank successfully added',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                        this.$router.push({ path : '/compensation/rank' });
                    })
                    .catch(error => {
                        console.log(error);
                    });
                }
            })
        },
        addcondition() {
            this.rankrepeatcondtions.push({});
        },
		removecondition(){
            this.rankrepeatcondtions.pop();
        },
        fetchPlans() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getranksplans",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.plans = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        }
    },
    created() {
       return this.fetchPlans();
    },
    components: {
        'v-select': vSelect,
    },
    computed: {
        validateForm() {
        return !this.errors.any() && this.plan != '' && this.rank != '' && this.rankcondition != '' && this.condition != '' && this.wallet != '' ;      
        },
    },
}
</script>