<template>
    <vx-card title="Edit Rank">
        <div class="demo-alignment mb-6">
            <vs-button @click="addcondition" color="primary" type="filled">Add Condition</vs-button>
			<vs-button @click="removecondition" color="primary" type="filled">Remove Condition</vs-button>
        </div>
        <form>
            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Plan</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-select v-model="plan" name="planname" class="w-full select-large" v-validate="'required'">
                        <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in plans" class="w-full" />
                    </vs-select>
                    <span class="text-danger">{{ errors.first('planname') }}</span>
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Rank Name</span> 
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" v-model="rank_name" name="rankname" v-validate="'required'"/>
					 <span class="text-danger" v-show="errors.has('rankname')">The Rank Name is required</span>
                </div>
            </div>

            <div v-for="rankrepeatcondtion in rankrepeatcondtions" :key="rankrepeatcondtion">
                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Rank Condition</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                        <vs-select v-model="rankrepeatcondtion['condition']" class="w-full select-large" name="rankcondition" v-validate="'required'">
                            <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in conditions" class="w-full" />
                        </vs-select>
                        <span class="text-danger">{{ errors.first('rankcondition') }}</span>
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Condition Value</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                        <vs-input type="number" v-model="rankrepeatcondtion['condition_value']" name="conditionvalue" class="w-full" v-validate="'required|min_value:0'"/>
						 <span class="text-danger" v-show="errors.has('conditionvalue')">The Condition Value is required</span>
                       
                    </div>
                </div>
            </div>
            
            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Bonus</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input type="number" v-model="bonus" class="w-full" name="bonus"  v-validate="'required|min_value:0'"/>
                    <span class="text-danger">{{ errors.first('bonus') }}</span>
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  <span>Bonus Wallet</span>
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-select v-model="wallet" class="w-full select-large">
                        <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in walletoptions" class="w-full" />
                    </vs-select>
                </div>
            </div>

            <div class="vx-row sm:w-2/3 mb-6">
				<div class="vx-col sm:w-1/3 w-full">
                  
               </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-button class="mr-3 mb-2" @click.prevent="updaterank">Update</vs-button>
                </div>
            </div>
        </form>
    </vx-card>
</template>

<script>
import config from "@/config.js"
import vSelect from 'vue-select'
export default {
    data() {
        return {
            plan: '',
            rank_name: '',
            condition: '',
            condition_value: '',
            bonus: '',
            wallet: '',
            walletoptions: [
                {text: "C-Wallet", value:"C-Wallet"},
                {text: "E-Wallet", value:"E-Wallet"},
            ],
            plans: [ ],
            conditions: [
                {text: "1. No of Direct Referrals", value:"1"},
                {text: "2. No of Group Referrals", value:"2"},
                {text: "3. No of Sales", value:"3"},
                {text: "4. Number of Product Sold", value:"4"},
                {text: "5. Target Achieved", value:"5"},
                {text: "6. Level Completion", value:"6"},
                {text: "7. PV Points", value:"7"},
                {text: "8. GPV Points", value:"8"},
                {text: "9. Sales Target", value:"9"},
                {text: "10. Group Sales Target", value:"10"},
            ],
            rankrepeatcondtions: [],
        }
    },
    methods: {
        updaterank() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    let rankdetails = {
                        plan: this.plan,
                        rank_name: this.rank_name,
                        bonus: this.bonus,
                        wallet: this.wallet,
                        condition: this.rankrepeatcondtions,
                    }
                    this.$vs.loading()
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/updaterank/"+this.$route.params.rank_id,rankdetails,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        console.log(response);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Compensation',
                            text: 'Rank successfully updated',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                        this.$router.push({ path : '/compensation/rank' });
                    })
                    .catch(error => {
                        console.log(error);
                        this.$vs.loading.close()
                    });
                }
            })
        },
        addcondition() {
            this.rankrepeatcondtions.push({});
        },
		removecondition(){
            this.rankrepeatcondtions.pop();
        },
        fetchRankdetails() {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getrankdetails/"+this.$route.params.rank_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.plan = response.data[0]['matrix_name'];
                this.rank_name = response.data[0]['rank_value'];
                this.bonus = response.data[1]['rank_value'];
                this.wallet = response.data[2]['rank_value'];
                console.log(response.data);
            })
            .catch(error => {
                console.log(error);
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
            });
        },
        fetchRankconditions() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getrankconditions/"+this.$route.params.rank_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.rankrepeatcondtions = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                this.$vs.loading.close()
                console.log(error);
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
            });
        }
    },
    created() {
       return this.fetchRankdetails(),this.fetchRankconditions();
    },
    components: {
        'v-select': vSelect,
    },
    computed: {
        validateForm() {
        return !this.errors.any() && this.planname != '' && this.rankname != '' && this.conditionvalue != '';      
        },
    },
}
</script>