<template>
    <vx-card title="Ranks">
        <div class="demo-alignment">
            <vs-button @click="addrank" color="primary" type="filled">Add Rank</vs-button>
        </div>
        <vs-table pagination :max-items="4" search :data="ranks">
            <template slot="thead">
                <vs-th sort-key="s_no">S.No</vs-th>
                <vs-th sort-key="plan_name">Plan Name</vs-th>
                <vs-th sort-key="rank_name">Rank Name</vs-th>
                <vs-th sort-key="action">Action</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                    <vs-td>
                        {{ indextr + 1 }}
                    </vs-td>

                    <vs-td :data="data[indextr].matrix_name">
                        {{data[indextr].matrix_name}}
                    </vs-td>

                    <vs-td :data="data[indextr].rank_value">
                        {{data[indextr].rank_value}}
                    </vs-td>

                    <vs-td class="whitespace-no-wrap">
                        <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editRank(data[indextr].rank_id)" />
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vx-card>
</template>

<script>
import config from "@/config.js"
export default {
    data() {
        return {
            ranks: []
        }
    },
    methods: {
        addrank () {
            this.$router.push({ path : '/compensation/rank/addrank' });
        },
        editRank (rank_id) {
            this.$router.push({ path : '/compensation/rank/editrank/'+rank_id });
        },
        fetchRanks() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getranks",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.ranks = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
            });
        }
    },
    created() {
       return this.fetchRanks();
    },
}
</script>