<template>
  <div class="the-navbar__user-meta flex items-center" v-if="activeUserInfo.displayName">

    <div class="text-right leading-tight hidden sm:block">
      <p class="font-semibold">Admin</p>
      <small>Available</small>
    </div>

    <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">

      <div class="con-img ml-3">
		  <img src="@/assets/images/logo/download.png" alt="img" class="responsive">
      <!--  <img v-if="activeUserInfo.photoURL" key="onlineImg" :src="activeUserInfo.photoURL" alt="user-img" width="40" height="40" class="rounded-full shadow-md cursor-pointer block" /> -->
      </div>

      <vs-dropdown-menu class="vx-navbar-dropdown">
        <ul style="min-width: 9rem">

            <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"  @click="changepassword">
            <feather-icon icon="UserIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Change Password</span>
          </li>
			 <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" @click="profile" >
            <feather-icon icon="UserIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Profile</span>
          </li>
			
			 <li   class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white" @click="subadmin" v-if="this.admin_id == '1'">
            <feather-icon icon="UserIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Role Management</span>
          </li>
			
			


          <vs-divider class="m-1" />

          <li
            class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
            @click="logout">
            <feather-icon icon="LogOutIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Logout</span>
          </li>
        </ul>
      </vs-dropdown-menu>
    </vs-dropdown>
  </div>
</template>

<script>
	import config from "@/config.js"
export default {
  data() {

    // const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token')); 
    // this.$http.get(`http://127.0.0.1:4000/api/admin/me`, { headers: { Authorization: AuthStr } })
    // .then(response => { 
    //     //console.log("success");
    //     console.log(response);
    // })
    // .catch(error => {
    //     this.$vs.notify({
    //       title: 'Error',
    //       text: error.response.data.errors.message,
    //       iconPack: 'feather',
    //       icon: 'icon-alert-circle',
    //       color: 'danger'
    //     })
    // });
    return {
dataImg:[],
		admin_id:'',
    }
  },
	 created() {
         return this.getprofile();
       },
  computed: {
    activeUserInfo() {
      // this.$http.get(`http://127.0.0.1:4000/api/admin/me`, )
      //   .then(response => { 
      //       console.log(response);
      //   })
      //   .catch(error => {
      //         console.log(error);
      //   });

      return this.$store.state.AppActiveUser;
      
    }
  },
  methods: {
	   getprofile () {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            const cli_id = localStorage.getItem("admin_details");          
            const obj = JSON.parse(cli_id);
		   // alert(obj.id);
             this.$http.get(config.apiUrl +"api/admin/getprofile/" + obj.id,{ headers: { Authorization: AuthStr } })
            .then(response => {                
                console.log(response.data[0]);
                //console.log(obj);

           // this.form = obj.email; 
                this.dataImg = response.data[0]['image'];
                this.dataImg = "../assets/images/logo/logo.svg";
				  this.admin_id= response.data[0]['id'];
console.log(this.dataImg);
console.log("Hello");
            })
            .catch(error => {
                if(error.response.data.errors.message == 'Unauthenticated') { 
                  this.forcedlogout() }

            });
        },
	   changepassword(){
        this.$router.push({ path : '/profile/changepassword'});   
    },
	  profile(){ 
      this.$router.push({ path : '/profile/adminprofile'});   
    },
	  subadmin(){ 
      this.$router.push({ path : '/subadmin'});   
    },
	  
	  
    logout() {
      localStorage.clear();
      this.$router.push('/login').catch(() => {})
      this.$vs.notify({
        title: 'Success',
        text: 'Successfully Logout',
        iconPack: 'feather',
        icon: 'icon-alert-circle',
        color: 'success'
      })
    },
  }
}
</script>
<style>
.con-img img {
    width: 50px;
}
</style>
