<template>
    <vx-card title="Epin Management"> 
        <vs-table pagination :max-items="10" search :data="users">
            <template slot="thead">
                <vs-th>S.No</vs-th>
                <vs-th sort-key="members_username">Members Username</vs-th>
                <vs-th sort-key="epin_code">Code</vs-th>
                <vs-th sort-key="epin_amount">Amount</vs-th>
                <vs-th sort-key="balance_amount">Balance Amount</vs-th>
                <vs-th sort-key="epin_date">Date</vs-th>
                <vs-th sort-key="expiry_date">Experity Date</vs-th>
                 <vs-th sort-key="epin_status">Status</vs-th>
                 
                  <vs-th sort-key="members_doj">Refund</vs-th>
                  <vs-th sort-key="members_doj">Delete</vs-th>
                 
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td>
                        {{ indextr + 1 }}
                    </vs-td>

                    <vs-td :data="data[indextr].members_username">
                        {{data[indextr].members_username}}
                    </vs-td>

                    <vs-td :data="data[indextr].epin_code">
                        {{data[indextr].epin_code}}
                    </vs-td>

                    <vs-td :data="data[indextr].epin_amount">
                        {{data[indextr].epin_amount}}
                    </vs-td> 
                   
               
                    <vs-td  :data="data[indextr].balance_amount">
                          {{data[indextr].balance_amount}}     
                   </vs-td>                    
                    
                    <vs-td :data="data[indextr].epin_date">
                        {{data[indextr].epin_date}}
                    </vs-td>
                    <vs-td :data="data[indextr].expiry_date">
                        {{data[indextr].expiry_date}}
                    </vs-td>
                    <vs-td :data="data[indextr].epin_status">                    

                        <div class="con-vs-chip vs-chip-danger con-color " style="color: rgba(255, 255, 255, 0.9);" v-if="data[indextr].epin_status === 1"><span class="text-chip vs-chip--text"> Expiry</span></div>
                        <div class="con-vs-chip vs-chip-danger con-color " style="color: rgba(255, 255, 255, 0.9);" v-else-if="data[indextr].epin_status === 2"><span class="text-chip vs-chip--text"> Refund</span></div>
                        <div class="con-vs-chip vs-chip-success con-color " style="color: rgba(255, 255, 255, 0.9);" v-else><span class="text-chip vs-chip--text"> Active</span></div>
                    </vs-td>


                     <vs-td :data="data[indextr].epin_id">
                        <vs-button size="small"  @click="popupActive=true" v-if="data[indextr].epin_status === 2">Refund</vs-button> 
                        <vs-button size="small" @click.stop="refundData(data[indextr].epin_id,data[indextr].epin_status)" v-else>Refund</vs-button>
                    </vs-td>
                     <vs-td :data="data[indextr].epin_id">
                       <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(data[indextr].epin_id)" />
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table>
        <vs-popup class="holamundo" title="" :active.sync="popupActive">
            <p>Refund already done.</p>
        </vs-popup>
    </vx-card>
    
</template>
<script>
import config from "@/config.js"
export default {
    data() {
        return {
            users: [],
            deleterowid : '',
            refundid:'',
            popupActive: false,
            epinstatus:'',
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
        refundData(id,status){
            this.epinstatus = status,
            this.refundid=id,
            this.$vs.dialog({
                type: 'confirm',
                color: 'primary',
                title: `Confirm`,
                text: 'Do you want to refund this code',
                accept: this.acceptRefundvalue,
            })
        },
        acceptRefundvalue(){
            if(this.epinstatus == 1){

                this.$vs.notify({
                  title: 'E-Pin',
                  text: 'Expiry E-Pin', 
                  iconPack: 'feather',
                  icon: 'icon-alert-circle',
                  color: 'warning'
               })

            }else{
                const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                this.$http.get(config.apiUrl +"api/admin/refundepincode/"+this.refundid,{ headers: { Authorization: AuthStr } })
                .then(response => {
                    this.$vs.loading()
                    this.$vs.notify({                   
                        title: 'E-Pin',
                        text: 'Refund send successfully',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success'
                    }) 
                this.fetchData()
                    console.log(response);

                })
                .catch(error => {
                    console.log(error);
                });
            }

           

        },
        deleteData(id){
            this.deleterowid=id,
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Do you want to delete',
                accept: this.acceptDeleteAlert,
            })
        },
        acceptDeleteAlert(){
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/deleteepinmanagementrow/"+this.deleterowid,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.$vs.loading()
               this.fetchData()
                console.log(response);

            })
            .catch(error => {
                console.log(error);
            });
        },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/epinmanagement",{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response.data);
                this.users = response.data;               
                
                this.$vs.loading.close()
            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },


            getStatusColor(status) {
            if(status == 'USED') 
            {
               // <span>pending</span>
                //status='<span class="m-badge  m-badge--danger m-badge--wide">PENDING </span>'
                return "success"
            }
            if(status == 'UNUSED')
            {   
                //<span>pending</span>
                //status='<span class="m-badge  m-badge--danger m-badge--wide">PENDING </span>'
                return "danger" 
            }
        },
       
    }   
}
</script>


    

