

<template>
   <div>
      <div class="mb-5">
         <div class="vx-col ">
            <vx-card title="E-Pin Configuration">
               <div slot="no-body" class="full-page-bg-color">
                  <div class="">
                     <div class="vx-col sm:w-full md:w-full lg:w-2/3 self-center d-theme-dark-bg">
                        <div class="p-8">
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Maximum Active E-Pin</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full">
                                <div class="vx-col sm:w-3/3 w-full">
                                    <vs-input  class="w-full" type="number" name="count" id='count' v-model="count" min="0" v-validate="'required|min_value:0'"/>
                                    <span class="text-danger" v-show="errors.has('count')"  >{{ errors.first('count') }}</span>
                                </div>
                              </div>
                           </div>
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>E-Pin Character Set</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full">
                               <v-select class="inputx sm:w-3/3" name="username" v-model="character" :options="[{label: 'Sunsoft', value: 'Sunsoft'},{label: 'Numerals', value: 'Numerals'},{label: 'Alphanumerals', value: 'Alphanumerals'}]" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>

                                 <span class="text-danger" v-show="errors.has('username')" >Select E-Pin Character</span>
                                  <!-- <span class="text-danger">{{ errors.first('minimumamt') }}</span> -->
                              </div>
                           </div>

                           <div class="vx-row"><div class="vx-col sm:w-1/3 w-full">
                           <span></span></div>
                              <div class="vx-col sm:w-1/3 w-full">
                                 <vs-button type="filled" @click.prevent="submitForm" class="mr-5 block">Submit</vs-button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </vx-card>
         </div>
      </div>





      <div class="">
         <div class="vx-col ">
            <vx-card title="Add New E-Pin Amount">
               <div slot="no-body" class="full-page-bg-color">
                  <div class="">
                     <div class="vx-col sm:w-full md:w-full lg:w-2/3 self-center d-theme-dark-bg">
                        <div class="p-8">
                            <div class="vx-row mb-6">
                                <div class="vx-col sm:w-1/3 w-full">
                                    <span>E-Pin Amount</span>
                                </div>
                                <div class="vx-col sm:w-2/3 w-full">
                                    <div class="vx-col sm:w-3/3 w-full">
                                        <vs-input  class="w-full" type="number" name="amount" id='amount' v-model="amount" min="0"/>
                                    </div>
                                </div>
                            </div>
                            <div class="vx-row"><div class="vx-col sm:w-1/3 w-full">
                            <span></span></div>
                                <div class="vx-col sm:w-1/3 w-full">
                                    <vs-button type="filled" @click.prevent="submitamount" class="mr-5 block">Submit</vs-button>
                                </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </vx-card>
         </div>
      </div>


    <div class="mb-5 mt-5">


                           <vx-card title="Available E-Pin Amounts" >
                              <vs-table pagination :max-items="10"  :data="users">
                                    <template slot="thead">
                                       <vs-th>E-Pin Amount</vs-th>
                                       <vs-th sort-key="members_username">Action</vs-th>
                                    </template>

                                    <template slot-scope="{data}">
                                       <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                                          <vs-td :data="data[indextr].sitesettings_value">
                                                {{data[indextr].sitesettings_value}}
                                          </vs-td>
                                          <vs-td>
                                                <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(data[indextr].sitesettings_id)" />
                                          </vs-td>
                                       </vs-tr>
                                    </template>
                              </vs-table>
                           </vx-card>


      </div>


   </div>
</template>
<script>
import config from "@/config.js"
import vSelect from 'vue-select'
   export default {
       data() {
           return {
               character:'',
               count:'',
               amount:'',
               users: []

           }

       },
components: {'v-select': vSelect,},

created() {
      return this.getfetchdata(),this.fetchData()
       } ,



   methods: {
      deleteData(delectid){
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/deleteepincost/"+delectid,{ headers: { Authorization: AuthStr } })
            .then(response => {
               this.fetchData()
                console.log(response);

            })
            .catch(error => {
                console.log(error);
            });
      },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/epincostlist",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.users = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                this.$vs.loading.close()
                console.log(error);
            });
        },

getfetchdata(){
this.$vs.loading()
      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
        this.$http.get(config.apiUrl +"api/admin/getsitesettings",{ headers: { Authorization: AuthStr } })
        .then(response => {
           console.log(response);
           //let payout_apivalues = JSON.parse(response.data[0]);
           for(var i=0;i<response.data.length;i++){
              var sitesettings_name = response.data[i]['sitesettings_name'];
              if(sitesettings_name=='character'){
                 this.character = response.data[i]['sitesettings_value'];
              }
              if(sitesettings_name=='count'){
                 this.count = response.data[i]['sitesettings_value'];
              }


           }
           this.$vs.loading.close()

        })
         .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
},


submitForm() {
    this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let epinform = {
               count:this.count,
               character:this.character.value,
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/epinsettings",epinform,{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'E-Pin',
                    text: 'Epin Update successfully ',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
            })

        }
    })
},

submitamount(){
            if( this.amount == ''){
                this.$vs.notify({
                        title: 'E-Pin',
                        text: 'Please Enter the e-pin amount',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'warning'
                })

            }else{
                  let amountvalue = {
                    amount:this.amount
                    }
                this.$vs.loading()
                const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                this.$http.post(config.apiUrl +"api/admin/submitamountvalue",amountvalue,{ headers: { Authorization: AuthStr } })
                .then(response => {
                   this.fetchData()
                    console.log(response);
                    this.$vs.loading.close()
                    this.$vs.notify({
                        title: 'E-Pin',
                        text: 'Epin Update successfully ',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success'
                    })
                })
            }

},





    }


   }
</script>

<style lang="scss">
	#epintype {
    background: none;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 4px;
    padding: .75em;
	width:100%;
}
</style>


