

<template>
   <div>
      <vs-breadcrumb>  <li>  </li>  </vs-breadcrumb>
      <div class="h-screen  bg-img">
         <div class="vx-col ">
            <vx-card title="Send E-Pin">
               <div slot="no-body" class="full-page-bg-color">
                  <div class="">
                     <div class="vx-col sm:w-full md:w-full lg:w-2/3 self-center d-theme-dark-bg">
                        <div class="p-8">
                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Username</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full">
                               <v-select class="inputx sm:w-3/3" name="username" v-model="members_id" :options="optionmembers_id" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>  
                                 <span class="text-danger" v-show="errors.has('username')" >Select User Name</span>
                                  <!-- <span class="text-danger">{{ errors.first('minimumamt') }}</span> -->
                              </div>
                           </div>
                            <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Count</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full"> 
                              <vs-input  class="w-full" type="number" name="count" id='count' v-model="count" min="0" v-validate="'required|min_value:0'"/>
                                 <span class="text-danger" v-show="errors.has('count')"  >{{ errors.first('count') }}</span>
                              </div>
                           </div>

                           <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Amount</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full">
                               <v-select class="inputx sm:w-3/3" name="amount" v-model="amount" :options="amount_list" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>  
                                 <span class="text-danger" v-show="errors.has('amount')" >Select Amount</span>
                                  <!-- <span class="text-danger">{{ errors.first('minimumamt') }}</span> -->
                              </div>
                           </div>
                          
                                                       
                             <div class="vx-row mb-6">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Expiry Date</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full">     
                                 <flat-pickr  name='date' id='date' v-model="date" placeholder="Date Time" v-validate="'required'" />
                                 <span class="text-danger" v-show="errors.has('date')" >Select User Name</span>
                              </div>
                           </div>                            
                           <div class="vx-row"><div class="vx-col sm:w-1/3 w-full"> 
                           <span></span></div>
                              <div class="vx-col sm:w-1/3 w-full">
                                 <vs-button type="filled" @click.prevent="submitForm" class="mr-5 block">Submit</vs-button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               

            </vx-card>
         </div>
      </div>
   </div>   
</template>        
<script>
import config from "@/config.js"
import vSelect from 'vue-select'
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
   export default {
       data() {
           return {
               members_id:'', 
               optionmembers_id: [],
               amount_list:[],
               epintypeoption:[],
               epintypefield:[],
               amount:'',              
               count:'',
               memo:'',
               epintypename:[],
               totalacivecount:'',
               date: null,
               total:'',
               
           }
           
       },
components: {'v-select': vSelect,
flatPickr},
     
created() {
      return this.getcategories(),this.getepintypename(),this.gettotalacitve(),this.getamountlist()      } , 
     
 

   methods: { 
      getamountlist(){
         const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getamountlist",{ headers: { Authorization: AuthStr } })
            .then(response => {                  
                this.amount_list = response.data;                                      
            })
            .catch(error => {
                console.log(error);
            });
      },
      gettotalacitve(){
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/gettotalacitve",{ headers: { Authorization: AuthStr } })
            .then(response => {                  
                this.totalacivecount = response.data.totalcount;   
                this.total =  response.data.total;                                 
            })
             .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
        getcategories(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getmemberslist",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.optionmembers_id = response.data;                                       
            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
        getepintypename(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/epintype",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.epintypename = response.data;                                       
            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
         onchangeepinfunc()
         {   
         let epinpayment = { 
                epintypefield: this.epintypefield, 
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/epinpayment",epinpayment,{ headers: { Authorization: AuthStr } })
            .then(response => {   
                               
                this.amount = response.data; 
                                                           
            })
            .catch(error => {
                console.log(error);
            });

},

 
 submitForm() {
  
      this.$validator.validateAll().then(result => {
        if(result) {

           var nowtotal = +this.count + +this.total;
           if(this.totalacivecount >= nowtotal){
               //this.$vs.loading()
               let epinform = {                 
                  count:this.count,
                  expirydate:this.date,
                  amount:this.amount,
                  members_id:this.members_id,
                                 
               }
               console.log(epinform);
               const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
               this.$http.post(config.apiUrl +"api/admin/submitepin",epinform,{ headers: { Authorization: AuthStr } })
               .then(response => {              
                  console.log(response);               
                  this.$vs.loading.close()
                  this.$vs.notify({                   
                     title: 'Send  E-Pin',
                     text: 'Epin has created successfully ',
                     iconPack: 'feather',
                     icon: 'icon-alert-circle',
                     color: 'success'
                  }) 
                  this.$router.push({ path : '/epin/epinmanagement' });
               })
           }else{
               this.$vs.notify({
                  title: 'E-Pin',
                  text: 'Give a count less than Active E-Pin count', 
                  iconPack: 'feather',
                  icon: 'icon-alert-circle',
                  color: 'warning'
               })
           }

            


    
         }
    }) 
 
    },
  
            
   
       
    }

     
   }
</script>

<style lang="scss">
	#epintype {
    background: none;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 4px;
    padding: .75em;
	width:100%;
}
</style>


