

<template>
<div>
<!--   <vs-breadcrumb>
<li>
<router-link to="/">Usermanager</router-link>
<span class="vs-breadcrum--separator">/</span>
</li>
<li aria-current="page" class="active">Add User</li>
</vs-breadcrumb> -->
<div class="h-screen  bg-img">
<div class="vx-col" >
<vx-card title="Add User">
<form>
<div slot="no-body" class="full-page-bg-color">
<div class="">

<div class="vx-col sm:w-full md:w-full lg:w-2/3 self-center d-theme-dark-bg">
<div class="p-8">
   
<div class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Plan</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<v-select class="inputx sm:w-3/3" v-model="planselected" :options="matrixlist" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'" name='matrixlist' v-on:input="changeRoute()" ></v-select>
<span class="text-danger">{{ errors.first('matrixlist') }}</span>
</div>
</div>

<div class="vx-col w-full" id="plan" style="display:none">
<div class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Sponsor Name</span>
</div>
<div class="vx-col sm:w-2/3 w-full">                              
<v-select class="inputx sm:w-3/3" v-model="sponsor_selected" :options="plan_sponsor_model" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'" name='plan_sponsor_model'></v-select>
<span class="text-danger">{{ errors.first('plan_sponsor_model') }}</span>

</div>                              
</div>
<div class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Package Name</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<v-select class="inputx sm:w-3/3" v-model="package_selected" :options="plan_package_model" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'" name='plan_package_model' ></v-select>
<span class="text-danger">{{ errors.first('plan_package_model') }}</span>
</div>
</div>
</div>


<div class="vx-col w-full" id="plan_id" style="display:none">
<div class="vx-row mb-6 mt-10">
<div class="vx-col sm:w-1/3 w-full">
<span>Sponsor Name</span>
</div>
<div class="vx-col sm:w-2/3 w-full">                              
<v-select class="inputx sm:w-3/3" v-model="sponsor_selected" :options="plan_sponsor_model" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'" name='plan_sponsor_model'></v-select>
<span class="text-danger">{{ errors.first('plan_sponsor_model') }}</span>

</div>                              
</div>
</div>




<div v-if="usernamefield === 'username'" class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>User Name </span>
</div>
<div  class="vx-col sm:w-2/3 w-full">
<vs-input v-model="username" class="w-full" name="username" id='username' v-validate="usernameoption" />
<span class="text-danger text-sm" v-show="errors.has('username')">{{ errors.first('username') }}</span>                                
</div>
</div>


<div class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Password</span>
</div>
<div class="vx-col sm:w-2/3 w-full">

<vs-input  type="password" v-model="password" class="w-full" ref="password" name="password" id='password' v-validate="'required|min:6|max:10'" />
<span class="text-danger text-sm" v-show="errors.has('password')">{{ errors.first('password') }}</span>                                
</div>
</div>

<div class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Retype Password</span>
</div>
<div class="vx-col sm:w-2/3 w-full">

<vs-input  type="password" v-model="retypepassword" class="w-full" ref="retypepassword" name="retypepassword" id='retypepassword' v-validate="'required|min:6|max:10'" />
<span class="text-danger text-sm" v-show="errors.has('retypepassword')">{{ errors.first('retypepassword') }}</span>                         
</div>
</div>

	<div>
<div class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Email-Id</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input  v-model="email" class="w-full" name="email" id='email' v-validate="'email'" />
	<span class="text-danger text-sm" v-show="errors.has('email')">{{ errors.first('email') }}</span>
</div>
</div>
</div>

<div v-if="firstnamefield === 'firstname'"  class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>First Name</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input v-model="firstname" class="w-full" name="firstname" id='firstname' v-validate="firstnameoption" />
<span class="text-danger text-sm" v-show="errors.has('firstname')">{{ errors.first('firstname') }}</span>                                
</div>
</div>



<div v-if="lastnamefield === 'lastname'" class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Last Name</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input   v-model="lastname" class="w-full" name="lastname" id='lastname' v-validate="lastnameoption"  />
<span class="text-danger text-sm" v-show="errors.has('lastname')">{{ errors.first('lastname') }}</span>                               
</div>
</div>

<div v-if="add1field === 'add1'" class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Address</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-textarea v-model="address" name="address" class="w-full" id="address" v-validate="add1option" />
<span class="text-danger">{{ errors.first('address') }}</span>
</div>
</div>

<div v-if="add2field === 'add2'" class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Address Two</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-textarea v-model="address2" name="address2" class="w-full" id="address2" v-validate="add2option" />
<span class="text-danger">{{ errors.first('address2') }}</span>
</div>
</div>

<div v-if="add3field === 'add3'" class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Address Three</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-textarea v-model="address3" name="address3" class="w-full" id="address3" v-validate="add3option" />
<span class="text-danger">{{ errors.first('address3') }}</span>
</div>
</div>

<div v-if="alternateemailfield === 'alternateemail'" class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Alternate Email </span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input  v-model="alternateemail" class="w-full" name="alternateemail" id='alternateemail' v-validate="alternateemailoption"  />
<span class="text-danger text-sm">{{ errors.first('alternateemail') }}</span>
</div>
</div>


<div v-if="cityfield === 'city'" class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>City</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input  v-model="city" class="w-full" name="city" id='city' v-validate="cityoption" />
<span class="text-danger">{{ errors.first('city') }}</span>
</div>
</div>


<div v-if="statefield === 'state'" class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>State</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input  v-model="state" class="w-full" name="state" id='state' v-validate="stateoption" />
<span class="text-danger">{{ errors.first('state') }}</span>
</div>
</div>

<div v-if="countryfield === 'country'"  class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Country</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<v-select class="inputx sm:w-3/3" v-model="selected" name="country" :options="country_list" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="countryoption"></v-select>
<span class="text-danger">{{ errors.first('country') }}</span>
</div>
</div>
	
	
<div v-if="phonenumberfield === 'phonenumber'"  class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Phone Number</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input  v-model="phonenumber" class="w-full" name="phonenumber" id='phonenumber' v-validate="phonenumberoption"  />
<span class="text-danger">{{ errors.first('phonenumber') }}</span>
</div>
</div>
	
<div v-if="zipcodefield === 'zipcode'" class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full">
<span>Zip Code</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input  v-model="zipcode" class="w-full" name="zipcode" id='zipcode' v-validate="zipcodeoption" />
<span class="text-danger">{{ errors.first('zipcode') }}</span>
</div>
</div>

	<div class="vx-row mb-6">
<!-- Image Container -->
<div class="vx-col sm:w-1/3 w-full">
<span>Profile Image</span>
</div>
<div class="vx-col sm:w-2/3 w-full" v-if="dataImg">
<img :src="dataImg" alt="img" class="responsive" style="width=18px;">

<!-- Image upload Buttons -->
<!-- <div class="vx-col sm:w-2/3 w-full"> -->

<input type="file" class="hidden" ref="updateImgInput" @change="updateCurrImg" accept="image/*" >
<vs-button class="mr-4 mt-5" type="flat" @click="$refs.updateImgInput.click()">Select Image</vs-button>
</div>

</div>

<div class="vx-row mt-10">
<div class="vx-col sm:w-1/3 w-full">

</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-button type="filled" @click.prevent="submitadduser" class="mr-5 block">Submit</vs-button>
</div>
</div>
</div>
</div>
</div>
</div>
</form>
</vx-card>

</div>
</div>
</div>
</template>
<script>
//  import vSelect from 'vue-select'
import config from "@/config.js"
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';
export default {
data() {
      return {  firstname: '',
                  lastname: '',
                  email:'',
                  dob: '',
                  address: '',
                  address2:'',
                  address3:'',
                  city: '',
                  state:'',
                  zipcode:'',
                  phonenumber:'',
                  country_list:[],
                  dataImg : [],
                  selected: [],
                  planselected:[],
                  matrixlist:[],
                  username:'',
                  password:'',
                  retypepassword:'',
                  var:'',
                  sponsor_selected:[],
                  plan_sponsor_model:[],
                  plan_package_model:[],
                  package_selected:[
                  {
                  "username": "0",
                  }
                  // test:0,
                  ],
                  plan_sponsor_model2:[],
                  sponsor_selected2:[],
                  alternateemail:'',
               
            firstnamefield: [],
            usernamefield: [],
            lastnamefield: [],
            alternateemailfield:[],
            zipcodefield:[],
            countryfield:[],
            statefield:[],
            cityfield:[],
            add1field:[],
            add2field:[],
            add3field:[],
            phonenumberfield:[],

            firstnameoption: [],
            usernameoption: [],
            lastnameoption: [],
            alternateemailoption:[],
            zipcodeoption:[],
            countryoption:[],
            stateoption:[],
            cityoption:[],
            add1option:[],
            add2option:[],
            add3option:[],
            phonenumberoption:[],
            registeroption:[],
            firstname_option:[] 

      }
      },
computed: {
validateForm() {
return !this.errors.any() && this.firstname != '' && this.lastname != '' && this.email != '' && this.dob != ''  && this.address != ''  && this.country != ''&& this.city != ''&& this.state != ''&& this.zipcode != ''&& this.phonenumber != '';      
},
},
created() {
return this.countrylist(),
this.fetchmatrixlist(),this.fetchmatrixregistertype(),this.fetchregisterform(),this.fetchregisterformrequered();

},


methods: {
changeRoute() {
 console.log(this.planselected);

//      if(this.planselected.id==1 || this.planselected.id==5){
//       document.getElementById('plan').style.display="block";      
//    }else{
      document.getElementById('plan').style.display="none";
//   }
//      if(this.planselected.id==2 || this.planselected.id==3 || this.planselected.id==4 || this.planselected.id==6){
//       document.getElementById('plan_id').style.display="block";      
//      }else{
       document.getElementById('plan_id').style.display="none";
//   }

let datas = {
planselected: this.planselected,
}

const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getadduserregistertype/"+ this.planselected.id,{ headers: { Authorization: AuthStr } })
            .then(response => {             
             console.log(response);
               this.registertype = response.data.registertype;

                if( this.registertype =='2' ){
                       if(response.data.accounttype == 'FreeEntry&Upgrade'){
                      document.getElementById('plan_id').style.display="block";
                   }else{
                      document.getElementById('plan').style.display="block"; 
                  }  
					}
				
				else{
					document.getElementById('plan_id').style.display="block";
					}
            }),


             this.$http.post(config.apiUrl + "api/admin/adduserpackagelist",datas, {
                                            headers: {
                                                Authorization: AuthStr
                                            }
                                        })
.then(response => {
console.log(this.plan_package_model);
this.plan_package_model=response.data;
                
}),



 this.$http.get(config.apiUrl + "api/admin/addusersponsorlist/"+ this.planselected.id, {
                                            headers: {
                                                Authorization: AuthStr
                                            }
                                        })
.then(response => {
console.log(this.matrixlist);
this.plan_sponsor_model = response.data;
this.$vs.loading.close()
})
.catch(error => {
this.$vs.loading.close()
console.log(error);
});


},

fetchmatrixlist() {            
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/addusermatrixlistplan",{ headers: { Authorization: AuthStr } })
.then(response => {
console.log(this.matrixlist);
this.matrixlist = response.data;
this.$vs.loading.close()
})
.catch(error => {
this.$vs.loading.close()
console.log(error);
});
},
fetchsponsorlist() {            
this.$vs.loading()
let objmat = {   
matid:this.planselected.id,
}
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/addusersponsorlist",objmat,{ headers: { Authorization: AuthStr } })
.then(response => {
console.log(this.matrixlist);
this.plan_sponsor_model = response.data;
this.$vs.loading.close()
})
.catch(error => {
this.$vs.loading.close()
console.log(error);
});
},


countrylist() {             
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getcountrylist",{ headers: { Authorization: AuthStr } })
.then(response => {
//console.log(response);
this.country_list = response.data;
})
.catch(error => {
console.log(error);
});
},


updateCurrImg(input) {
if (input.target.files && input.target.files[0]) {
var reader = new FileReader()
reader.onload = e => {
this.dataImg = e.target.result
}
reader.readAsDataURL(input.target.files[0])
}
},
submitadduser() {  
this.$validator.validateAll().then(result => {
if(result) {
this.$vs.loading()
// const userdetails = localStorage.getItem('user_details');
//const uservalues = JSON.parse(userdetails);
let obj = {

firstname:this.firstname,
lastname:this.lastname,
email:this.email,               
address:this.address,
address2:this.address2,
address3:this.address3,
city:this.city,
state:this.state,
zipcode:this.zipcode,
phonenumber:this.phonenumber,
//country_list:this.country_list,
dataImg :this.dataImg,
selected:this.selected,
planselected:this.planselected,
matrixlist:this.matrixlist,
username:this.username,
password:this.password,
retypepassword:this.retypepassword,                  
sponsor_selected:this.sponsor_selected,
// plan_sponsor_model:this.plan_sponsor_model,
// plan_package_model:this.plan_package_model,
package_selected:this.package_selected,
alternateemail:this.alternateemail,
// sponsor_selected2:this.sponsor_selected2,
matrixid:this.planselected.id,
}


const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.post(config.apiUrl +"api/admin/submitadduser",obj,{ headers: { Authorization: AuthStr } })

.then(response => {
console.log(response);
this.$vs.loading.close()
this.$vs.notify({
title: 'Add User',
text: 'user added successfully ',
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'success'
})
	this.$router.push({ path : '/usermanager/users' });
})
.catch(error => {
console.log(error);
this.$vs.loading.close()
this.$vs.notify({
title: 'Add User',
text: error.response.data.errors.message,
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'warning'
})
});

}else{
this.$vs.loading.close()
this.$vs.notify({
title: 'Add User',
text: 'Please fill all fields',
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'warning'
})
}
})  
} ,   

         fetchmatrixregistertype () {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getadduserregistertype",{ headers: { Authorization: AuthStr } })
            .then(response => {             
             console.log(response);
                this.registertype = response.data;
            })
            .catch(error => {
                console.log(error);

            });
        },
        fetchregisterform () {
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getadminregisterform",{ headers: { Authorization: AuthStr } })
            .then(response => {             
            
                this.registerformset = response.data;
             console.log(response.data);
                for(var i=0;i<response.data.length;i++){
              var column_name = response.data[i]['column_name'];
              if(column_name=='firstname'){
                 this.firstnamefield = response.data[i]['column_name']; 
              }
              if(column_name=='lastname'){
                 this.lastnamefield = response.data[i]['column_name']; 
              } 
              if(column_name=='username'){                 
                 this.usernamefield = response.data[i]['column_name']; 
              } 
              if(column_name=='alternateemail'){                 
                 this.alternateemailfield = response.data[i]['column_name']; 
              } 
              if(column_name=='zipcode'){                 
                 this.zipcodefield = response.data[i]['column_name']; 
              } 
              if(column_name=='country'){                 
                 this.countryfield = response.data[i]['column_name']; 
              } 
              if(column_name=='state'){                 
                 this.statefield = response.data[i]['column_name']; 
              } 
              if(column_name=='city'){                 
                 this.cityfield = response.data[i]['column_name']; 
              } 
              if(column_name=='add1'){                 
                 this.add1field = response.data[i]['column_name']; 
              } 
              if(column_name=='add2'){                 
                 this.add2field = response.data[i]['column_name']; 
              } 
              if(column_name=='add3'){                 
                 this.add3field = response.data[i]['column_name']; 
              }
              if(column_name=='phonenumber'){                 
                 this.phonenumberfield = response.data[i]['column_name']; 
              }            
               
           }
            })
            .catch(error => {
                console.log(error);

            });
        },
         fetchregisterformrequered () {
            
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
           this.$http.get(config.apiUrl +"api/admin/getadminformrequere",{ headers: { Authorization: AuthStr } })  
            .then(response => {             
             
                this.registerformset = response.data;
            console.log(response.data);
                for(var k=0;k<response.data.length;k++){
              var column_name = response.data[k]['column_name'];
              
              if(column_name=='firstname'){
                 this.firstnameoption = 'required';                  
              }
              if(column_name=='lastname'){                 
                 this.lastnameoption = 'required';  
              }                
              if(column_name=='alternateemail'){                 
                 this.alternateemailoption = 'required|email';  
              } 
              if(column_name=='country'){                 
                 this.countryoption = 'required';  
              } 
              if(column_name=='state'){                 
                 this.stateoption = 'required';  
              } 
              if(column_name=='city'){                 
                 this.cityoption = 'required';  
              } 
              if(column_name=='add1'){                 
                 this.add1option = 'required';  
              } 
              if(column_name=='add2'){                 
                 this.add2option = 'required';  
              } 
              if(column_name=='add3'){                 
                 this.add3option = 'required';  
              }
               if(column_name=='phonenumber'){                 
                 this.phonenumberoption = 'required|numeric';  
              }
              if(column_name=='zipcode'){                 
                 this.zipcodeoption = 'required';  
              }               
              if(column_name=='username'){                 
                 this.usernameoption = 'required';  
              }           
               
           }
            })
            .catch(error => {
                console.log(error);

            });
        }

        
         },
components: {       
'v-select': vSelect,
Datepicker,
}

}
</script>

<style >
.vs-switch {
width: 112px;
height:21px;
}
.select-package{
padding: .7em;
border: 1px solid rgba(0, 0, 0, 0.2);
}
.responsive{
width: 100px;

}

</style>


