<template>
    <div class="vx-col w-full mb-6">
        <vx-card title="Edit User">
            <form>
 <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>User Name</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="user name" id="user_name" v-model="userinfo['user_name']" v-validate="'required'"/>
                    <span class="text-danger text-sm" v-show="errors.has('user name')">{{ errors.first('user name') }}</span>
                    </div>
                </div>
                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>First Name</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="first name" id="first_name" v-model="userinfo['first_name']" v-validate="'required'"/>
                    <span class="text-danger text-sm" v-show="errors.has('first name')">{{ errors.first('first name') }}</span>
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Last Name</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="last name" id="last_name" v-model="userinfo['last_name']" v-validate="'required'"/>
                    <span class="text-danger text-sm" v-show="errors.has('last name')">{{ errors.first('last name') }}</span>
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>User Email</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="email" id="email" v-model="userinfo['user_email']" v-validate="'email'"/>
                     <span class="text-danger text-sm" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Address</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="address" id="address" v-model="userinfo['address']" />
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Address two</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="address_two" id="address_two" v-model="userinfo['address_two']" />
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Address three</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="address_three" id="address_three" v-model="userinfo['address_three']" />
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>City</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="city" id="city" v-model="userinfo['city']" />
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>State</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="state" id="state" v-model="userinfo['state']" />
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Zipcode</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="zipcode" id="zipcode" v-model="userinfo['zipcode']"/>
                    </div>
                </div>
				<!--new added -->
				<div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Country</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <v-select class="inputx sm:w-3/3" v-model="selected" :options="country_list" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
                                <span class="text-danger">{{ errors.first('country') }}</span>
                    </div>
                </div>
				
				 <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  <span>Phone</span>
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" name="phone" id="phone" v-model="userinfo['phone']"/>
                    </div>
                </div>

                <div class="vx-row sm:w-2/3 mb-6">
					<div class="vx-col sm:w-1/3 w-full">
                  
               </div>
                    <div class="vx-col sm:w-2/3 w-full">
                    <vs-button type="filled"  @click="updateuser" class="mr-3 mb-2">Submit</vs-button>
                    </div>
                </div>
            </form>
        </vx-card>
    </div>
</template>

<script>
import config from "@/config.js"
import vSelect from 'vue-select'
export default{  
    data() {
        return {
            userinfo: {
				 user_name:"",
                user_email: "",
                first_name: "",
                last_name: "",
                phone_no:"",
                address: "",
                address_two: "",
                address_three: "",
                city: "",
                state: "",
                country: "",
                zipcode: "",
				phone:"",
            },
			country_list:[],
             selected: [],
        }
    },  
    components: {'v-select': vSelect},
    created() {
       return this.FetchUserInfo(),this.countrylist();
    },
 
    methods: {    
		 countrylist() {                 
            const AuthStr = 'Bearer '.concat(localStorage.getItem('user_token'));
            this.$http.get(config.apiUrl +"api/user/getcountrylist",{ headers: { Authorization: AuthStr } })
            .then(response => {
                //console.log(response);
                this.country_list = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
        FetchUserInfo() {   
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getmemberinfo/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
				 console.log(response.data);
                this.$vs.loading.close()
                this.userinfo['user_email'] =  response.data.membersdetails[0].email;
                this.userinfo['first_name'] = response.data.membersdetails[0].members_firstname; 
                this.userinfo['last_name'] =  response.data.membersdetails[0].members_lastname;
                this.userinfo['phone_no'] =  response.data.membersdetails[0].members_phone; 
                this.userinfo['address'] =  response.data.membersdetails[0].members_address; 
                this.userinfo['address_two'] =  response.data.membersdetails[0].members_address;  
                this.userinfo['address_three'] =  response.data.membersdetails[0].members_address3; 
                this.userinfo['city'] =  response.data.membersdetails[0].members_city; 
                this.userinfo['state'] = response.data.membersdetails[0].members_state;  
               // this.userinfo['country'] = response.data.membersdetails[0].members_country; 
                this.userinfo['zipcode'] = response.data.membersdetails[0].members_zip;  
				this.userinfo['phone'] = response.data.membersdetails[0].members_phone;  
                this.userinfo['user_name'] =  response.data.membersdetails[0].members_username; 
                this.selected = response.data.country[0];
            })
            .catch(error => {
                this.$vs.loading.close()
                console.log(error);
            });
        },
        updateuser(){
            this.$validator.validateAll().then(result => {
                if(result) {
					this.userinfo['country']=this.selected;
                    this.$vs.loading()
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/updateedituser/"+this.$route.params.members_id,this.userinfo,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        console.log(response);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Edit user',
                            text: 'User details successfully updated',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                        this.$router.push({ path : '/usermanager/userprofile/'+this.$route.params.members_id });
                    })
                    .catch(error => {
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Error',
                            text: error.response.data.errors.message,
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'danger'
                        })
                    });
                }else{
                    this.$vs.loading.close()
                    this.$vs.notify({
                        title: 'Edit user',
                        text: 'Please fill required fields',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'warning'
                    })
                }
            })
        }
    }
}

</script>