<template>
    <vx-card title="Genealogy">
         <div style="text-align: right;">
        <vs-button color="primary" type="filled" @click="usermanager">Back</vs-button>
</div>
        <div id="tree"></div>
    </vx-card>
</template>


<script>
import config from "@/config.js"
import  OrgChart from  '@balkangraph/orgchart.js/orgchart.js'
    export default {
    data() {
        return {
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
        usermanager() {     
      this.$router.push('/usermanager/userprofile/'+this.$route.params.members_id)      
    },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getgenealogytree/"+this.$route.params.members_id+'/'+this.$route.params.matrix_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                if(response.data != '') {
                    new OrgChart(document.getElementById("tree"), {
                        nodeBinding: {
                            field_0: "name",
                            field_1: "title",
                            img_0: "img"
                        },
                        nodes: response.data
                    });
                }
                this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
            });
        },
    }
}
</script>



<!--<script>
import  OrgChart from  '@balkangraph/orgchart.js/orgchart.js'
    export default{
        mounted(){
            new OrgChart(document.getElementById("tree"), {
            nodeBinding: {
                field_0: "name"
            },
            nodes: [
                { id: 1, name: "Amber McKenzie" },
                { id: 2, pid: 1, name: "Ava Field" },
                { id: 3, pid: 1, name: "Peter Stevens" }
            ]})
        }
    }
</script>-->
