<template>
    <vx-card title="Tabular Genealogy">
        <div style="text-align: right;">
        <vs-button color="primary" type="filled" @click="usermanager">Back</vs-button>
</div>
    <v-tree ref='tree'  :data='treeData' :draggable='true' />
    </vx-card>
</template>



<script>
import { VTree, VSelectTree}  from 'vue-tree-halower'
import config from "@/config.js"

export default {
  data() {
        return {
            treeData: []
        }
    },
    methods: {

        usermanager() {     
      this.$router.push('/usermanager/userprofile/'+this.$route.params.members_id)      
    },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getgenealogytabulardata/"+this.$route.params.members_id+'/'+this.$route.params.matrix_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.treeData = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
            });
        },
    },
    created() {
       return this.fetchData();
    },
    components: {
        VTree,
        VSelectTree
    }
}
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/extraComponents/tree.scss";

</style>