<template>

<div class="user_profile">
<div class="vx-card mb-base">
<div class="vx-card__collapsible-content vs-con-loading__container">
<div class="vx-card__body">
<div class="vx-row">
<div class="img-container avatar vx-col">
<img :src="userimage" class="rounded w-full">
</div>
<div id="account-info-col-1" class="vx-col flex-1">
<table>
<tbody>
<tr>
<td class="font-semibold">Username</td>
<td>{{ user_name }}</td>
</tr>
<tr>
<td class="font-semibold">Name</td>
<td>{{ first_name }} {{ last_name }}</td>
</tr>
<tr>
<td class="font-semibold">Email</td>
<td>{{ user_email }}</td>
</tr>
</tbody>
</table>
</div>
<div id="account-info-col-1" class="vx-col flex-1">
<div class="btn-group mb-3">

<vs-button @click="edituser()">Edit User</vs-button>
<vs-button v-if="this.login_status == 1" @click="changeuserstatus(0)">Suspend</vs-button> 
<vs-button v-if="this.login_status == 0" @click="changeuserstatus(1)">Activate</vs-button>

<vs-button @click="resetpassword=true">Reset Password</vs-button>
</div>
<div class="vx-row mt-4 clearfix">
<div class="pt-3 wallet flex-1 vx-col">
<div class="wallet_details">
<span>Cash Wallet</span>
<h2 v-if="cwalletinfo['cwallettotal']>0">{{ currency }} {{ this.cwalletinfo['cwallettotal'] }} </h2>
<h2 v-else>{{ currency }} 0</h2>
</div>
</div>
<div class="pt-3 wallet flex-1 vx-col">
<div class="wallet_details">
<span>E-Wallet</span>
<h2 v-if="ewalletinfo['ewallettotal']>0">{{ currency }} {{ this.ewalletinfo['ewallettotal'] }} </h2>
<h2 v-else>{{ currency }} 0</h2>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>


<div class="vx-card mb-base user_tabview p-5">
<vs-tabs :position="isSmallerScreen ? 'top' : 'left'" class="tabs-shadow-none" id="profile-tabs" :key="isSmallerScreen">
<vs-tab label="User Info">
<div class="tab-text">
<div class="mem_details flex">
<vx-card :card-background="'linear-gradient(120deg ,rgba(247,97,161,0.5), rgba(140,27,171,.8)), url(' + card_bg_img_2 + ')'" content-color="#fff" class="flex-1 vx-col p-5">
<table>
<tbody>
<tr>
<td class="font-semibold">Member ID</td>
<td>{{ member_id }}</td>
</tr>
<tr>
<td class="font-semibold">First Name</td>
<td>{{ first_name }}</td>
</tr>
<tr>
<td class="font-semibold">Last Name</td>
<td>{{ last_name }}</td>
</tr>
<tr>
<td class="font-semibold">Email ID</td>
<td>{{ user_email }}</td>
</tr>
<tr>
<td class="font-semibold">Contact No</td>
<td>{{ phone_no }}</td>
</tr>
<tr>
<td class="font-semibold">Login Status</td>
<td>{{ login_status }}</td>
</tr>
</tbody>
</table>
</vx-card>
<vx-card card-background="primary" content-color="#fff" class="flex-1 vx-col p-5">
<table>
<tbody>
<tr>
<td class="font-semibold">Address</td>
<td>{{ address }}</td>
</tr>
<tr>
<td class="font-semibold">Address Two</td>
<td>{{ address_two }}</td>
</tr>
<tr>
<td class="font-semibold">Address Three</td>
<td>{{ address_three }}</td>
</tr>
<tr>
<td class="font-semibold">City</td>
<td>{{ city }}</td>
</tr>
<tr>
<td class="font-semibold">State</td>
<td>{{ state }}</td>
</tr>
<tr>
<td class="font-semibold">Country</td>
<td>{{ country }}</td>
</tr>
<tr>
<td class="font-semibold">Zip Code</td>
<td>{{ zipcode }}</td>
</tr>
</tbody>
</table>
</vx-card>
<vx-card card-background="linear-gradient(to right, #56ab2f, #a8e063)" content-color="#fff" class="flex-1 vx-col p-5">
<table>
<tbody>
<tr>
<td class="font-semibold">Date of Join</td>
<td>{{ date_of_join }}</td>
</tr>
<tr>
<td class="font-semibold">Join From</td>
<td>{{ join_from }}</td>
</tr>
<tr>
<td class="font-semibold">Last Login</td>
<td>{{ last_login }}</td>
</tr>
<tr>
<td class="font-semibold">Last Login From</td>
<td>{{ last_login_from }}</td>
</tr>
</tbody>
</table>
</vx-card>
</div>
</div>
</vs-tab> 




	
	
	
	
	



<vs-tab label="Plan"  @click="getplandetails()" >

<vs-table :data="plandetailsofuser">            
 
<vx-card   slot-scope="{data}"  >
<div class="vx-row w-full">
<div v-for="(que,indexdiv) in data" class="vx-col lg:w-1/2" :key="indexdiv">

<div class="mb-5 dropdown-button-container genea_button">
<vs-button class="btnx" type="filled">Genealogy</vs-button>
<vs-dropdown>
<vs-button class="btn-drop" type="filled" icon="expand_more"></vs-button>
<vs-dropdown-menu>
<li class="flex py-2 px-4 cursor-pointer" @click="genealogy(data[indexdiv].matrix_id)">
<vs-dropdown-item>Graphical Genealogy</vs-dropdown-item>
</li>
<li class="flex py-2 px-4 cursor-pointer" @click="genealogytr(data[indexdiv].matrix_id)">
<vs-dropdown-item>Tabular Genealogy</vs-dropdown-item>
</li>


</vs-dropdown-menu>
</vs-dropdown>
</div>
<vx-card card-background="linear-gradient(120deg, #7f7fd5, #86a8e7, #91eae4)" content-color="#fff" class="flex-1 vx-col p-5 plan_blk">
<table class="plan_tab">
<tbody>

<tr>
<td class="font-semibold">Plan Name</td>
<td style="color:#000;">{{ data[indexdiv].matrix_name }}</td>
</tr>

<tr>
<td class="font-semibold">Matrix Type</td>
<td>{{ data[indexdiv].matrix_type }} Plan</td>
</tr>

<tr>
<td class="font-semibold">Membership Status</td> 
<vs-button size="small" v-if="data[indexdiv].MembershipStatus == 'waiting for admin approval'" @click="changePendingDetails(data[indexdiv].matrix_id)">{{ data[indexdiv].MembershipStatus }} </vs-button> 
<vs-button size="small" v-if="data[indexdiv].MembershipStatus == 'Paid'" class="mr-5 block" >{{ data[indexdiv].MembershipStatus }}</vs-button>
<vs-button size="small" v-if="data[indexdiv].MembershipStatus == 'Free&manual'" class="mr-5 block" >{{ data[indexdiv].MembershipStatus }}</vs-button>
<vs-button size="small" v-if="data[indexdiv].MembershipStatus == 'New'" class="mr-5 block" >{{ data[indexdiv].MembershipStatus }}</vs-button>
<!-- <vs-button size="small"  @click.prevent="changePendingDetails" class="mr-5 block" >{{ planinfo.members_account_status }}</vs-button> -->

	</tr>


<tr>
<td class="font-semibold">Membership Type</td>
<td  >{{data[indexdiv].membership}}</td>
</tr>                                  

<tr>
<td class="font-semibold">Members login status</td>
<td>{{data[indexdiv].loginstatus}}</td>
</tr>                                  

<tr v-if="data[indexdiv].packagename > '0'" class="nt_table">
<td  class="font-semibold nt_table">Package</td> 
<td>{{ data[indexdiv].packagename }}</td>
</tr>

<tr v-if="data[indexdiv].packagename > '0'" class="nt_table">
<td  class="font-semibold nt_table">Expiry Date</td>
<td>{{ data[indexdiv].expirydate }}</td>
</tr>

<tr>
<td class="font-semibold">Sponsor</td>
<td>{{ data[indexdiv].sponsor }} </td>
</tr>
<tr>
<td class="font-semibold">Parent</td>
<td>{{ data[indexdiv].parant }}  </td>
</tr>
<tr>
<td class="font-semibold">Date of Join</td>
<td>{{ data[indexdiv].doj }}</td>
</tr>
<tr>
<td class="font-semibold">Current Rank</td>
<td>{{ data[indexdiv].currentRank }} </td>
</tr>
	
	<tr>
<td class="font-semibold">Referral Url</td>
<td> {{data[indexdiv].reffer_url}}</td>
</tr>

<tr v-if="data[indexdiv].membership == 'FreeMembership'">

<td class="font-semibold">Membership Status </td> 
<vs-button size="small" v-if="data[indexdiv].members_account_status == 'New'" @click="changemanualDetails(data[indexdiv].matrix_id)">{{ data[indexdiv].members_account }}</vs-button> 
<vs-button size="small" v-if="data[indexdiv].members_account_status == 'Paid'" class="mr-5 block" >{{ data[indexdiv].members_account }}</vs-button>

<!-- <vs-button size="small"  class="mr-5 block" >{{ data[indexdiv].members_account_status }} {{ data[indexdiv].members_account }}</vs-button> -->
</tr>
<vs-button v-if="data[indexdiv].membership != 'FreeMembership'" type="gradient" @click="getPaymentInfo(data[indexdiv].matrix_id)" class="mt-5">Payment Info</vs-button>
<!--payment info-->
<vs-popup classContent="popup-example" title="Payment Info" :active.sync="paymentinfo">
<div v-if=" data[indexdiv].paymentdetails !='0' " class="vx-row">
<div class="vx-col sm:w-1/3 w-full">
<span>Payment Gateway :</span>
</div>  
<div class="vx-col sm:w-2/3 w-full">
<vs-input disabled class="inputx mb-3"  v-model="paymentgateway" />
</div>
<div class="vx-col sm:w-1/3 w-full">
<span>Transaction ID :</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input disabled class="inputx mb-3" v-model="transactionid" />
</div>
<div class="vx-col sm:w-1/3 w-full" v-if="packagename !== ''">
<span>Package :</span>
</div>
<div class="vx-col sm:w-2/3 w-full" v-if="packagename !== ''">
<vs-input disabled class="inputx mb-3" v-model="packagename" />
</div>
<div class="vx-col sm:w-1/3 w-full" v-if="subscriptiondate !== null">
<span>Subscription Date :</span>
</div>
<div class="vx-col sm:w-2/3 w-full" v-if="subscriptiondate !== null">
<vs-input disabled class="inputx mb-3"  v-model="subscriptiondate" />
</div>
<div class="vx-col sm:w-1/3 w-full" v-if="subscriptiondate !== null">
<span>Subscription Expiry Date :</span>
</div>
<div class="vx-col sm:w-2/3 w-full" v-if="subscriptiondate !== null">
<vs-input disabled class="inputx mb-3" v-model="subscriptionexpirydate" />
</div>
<div class="vx-col sm:w-1/3 w-full">
<span>Fee :</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input disabled class="inputx mb-3" v-model="fee" />
</div>
<div class="vx-col sm:w-1/3 w-full">
<span>PaidCurrency :</span>
</div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input disabled class="inputx mb-3" v-model="currency" />
</div>
</div>

<div v-else class="vx-row">

<span class="amin" > Admin Creditcard Payment </span>


</div>

</vs-popup>

</tbody>
</table>
</vx-card>



</div>



















</div>
</vx-card>
</vs-table>
</vs-tab>

<vs-tab @click="getpurchaserecords" label="Purchases" class="pl-5 pr-5">
<div class="tab-text">
<vs-table pagination :max-items="8" search :data="purchasedata">
<template slot="thead">
<vs-th>SNo</vs-th>
<vs-th>Date</vs-th>
<vs-th>Description</vs-th>
<vs-th>Payment Method</vs-th>
<vs-th>Amount</vs-th>
</template>

<template slot-scope="{data}">
<vs-tr :key="indextr" v-for="(tr, indextr) in data">
<vs-td>
{{ indextr + 1 }}
</vs-td>

<vs-td :data="data[indextr].paymenthistory_date">
{{data[indextr].paymenthistory_date}}
</vs-td>

<vs-td :data="getpaymentdesc(data[indextr].paymenthistory_type)">
{{ getpaymentdesc(data[indextr].paymenthistory_type) }}
</vs-td>

<vs-td :data="data[indextr].payment_method">
{{data[indextr].paymentsettings_name}} 
</vs-td>

<vs-td :data="data[indextr].paymenthistory_amount">
{{ currency }}{{data[indextr].paymenthistory_amount}}
</vs-td>
</vs-tr>
</template>
</vs-table>
</div>
</vs-tab>

<vs-tab @click="gettransactionrecords" label="Transaction" class="pl-5 pr-5">
<div class="tab-text">
<vs-table pagination :max-items="8" search :data="transactions">
<template slot="thead">
<vs-th>S.No</vs-th>
<vs-th>Amount</vs-th>
<vs-th>Description</vs-th>
<vs-th>Date</vs-th>
</template>

<template slot-scope="{data}">
<vs-tr :key="indextr" v-for="(tr, indextr) in data">
<vs-td>
{{ indextr + 1 }}
</vs-td>

<vs-td  :data="data[indextr].history_amount">										
<span v-if="data[indextr].history_type != 'pv'" > {{ currency }} </span> {{data[indextr].history_amount}}
</vs-td>



<vs-td :data="data[indextr].history_description">
{{data[indextr].history_description}}
</vs-td>

<vs-td :data="data[indextr].history_datetime">
{{data[indextr].history_datetime}}
</vs-td>
</vs-tr>
</template>
</vs-table>
</div>
</vs-tab>

<vs-tab @click="getwithdrawalrecords" label="Withdrawal" class="pl-5 pr-5">
<div class="tab-text">
<vs-table pagination :max-items="8" search :data="withdrawalrecords">
<template slot="thead">
<vs-th>S.No</vs-th>
<vs-th>Amount</vs-th>
<vs-th>Description</vs-th>  
<vs-th>Date</vs-th>
<vs-th>Type</vs-th>
</template>

<template slot-scope="{data}">
<vs-tr :key="indextr" v-for="(tr, indextr) in data">
<vs-td>
{{ indextr + 1 }}
</vs-td>

<vs-td :data="data[indextr].history_amount">
{{ currency }}{{data[indextr].history_amount}}
</vs-td>

<vs-td :data="data[indextr].history_description">
{{data[indextr].history_description}}
</vs-td>

<vs-td :data="data[indextr].history_datetime">
{{data[indextr].history_datetime}}
</vs-td>
<vs-td :data="data[indextr].history_type">
{{data[indextr].history_type}}
</vs-td>
</vs-tr>
</template>
</vs-table>
</div>
</vs-tab>

<vs-tab @click="getpvrecords" label="PV" class="pl-5 pr-5">
<div class="tab-text">
<vs-table pagination :max-items="8" search :data="pvdata">
<template slot="thead">
<vs-th>S.No</vs-th>
<vs-th>PV</vs-th>
<vs-th>Description</vs-th>
<vs-th>Date</vs-th>
</template>

<template slot-scope="{data}">
<vs-tr :key="indextr" v-for="(tr, indextr) in data">

<vs-td>
{{ indextr + 1 }}
</vs-td>

<vs-td :data="data[indextr].history_amount">
{{data[indextr].history_amount}}
</vs-td>

<vs-td :data="data[indextr].history_description">
{{data[indextr].history_description}}
</vs-td>

<vs-td :data="data[indextr].history_datetime">
{{data[indextr].history_datetime}}
</vs-td>

</vs-tr>
</template>
</vs-table>
</div>
</vs-tab>

<vs-tab @click="getfundtransferrecords" label="Fund Transferred" class="pl-5 pr-5">
<div class="tab-text">
<vs-table pagination :max-items="8" search :data="fundtransferdata">
<template slot="thead">
<vs-th>S.No</vs-th>
<vs-th>User name</vs-th>
<vs-th>Date</vs-th>
<vs-th>Amount</vs-th>
</template>

<template slot-scope="{data}">
<vs-tr :key="indextr" v-for="(tr, indextr) in data">
<vs-td>
{{ indextr + 1 }}
</vs-td>

<vs-td :data="data[indextr].members_username">
{{data[indextr].members_username}}
</vs-td>

<vs-td :data="data[indextr].history_datetime">
{{data[indextr].history_datetime}}
</vs-td>

<vs-td :data="data[indextr].history_amount">
{{ currency }}{{data[indextr].history_amount}}
</vs-td>
</vs-tr>
</template>
</vs-table> 
</div>
</vs-tab>

<vs-tab @click="getactivitiesrecords" label="Activities" class="pl-5 pr-5">
<div class="tab-text">
<vs-table pagination :max-items="8" search :data="activitiesdata">
<template slot="thead">
<vs-th>S.No</vs-th>
<!-- <vs-th sort-key="log_id">Log ID</vs-th> -->
<vs-th sort-key="log">Details</vs-th>
<vs-th sort-key="members_log_ip_used">Ip Address</vs-th>                
<vs-th sort-key="created_at">Date</vs-th>

</template>

<template slot-scope="{data}">
<vs-tr :key="indextr" v-for="(tr, indextr) in data">
<vs-td>
{{ indextr + 1 }}
</vs-td>
<vs-td :data="data[indextr].log">
{{data[indextr].log}}
</vs-td>

<vs-td :data="data[indextr].members_log_ip_used">
{{data[indextr].members_log_ip_used}}
</vs-td>


<vs-td :data="data[indextr].created_at">
{{data[indextr].created_at}}
</vs-td>
</vs-tr>

</template>
</vs-table>
</div>
</vs-tab>
</vs-tabs>
</div>
<!-- password reset modal-->
<vs-popup class="holamundo" title="Reset Password" :active.sync="resetpassword">
<div class="vx-row mb-6">
<div class="vx-col sm:w-1/3 w-full mt-3"> <span>New Password</span> </div>
<div class="vx-col sm:w-2/3 w-full">
<vs-input  v-validate="'required'" placeholder="Password" class="w-full" name="password" v-model="password" /> 
<span class="text-danger text-sm" v-show="errors.has('Password')">{{ errors.first('Password') }}</span></div>
</div>

<div class="vx-row">
<div class="vx-col sm:w-2/6 w-full ml-auto flex">
<vs-button type="filled" @click.prevent="updatepassword" class="mr-5 block">Reset</vs-button>
</div>
</div>
</vs-popup>
<!-- password reset modal end-->
</div>




</template>
<script>
import config from "@/config.js"
export default {
data() {
return {
purchasedata: [],
activitiesdata:[],
resetpassword: false,
paymentinfo: false,
paymentgateway:'',
transactionid:'',
packagename:'',
subscriptiondate:'',
subscriptionexpirydate:'',
fee:'',
paidcurrency:'',
password: '',
userimage:[],
statuschangemsg: '',
reffer_url:'',
currency:'',
plandetailsofuser:[],	
users: [
{
"id": 1,
"name": "vimal",
"username": "vimal",
"email": "Sincere@april.biz",
"website": "hildegard.org",
},
{
"id": 2,
"name": "raja",
"username": "raja",
"email": "Shanna@melissa.tv",
"website": "anastasia.net",
},
{
"id": 3,
"name": "Clementine Bauch",
"username": "Samantha",
"email": "Nathan@yesenia.net",
"website": "ramiro.info",
},
{
"id": 4,
"name": "Patricia Lebsack",
"username": "Karianne",
"email": "Julianne.OConner@kory.org",
"website": "kale.biz",
},
{
"id": 5,
"name": "Chelsey Dietrich",
"username": "Kamren",
"email": "Lucio_Hettinger@annie.ca",
"website": "demarco.info",
},
{
"id": 6,
"name": "Mrs. Dennis Schulist",
"username": "Leopoldo_Corkery",
"email": "Karley_Dach@jasper.info",
"website": "ola.org",
},
{
"id": 7,
"name": "Kurtis Weissnat",
"username": "Elwyn.Skiles",
"email": "Telly.Hoeger@billy.biz",
"website": "elvis.io",
},
{
"id": 8,
"name": "Nicholas Runolfsdottir V",
"username": "Maxime_Nienow",
"email": "Sherwood@rosamond.me",
"website": "jacynthe.com",
},
{
"id": 9,
"name": "Glenna Reichert",
"username": "Delphine",
"email": "Chaim_McDermott@dana.io",
"website": "conrad.com",
},
{
"id": 10,
"name": "Clementina DuBuque",
"username": "Moriah.Stanton",
"email": "Rey.Padberg@karina.biz",
"website": "ambrose.net",
},
],
transactions :[],
pvdata :[],
fundtransferdata :[],
user_name: "",
name: "",
user_email: "",
member_id: "",
first_name: "",
last_name: "",
phone_no:"",
login_status:"",
member_type: "",
address: "",
address_two: "",
address_three: "",
city: "",
state: "",
country: "",
zipcode: "",
date_of_join: "",
join_from: "",
last_login: "",
last_login_from: "",
member_from: "",
ein: "",
members_status: "",

matrix_name: "",
matrix_type: "",
matrix_id:"8",
// members_status: "",
package_name: "",
members_subscription_expirydate: "",
sponsor_name: "",
parent_name: "",
members_doj: "",
members_account_status: "",
members_type: "",
members_account:"",
members_dateofjoin:"",

matrixinfo:[],
cwalletinfo:[],
ewalletinfo:[],
parantinfo:[],
parantdetails:[],
registertype:[],
withdrawalrecords:[],
rankname:[]
}
},
computed: {
validateForm() {
return !this.errors.any() && this.password != '';      
},
},
created() {
return this.fetchUserInfo(),this.getmatrixinfo(),this.getewalletcount(),this.getcwalletcount(),this.getparantdetail(),this.getcurrencydetails(),this.getrankinfo();
},
methods: {  
	
	
	getplandetails () {
    
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));            
this.$http.get(config.apiUrl +"api/admin/getuserdetailsplan/" + this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
  console.log(response.data);

this.plandetailsofuser = response.data;

})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout() }

});
},

getrankinfo(){
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getrankinfo/"+this.$route.params.members_id+"/"+this.matrix_id,{ headers: { Authorization: AuthStr } })
.then(response => {                       
this.rankname = response.data;                                       
})
.catch(error => {
console.log(error);
});

},
getcurrencydetails(){

const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getcurrency",{ headers: { Authorization: AuthStr } })
.then(response => {                       
this.currency = response.data;                                       
})
.catch(error => {
console.log(error);
});

},
fetchUserInfo() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getmemberinfo/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
  console.log("Hello");
console.log(response.data.membersdetails[0]);
this.$vs.loading.close()
this.user_name = response.data.membersdetails[0]['members_username'];
this.name = response.data.membersdetails[0]['matrix_name'];
this.user_email = response.data.membersdetails[0]['email'];
this.member_id = response.data.membersdetails[0]['members_id'];
this.first_name = response.data.membersdetails[0]['members_firstname'];
this.last_name = response.data.membersdetails[0]['members_lastname'];
this.phone_no = response.data.membersdetails[0]['members_phone'];
this.login_status = response.data.membersdetails[0]['members_status'];
this.address = response.data.membersdetails[0]['members_address'];
this.address_two = response.data.membersdetails[0]['members_address2'];
this.address_three = response.data.membersdetails[0]['members_address3'];
this.city = response.data.membersdetails[0]['members_city'];
this.state = response.data.membersdetails[0]['members_state'];
this.country = response.data.country[0]['label'];
this.zipcode = response.data.membersdetails[0]['members_zip'];
this.members_dateofjoin = response.data.membersdetails[0]['members_doj'];
this.join_from = response.data.membersdetails[0]['members_ip_address'];
this.last_login = response.data.membersdetails[0]['members_doj'];
this.last_login_from = response.data.membersdetails[0]['members_ip_address'];
this.members_status = response.data.membersdetails[0]['members_status']; 
this.userimage = response.data.membersdetails[0]['members_image'];
this.matrix_id = response.data.membersdetails[0]['matrix_id'];
this.reffer_url = response.data.membersdetails[0]['reffer_url'];

})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},      
getmatrixinfo() {
   
   console.log("hello1");
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getmatrixinfo/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {

console.log(response.data.account_type);
this.matrixinfo = response.data.account_type;
this.registertype = response.data.register_type;

this.$vs.loading.close()
})
.catch(error => {  console.log("hello3");
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},
getewalletcount() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getewallettotal/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
//console.log(response.data);
this.ewalletinfo['ewallettotal'] = response.data;
this.$vs.loading.close()              
}) .catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},
getcwalletcount() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getcwallettotal/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {                   
//console.log(response.data);
this.cwalletinfo['cwallettotal'] = response.data;
this.$vs.loading.close()              
}) .catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},

getPaymentInfo($matrixid){
this.paymentinfo=true;
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getuserprofilepaymentinfo/"+this.$route.params.members_id+"/"+$matrixid,{ headers: { Authorization: AuthStr } })
.then(response => {
this.paymentgateway = response.data.paymentinfo[0].paymentsettings_name;
this.transactionid = response.data.paymentinfo[0].paymenthistory_trans_id;
this.packagename = response.data.packagename;
this.subscriptiondate = response.data.paymentinfo[0].members_subscription_date;
this.subscriptionexpirydate = response.data.paymentinfo[0].members_subscription_expiredate;
this.fee = response.data.paymentinfo[0].paymenthistory_amount;
this.paidcurrency = response.data.paymentinfo[0].paymenthistory_amount;

})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},

getparantdetail() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));


this.$http.get(config.apiUrl +"api/admin/getparantdetail/"+this.$route.params.members_id+"/"+this.matrix_id,{ headers: { Authorization: AuthStr } })
.then(response => {
console.log(response.data);
this.parantdetails['members_spillovername'] = response.data;

this.$vs.loading.close()
})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}

this.$vs.loading.close()
});
},


getplandetails_old() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getmemberplaninfo/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
console.log(response);
this.matrix_name = response.data[0]['matrix_name'];
this.matrix_type = response.data[0]['matrix_type'];

if( response.data[0]['members_status'] == 1) {
this.members_status = 'Active';
} else {
this.members_status = 'Suspend';
}
this.package_name = response.data[0]['package_name'];
this.members_subscription_expirydate = response.data[0]['members_subscription_expirydate'];
this.sponsor_name = response.data[0]['sponsor_name'];
this.parent_name = response.data[0]['parent_name'];
this.members_doj = response.data[0]['members_doj'];
this.account_status=response.data[0]['members_account_status'];
this.reffer_url = response.data[0]['reffer_url'];
this.login_status = response.data[0]['members_status'];

if( response.data[0]['members_account_status'] == 1) {
this.members_account_status = 'Paid';
this.members_account = 'Activate';
} else if(response.data[0]['members_account_status'] == -1) {
this.members_account_status = 'waiting for admin approval';
this.members_account = 'Manual approval';
}else if(response.data[0]['members_account_status'] == 2) {
this.members_account_status = 'Pending';
this.members_account = 'Pending';
}else{
this.members_account_status = 'New';
this.members_account = 'Manual approval';
}



this.members_type = this.matrixinfo;

this.$vs.loading.close()              
})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},

getpurchaserecords() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getmemberpurchaserecords/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
console.log(response.data);
this.purchasedata = response.data;
this.$vs.loading.close()
})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},
gettransactionrecords() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getmembertransactionrecords/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
this.transactions = response.data;
this.$vs.loading.close()
})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},
getwithdrawalrecords() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getmemberwithdrawalrecords/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
this.withdrawalrecords = response.data;
this.$vs.loading.close()              
})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},
getpvrecords() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getmemberpvrecords/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
this.pvdata = response.data;
console.log(response.data);
this.$vs.loading.close()              
})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},
getfundtransferrecords() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getmemberfunstransferrecords/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
this.fundtransferdata = response.data;
this.$vs.loading.close()              
})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},
getactivitiesrecords() {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/getmemberactivitiesrecords/"+this.$route.params.members_id,{ headers: 			{ Authorization: AuthStr } })
.then(response => {
this.activitiesdata = response.data;
this.$vs.loading.close()
})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
});
},
getpaymentdesc(desc) {
if(desc == 'purchase') return "Purchase of Product"
if(desc == 'upgrade') return "Upgrade"
if(desc == 'registration') return "Registration"
if(desc == 'subscription') return "Subscription of Package"
if(desc == 'ewalletcredits') return "E-Wallet Credit"
},
updatepassword() {
this.$validator.validateAll().then(result => {
if(result) {
this.$vs.loading()
let passworddata = {
password: this.password,
}
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.post(config.apiUrl +"api/admin/resetpassword/"+this.$route.params.members_id,passworddata,{ headers: { Authorization: AuthStr } })
.then(response => {
this.resetpassword=false;
this.password='';
console.log(response);
this.$vs.loading.close()
this.$vs.notify({
title: 'Password',
text: 'Password successfully reset',
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'success'
})
})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout()
}
this.$vs.loading.close()
this.$vs.notify({
title: 'Password',
text: 'Password reset failed',
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'warning'
})
});

}else{
this.$vs.loading.close()
this.$vs.notify({
title: 'Password',
text: 'Please fill all fields',
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'warning'
})
}
})
},
changeuserstatus(status) {
let userstatus = {
status: status,
}
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.post(config.apiUrl +"api/admin/changeuserstatus/"+this.$route.params.members_id,userstatus,{ headers: { Authorization: AuthStr } })
.then(response => {
this.resetpassword=false;
this.password='';
console.log(response);
this.$http.get(config.apiUrl +"api/admin/getmemberplanspill/"+this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
this.matrix_name = response.data[0]['matrix_name'];
this.matrix_type = response.data[0]['matrix_type'];
if( response.data[0]['members_status'] == 1) {
this.members_status = 'Active';
} else {
this.members_status = 'Suspend';
}
this.package_name = response.data[0]['package_name'];
this.members_subscription_expirydate = response.data[0]['members_subscription_expirydate'];
this.sponsor_name = response.data[0]['sponsor_name'];
this.parent_name = response.data[0]['parent_name'];
this.members_doj = response.data[0]['members_doj'];
this.account_status=response.data[0]['members_account_status'];
this.reffer_url = response.data[0]['reffer_url'];
this.parantdetails['members_spillovername']= response.data[0]['spill_name'];
this.login_status = response.data[0]['members_status'];


if( response.data[0]['members_account_status'] == 1) {
this.members_account_status = 'Paid';
this.members_account = 'Activate';
} else if(response.data[0]['members_account_status'] == -1) {
this.members_account_status = 'waiting for admin approval';
this.members_account = 'Manual approval';
}else if(response.data[0]['members_account_status'] == 2) {
this.members_account_status = 'Pending';
this.members_account = 'Pending';
}else{
this.members_account_status = 'New';
this.members_account = 'Manual approval';
}

this.members_type = this.matrixinfo;

this.$vs.loading.close()
})


this.$vs.loading.close()
if(status == 0) this.statuschangemsg = 'User suspended'; this.members_status = 0;
if(status == 1) this.statuschangemsg = 'User activated'; this.members_status = 1;
this.$vs.notify({
title: 'Status',
text: this.statuschangemsg,
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'success'
})
})
.catch(error => {
if(error.response.data.errors.message == 'Unauthenticated') { 
this.forcedlogout() 
}
this.$vs.loading.close()
this.$vs.notify({
title: 'Status',
text: 'Failed to update status',
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'warning'
})
});
},
edituser() {
this.$router.push({ path : '/usermanager/edituser/'+this.$route.params.members_id });
},
changePendingDetails($matrix_id) {
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/changependingstatus/"+this.$route.params.members_id+"/"+$matrix_id,{ headers: { Authorization: AuthStr } })
.then(response => {
console.log(response);
	


this.$http.get(config.apiUrl +"api/admin/getuserdetailsplan/" + this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
  console.log(response.data);

this.plandetailsofuser = response.data;
this.$vs.loading.close()
})               
this.$vs.notify({
title: 'Status Updatae',
text: 'status changes update successfully',
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'success'
}) 


})
.catch(error => {
console.log(error);
//   if(error.response.data.errors.message == 'Unauthenticates') { 
//       this.forcedlogout()
//     }
this.$vs.loading.close()
});
},
changemanualDetails($matrix_id) {
  
this.$vs.loading()
const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
this.$http.get(config.apiUrl +"api/admin/changemanualstatus/"+this.$route.params.members_id+"/"+$matrix_id,{ headers: { Authorization: AuthStr } })
.then(response => {
console.log(response);


this.$http.get(config.apiUrl +"api/admin/getuserdetailsplan/" + this.$route.params.members_id,{ headers: { Authorization: AuthStr } })
.then(response => {
  console.log(response.data);

this.plandetailsofuser = response.data;

this.$vs.loading.close() 

})              
this.$vs.notify({
title: 'Status Updatae',
text: 'status changes update successfully',
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'success'
}) 
this.$vs.loading.close()

})
.catch(error => {
console.log(error);
//   if(error.response.data.errors.message == 'Unauthenticates') { 
//       this.forcedlogout()
//     }
this.$vs.loading.close()
});
},

genealogy($matrix_id) {
this.$router.push({ path : '/usermanager/genealogytree/'+this.$route.params.members_id+'/'+$matrix_id });
},
genealogytr($matrix_id) {
this.$router.push({ path : '/usermanager/genealogytab/'+this.$route.params.members_id+'/'+$matrix_id});
},

forcedlogout() {
localStorage.clear();
this.$router.push('/login').catch(() => {})
this.$vs.notify({
title: 'Session Token',
text: 'Token expired',
iconPack: 'feather',
icon: 'icon-alert-circle',
color: 'danger'
}) 
}

}
}
</script>  


<style lang="scss">
.avatar {
width: 10rem;
padding: 1rem;
}
.user_profile table td {
padding-bottom: .8rem;
vertical-align: top;
min-width: 140px;
word-break: break-all;
}
.wallet_details {
background: #f2f2f2;
padding: 15px;
}
.user_tabview .con-ul-tabs {
margin-bottom: 20px;
}
.user_tabview .flex-1 {
//background: #f2f2f2;
margin: 10px;
}
.user_profile .btn-group {
float: right;
}
.clearfix {
clear: both;
}
.vs-tabs--li button.vs-tabs--btn {
display: flex;
align-items: center;
}
.user_profile table.plan_tab td {
vertical-align: top;
min-width: 250px;
}
.vs-table--thead tr {
background: linear-gradient(30deg,rgba(var(--vs-primary),1),rgba(var(--vs-primary),.5))!important;
color: #fff;
}

.dropdown-button-container {
display: flex;
align-items: center;

.btnx {
border-radius: 5px 0px 0px 5px;
}

.btn-drop {
border-radius: 0px 5px 5px 0px;
border-left: 1px solid rgba(255, 255, 255, .2);
}
}

.plan_blk{
clear: both;
}
.genea_button {
float: right;
}

.user_tabview .con-vs-tabs .con-slot-tabs {
overflow: auto;
}
.user_profile table td {
word-break: normal;
}
.vs-table--tbody-table tr {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: transparent;
}
.vs-button-primary.vs-button-gradient {
    background: #ffc400 !important;  
    background-image: none !important;
}
[dir="ltr"] .vs-table--thead tr {   
    background: #ffc400 !important;
}
</style>