<template>

  <!-- Add Plan-->
		<div class="vx-col w-full mb-base">
			<vx-card title="Add Role Management">
        <form>
       
        <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                    <span>Administrator Name</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full"  name="Administrator Name" id="name" v-model="name" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('Administrator Name') }}</span>
            </div>
          </div>  

        <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                <span>Administrator Password</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full rolepswd_blk">
				
				<vs-input class="w-full" :type="passwordFieldType" v-model="password" v-validate="'required'" id="password" name="Administrator Password"/>
				<span class="text-danger">{{ errors.first('Administrator Password') }}</span>
  <button type="password" @click.prevent="switchVisibility"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7-11-7-11-7z"></path><circle cx="12" cy="12" r="3"></circle></svg></button>
				
           <!--   <vs-input class="w-full"  name="Administrator Password" id="password" v-model="password" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('Administrator Password') }}</span> -->
            </div>
          </div>    

          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                <span>Administrator Email</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full"  name="Administrator Email" id="email" v-model="email" v-validate="'required||email'"/>
              <span class="text-danger">{{ errors.first('Administrator Email') }}</span>
            </div>
          </div>  
          <div class="">
            <div class="vx-row sm:w-2/3 mb-6 st_switch">
			<div class="vx-col sm:w-1/3 w-full">
                <span>All Access Control </span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="accesscontrol">
                    <span slot="on">On</span>
       				<span slot="off">Off</span>
                </vs-switch>
             </div>
            </div>
          </div>

          <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full">
                    <span>Administrator Status</span>
                </div>
                <div class="vx-col sm:w-2/3 w-full">
                  <vs-select  v-model="status" class="select-large w-full">
                            <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in statusoption" />
                        </vs-select><span class="text-danger">{{ errors.first('Stock status') }}</span>
                </div>
            </div>

<div v-show="accesscontrol === false">
<vx-card class="mt-base" no-shadow card-border :key="indexs"  v-for="(menu,indexs) in adminmenu">
			<div class="vx-row" >
                <div class="vx-col w-full">
                <div class="flex items-end px-3">
                    <vs-checkbox id="menulist" name="menulist" v-model="menulist[menu.model_name]"></vs-checkbox>
                    <span class="font-medium text-lg leading-none">{{ menu.name }}</span>
                </div>
                </div>
            </div>
</vx-card>
</div>
          <div class="vx-row sm:w-2/3 mt-8">
            <div class="vx-col sm:w-2/3 w-full">
              <vs-button type="filled"  @click="addsubadmin" class="mr-3 mb-2">Submit</vs-button>
            </div>
          </div>
        </form>
			</vx-card>
		</div>
</template>
<script>
	


import config from "@/config.js"
import vSelect from 'vue-select'
// require styles

export default{  
      data() {
      return {
        name:'',
       // password:'',
		   password: '',
    passwordFieldType: 'password',
        email:'',
        accesscontrol:false,
        status:'',
        adminmenu:[],
        statusoption: [
              { text: 'Active', value: 1 },
              { text: 'Suspend', value: 2 },
          ], 
        menulist:{
          menu_1:false,
          menu_2:false,
          menu_5:false,
          menu_9:false,
          menu_13:false,
          menu_17:false,
          menu_24:false,
          menu_29:false,
          menu_37:false,
          menu_39:false,
          menu_42:false,
        },
         

    }
  },  
  components: {'v-select': vSelect},
  computed: {
    validateForm() {
      return !this.errors.any();      
    },
    
  },
  created() {
       return this.fetchAdminMenu();
    },
  methods: { 
	    switchVisibility() {
      this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
    },
    fetchAdminMenu(){
          this.$vs.loading()
           const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getrolemanagementadminlist",{ headers: { Authorization: AuthStr } })
            .then(response => {         
                this.adminmenu = response.data;
                console.log(this.adminmenu);
                 this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
            });
    },
     addsubadmin() {  
        this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let obj = {
                name : this.name,
                password : this.password,
                email : this.email,
                accesscontrol : this.accesscontrol,
                status : this.status,
                menulist : this.menulist
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/addrolemanagement",obj,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Role Management',
                    text: 'Role Management successfully added',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$router.push({ path : '/subadmin' });
            })
            .catch(error => {
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Role Management',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            });
        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Role Management',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
        })
     }
  }
}
</script>

<style>
.rolepswd_blk {
    position: relative;
}
.rolepswd_blk button {
    position: absolute;
    right: 24px;
    top: 7px;
    border: none;
}
.rolepswd_blk button svg {
    width: 16px;
    color: #7d7d7d;
}
</style>
