<template>

  <!-- Add Plan-->
		<div class="vx-col w-full mb-base">
			<vx-card title="Edit Role Management">
        <form>
       
        <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                    <span>Administrator Name</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full"  name="Administrator Name" id="name" v-model="name" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('Administrator Name') }}</span>
            </div>
          </div>  


          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                <span>Administrator Email</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full"  name="Administrator Email" id="email" v-model="email" v-validate="'required||email'"/>
              <span class="text-danger">{{ errors.first('Administrator Email') }}</span>
            </div>
          </div>  
          <div class="">
            <div class="vx-row sm:w-2/3 mb-6 w-full st_switch">
				<div class="vx-col sm:w-1/3 w-full">
                	<span>All Access Control</span>
            	</div>
             
              <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="accesscontrol">
                    <span slot="on">On</span>
       				<span slot="off">Off</span>
                </vs-switch>
              </div>
            </div>
          </div>

          <div class="vx-row sm:w-2/3 mb-6">
                <div class="vx-col sm:w-1/3 w-full">
                    <span>Administrator Status</span>
                </div>
                <div class="vx-col sm:w-2/3 w-full">

                 <vs-select  v-model="status" class="select-large w-full">
                            <vs-select-item  :key="index" :value="item.value" :text="item.text" v-for="(item,index) in statusoption" />
                        </vs-select><span class="text-danger">{{ errors.first('Stock status') }}</span>
                </div>
            </div>


<div v-show="accesscontrol === false">
<vx-card class="mt-base" no-shadow card-border :key="indexs"  v-for="(menu,indexs) in adminmenu">
			<div class="vx-row" >
                <div class="vx-col w-full">
                <div class="flex items-end px-3">
                    <vs-checkbox id="menulist" name="menulist" v-model="menulist[menu.model_name]"></vs-checkbox>
                    <span class="font-medium text-lg leading-none">{{ menu.name }}</span>
                </div>
                </div>
            </div>
</vx-card>
</div>

			
          <div class="vx-row sm:w-2/3 ">
            
            <div class="vx-col sm:w-2/3 w-full mt-8">
              <vs-button type="filled"  @click="addsubadmin" class="mr-3 mb-2">Update</vs-button>
            </div>
          </div>
        </form>
			</vx-card>
		</div>
</template>
<script>

import config from "@/config.js"
import vSelect from 'vue-select'
// require styles

export default{  
      data() {
      return {
        name:'',
        email:'',
        accesscontrol:false,
        status:'',
        adminmenu:[],
        statusoption: [
              { text: 'Active', value: 1 },
              { text: 'Suspend', value: 2 },
          ],  
           menulist:{
          menu_1:false,
          menu_2:false,
          menu_5:false,
          menu_9:false,
          menu_13:false,
          menu_17:false,
          menu_24:false,
          menu_29:false,
          menu_37:false,
          menu_39:false,
          menu_42:false,
			   menu_50:false,
			   menu_53:false,
			   menu_60:false,
			   menu_62:false,
			   menu_64:false,
        }, 

    }
  },  
  components: {'v-select': vSelect},
  computed: {
    validateForm() {
      return !this.errors.any();      
    },
    
  },
  created() {
       return this.fetchData(),this.fetchAdminMenu();
    },
  methods: { 
    fetchAdminMenu(){
          this.$vs.loading()
           const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getrolemanagementadminlist",{ headers: { Authorization: AuthStr } })
            .then(response => {         
                this.adminmenu = response.data;
                 this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
            });
    },
      fetchData(){
          this.$vs.loading()
           const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getrolemanagementdetails/"+this.$route.params.id,{ headers: { Authorization: AuthStr } })
            .then(response => { 
				 console.log(response.data);
                //this.status =  response.data.status;         
                this.name = response.data.data[0].name;
                this.email = response.data.data[0].email;
				 this.status = response.data.data[0].status;
				
                if(response.data.control == 1){
                    this.accesscontrol = true;
                }else{
                    this.accesscontrol = false;
                }
                var i;
                for(i=0; i<(response.data.menulist).length; i++){
                    if(response.data.menulist[i].model_name == 'menu_1'){
                        this.menulist.menu_1 = true;
                    }
                    if(response.data.menulist[i].model_name == 'menu_2'){
                        this.menulist.menu_2 = true;
                    }
                    if(response.data.menulist[i].model_name == 'menu_5'){
                        this.menulist.menu_5 = true;
                    }
                     if(response.data.menulist[i].model_name == 'menu_9'){
                        this.menulist.menu_9 = true;
                    }
                    if(response.data.menulist[i].model_name == 'menu_13'){
                        this.menulist.menu_13 = true;
                    }
                    if(response.data.menulist[i].model_name == 'menu_17'){
                        this.menulist.menu_17 = true;
                    }
                    if(response.data.menulist[i].model_name == 'menu_24'){
                        this.menulist.menu_24 = true;
                    }
                    if(response.data.menulist[i].model_name == 'menu_29'){
                        this.menulist.menu_29 = true;
                    }
                    if(response.data.menulist[i].model_name == 'menu_37'){
                        this.menulist.menu_37 = true;
                    }
                    if(response.data.menulist[i].model_name == 'menu_39'){
                        this.menulist.menu_39 = true;
                    }
                    if(response.data.menulist[i].model_name == 'menu_42'){
                        this.menulist.menu_42 = true;
                    }
					 if(response.data.menulist[i].model_name == 'menu_50'){
                        this.menulist.menu_50 = true;
                    }
					if(response.data.menulist[i].model_name == 'menu_53'){
                        this.menulist.menu_53 = true;
                    }
					if(response.data.menulist[i].model_name == 'menu_60'){
                        this.menulist.menu_60 = true;
                    }
					if(response.data.menulist[i].model_name == 'menu_62'){
                        this.menulist.menu_62 = true;
                    }
					if(response.data.menulist[i].model_name == 'menu_64'){
                        this.menulist.menu_64 = true;
                    }
                }

                 this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
            });
      },
     addsubadmin() {  
        this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let obj = {
                name : this.name,
                email : this.email,
                accesscontrol : this.accesscontrol,
                status : this.status,
                id : this.$route.params.id,
                menulist : this.menulist
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/editrolemanagement",obj,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Role Management',
                    text: 'Role Management successfully update',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$router.push({ path : '/subadmin' });
            })
            .catch(error => {
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Role Management',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            });
        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Role Management',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
        })
     }
  }
}
</script>
