<template>
<div>
<vx-card title="Role Management"> 
        <div class="demo-alignment">
            <vs-button @click="addrolecategory" color="primary" type="filled">Add</vs-button>
        </div>
        <b><div id="currentcur"></div></b>
        <vs-table pagination :max-items="20" search :data="category">

                <template slot="thead">        
                    <vs-th sort-key="category_name">Administrator Name</vs-th>
                    <vs-th sort-key="category_id">Admin Email ID</vs-th>
                    <vs-th sort-key="category_id">Status</vs-th>
                    <vs-th sort-key="category_id">Action</vs-th>                    
                </template>
                  <template slot-scope="{data}">
                
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">                    
                    <vs-td :data="data[indextr].name">
                        {{data[indextr].name}}
                    </vs-td>
                    <vs-td :data="data[indextr].email">
                        {{data[indextr].email}}
                    </vs-td>
                      <vs-td :data="data[indextr].status">
                        <vs-chip :color="getStatusColor(data[indextr].status)" class="product-order-status">{{data[indextr].status}}</vs-chip>
                    </vs-td>
                    <vs-td :data="data[indextr].id">
                        <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editCategory(data[indextr].id)" />
                        <feather-icon icon="Trash2Icon" svgClasses="w-5 h-5 hover:text-primary" @click.stop="deletecategory(data[indextr].id)" />
                    </vs-td>                    
                </vs-tr>
            </template>
            
            </vs-table> 
</vx-card>
</div>
    </template>
      <script>
import config from "@/config.js"
export default {
    data() {
        return {
            category: []
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
        getStatusColor(status) {
            if(status == 'Active') return "success"
            if(status == 'Suspend') return "danger"
        },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getsubadminlist",{ headers: { Authorization: AuthStr } })
            .then(response => {                
                this.category = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                console.log(error);
            });
        },
        addrolecategory () {
            this.$router.push({ path : '/addsubadmin' });
        },  
        editCategory(id){
                 this.$router.push({ path : '/subadmin/edit/'+id });  
        },

    deletecategory(id){
        this.delete_id=id,
        this.$vs.dialog({
            type: 'confirm',
            color: 'danger',
            title: `Confirm`,
            text: 'Do you want to delete',
            accept: this.acceptAlert,
        })    
    },
    acceptAlert() {

 
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/deletesubadmin/"+this.delete_id,{ headers: { Authorization: AuthStr } }) 
            .then(response => {
                response.data;
               this.$http.get(config.apiUrl +"api/admin/getsubadminlist",{ headers: { Authorization: AuthStr } })
                .then(response => {                
                    this.category = response.data;
                    this.$vs.loading.close()
                })
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Role Management',
                    text: 'Role Management Deleted',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })
            })
        }

           
    }   
}

</script>


    

