<template>	
    <vx-card title="Admin Earnings"> 
		<vs-prompt title="Export To Excel" class="export-options" @cancle="clearFields" @accept="exportToExcel" accept-text="Export" @close="clearFields" :active.sync="activePrompt">
        <vs-input v-model="fileName" placeholder="Enter File Name.." class="w-full" />
        <v-select v-model="selectedFormat" :options="formats" class="my-4" />
        <div class="flex">
          <span class="mr-4">Cell Auto Width:</span>
          <vs-switch v-model="cellAutoWidth">Cell Auto Width</vs-switch>
        </div>
    </vs-prompt>
     <vs-button @click="activePrompt=true">Export</vs-button>
        <vs-table pagination :max-items="10" search :data="users">
            <template slot="thead">
                <vs-th>S.No</vs-th>
                <vs-th sort-key="members_username">Username</vs-th>
                <vs-th sort-key="history_type">Earning type</vs-th>
                <vs-th sort-key="history_description">Description</vs-th>
                <vs-th sort-key="history_datetime">Date</vs-th>
                <vs-th sort-key="history_amount">Amount</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td>
                    {{ indextr + 1 }}
                    </vs-td>
                    <vs-td :data="data[indextr].members_username">
                        {{data[indextr].members_username}}
                    </vs-td>

                    <vs-td :data="data[indextr].thistory_type">
                        {{data[indextr].history_type}}
                    </vs-td>

                    <vs-td :data="data[indextr].history_description">
                        {{data[indextr].history_description}}
                    </vs-td>

                    <vs-td :data="data[indextr].history_datetime">
                        {{data[indextr].history_datetime}}
                    </vs-td>  
                    <vs-td :data="data[indextr].history_amount">
                       {{ currency }} {{data[indextr].history_amount}}
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table> 
    </vx-card>
</template>
<script>
import vSelect from 'vue-select'
import config from "@/config.js"
export default {
    data() {
        return {
			currency:'',
             fileName: "",
      formats:["xlsx", "csv", "txt"] ,
      cellAutoWidth: true,
      selectedFormat: "xlsx",
      headerTitle: [ "Username", "Earning type","Description","Date","Amount"],
      headerVal: ["members_username","history_type", "history_description","history_datetime","history_amount"],
     // orders: [],
      activePrompt: false,
                users: [ ]
        }
    },
    created() {
       return this.fetchData(),this.fetchcurrency();
    },
	 components: {
    vSelect
  },
    methods: {
		   fetchcurrency()
        {
             const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcurrency",{ headers: { Authorization: AuthStr } })

            .then(response => {  
                 
                this.currency=response.data;

            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
		formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        // Add col name which needs to be translated
        // if (j === 'timestamp') {
        //   return parseTime(v[j])
        // } else {
        //   return v[j]
        // }

        return v[j]
      }))
    },
          exportToExcel() {
      import('@/vendor/Export2Excel').then(excel => {
        const list = this.users
        const data = this.formatJson(this.headerVal, list)
        excel.export_json_to_excel({
          header: this.headerTitle,
          data,
          filename: this.fileName,
          autoWidth: this.cellAutoWidth,
          bookType: this.selectedFormat
        })
        this.clearFields()
      })
    },
        
        clearFields() {
      this.filename = "",
      this.cellAutoWidth = true,
      this.selectedFormat = "xlsx"
    },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/adminearnings",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.users = response.data;
                this.$vs.loading.close()
            })
           .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
       
    }   
}
</script>


    

