<template>	
    <vx-card title="Admin Earnings"> 
        <vs-table pagination :max-items="10" search :data="users">
            <template slot="thead">
                <vs-th>S.No</vs-th>
                <vs-th sort-key="members_username">Username</vs-th>
                <vs-th sort-key="history_type">Earning Type</vs-th>
                <vs-th sort-key="history_transaction_id">Transaction ID</vs-th>
                <vs-th sort-key="history_datetime">Date</vs-th>
                <vs-th sort-key="history_amount">Amount</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td>
                    {{ indextr + 1 }}
                    </vs-td>
                    <vs-td :data="data[indextr].members_username">
                        {{data[indextr].members_username}}
                    </vs-td>

                    <vs-td :data="data[indextr].paymenthistory_type">
                        {{data[indextr].paymenthistory_type}}
                    </vs-td>

                    <vs-td :data="data[indextr].paymenthistory_trans_id">
                        {{data[indextr].paymenthistory_trans_id}}
                    </vs-td>

                    <vs-td :data="data[indextr].paymenthistory_date">
                        {{data[indextr].paymenthistory_date}}
                    </vs-td>  
                    <vs-td :data="data[indextr].paymenthistory_amount">
                        ${{data[indextr].paymenthistory_amount}}
                    </vs-td>
                </vs-tr>
            </template>
        </vs-table> 
    </vx-card>
</template>
<script>
import config from "@/config.js"
export default {
    data() {
        return {
            users: []
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/adminearnings",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.users = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                this.$vs.loading.close()
                console.log(error);
            });
        },
       
    }   
}
</script>


    

