<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "ADD NEW" : "UPDATE" }} ATTRIBUTES</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">

      <div class="p-6">

      

        <!-- NAME -->
        <vs-input label="Name" v-model="dataName" class="mt-5 w-full" name="attribute name" v-validate="'required'" />
        <span class="text-danger text-sm" v-show="errors.has('attribute name')">{{ errors.first('attribute name') }}</span>


      

        
      </div>
    </VuePerfectScrollbar>

    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button class="mr-6" @click="submitData" :disabled="!isFormValid">Submit</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import config from "@/config.js"
export default {
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {},
    }
  },
   watch: {
    isSidebarActive(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.initValues()
        this.$validator.reset()
      }else {
        this.dataId = this.data.id
        this.dataName=this.data.name
       
        this.initValues()
      }
      // Object.entries(this.data).length === 0 ? this.initValues() : { this.dataId, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
    }
  },
  
  data() {
    return {

      dataName: "",
      dataId:"",

      
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
    }
  },
  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive
      },
      set(val) {
        if(!val) {
          this.$emit('closeSidebar')
           this.$validator.reset()
          // this.initValues()
        }
      }
    },
    isFormValid() {

         //console.log('asdas');
      return !this.errors.any() 
    }
  },
  methods: {
   initValues() {
      
      if(this.data.id) return
        this.dataId = null
        this.dataName = ""
    },
    submitData() {
      this.$validator.validateAll().then(result => {
          if (result) {
            const obj = {
              id: this.dataId,
              name: this.dataName,
            }
              if(this.dataId !== null && this.dataId >= 0) {
                 const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                  this.$http.post(config.apiUrl +"api/admin/updateattributes",obj,{ headers: { Authorization: AuthStr } })
                  .then(response => {
                    console.log(response);
                      this.$vs.loading.close()
                      this.$emit('closeSidebar')
                      this.$validator.reset()
                      this.initValues()
                      this.$vs.notify({
                          title: 'Attribute',
                          text: 'Attribute successfully updated',
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'success'
                      })
                    
                  })
                  .catch(error => {
                    console.log(error);
                      this.$vs.loading.close()
                      this.$vs.notify({
                          title: 'Attribute',
                          text: 'Please check values',
                          iconPack: 'feather',
                          icon: 'icon-alert-circle',
                          color: 'warning'
                      })
                  });
              }
              else{
                  const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                      this.$http.post(config.apiUrl +"api/admin/addattributes",obj,{ headers: { Authorization: AuthStr } })
                      .then(response => {
                        console.log(response);
                          this.$vs.loading.close()
                          this.$emit('closeSidebar')
                          this.$validator.reset()
                          this.$vs.notify({
                              title: 'Attribute',
                              text: 'Attribute successfully added',
                              iconPack: 'feather',
                              icon: 'icon-alert-circle',
                              color: 'success'
                          })
                          this.$router.push({ path : '/attributes/view' });
                      })
                      .catch(error => {
                        console.log(error);
                          this.$vs.loading.close()
                          this.$vs.notify({
                              title: 'Attribute',
                              text: 'Please check values',
                              iconPack: 'feather',
                              icon: 'icon-alert-circle',
                              color: 'warning'
                          })
                      });
              }
          }
      })
    },
    
  },
  components: {
    VuePerfectScrollbar,
  }
}
</script> 

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
