
<template>

  <!-- Add Plan-->
		<div class="vx-col w-full mb-6">
			<vx-card title="Add Plan">
        <form>
          <div class="vx-row sm:w-2/3  mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                        <span>Plan Name</span>
            </div>

            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" name="plan_name" id="plan_name" v-model="plan_name" v-validate="'required'"/>
              <span class="text-danger">{{ errors.first('plan_name') }}</span>
            </div>
          </div>      


          <div class="vx-row sm:w-2/3 mb-6">
            <div class="vx-col sm:w-1/3 w-full">
                        <span>Settings Plan</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <v-select :options="['Binary','Forced','Unilevel','Linear']" :dir="$vs.rtl ? 'rtl' : 'ltr'"  name="plan_type" id="plan_type" v-model="plan_type" />
              <span class="text-danger text-sm" v-show="errors.has('included')">{{ errors.first('included') }}</span>
            </div>
          </div>     

          <div class="vx-row sm:w-2/3 mb-6">
          
              <div class="vx-col sm:w-1/3 w-full">
                        <span>Status</span>
            </div>
              <div class="vx-col sm:w-2/3 w-full">
                <vs-switch v-model="status">
                    <span slot="on">On</span>
                    <span slot="off">Off</span>
                </vs-switch>
              </div>
          
          </div>
			
          <div class="vx-row sm:w-2/3 mb-6">
			   <div class="vx-col sm:w-1/3 w-full">
                        
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-button type="filled"  @click="addplan" class="mr-3 mb-2">Submit</vs-button>
              <vs-button color="warning" type="filled" @click.prevent="onCancel"  class="mb-2">Cancel</vs-button>
            </div>
          </div>
        </form>
			</vx-card>
		</div>
</template>
<script>

import config from "@/config.js"
import vSelect from 'vue-select'
export default{  
      data() {
      return {
      plan_name: '',
      plan_type: '',
      status: ''
    }
  },  
  components: {'v-select': vSelect,},
  computed: {
    validateForm() {
      return !this.errors.any() && this.plan_name != '' && this.plan_type != '';      
    },
  },
 
  methods: {  
    onCancel(){
        console.log('CANCEL SUBMIT');
        this.show = false;
        this.$router.push({ name: 'plans' });
    },  
    addplan() {   
      
      this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let plandetails = {
              plan_name: this.plan_name,
              plan_type: this.plan_type,
			  plannamedefault: this.plan_type,
              status: this.status,
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/addplan",plandetails,{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Compensation',
                    text: 'Plan successfully added',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$router.push({ path : '/compensation/plans' });
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Compensation',
                    text: 'Please check values',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            });

        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Compensation',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
    })  
    }
  }
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
.v-select.w-full.vs--single.vs--searchable {
    margin-top: 22px;
}
</style>
