<!-- =========================================================================================
    File Name: tableFilterSorter.vue
    Description: Add filter and sorting functionality to table
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <vx-card title="Plans">
        <div class="demo-alignment">
            <vs-button @click="addplan" color="primary" type="filled">Add/Change Plan</vs-button>
			<p><b>Note:Changing the plan will cause all data to be deleted!</b> </p>
        </div>
        <vs-table pagination :max-items="10" search :data="users">

            <template slot="thead">
                <vs-th sort-key="matrix_name">Plan Name</vs-th>
                <vs-th sort-key="matrix_type">Plan Type</vs-th>
                <vs-th sort-key="matrix_status">Status</vs-th>
                <vs-th sort-key="created_on">Created On</vs-th>
                <vs-th sort-key="action">Action</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                    <vs-td :data="data[indextr].matrix_name">
                        {{data[indextr].matrix_name}}
                    </vs-td>

                    <vs-td :data="data[indextr].matrix_type">
                        {{data[indextr].matrix_type}}
                    </vs-td>

                    <vs-td :data="data[indextr].matrix_status">
                        <vs-chip :color="getStatusColor(data[indextr].matrix_status)" class="product-order-status">{{data[indextr].matrix_status}}</vs-chip>
                    </vs-td>

                    <vs-td :data="data[indextr].created_on">
                        {{data[indextr].created_on}}
                    </vs-td>

                    <vs-td class="whitespace-no-wrap">
                        <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="configPlan(data[indextr].matrix_id)" />
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>

    </vx-card>
</template>

<script>
import config from "@/config.js"
export default {
    data() {
        return {
            users: []
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
        fetchData() {
             this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getplans",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.users = response.data;
                this.$vs.loading.close()
            })
             .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
        getStatusColor(status) {
            if(status == 'Active') return "success"
            if(status == 'Suspend') return "danger"
        },
        configPlan(plan_id) {
            this.$router.push({ path : '/compensation/plans/configplan/'+plan_id });
        },
        addplan () {
            this.$router.push({ path : '/compensation/addplan' });
        }
    }
}
</script>
