/*=========================================================================================
  File Name: _customClasses.scss
  Description: partial- this file containes custom helper classes
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
 

// ======================================================================================
// BUTTON
// ======================================================================================

.btn-group {
  button {
    padding: 1rem 1.25rem !important;
  }

  :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.btn-group-vertical {

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  button {
    padding: 1rem 1.25rem !important;
    width: 100%;
  }

  :not(:first-child) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  :not(:last-child) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}


// ======================================================================================
// BLUR
// ======================================================================================

.blur-1 {
  filter: blur(1px);
}

.blur-2 {
  filter: blur(2px);
}

.blur-3 {
  filter: blur(3px);
}


// ======================================================================================
// CHIP
// ======================================================================================

.con-vs-chip {
  &.number {
    padding-right: unset;
    min-height: 20px;
    min-width: 20px;
    margin-right: 0;

    .vs-chip--text {
      margin-left: unset;
      margin-right: unset;
      font-weight: 600;
    }
  }
}


// ======================================================================================
// COLORS
// ======================================================================================

// text classes
.text-primary {
  color: rgba(var(--vs-primary), 1) !important;
}


.text-success {
  color: rgba(var(--vs-success), 1) !important;
}

.text-danger {
  color: rgba(var(--vs-danger), 1) !important;
}

.text-warning {
  color: rgba(var(--vs-warning), 1) !important;
}

.text-dark {
  color: rgba(var(--vs-dark), 1) !important;
}


// background classes
.vs-button-primary.vs-button-filled {
    background: #ffc400 !important;
} 
.bg-primary {
  background-color: rgba(var(--vs-primary), 1) !important;
}


.bg-success {
  background-color: rgba(var(--vs-success), 1) !important;
}

.bg-danger {
  background-color: rgba(var(--vs-danger), 1) !important;
}

.bg-warning {
  background-color: rgba(var(--vs-warning), 1) !important;
}

.bg-dark {
  background-color: rgba(var(--vs-dark), 1) !important;
}


// border classes

.border-primary {
  border-color: rgba(var(--vs-primary), 1) !important;
}

.border-success {
  border-color: rgba(var(--vs-success), 1) !important;
}

.border-danger {
  border-color: rgba(var(--vs-danger), 1) !important;
}

.border-warning {
  border-color: rgba(var(--vs-warning), 1) !important;
}

.border-dark {
  border-color: rgba(var(--vs-dark), 1) !important;
}


// hover background classes

.hover\:bg-primary {
  &:hover {
    background-color: rgba(var(--vs-primary), 1) !important;
  }
}


.hover\:bg-success {
  &:hover {
    background-color: rgba(var(--vs-success), 1) !important;
  }
}

.hover\:bg-danger {
  &:hover {
    background-color: rgba(var(--vs-danger), 1) !important;
  }
}

.hover\:bg-warning {
  &:hover {
    background-color: rgba(var(--vs-warning), 1) !important;
  }
}

.hover\:bg-dark {
  &:hover {
    background-color: rgba(var(--vs-dark), 1) !important;
  }
}


// hover text colors
.hover\:text-primary {
  &:hover {
    color: rgba(var(--vs-primary), 1) !important;
  }
}


.hover\:text-success {
  &:hover {
    color: rgba(var(--vs-success), 1) !important;
  }
}

.hover\:text-danger {
  &:hover {
    color: rgba(var(--vs-danger), 1) !important;
  }
}

.hover\:text-warning {
  &:hover {
    color: rgba(var(--vs-warning), 1) !important;
  }
}

.hover\:text-dark {
  &:hover {
    color: rgba(var(--vs-dark), 1) !important;
  }
}

// Gradient colors
.bg-primary-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), .7)) !important;
}

.bg-success-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-success), 1), rgba(var(--vs-success), .7)) !important;
}

.bg-danger-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-danger), 1), rgba(var(--vs-danger), .7)) !important;
}

.bg-warning-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-warning), 1), rgba(var(--vs-warning), .7)) !important;
}

.bg-dark-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-dark), 1), rgba(var(--vs-dark), .7)) !important;
}


// ======================================================================================
// DropDown
// ======================================================================================

// Remove padding and border from default dropDown - Used in TheNavbar
.dropdown-custom {
  .vs-dropdown--custom {
    padding: 0 !important;
    border: 0;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08) !important;
    // @apply shadow-lg;
  }

  .vs-dropdown--menu--after {
    background: rgba(var(--vs-primary), 1) !important;
    right: 1.6rem !important;
  }
}


// ======================================================================================
// Grid
// ======================================================================================

.vx-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  & > .vx-col {
    padding: 0 1rem;
  }

  &.match-height>.vx-col {
    display: flex;
  }

  &.no-gutter {
    margin: 0;

    & > .vx-col {
      padding: 0;
    }
  }
}


// ======================================================================================
// Input
// ======================================================================================

.vs-input-no-border {
  .vs-input--input {
    border: none !important;

    &:focus {
      border: none !important;
    }
  }
}

.vs-input-no-shdow-focus {
  .vs-input--input {
    &:focus {
      box-shadow: none !important;
    }
  }
}

.vs-input-shadow-drop {
  input {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
  }
}


// ======================================================================================
// Sidebar
// ======================================================================================

.sidebar-spacer {
  width: calc(100% - 260px);
  margin-left: 260px;
}

.sidebar-spacer-with-margin {
  width: calc(100% - 260px - 2.2rem);
  margin-left: calc(260px + 2.2rem);
}

.sidebar-spacer--wide {
  width: calc(100% - 400px);
  margin-left: 400px;
}

.background-absolute {
  .vs-sidebar--background {
    position: absolute;
  }
}

.vs-content-sidebar.items-no-padding {
  .vs-sidebar--items {
    padding: 0;
  }
} 

// Create full width sidebar
.full-vs-sidebar {
  .vs-sidebar {
    max-width: calc(100% - 260px);
    margin-left: 260px;
  }
}



/*My Custom Styles*/
.vx-card__header .vx-card__title {
  border-bottom: 1px dashed transparent;
  margin: 0;
  padding: 0;
}
.vx-card .vx-card__header {
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid #f2f2f2;
    margin-bottom: 0em;
}

.vs-sidebar{
  max-width: 300px;
}

.vs-table--thead tr {
  background: rgba(115, 103, 240, 0.07);
}
.tr-values.vs-table--tr.tr-table-state-null:nth-child(2n+1) {
  background: #f6f6f6;
}
.vx-card__header .vx-card__title {
  border-bottom: 1px dashed transparent;
  margin: 0;
  padding: 0;
}
.vx-card .vx-card__header {
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid #f2f2f2;
}

.vx-navbar-wrapper.navbar-reduced {
    width: calc(100% - 80px);
}
.vx-navbar-wrapper.navbar-default { 
    width: calc(100% - 300px);
}
.v-select {
    cursor: pointer;
}
.vs--searchable .vs__dropdown-toggle {
    cursor: pointer;
}


.vs-button-primary.vs-button-filled {
    background: #ffc400 !important;
}
.vx-card__body .vs-button
{
	color:#000 !important;
}
[dir="ltr"] .v-nav-menu .vs-sidebar--item .router-link-active {
    background: #ffc400 !important;
}
.v-nav-menu .vs-sidebar--item .router-link-active .feather-icon, .v-nav-menu .vs-sidebar--item .router-link-active span
{
	color:#000 !important;
}
.login-tabs-container .vs-button-text.vs-button--text {
    color: #000;
}

.login-tabs-container .vs-button-primary.vs-button-filled:hover {
    -webkit-box-shadow: 0 8px 25px -8px rgba(var(--vs-primary),1);
    box-shadow: 0 8px 25px -8px #00000069;
}

.login-tabs-container .flex.flex-wrap.justify-between.my-5 a {
    color: #000 !important;
}
.router-header .text-primary {
    color: #000 !important;
}
[dir] .vs-button-primary.vs-button-filled {
    background: #ffc400 !important;
    color: #000 !important;
}
.vs-pagination-primary .effect, .vs-pagination-primary .vs-pagination--buttons:hover {
    background: #ffc400 !important;    
}
.vs-pagination--li.is-current {
    color: #000 !important;    
}
#btnVNavMenuMinToggler circle {
    color: #ffc400;
}
.vs-button-filled:hover {
    
    box-shadow: 0 8px 25px -8px #00000069 !important;
}
.vs-table-primary .border-primary {
    border-color: #000 !important;
}
.vs-table-primary .text-primary {
    color: #000 !important;
}
.v-nav-menu .vs-sidebar--item .router-link-active {
    -webkit-box-shadow: 0 8px 25px -8px #00000069 !important;
}
.vs-progress-primary .vs-progress--foreground, .vs-progress-primary .vs-progress--indeterminate {
    background: #ffc400;
}
.feather-icon.select-none.relative .text-primary {
    color: #000 !important;
}
.vs-input-primary .vs-input--input:focus {
    border: 1px solid #000 !important;
}
.vs-input-primary.isFocus .vs-input--label, .vs-input-primary .vs-input--input:focus ~ .icon-inputx, .vs-input-primary .vs-input--input:focus ~ .vs-placeholder-label {
    color: #000 !important;
}
.ml-auto.flex .vs-button-warning.vs-button-filled {
    background: #ffc400 !important;
}
.vs-table.vs-table--tbody-table .td.vs-table--td span a {
    color: #000 !important;
}
.con-vs-chip.vs-chip-primary.con-color {
    color: #000 !important;
    background: #ffc400 !important;
}
[dir] .vs-table--thead tr {
    background: rgb(255, 196, 0) !important;    
    color: #333 !important;
}
.vs-button-primary.vs-button-border, .vs-button-primary.vs-button-flat {
    border: 1px solid #000 !important;  
    background: transparent !important;
    color: #000 !important;  
}
.vs-tabs-primary .con-ul-tabs .activeChild button, .vs-tabs-primary .con-ul-tabs button:not(:disabled):hover {
    color: #000 !important;
}
.vs-button {    
    color: #000 !important;
}
.vs-button-warning.vs-button-filled {
    background: #ffc400 !important;
}
.flex.flex-wrap.items-center li a {
    color: #000 !important;
}
.vs-component.vs-button .vs-button-backgroundx.vs-button--background {
    background: #ffc400 !important;
    
}
.vs-button-flat.isActive .vs-button--text {
    color: #000 !important;
}
.export-table .v-select.w-full.vs--single.vs--searchable {
    margin-top: 0px;
}
.vs-table .con-td-check .checkbox_x.vs-checkbox {
    border: 2px solid #333 !important;
}
.vs-table .con-td-check .vs-checkbox-primary .vs-checkbox--check {
    background: #ffc400 !important;
}
.vs-table .con-td-check .vs-checkbox--input:checked + .vs-checkbox .vs-icon {
    color: #000 !important;
}
.vs-dialog-primary .vs-dialog .vs-dialog-header {
    color: #000 !important;
}
.vs-switch-primary.vs-switch-active {
    background: #ffc400 !important;
}
.vs-component.vs-button.mb-2.vs-button-warning.vs-button-border {
    background: #ffc400 !important;
    border: 1px solid #ffc400;
}
.mb-base .filezone {
    background: #ffc400;
    color: #000;
}
.mb-base .filezone {    
    outline: 2px dashed #040404;
}
.vs-button-border.isActive .vs-button--text {
    color: #000 !important;
}
.vs-checkbox-primary .vs-checkbox--check {
    background: #ffc400 !important;  
}
.vs-checkbox-primary input:checked + .vs-checkbox {
    border: 2px solid #ccc !important;
}
.vs-checkbox--input:checked + .vs-checkbox .vs-icon {
    color: #000 !important;
}
.vs-table--td .hover\:text-primary:hover {
    color: #333 !important;
}
[dir] .btn.btn-primary {
    background: #ffc400 !important;
    color: #000 !important;
}
.vs-table-primary .is-selected {
       background: #ffc4001c !important;
       color: #000 !important;
}
[dir] .top_buttons.vs-button-primary.vs-button-filled {
    background: #ffc400 !important;
}
.vs-radio-primary .vs-radio--circle {
    background: #ffc400 !important;
}
.vx-card__header .vx-card__title .text-primary {
    color: #000 !important;
}
.vs-button-success.vs-button-gradient {
    background: #ffc400 !important;
}
.vs-button-success.vs-button-filled {
    background: #ffc400 !important;
}
.icon-scale.text-primary.icon-alert.feather {
    color: #000 !important;
}
[dir] .top_buttons.vs-button-primary.vs-button-filled {
    background: #ffc400 !important;
}
.con-vs-alert.mt-5.mb-5.pt-2.pb-2.con-vs-alert-primary.con-icon {
    background: rgba(255,196,0,.11) !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    color: #000 !important;
}
.feather.w-5.h-5.hover\:text-primary {
    color: #565656 !important;
}
.ticket-info li.bg-primary {
    background-color: #ffc400 !important;
    color: #000 !important;
}
[dir] .ticket-status::before {
    background-color: #000 !important; 
}
.ticket-status::after {
    color: #626262 !important; 
}
.ticket_blk:hover .ticket-title.h5 {
    color: #626262 !important; 
}
.wizard-progress-bar {
    background: #ffc400 !important;
}
.wizard-nav #step-GeneralSettings0 {
    border-color: #ffc400 !important;
}
.wizard-nav .wizard-icon-container {
    background: #ffc400 !important;
}
.wizard-nav .stepTitle.active {
    color: #000 !important;
}
.wizard-footer-right .wizard-btn {
    background: #ffc400 !important;
    border-color: #ffc400 !important;
    color: #2c2c2c !important;
}
.vx-timeline li .timeline-icon.bg-primary {
    background: #ffc400 !important;
}
.vs-select-primary .vs-select--item.activex {
    background: rgba(255,196,0,.11) !important;
    }
.input-select-label-primary--active {
    color: #626262 !important;
}
.wizard-nav li a #step-PlanScaling1 {
    border-color: #ffc400 !important;
}
.wizard-footer-left .wizard-btn {
    background: #ffc400 !important;
    border-color: #ffc400 !important;
    color: #000 !important; 
}
.wizard-nav #step-EntryCriteria2 {
    border-color: #ffc400 !important;
}
.flex.items-center .text-inherit.hover\:text-primary:hover {
    color: #000 !important;
}
.vue-form-wizard .wizard-nav-pills > li.active > a .wizard-icon, .vue-form-wizard .wizard-nav-pills > li.active > a:focus .wizard-icon, .vue-form-wizard .wizard-nav-pills > li.active > a:hover .wizard-icon {
    color: #000 !important;
    }
.bookmark-container .text-warning {
    color: #ffc400 !important;
}
.loading .effect-1, .loading .effect-2 {
        border: 3px #ffc400 !important;
 }
.loading .effect-3 { 
    border: 3px #ffc400 !important;  
 }

.v-select .vs__dropdown-menu li:hover {
    background: #000 !important;
}
.v-select .vs__dropdown-menu li {
    background: #FFC400 !important;
    color: #000 !important;
}

.v-select .vs__dropdown-menu li a {
        color: #000 !important;
}
.v-select .vs__dropdown-menu li label {
    background: #FFC400 !important;
    color: #000 !important;
}
.vs-tabs-primary .con-ul-tabs .line-vs-tabs {    
    background: #ffc400 !important;
}
.vs-button-dark.vs-button-filled {
    background: #ffc400 !important;
}
[dir] .append-text.btn-addon {
    background: #ffc400 !important;
}
.append-text.btn-addon a i {
    color: #000 !important;
}
.vs-dropdown--menu .hover\:bg-primary:hover {
    background-color: #ffc400 !important;
    color: #000 !important;
}
.con-vs-loading .vs-loading.border .effect-3, .con-vs-loading .vs-loading.default .effect-3
{
border: 3px #ffc400 !important;
}
.con-vs-loading .vs-loading.border .effect-1, .con-vs-loading .vs-loading.border .effect-2, .con-vs-loading .vs-loading.default .effect-1, .con-vs-loading .vs-loading.default .effect-2
{
  border: 3px #ffc400 !important;
}
.loading .effect-3 {
    border-left: 3px solid rgb(255, 196, 0) !important;
}
.loading .effect-1, .loading .effect-2 {
    border-left: 3px solid rgb(255, 196, 0) !important;
}
.v-nav-menu .header-sidebar .feather-icon svg {
    color: #ffc400 !important;
}
/*Myy Custom Styles*/

@media only screen and (max-width: 992px) {
  .full-vs-sidebar {
    .vs-sidebar {
      max-width: 100%;
      margin-left: 0;
    }
  }
}


// ======================================================================================
// Select
// ======================================================================================

.vs-select-no-border {
  .vs-select--input {
    border: none !important;
  }
}


// ======================================================================================
// Tabs
// ======================================================================================

.tabs-shadow-none {
  .vs-tabs--ul {
    box-shadow: none;
  }
}

.tab-action-btn-fill-conatiner {
  &.con-vs-tabs {
    .vs-tabs--content {
      padding: 23px 10px !important;
    }
  }
}


// ======================================================================================
// Theme: Light & Dark
// ======================================================================================

.d-theme-dark-bg,
.d-theme-dark-light-bg {
  background-color: $white;
}

.d-theme-dark-border {
  border-color: $white;
}

.d-theme-border-grey-light {
  // @apply border-grey-light;
  border-color: #dae1e7;
}

.d-theme-text-inverse {
  color: $white;
}

.theme-dark {
  .d-theme-dark-bg {
    background-color: $theme-dark-bg;
  }

  .d-theme-dark-light-bg {
    background-color: $theme-light-dark-bg;
  }

  .d-theme-input-dark-bg {
    input {
      background-color: $theme-dark-bg;
    }
  }

  .d-theme-heading-color {
    color: $headings-color;
  }

  .d-theme-text-inverse {
    color: $content-color;
  }

  .d-theme-border-grey-light,
  .d-theme-dark-border {
    border-color: $theme-dark-border-color;
  }

  // Table Inverted
  .vs-con-table{
    &.table-dark-inverted {
      .vs-con-tbody {
        .vs-table--tbody-table {
          tr {
            background: $theme-dark-bg !important;
          }
        }
      }
    }
  }
}


// ======================================================================================
// Typography
// ======================================================================================

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-big {
  font-size: 4rem;
}

.text-color-base {
  color: $content-color;
}


// ======================================================================================
// Users List
// ======================================================================================

.user-list {
  display: flex;

  & .con-vs-avatar {
    transition: .3s;

    &:hover {
      transform: translateY(-5px) scale(1.07);
      box-shadow: 0 14px 24px rgba(62, 57, 107, 0.2);
      // transform: translateY(-5px);
      z-index: 999;
    }
  }
}


// ======================================================================================
// Uncategorized
// ======================================================================================

.responsive {
  width: 100%;
  height: auto;
}

ul.bordered-items {
  &>li:not(:last-of-type):not([class*='shadow']) {
    border-bottom: 1px solid $grey-light;
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.login_animate2 { 
    width: 35%;
    position: absolute;
top: 18%;
  left: 12%;
}
.login_animate2 {
animation: mymove 3s infinite;
      animation-name: mymove;

}
.animated_bgfull {
  position: relative;
  z-index: 2000;
}
@media screen and (max-width: 1440px) {
 .login_animate2 {
  width: 45%;
  position: absolute;
  top: 18%;
}
}
@media screen and (max-width: 1280) {
 .login_animate2 {
  width: 50%;
  position: absolute;
  top: 18%;
}
}
@media screen and (max-width: 1028) {
.login_animate2 {
  width: 62%;
  position: absolute;
  top: 18%;
    left: 5%;
}
}


.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px darken(#ebebeb21, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  
  &:nth-child(2n) {
    border-color: lighten(#ffd03329, 10%);
  }
  
  &:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  
  &:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  
  &:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  
  &:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  
  &:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);   
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%); 
    opacity: 0;
  }
}


/*Responsive for mobile*/
@media screen and (max-width: 991px) {
   .wizard-navigation button.vs-component.vs-switch.ot_switch {
		width: 95px !important;
	}
	.membership label {
		float: left;
		margin-bottom: 12px;
	}
}

@media screen and (max-width: 767px) {
	.vs-button-primary.vs-button-filled {
		background: #ffc400!important;
		color: #000!important;
		margin-bottom: 10px;
		width: 100%;
		border-radius: 4px;
	}
	.wallet_details span {
		font-size: 12px;
	}
	.img-container.avatar {
		margin: 0 auto 15px;
	}
	.mem_details.flex {
		display: block !important;
	}
	.user_profile table td {
		min-width: 110px !important;
	}
	.user_tabview .vs-tabs-position-left .con-ul-tabs {
		float: none;
	}
	.user_tabview .vs-tabs-position-left {
		display: block;
	}
	.user_tabview .flex-1 {
		margin: 0 0 15px !important;
		padding: 0 !important;
	}
	.vs-tabs--content {
		padding: 0;
	}
	.user_profile table td {
		font-size: 12px;
	}
	.add-new-data-sidebar .vs-sidebar .vs-sidebar--items {
    	overflow: auto;
	}
	.add-new-data-sidebar .vs-sidebar--footer button.mr-6 {
		margin-right: 0 !important;
	}
	.add-new-data-sidebar .vs-sidebar--footer button {
    	width: 100%;
	}
	.vx-card__footer .flex {
		display: block !important;
	}
	.total .tot_left {
		margin-left: 25px;
	}
	.vx-card .vx-card__collapsible-content.vs-con-loading__container .ml-auto {
		margin-left: 0 !important;
		width: 100% !important;
	}
	.total .tot_left p {
		font-size: 13px;
		margin-bottom: 10px;
	}
	.export-table .vs-table--header, .export-table .vs-table--search {
    	display: block;
	}
	.export-table .vs-table--header button.ml-5 {
		margin-left: 0 !important;
	}
	.export-table header.header-table.vs-table--header .ml-5 {
		margin-left: 0 !important;
	}
	.export-table .con-input-search.vs-table--search {
		margin-left: 0;
	}
	.export-table .vs-con-table .vs-table--header .vs-table--search i {
		left: 15px;
		top: 25px;
	}
	
	/*Order details page*/
	.vx-card .vx-card__collapsible-content .vx-card__body {
		overflow: auto;
		margin: 10px;
	}	
	/*Order details page*/
	
	.detail_buttons button.mr-3 {
		margin-right: 0 !important;
	}
	.detail_buttons button {
		margin-bottom: 15px;
	}
	
	/*Gift cards view*/
	.demo-alignment .vs-col.vs-xs-.vs-sm-.vs-lg- {
		display: block !important;
		margin-left: 0 !important;
		width: 100% !important;
	}
	/*Gift cards view*/
	
	.ticket_comment .comment-text {
		width: 100%;
	}
	.chat_reply {
		width: 100% !important;
		padding: 0 !important;
	}
	.vx-card__body.chat_reply form {
		padding: 0 10px 0 0;
	}
		.chat_reply .vx-row>.vx-col.sm\:w-1\/6 {
		width: 40% !important;
	}
		.chat_reply .vx-row>.vx-col.sm\:w-5\/6 {
		width: 60% !important;
	}
		.chat1 .ticket_comment {
		padding: 0px;
	}
		.chat1 .ticket_cont ul {
		overflow: auto;
	}
	.user-details table td {
    	min-width: 115px;
	}
	.chat1 .chat_head h2 {
		font-size: 14px;
	}
	.vx-card .vx-card__collapsible-content .vx-card__body.chat_reply {
		overflow: inherit;
	}
	.vx-card__body form button.vs-component.vs-button.mr-3.mb-2.vs-button-warning.vs-button-border {
		width: 100%;
	}
	.apexcharts-legend-series {
		width: 100px !important;
	}
	.shopify_cbn {
		display: block;
	}
	.shopify_cbn .vx-col {
		display: block;
		margin: 0 auto;
		width: 100% !important;
	}
	.chat1 .ticket_comment>div {
		display: block;
		margin: 0 auto;
    	text-align: center;
	}
	.chat1 .comment-cont {
		margin-left: 0;
	}
	.chat1 .ticket_comment .comment-img {
		display: block;
		margin-top: 10px;
	}
	.chat1 .ticket_comment .comment-img img {
		margin: 0 auto;
	}
	.chat1 .comment-file-img {
		top: 1px;
	}
	.vx-breadcrumb.hidden {
		display: block !important;
		margin-top: 10px;
	}
.cms_btn .vs-button {
   width: 40%;
   float: right;
}
.cms_btn.flex {
	display: block !important;
}
#page-user-list .vs-button {
    margin-top: 20px;
}
.width_btn .vs-button-primary {
    width: 40%;
}
.width_btn.flex {
	display: block !important;
}
}

@media screen and (max-width: 575px) {
.vs-tabs--content .vx-card__body form {
    width: 220px;
} 
}

/* Responsive for mobile end*/
