<template>	
    <vx-card title="Products Review and Ratings"> 
        <vs-table pagination :max-items="10" search :data="products">
            <template slot="thead">
                <vs-th sort-key="product_name">Product Name</vs-th>
                <vs-th sort-key="average_rating">Rating</vs-th>
                <vs-th sort-key="totalreview">Reviews</vs-th>
                <vs-th sort-key="review_id">Action</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].product_name">
                        {{data[indextr].product_name}}
                    </vs-td>

                    <vs-td :data="data[indextr].average_rating">
                       <star-rating :rtl="$vs.rtl" :rating="data[indextr].average_rating" :read-only="true" :show-rating="false" :increment="0.01" :star-size="20"></star-rating>
                    </vs-td>

                    <vs-td :data="data[indextr].totalreview">
                        {{data[indextr].totalreview}}
                       
                    </vs-td>

                    <vs-td :data="data[indextr].review_id">
                        <vs-button size="small" @click.stop="viewReviewList(data[indextr].review_id)">View</vs-button>
                    </vs-td> 
                </vs-tr>
            </template>
        </vs-table> 
    </vx-card>
</template>
<script>
import config from "@/config.js"
import StarRating from 'vue-star-rating'
export default {
    components: {
    StarRating},
    data() {
        return {
            products: []
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
        viewReviewList(reviewid) {
            this.$router.push({ path : '/reports/productreviewlist/'+reviewid });
        },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/reviewproductlist",{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.products = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
					localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
                console.log(error);
            });
        },
       
    }   
}
</script>


    

