<template>
    <div class="vx-row">
            <!-- LINE CHART -->
            <div class="vx-col w-full md:w-2/3 mb-base">
                <vx-card title="Review Details">
                    <template slot="actions">
                        <a href='javascript:void(0)' @click.stop="changeUnpublishedStatus(reviewdetails[0].id)"  v-if="reviewdetails[0].review_status == 1"><vs-chip color="success">Published</vs-chip></a>
                        <a href='javascript:void(0)' @click.stop="changePublishedStatus(reviewdetails[0].id)" v-else><vs-chip color="danger">Unpublished</vs-chip></a>
                    </template>
                    <div slot="no-body" class="p-6 mt-pb-0">
                        
                        <div class="mt-5">
                            <h5 class="mb-2">{{ reviewdetails[0].title }}</h5>
                            <star-rating :rtl="$vs.rtl" :rating="reviewdetails[0].rating" :read-only="true" :show-rating="false" :increment="0.01" :star-size="20"></star-rating>
                            <p class="text-grey pt-3">{{ reviewdetails[0].comment }}</p>
                        </div>
                    </div>
                    <div class="flex justify-between text-center  mt-6" slot="no-body-bottom">
                        <div class="w-full p-6 border border-solid d-theme-border-grey-light border-r-0 border-b-0 border-l-0">
                            <p style="float:left;">{{ reviewdetails[0].name }}({{ reviewdetails[0].email }})</p>
                        </div>
                    </div>
                </vx-card>
                <vx-card title="Reply to review" class="mt-5">
                    <div slot="no-body" class="p-6 mt-pb-0">
                        <div class="post-comment">
                                <vs-textarea label="Add Comment" class="mb-2" v-model="adminreplay" v-validate="'required'"></vs-textarea>
                                <vs-button size="medium" @click="submitReplay">Post Comment</vs-button>
                            </div>
                    </div>
                </vx-card>
            </div>
            <!-- RADIAL CHART -->
            <div class="vx-col w-full md:w-1/3 mb-base">
                <vx-card title="Product Details">
                     <img :src="productdetails[0].product_img" style="width:70px; height:50px;">
                    <div class="flex justify-between text-center" slot="no-body-bottom">
                       
                        <div class="w-full p-6 border border-solid d-theme-border-grey-light border-r-0 border-b-0 border-l-0">
                            <p style="float:left;">{{ productdetails[0].product_name }}</p><br>
                            <star-rating :rtl="$vs.rtl" :rating="productdetails[0].average_rating" :read-only="true" :show-rating="false" :increment="0.01" :star-size="15"></star-rating>
                        </div>
                    </div>
                </vx-card>
            </div>
        </div>
</template>
<script>
import config from "@/config.js"
import StarRating from 'vue-star-rating'
export default {
    components: {
    StarRating
    },
    data() {
        return {
            reviewdetails: [],
            productdetails:[],
            adminreplay:'',
            review_id :'',
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
        changePublishedStatus(id){
            this.$vs.loading();
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/changepublishedstatus/"+id+"/"+this.review_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.fetchData();
            })
        },
        changeUnpublishedStatus(id){
            this.$vs.loading();
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/changeunpublishedstatus/"+id+"/"+this.review_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                
                this.fetchData();
            })
        },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/reviewdatails/"+this.$route.params.id,{ headers: { Authorization: AuthStr } })
            .then(response => { 
                this.adminreplay = response.data.reviewdetails[0].admin_reply;
                this.review_id = response.data.reviewdetails[0].review_id;
                this.reviewdetails = response.data.reviewdetails;
                this.productdetails = response.data.productdetails;
                this.$vs.loading.close()
            })
            .catch(error => {
               	localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
        submitReplay(){
            this.$validator.validateAll().then(result => {
                if(result) {
                    const formData ={
                        adminreplay : this.adminreplay,
                        id : this.$route.params.id
                    }
                    const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
                    this.$http.post(config.apiUrl +"api/admin/sendreviewreplay",formData,{ headers: { Authorization: AuthStr } })
                    .then(response => {
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Review and Rating',
                            text: 'Comment successfully update',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'success'
                        })
                    })
                    .catch(error => {
                        console.log(error);
                        this.$vs.loading.close()
                        this.$vs.notify({
                            title: 'Review and Rating',
                            text: 'Please check values',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'warning'
                        })
                    });


                }else{
                    this.$vs.loading.close()
                    this.$vs.notify({
                            title: 'Review and Rating',
                            text: 'Please fill the fields',
                            iconPack: 'feather',
                            icon: 'icon-alert-circle',
                            color: 'warning'
                    })
                }
            })  
        },
       
    }   
}
</script>