<template>
<div>
	 <div class="vx-row shopify_cbn mb-5">
                    <div slot="no-body" class="vx-col w-1/5 text-center">
                        <div class="mt-5">
                            <h5 class="mb-2">{{ productdetails[0].product_name }}</h5>
                            <img :src="productdetails[0].product_img" style="width:70px; height:50px;">
                        </div>
                    </div>
                    <div slot="no-body" class="vx-col w-1/5 text-center">
                        <div class="mt-5">
                            <h5 class="mb-2"><star-rating :rtl="$vs.rtl" :rating="productdetails[0].average_rating" :read-only="true" :show-rating="false" :increment="0.01" :star-size="20"></star-rating></h5>
                            <p class="text-grey pt-3">Average Rating</p>
                        </div>
                    </div>
                    <div slot="no-body" class="vx-col w-1/5 text-center">
                        <div class="mt-5">
                            <h5 class="mb-2">{{ published[0].published }}</h5>
                            <p class="text-grey pt-3">Published</p>
                        </div>
                    </div>
                    <div slot="no-body" class="vx-col w-1/5 text-center">
                        <div class="mt-5">
                            <h5 class="mb-2">{{ unpublished[0].unpublished }}</h5>
                            <p class="text-grey pt-3">Unpublished</p>
                        </div>
                    </div>
                    <div slot="no-body" class="vx-col w-1/5 text-center">
                        <div class="mt-5">
                            <h5 class="mb-2">{{ newcount[0].new }}</h5>
                            <p class="text-grey pt-3">New</p>
                        </div>
                    </div>
        </div> 

<div class="vx-row">
    <vx-card title="Products Review List">
       
        <vs-table pagination :max-items="10" search :data="review">
            <template slot="thead">
                <vs-th sort-key="name">Name</vs-th>
                <vs-th sort-key="rating">Rating</vs-th>
                <vs-th sort-key="title">Reviews Title</vs-th>
                <vs-th sort-key="update_on">Date</vs-th>
                <vs-th sort-key="update_on">Status</vs-th>
                <vs-th sort-key="update_on">Read  Status</vs-th>
                <vs-th sort-key="id">Action</vs-th>
            </template>

            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="data[indextr].name">
                        {{data[indextr].name}}
                    </vs-td>
                    <vs-td :data="data[indextr].rating">
                       <star-rating :rtl="$vs.rtl" :rating="data[indextr].rating" :read-only="true" :show-rating="false" :increment="0.01" :star-size="20"></star-rating>
                    </vs-td>
                    <vs-td :data="data[indextr].title">
                        {{data[indextr].title}}
                       
                    </vs-td>
                    <vs-td :data="data[indextr].update_on">
                        {{data[indextr].update_on}}
                    </vs-td>
                     <vs-td :data="data[indextr].update_on">
                        <vs-chip color="success" v-if="data[indextr].review_status == 1" >Published</vs-chip>
                        <vs-chip color="danger" v-else>Unpublished</vs-chip>
                    </vs-td>
                     <vs-td :data="data[indextr].update_on">
                        <vs-chip color="success" v-if="data[indextr].new_status == 1" >Read</vs-chip>
                        <vs-chip color="danger" v-else>UnRead</vs-chip>
                    </vs-td>

                    <vs-td :data="data[indextr].id">
                        <vs-button size="small" @click.stop="viewReviewDetails(data[indextr].id)">View</vs-button>
						<feather-icon icon="TrashIcon" class="ml-4" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="deleteCourse(data[indextr].id)" />
                    </vs-td> 
                </vs-tr>
            </template>
        </vs-table> 
    </vx-card>
</div>
</div>
</template>
<script>
import config from "@/config.js"
import StarRating from 'vue-star-rating'
export default {
    components: {
    StarRating},
    data() {
        return {
            review: [],
            productdetails:'',
            published:'',
            unpublished:'',
            newcount:'',
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {
			      deleteCourse (id) {

    this.delete_id=id,
        this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Do you want to delete Review',
                accept: this.acceptAlert,
            })

          //  this.$router.push({ path : '/coaching/managecoaching'});
        },
		 acceptAlert() {

 
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/deletereview/"+this.delete_id,{ headers: { Authorization: AuthStr } }) 
            .then(response => {
               this.fetchCourse();
                console.log(response)             
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Review',
                    text: 'Review Deleted',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                    })
                   // this.$router.push({ path : '/coaching/managecoaching'});
            })
            
             this.$router.push({ path : '/reports/review' });
        },
        viewReviewDetails(id) {
            this.$router.push({ path : '/reports/reviewdetails/'+id });
        },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/productreviewlist/"+this.$route.params.reviewid,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.review = response.data.reviewlist;
                this.productdetails = response.data.productdetails;
                this.published = response.data.published;
                this.unpublished = response.data.unpublished;
                this.newcount = response.data.new;
                this.$vs.loading.close()
            })
            .catch(error => {
               	localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
       
    }   
}
</script>

<style>

.shopify_cbn {
    background:#fff;
    border-radius: .5rem;
    box-shadow: 0px 4px 25px 0px  rgba(0, 0, 0, 0.1);
    padding: 30px 0;
}

.shopify_cbn .vue-star-rating {
    display: block !important;
    align-items: center;
}
</style>


    

