<template>
    <vx-card title="Genealogy">
        <div id="tree"></div>
    </vx-card>
</template>

<script>
import config from "@/config.js"
import  OrgChart from  '@balkangraph/orgchart.js/orgchart.js'
    export default {
    data() {
        return {
        }
    },
    created() {
       return this.fetchData();
    },
    methods: {

        
        fetchData() {
             this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            
            

             if(this.$route.params.matrix_id !=''){
                this.matrix_id=this.$route.params.matrix_id;
            }else{
                this.matrix_id='1';
            }


            this.$http.get(config.apiUrl +"api/admin/getdefaultuser/"+this.matrix_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.members_id=response.data;
             this.$http.get(config.apiUrl +"api/admin/getgenealogydata/"+this.members_id+'/'+this.matrix_id,{ headers: { Authorization: AuthStr } })
            .then(response => {
                if(response.data != '') {
                   new OrgChart(document.getElementById("tree"), {
                             //template: "ula",
                             toolbar: {
                                 layout: true,
                                 zoom: true,
                                 fit: true,
                                 expandAll: true
                             },
                    
                               // layout: OrgChart.tree,
                                align: OrgChart.ORIENTATION, 
                                nodeBinding: {
                                field_0: "name",
                                field_1: "title",
                                img_0: "img"
                            },
                             zoom: {
                                speed: 0,
                                smooth: 0
                                },
                            enableDragDrop: true,
                            nodes: response.data
                    
                    } );
                      }
                this.$vs.loading.close()
            }).catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });


                });  
            
        },
    }
}

    
</script>

<style lang="scss">
html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
}

#tree {
    width: 100%;
    height: 100%;
}
.bg-toolbar-container{
    position: absolute;
    padding: 3px;
    right: 30px;
    top: 0px;
}
</style>
