<!-- =========================================================================================
   File Name: DataListListView.vue
   Description: Data List - List View
   ----------------------------------------------------------------------------------------
   Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
   Author: Pixinvent
   Author URL: http://www.themeforest.net/user/pixinvent
   ========================================================================================== -->
<template>
   <div id="data-list-list-view" class="data-list-container">
      <vx-card>
         <form>
            <div slot="no-body" class="full-page-bg-color">
               <div class="">
                  <div class="vx-col sm:w-full md:w-full lg:w-1/2 self-center d-theme-dark-bg">
                     <div class="p-8">
                        <div class="vx-row mb-2">
                           <h5>Create Order</h5>
                        </div>
                        <div class="vx-row mb-6 mt-10">
                           <div class="vx-col sm:w-1/3 w-full">
                              <span>Username</span>
                           </div>
                           <div class="vx-col sm:w-2/3 w-full">
                              <v-select class="inputx sm:w-3/3" v-model="members_id" :options="optionmembers_id" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"  v-on:input="changeselect($event)"></v-select>
                           </div>
                        </div>
						 <div class="vx-row mb-6 mt-10">
                           <div class="vx-col sm:w-1/3 w-full">
                              <span>Payment Gateway :</span>
                           </div>
                           <div class="vx-col sm:w-2/3 w-full">
                              <v-select class="inputx sm:w-3/3" v-model="paymentgateway" :options="paymentgatewaylist" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>
                           </div>
							 
                        </div>
						 
						  <vs-collapse-item icon-pack="feather" icon-arrow="icon-plus-square"  class="ml-2 sm:w-1/2 gift_checkout cursor-pointer">
                                    <div slot="header">
                                        Add Gift Card
                                    </div>
                                <vx-input-group >
                                <vs-input v-model="giftcard" />

                                <template slot="append">
                                    <div class="append-text btn-addon">
                                    <vs-button color="primary" v-on:click="valueCalculate"  :disabled="disablestatus">Apply</vs-button>
                                    </div>
                                </template>
                                </vx-input-group>
                                <span class="text-danger pb-3" v-show="giftstatus === false">Invalid Gift Code</span>
                                 </vs-collapse-item>
						 
                     </div>

                    <!--new -->
                    <div class="p-8">
                        <div class="vx-row mb-2">
                           <h5>Billing Address</h5>
                        </div>
                      
                     <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required'"
                              name="address1"
                              label="Address 1"
                              v-model="address1"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.houseNum')" class="text-danger">{{ errors.first('add-new-address.houseNum') }}</span>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required'"
                              name="address2"
                              label="Address 2"
                              v-model="address2"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.houseNum')" class="text-danger">{{ errors.first('add-new-address.houseNum') }}</span>
                        </div>
                     </div>
                     <div class="vx-row">
                       <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              name="landmark"
                              label="Landmark"
                              v-model="landmark"
                              class="w-full mt-5" />
                        </div>
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required|digits:10'"
                              name="mobileNum"
                              label="Mobile Number:"
                              v-model="mobileNum"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.mobileNum')" class="text-danger">{{ errors.first('add-new-address.mobileNum') }}</span>
                        </div>
                     </div>
                     <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required'"
                              name="city"
                              label="Town/City:"
                              v-model="city"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.city')" class="text-danger">{{ errors.first('add-new-address.city') }}</span>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required|min:3|max:6|alpha_num'"
                              name="pincode"
                              label="Zipcode:"
                              v-model="pincode"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.pincode')" class="text-danger">{{ errors.first('add-new-address.pincode') }}</span>
                        </div>
                     </div>
                     <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required'"
                              name="state"
                              label="State:"
                              v-model="state"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.state')" class="text-danger">{{ errors.first('add-new-address.state') }}</span>
                        </div>
             
						 
						 
						     <div class="vx-col sm:w-1/2 w-full">
							    <div class="vx-col w-full mt-5"><span class="vs-input--label">Country</span></div>               	
<v-select class="inputx sm:w-3/3 mt-0"  v-model="country" name="countryname" :options="country_list" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="countryoption"></v-select>
<span class="text-danger">{{ errors.first('country') }}</span>

                        </div>
						 
                     </div>
                     <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-select label="Address Type:" v-model="addressType" class="w-full mt-5">
                              <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in addressTypeOptions" />
                           </vs-select>
                        </div>
                     </div>
                     <ul class="centerx mt-5 mb-5">
                        <li>
                           <vs-checkbox v-model="sameaddress" v-on="sameAddress()">shipping address same as billing address</vs-checkbox>
                        </li>
                     </ul>
                  </div>


                  <div class="p-8">
                        <div class="vx-row mb-2">
                           <h5>Shipping Address</h5>
                        </div>
                      
                     <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required'"
                              name="shipping_address1"
                              label="Address 1"
                              v-model="shipping_address1"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.houseNum')" class="text-danger">{{ errors.first('add-new-address.houseNum') }}</span>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required'"
                              name="shipping_address2"
                              label="Address 2"
                              v-model="shipping_address2"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.houseNum')" class="text-danger">{{ errors.first('add-new-address.houseNum') }}</span>
                        </div>
                     </div>
                     <div class="vx-row">
                       <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              name="shipping_landmark"
                              label="Landmark"
                              v-model="shipping_landmark"
                              class="w-full mt-5" />
                        </div>
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required|digits:10'"
                              name="shipping_mobileNum"
                              label="Mobile Number:"
                              v-model="shipping_mobileNum"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.mobileNum')" class="text-danger">{{ errors.first('add-new-address.mobileNum') }}</span>
                        </div>
                     </div>
                     <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required'"
                              name="shipping_city"
                              label="Town/City:"
                              v-model="shipping_city"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.city')" class="text-danger">{{ errors.first('add-new-address.city') }}</span>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required|min:3|max:6|numeric'"
                              name="shipping_pincode"
                              label="Zipcode:"
                              v-model="shipping_pincode"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.pincode')" class="text-danger">{{ errors.first('add-new-address.pincode') }}</span>
                        </div>
                     </div>
                     <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full">
                           <vs-input
                              v-validate="'required'"
                              name="shipping_state"
                              label="State:"
                              v-model="shipping_state"
                              class="w-full mt-5" />
                           <span v-show="errors.has('add-new-address.state')" class="text-danger">{{ errors.first('add-new-address.state') }}</span>
                        </div>
						 
						  <div class="vx-col sm:w-1/2 w-full">
							     <div class="vx-col w-full mt-5"><span class="vs-input--label">Country</span></div>                        	
<v-select class="inputx sm:w-3/3 mt-0"  v-model="shipping_country" name="shipping_country" :options="country_list" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="countryoption"></v-select>
<span class="text-danger">{{ errors.first('country') }}</span>

                        </div>
                        
                     </div>
                  </div>

                  <!--new -->   
                  </div>
               </div>
            </div>
         </form>
		  
		  
        <div class="p-8">
         <div class="vx-row mb-2">
                           <h5>Add Product</h5>
                        </div>
        </div>
         <data-view-sidebar :isSidebarActive="addNewDataSidebar" @closeSidebar="toggleDataSidebar" :data="sidebarData" />
         <vs-table ref="table" multiple v-model="selected"  :max-items="itemsPerPage" :data="products">
            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
               <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                  <!-- ADD NEW -->
                  <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                     <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                     <span class="ml-2 text-base text-primary">Add New Product</span>
                  </div>
               </div>
            </div>
            <template slot="thead">
               <vs-th sort-key="name">Product Name</vs-th>
               <vs-th sort-key="category">Quantity</vs-th>
               <vs-th sort-key="popularity">Unit Price</vs-th>
               <vs-th sort-key="order_status">Total Price</vs-th>
               <vs-th sort-key="price" v-if="shippingtype == 0">Shipping Cost</vs-th>
               <vs-th sort-key="price">Discount Price</vs-th>
            </template>
            <template slot-scope="{data}">
               <tbody>
                  <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                     <vs-td>
                        <p class="product-name font-medium truncate">{{ tr.product_name }}</p>
                     </vs-td>
                     <vs-td>
                        <p class="product-category">{{ tr.quantity }}</p>
                     </vs-td>
                     <vs-td>
                        <p class="product-name font-medium truncate">{{ currency }}{{ tr.unit_price }}</p>
                     </vs-td>
                     <vs-td>
                        <p class="product-name font-medium truncate">{{ currency }}{{ tr.total_price }}</p>
                     </vs-td>
                     <vs-td  v-if="shippingtype == 0">
                        <p class="product-price">{{ currency }}{{ tr.shipping_cost }}</p>
                     </vs-td>
                     <vs-td>
                        <p class="product-name font-medium truncate">{{ currency }}{{ tr.discount }}</p>
                     </vs-td>
                     <vs-td class="whitespace-no-wrap">
                        <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(indextr,tr.unit_price,tr.total_price,tr.shipping_cost,tr.quantity,tr.discount)" />
                     </vs-td>
                  </vs-tr>
               </tbody>
            </template>
         </vs-table>
         <div class=" w-2/5 ml-auto mt-4">
            <ul class="total">
               <li class="total_count mb-4">
                  <div class="tot_left">
                     <p class="font-medium">Total Amount :</p>
                  </div>
                  <div class=" tot_right">
                     <p class="font-medium">{{ currency }} {{ price.total_unit_price }}</p>
                  </div>
               </li>
              <li class="total_count mb-4" v-if="shippingtype == 0">
                  <div class="tot_left">
                     <p class="font-medium">Shipping :</p>
                  </div>
                  <div class=" tot_right">
                     <p class="font-medium">{{ currency }} {{ price.total_shipping_cost }}</p>
                  </div>
               </li>
               <li class="total_count mb-4" v-else>
                  <div class="tot_left">
                     <p class="font-medium">Shipping :</p>
                  </div>
                  <div class=" tot_right">
                     <p class="font-medium">{{ currency }} {{ autoshippingprice }}</p>
                  </div>
               </li>
               <li class="total_count mb-4">
                  <div class="tot_left">
                     <p class="font-medium">Discount :</p>
                  </div>
                  <div class=" tot_right">
                     <p class="font-medium">{{ currency }} {{ price.total_discount }}</p>
                  </div>
               </li>
               <li class="total_count mb-4">
                  <div class="tot_left">
                     <p class="font-medium">Net Amount :</p>
                  </div>
                  <div class=" tot_right">
                     <p class="font-medium">{{ currency }} {{ price.total_total_price }}</p>
                  </div>
               </li>
			
		    <li class="total_count mb-4" v-if="price.giftcardbalance >= 0" >
                  <div class="tot_left">
                     <p class="font-medium">Giftcard :</p>
                  </div>
                  <div class=" tot_right">
                     <p class="font-medium">{{ currency }} {{price.giftcardbalance}}</p>
                  </div>
               </li>
					               <li class="total_count mb-4" v-if="price.amountpayabletotalmrp >= 0">
                  <div class="tot_left">
                     <p class="font-medium">Amount Payable :</p>
                  </div>
                  <div class=" tot_right">
                     <p class="font-medium">{{ currency }} {{ price.amountpayabletotalmrp }}</p>
                  </div>
               </li>
				<li class="total_count mb-4" v-else-if="shippingtype == 1">
                  <div class="tot_left">
                     <p class="font-medium">Amount Payable :</p>
                  </div>
                  <div class=" tot_right">
                     <p class="font-medium">{{ currency }} {{ finalshippingmrp }}</p>
                  </div>
               </li>
               <li class="total_count mb-4" v-else>
                  <div class="tot_left">
                     <p class="font-medium">Amount Payable :</p>
                  </div>
                  <div class=" tot_right">
                     <p class="font-medium">{{ currency }} {{ price.total_total_price }}</p>
                  </div>
               </li>
               
            </ul>
         </div>

         <div class="flex flex-wrap items-center p-6" slot="footer">
            <vs-button class="mr-6" @click="submitData">Submit</vs-button>
         </div>
      </vx-card>
   </div>
</template>
<script>
   import DataViewSidebar from './DataViewSidebar.vue'
   import moduleDataList from "@/store/data-list/moduleDataList.js"
   import config from "@/config.js"
   import vSelect from 'vue-select'
   
   export default {
     components: {
       DataViewSidebar,
       'v-select': vSelect,
     },
     data() {
       return {
		   countryoption:'',
          shippingtype:'',
          autoshippingprice:'',
          autoshippingstatus:'',
          finalshippingmrp:'',
		   currency:'', 
		    giftdata:[],
		    giftstatus:true,
		  giftcard:"",
         members_id:'', 
		    country_list:[],
		 // selected: [],
         optionmembers_id: [],
         selected: [],
         products: [],
         price: [],
         itemsPerPage: 4,
         isMounted: false,
		 paymentgateway:[
            {"id":2,"label":"Bankwire"}
         ],
         paymentgatewaylist:[
            {"id":2,"label":"Bankwire"}
         ],
         //new
          address1:'',
          address2:'',
          landmark:'',
          mobileNum:'',
          city:'',
          pincode:'',
          state:'',
          country:'',
          sameaddress:false,
          addressType: 1,
          addressTypeOptions: [
              { text: 'Home', value: 1 },
              { text: 'Office', value: 2 },
          ],
          shipping_address1:'',
          shipping_address2:'',
          shipping_landmark:'',
          shipping_mobileNum:'',
          shipping_city:'',
          shipping_pincode:'',
          shipping_state:'',
          shipping_country:'',
         //new
   
         // Data Sidebar
         addNewDataSidebar: false,
         sidebarData: {},
              
   
       }
     },
     computed: {
       currentPage() {
         if(this.isMounted) {
           return this.$refs.table.currentx
         }
         return 0
       },
      
       queriedItems() {
         return this.$refs.table ? this.$refs.table.queriedResults.length : this.products.length
       },
        isFormValid() {
          return this.members_id 
        }
     },
      
       headers: {
           'Content-Type': 'multipart/form-data'
       }, 
     methods: { 
		 getshippingtype(){
            this.$http.get(config.apiUrl +"api/user/getshippingtype")
            .then(response => {
                if(response.data[0].sitesettings_value == 'Auto'){
                    this.shippingtype = 1;
                }else{
                    this.shippingtype = 0;
                }
            })
             .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
		    getcurrencydetails(){

      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcurrency",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.currency = response.data;                                       
            })
             .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });

    },
		  valueCalculate(){
            // this.$vs.loading()
              let gift_obj = {
                  members_details: this.members_id,
                  giftcard : this.giftcard.trim(),
                  totalmrp : this.price.total_total_price,
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
               this.$http.post(config.apiUrl +"api/admin/getgift",gift_obj,{ headers: { Authorization: AuthStr } })
                    .then(response => {

					console.log(response.data);
				  // this.giftdata=response.data[0];
				  // this.giftcardbalance=this.giftdata.balance;
                    if(response.data === false){
                            this.giftstatus=false;
                        }
                        else{
							this.disablestatus=true;
                            this.giftstatus=true;
                            this.giftdata=response.data[0];
                        this.price.giftcardbalance=this.giftdata.balance;
                        let giftcardamount=this.giftdata.amount;
                            
							if(giftcardamount >= this.price.total_total_price){
                               let remaingift=this.giftdata.balance-this.price.total_total_price;
                                 let remaingift_obj = {
                                    remain_balance: remaingift,
                                    giftcard : this.giftcard.trim(),
                                    giftcardamount:this.giftdata.amount
                                }
                                const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
               					this.$http.post(config.apiUrl +"api/admin/updategiftbal",remaingift_obj,{ headers: { Authorization: AuthStr } })
                                .then(response => {
                                    if(response.data === true){
                                     this.price.amountpayabletotalmrp=0;
									//this.price.amountpayabletotalmrp=this.price.total_total_price-this.giftdata.balance;
                                    }
                                });
                            }
                            else{
								//this.price.amountpayabletotalmrp=0;
								// this.giftcardamount=this.giftdata.amount
                                this.price.amountpayabletotalmrp=this.price.total_total_price-this.giftdata.balance;
                            }
                        }                           
                      //  this.$vs.loading.close()
                      
                        
                    })
			   .catch(error => {
                console.log(error);
            });
        },
		 countrylist() {  
			 const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
               this.$http.get(config.apiUrl +"api/admin/getcountrylist",{ headers: { Authorization: AuthStr } })
           // const AuthStr = 'Bearer '.concat(localStorage.getItem('user_token'));
           // this.$http.get(config.apiUrl +"api/user/getcountrylist",{ headers: { Authorization: AuthStr } })
            .then(response => {
                //console.log(response);
                this.country_list = response.data;
            })
             .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },

       sameAddress(){
          if(this.sameaddress){
            this.shipping_address1  = this.address1;
            this.shipping_address2  = this.address2;
            this.shipping_landmark  = this.landmark;
            this.shipping_mobileNum = this.mobileNum;
            this.shipping_city      = this.city;
            this.shipping_pincode   = this.pincode;
            this.shipping_state     = this.state;
            this.shipping_country   = this.country;
          }
       },
       changeselect(membersdetails){
          const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
               this.$http.get(config.apiUrl +"api/admin/getmembersdetails/"+membersdetails.id,{ headers: { Authorization: AuthStr } })
               .then(response => {       
                   this.address1 = response.data[0].members_address;   
                   this.address2 = response.data[0].members_address2;   
                   this.landmark = response.data[0].members_address3;
                   this.mobileNum = response.data[0].members_phone;   
                   this.city = response.data[0].members_city;      
                   this.pincode = response.data[0].members_zip; 
                   this.state = response.data[0].members_state;      
                   this.country = response.data[0].country_master_name;
                   console.log(this.country);                         
               })
               .catch(error => {
                   console.log(error);
               });
       },
   
   	  deleteData(index,unitprice,totprice,shipcost,quanti,discount) {
   
   
   const old_price_details = localStorage.getItem('price_details');
    var price_details;
   if(old_price_details){
                 
                 var priObj = JSON.parse(old_price_details);
      
                 var total_unit_price = +priObj.total_unit_price - +totprice;
                 var total_shipping_cost = +priObj.total_shipping_cost - +shipcost;
                 var total_discount = +priObj.total_discount - +discount;
                 var temp_total_price = (+totprice + +shipcost) - discount;
                 var total_total_price = +priObj.total_total_price - +temp_total_price;
	  
	   
                 console.log(priObj.total_total_price );
                 price_details = {
                   total_unit_price : total_unit_price,
                   total_total_price : total_total_price,
                   total_shipping_cost : total_shipping_cost,
                   total_discount : total_discount
                 }
   
   
   }
    
   var myObjpri = JSON.stringify(price_details);
               localStorage.setItem('price_details', myObjpri);
   var price_list = localStorage.getItem('price_details');
   this.price = JSON.parse(price_list);
           this.$delete(this.products, index)
         
       },
         getcategories(){
           const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
               this.$http.get(config.apiUrl +"api/admin/getmemberslist",{ headers: { Authorization: AuthStr } })
               .then(response => {     
                                 
                   this.optionmembers_id = response.data;                                       
               })
               .catch(error => {
                   console.log(error);
               });
           },
   
       submitData() {
           if(this.members_id != '') {
               this.$vs.loading()
   
               var product_list = '[' + localStorage.getItem('order_product_list') + ']';
               product_list = JSON.parse(product_list);
               console.log(product_list);
			   var shipping_country = '';
               if(this.shipping_country.label){
                  shipping_country = this.shipping_country.label;
               }else{
                  shipping_country = this.shipping_country;
               }
               var country = '';
               if(this.country.label){
                  country = this.country.label;
               }else{
                  country = this.country;
               }
               let obj = {
                     members_id: this.members_id,
                     product_list : this.products,
                     address1 : this.address1,
                      address2 : this.address2,
                      landmark  : this.landmark,
                      mobileNum : this.mobileNum,
                      city : this.city,
                      pincode : this.pincode,
                      state : this.state,
                      country : country,
				     // country : this.selected,
                      addressType : this.addressType,
                      shipping_address1 : this.shipping_address1,
                      shipping_address2 : this.shipping_address2,
                      shipping_landmark : this.shipping_landmark,
                      shipping_mobileNum : this.shipping_mobileNum,
                      shipping_city : this.shipping_city,
                      shipping_pincode : this.shipping_pincode,
                      shipping_state : this.shipping_state,
                      shipping_country : shipping_country,
				   	  paymentgateway : this.paymentgateway[0],
				   	  autoshippingprice :this.autoshippingprice,
                      autoshippingstatus : this.autoshippingstatus,
               }
              const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
              this.$http.post(config.apiUrl +"api/admin/sendneworder",obj,{ headers: { Authorization: AuthStr } })
               .then(response => {
                   console.log(response);
                   this.$vs.notify({
                       title: 'Order Created',
                       text: 'Order Created Successfully ',
                       iconPack: 'feather',
                       icon: 'icon-alert-circle',
                       color: 'success'
                   })
                   var myObjStr = '';
                   var myObjpri = '';
                   localStorage.setItem('order_product_list', myObjStr);
                   localStorage.setItem('price_details', myObjpri);
                    this.$vs.loading.close()
                   this.$router.push({ path : '/order/orderhistory' });
                   
               })
               .catch(error => {
                   console.log(error);
                   this.$vs.loading.close()
                   this.$vs.notify({
                       title: 'Failed',
                       text: error.response.data.errors.message,
                       iconPack: 'feather',
                       icon: 'icon-alert-circle',
                       color: 'warning'
                   })
               }); 
   
           }else{
               this.$vs.loading.close()
               this.$vs.notify({
                       title: 'Order Create',
                       text: 'Please fill all fields',
                       iconPack: 'feather',
                       icon: 'icon-alert-circle',
                       color: 'warning'
               })
           }
       },
   
       addNewData() {
         this.sidebarData = {}
         this.toggleDataSidebar(true)
       },
       
       
       toggleDataSidebar(val=false) {
         /*var myObjStr = '';
         var myObjpri = '';
          localStorage.setItem('order_product_list', myObjStr);
               localStorage.setItem('price_details', myObjpri);*/
         this.addNewDataSidebar = val
         var product_list = localStorage.getItem('order_product_list');
   		
         var price_list = localStorage.getItem('price_details');
         console.log(price_list);
         if(product_list){
           product_list = '[' + product_list + ']';
           var array = JSON.parse(product_list);
   
          
           var filtered = array.filter(function (el) {
             return el != null;
           });
   
           if(this.shippingtype == 1){
                  this.products = filtered;
                  this.price = JSON.parse(price_list);
                  this.price.total_total_price = this.price.total_total_price - this.price.total_shipping_cost;
                  product_list = JSON.parse(product_list); console.log(product_list);
                   var shipping_country = '';
                  if(this.shipping_country.label){
                     shipping_country = this.shipping_country.label;
                  }else{
                     shipping_country = this.shipping_country;
                  }
                  let obj ={
                     address : this.shipping_address1,
                     city : this.shipping_city,
                     pincode : this.shipping_pincode,
                     state : this.shipping_state,
                     country : shipping_country,
                     product_list : product_list,
                                             
                  }
                  this.$http.post(config.apiUrl +"api/admin/getautoshipping",obj)
                  .then(response => {
                     this.autoshippingprice=response.data;
                     this.finalshippingmrp = this.price.total_total_price + response.data;
                     this.autoshippingstatus=1;
                     this.$vs.loading.close()  
                  })
                  .catch(error => {
                     console.log(error);
                  });
            }else{
                  this.products = filtered;
                  this.price = JSON.parse(price_list);
                  this.autoshippingprice=0;
                  this.autoshippingstatus=0;
            }
         }
   
         
   
         console.log(filtered);
       },
       fetchData() {
   
          var product_list = localStorage.getItem('order_product_list');      
              localStorage.removeItem('order_product_list');
              localStorage.removeItem('price_details');
              console.log(product_list);
           },
           
     },
     created() {
   
       if(!moduleDataList.isRegistered) {
         this.$store.registerModule('dataList', moduleDataList)
         moduleDataList.isRegistered = true
       }
       this.$store.dispatch("dataList/fetchDataListItems")
       return this.getshippingtype(),this.getcategories(),this.fetchData(),this.countrylist(),this.getcurrencydetails();
		 },
     mounted() {
       this.isMounted = true;
     }
   }
</script>
<style lang="scss">
   .total .not-data-table.vs-table--not-data {
   display: none;
   }
   .tot_left {
   float: left;
   width: 45%;
   margin-left: 45px;
   }
	.vs-collapse-item--icon-header {
	   left: 0 !important;
	}
	.gift_checkout i {
		font-size: 1.2em;
	}
   #data-list-list-view {
   .vs-con-table {
   /*
   Below media-queries is fix for responsiveness of action buttons
   Note: If you change action buttons or layout of this page, Please remove below style
   */
   @media (max-width: 689px) {
   .vs-table--search {
   margin-left: 0;
   max-width: unset;
   width: 100%;
   .vs-table--search-input {
   width: 100%;
   }
   }
   }
   @media (max-width: 461px) {
   .items-per-page-handler {
   display: none;
   }
   }
   @media (max-width: 341px) {
   .data-list-btn-container {
   width: 100%;
   .dd-actions,
   .btn-add-new {
   width: 100%;
   margin-right: 0 !important;
   }
   }
   }
   .product-name {
   max-width: 23rem;
   }
   .vs-table--header {
   display: flex;
   flex-wrap: wrap;
   margin-left: 1.5rem;
   margin-right: 1.5rem;
   > span {
   display: flex;
   flex-grow: 1;
   }
   .vs-table--search{
   padding-top: 0;
   .vs-table--search-input {
   padding: 0.9rem 2.5rem;
   font-size: 1rem;
   &+i {
   left: 1rem;
   }
   &:focus+i {
   left: 1rem;
   }
   }
   }
   }
   .vs-table {
   border-collapse: separate;
   border-spacing: 0 1.3rem;
   padding: 0 1rem;
   tr{
   box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
   td{
   padding: 20px;
   &:first-child{
   border-top-left-radius: .5rem;
   border-bottom-left-radius: .5rem;
   }
   &:last-child{
   border-top-right-radius: .5rem;
   border-bottom-right-radius: .5rem;
   }
   }
   td.td-check{
   padding: 20px !important;
   }
   }
   }
   .vs-table--thead{
   th {
   padding-top: 0;
   padding-bottom: 0;
   .vs-table-text{
   text-transform: uppercase;
   font-weight: 600;
   }
   }
   th.td-check{
   padding: 0 15px !important;
   }
   tr{
   background: none;
   box-shadow: none;
   }
   }
   .vs-table--pagination {
   justify-content: center;
   }
   }
   }
</style>