<!-- =========================================================================================
  File Name: DataListListView.vue
  Description: Data List - List View
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->
<template>
  <div id="data-list-list-view" class="data-list-container">

     <vx-card>
               <form>
               <div slot="no-body" class="full-page-bg-color">
                  <div class="">
                     <div class="vx-col sm:w-full md:w-full lg:w-1/2 self-center d-theme-dark-bg">
                        <div class="p-8">
                           <div class="vx-row mb-2">
                              <h5>Create Order</h5>
                           </div>

                        

                           <div class="vx-row mb-6 mt-10">
                              <div class="vx-col sm:w-1/3 w-full">
                                 <span>Username</span>
                              </div>
                              <div class="vx-col sm:w-2/3 w-full">

                                <v-select class="inputx sm:w-3/3" v-model="members_id" :options="optionmembers_id" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>   
								  
                                
                              </div>
                           </div>
                           

                           <div class="vx-row mb-2">
                              <h5>Add Product</h5>
                           </div>
                
 
                        </div>
                     </div>
                  </div>
               </div>
               </form>
    <data-view-sidebar :isSidebarActive="addNewDataSidebar" @closeSidebar="toggleDataSidebar" :data="sidebarData" />

    <vs-table ref="table" multiple v-model="selected"  :max-items="itemsPerPage" :data="products">

      <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

        

        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
          

          <!-- ADD NEW -->
          <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
              <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
              <span class="ml-2 text-base text-primary">Add New Product</span>
          </div>
        </div>

        
      </div>

      <template slot="thead">
        <vs-th sort-key="name">Product Name</vs-th>
        <vs-th sort-key="category">Quantity</vs-th>
        <vs-th sort-key="popularity">Unit Price</vs-th>
        <vs-th sort-key="order_status">Total Price</vs-th>
        <vs-th sort-key="price">Shipping Cost</vs-th>
      </template>
        <template slot-scope="{data}">
          <tbody>
            <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

              <vs-td>
                <p class="product-name font-medium truncate">{{ tr.product_name }}</p>
              </vs-td>

              <vs-td>
                <p class="product-category">{{ tr.quantity }}</p>
              </vs-td>

              <vs-td>
                <p class="product-name font-medium truncate">${{ tr.unit_price }}</p>
              </vs-td>

              <vs-td>
                <p class="product-name font-medium truncate">${{ tr.total_price }}</p>
              </vs-td>
              <vs-td>
                <p class="product-price">${{ tr.shipping_cost }}</p>
              </vs-td>
				<vs-td class="whitespace-no-wrap">
                  <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(1)" />
              </vs-td>
            </vs-tr>
          </tbody>
        </template>
    </vs-table>
<div class=" w-2/5 ml-auto mt-4">
    <ul class="total">
                        <li class="total_count mb-4">
                            <div class="tot_left">
                                <p class="font-medium">Total Amount :</p>
                            </div>
                            <div class=" tot_right">
                                <p class="font-medium">$ {{ price.total_unit_price }}</p>
                            </div>
                        </li>
                         <li class="total_count mb-4">
                            <div class="tot_left">
                                <p class="font-medium">Shipping :</p>
                            </div>
                            <div class=" tot_right">
                                <p class="font-medium">$ {{ price.total_shipping_cost }}</p>
                            </div>
                        </li>
                         <li class="total_count mb-4">
                            <div class="tot_left">
                                <p class="font-medium">Net Amount :</p>
                            </div>
                            <div class=" tot_right">
                                <p class="font-medium">$ {{ price.total_total_price }}</p>
                            </div>
                        </li>
                    </ul>
   </div>
    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button class="mr-6" @click="submitData">Submit</vs-button>
    </div>

    
    </vx-card>
     
  </div>

</template>

<script>
import DataViewSidebar from './DataViewSidebar.vue'
import moduleDataList from "@/store/data-list/moduleDataList.js"
import config from "@/config.js"
import vSelect from 'vue-select'

export default {
  components: {
    DataViewSidebar,
    'v-select': vSelect,
  },
  data() {
    return {
      members_id:'', 
      optionmembers_id: [],
      selected: [],
      products: [],
      price: [],
      itemsPerPage: 4,
      isMounted: false,

      // Data Sidebar
      addNewDataSidebar: false,
      sidebarData: {},
    }
  },
  computed: {
    currentPage() {
      if(this.isMounted) {
        return this.$refs.table.currentx
      }
      return 0
    },
   
    queriedItems() {
      return this.$refs.table ? this.$refs.table.queriedResults.length : this.products.length
    }
  },
   
    headers: {
        'Content-Type': 'multipart/form-data'
    }, 
  methods: { 
	  
	  deleteData(id) {
		  
alert(id);
      this.$store.dispatch("dataList/removeItem", id).catch(err => { console.error(err) })
    },
      getcategories(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getmemberslist",{ headers: { Authorization: AuthStr } })
            .then(response => {     
                              
                this.optionmembers_id = response.data;                                       
            })
             .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },

    submitData() {
      this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            var product_list = '[' + localStorage.getItem('order_product_list') + ']';
            product_list = JSON.parse(product_list);
            let obj = {
                  members_id: this.members_id,
                  product_list : product_list,
            }
           const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
           this.$http.post(config.apiUrl +"api/admin/sendneworder",obj,{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response);
                this.$vs.notify({
                    title: 'Order Created',
                    text: 'Order Created Successfully ',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                var myObjStr = '';
                var myObjpri = '';
                localStorage.setItem('order_product_list', myObjStr);
                localStorage.setItem('price_details', myObjpri);
                 this.$vs.loading.close()
                this.$router.push({ path : '/order/orderhistory' });
                
            })
            .catch(error => {
                console.log(error);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Failed',
                    text: error.response.data.errors.message,
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            }); 

        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Order Create',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
    })
    },

    addNewData() {
      this.sidebarData = {}
      this.toggleDataSidebar(true)
    },
    
    
    toggleDataSidebar(val=false) {
      /*var myObjStr = '';
      var myObjpri = '';
       localStorage.setItem('order_product_list', myObjStr);
            localStorage.setItem('price_details', myObjpri);*/
      this.addNewDataSidebar = val
      var product_list = localStorage.getItem('order_product_list');
		
      var price_list = localStorage.getItem('price_details');
      if(product_list){
        product_list = '[' + product_list + ']';
        var array = JSON.parse(product_list);
        var filtered = array.filter(function (el) {
          return el != null;
        });

        this.products = filtered;
        this.price = JSON.parse(price_list);
      }

      

      console.log(filtered);
    }
  },
  created() {
    
    if(!moduleDataList.isRegistered) {
      this.$store.registerModule('dataList', moduleDataList)
      moduleDataList.isRegistered = true
    }
    this.$store.dispatch("dataList/fetchDataListItems")
    return this.getcategories();
  },
  mounted() {
    this.isMounted = true;
  }
}
</script>

<style lang="scss">
.total .not-data-table.vs-table--not-data {
    display: none;
}
.tot_left {
    float: left;
    width: 45%;
	margin-left: 45px;
}
#data-list-list-view {
  .vs-con-table {

    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search{
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          &+i {
            left: 1rem;
          }

          &:focus+i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr{
          box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
          td{
            padding: 20px;
            &:first-child{
              border-top-left-radius: .5rem;
              border-bottom-left-radius: .5rem;
            }
            &:last-child{
              border-top-right-radius: .5rem;
              border-bottom-right-radius: .5rem;
            }
          }
          td.td-check{
            padding: 20px !important;
          }
      }
    }

    .vs-table--thead{
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text{
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check{
        padding: 0 15px !important;
      }
      tr{
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
