<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
        <h4>{{ Object.entries(this.data).length === 0 ? "Add New" : "Update" }} Order</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

   

      <div class="p-6">

        <div class="vx-col sm:w-3/3 w-full">
            <span>Search Products</span>
        </div>
        <div class="vx-col sm:w-3/3 w-full">
          <v-select class="inputx sm:w-3/3" v-model="product_id" :options="optionproduct_id" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'"></v-select>            
        </div><br>


         <div class="vx-col sm:w-1/3 w-full">
            <span>Quantity</span>
        </div>
        <div class="vx-col sm:w-3/3 w-full">
         <vs-input class="w-full" name="quantity" id="quantity" v-model="quantity" v-validate="'required|numeric'" v-on:keyup="valueCalculate"/>
              <span class="text-danger">{{ errors.first('quantity') }}</span>
		 <vs-alert v-show="stockstatus === false" color="danger" icon-pack="feather" icon="icon-info">
			<span>Out of Stock</span>
		  </vs-alert>
        </div><br>

        <div class="vx-col sm:w-1/3 w-full">
            <span>Unit Price</span>
        </div>
        <div class="vx-col sm:w-3/3 w-full">

        <vs-input
          icon-pack="feather"
          icon="icon-dollar-sign"
          v-model="unit_price"
          class="mt-5 w-full"
          name="unit_price"  disabled/>
              <span class="text-danger">{{ errors.first('Unit Price') }}</span>
        </div><br>

        <div class="vx-col sm:w-1/3 w-full">
            <span>Total Price</span>
        </div>
        <div class="vx-col sm:w-3/3 w-full">
        <vs-input
          icon-pack="feather"
          icon="icon-dollar-sign"
          v-model="total_price"
          class="mt-5 w-full"
          name="total_price"  disabled/>
              <span class="text-danger">{{ errors.first('Total Price') }}</span>
        </div><br>

        <div class="vx-col sm:w-1/3 w-full">
            <span>Shipping</span>
        </div>
        <div class="vx-col sm:w-3/3 w-full">
        <vs-input
          icon-pack="feather"
          icon="icon-dollar-sign"
          v-model="shipping_cost"
          class="mt-5 w-full"
          name="shipping_cost"  disabled/>
              <span class="text-danger">{{ errors.first('Shipping') }}</span>
        </div><br>

         <!--<div class="vx-col sm:w-1/3 w-full">
            <span>Notes</span>
        </div>
        <div class="vx-col sm:w-3/3 w-full">
			
			<vs-textarea label="Notes" name="Notes" class="mt-5 w-full" v-model="notes" v-validate="'required'"/>

              <span class="text-danger">{{ errors.first('Notes') }}</span>
        </div>-->
     
        
      </div>
   
    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button class="mr-6" @click="submitData">Submit</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import CreateOrder from './CreateOrder.vue'
import config from "@/config.js"
import vSelect from 'vue-select'
export default {
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {},
    }
  },
   watch: {
    isSidebarActive(val) {
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        this.initValues()
        this.$validator.reset()
      }else {
        let { product_id, unit_price, total_price, settings, quantity, shipping_cost,notes } = JSON.parse(JSON.stringify(this.data))
        this.product_id = product_id
        this.unit_price = unit_price
        this.total_price = total_price
        this.settings = settings
        this.quantity = quantity
        this.shipping_cost = shipping_cost
		
        this.initValues()
      }
      // Object.entries(this.data).length === 0 ? this.initValues() : { this.dataId, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
    }
  },
  data() {
    return {
      product_id:'', 
      unit_price:'',
      total_price:'',
      settings : '',
      quantity:'',
      shipping_cost:'',
      optionproduct_id: [],
	  stockstatus:true,
	  id:'',	
    }
  },
  computed: {
	
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive
      },
      set(val) {
        if(!val) {
          this.$emit('closeSidebar')
          //this.$validator.reset()
          //this.initValues()
        }
      }
    },
    isFormValid() {
      return !this.errors.any() && this.Quantity && this.unit_price && this.total_price && this.shipping_cost && this.product_id
    }
  },
   
    
    created() {
      return this.getcategories();
    },   
    headers: {
        'Content-Type': 'multipart/form-data'
    },  
  methods: {
    initValues() {
      if(this.data.id) return
       this.product_id = null
        this.unit_price = 0
        this.total_price = 0
        this.settings = 0
        this.quantity = null
        this.shipping_cost = 0
		this.stockstatus=null
		this.id=null
		
    },
    getcategories(){
        const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getproductlist",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.optionproduct_id = response.data;                                       
            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
    valueCalculate(){

            let productdatas = {
                  product_id: this.product_id,
                  quantity: this.quantity,
            }
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.post(config.apiUrl +"api/admin/getproductunitandtotal",productdatas,{ headers: { Authorization: AuthStr } })
            .then(response => {   
				if(response.data===false){
				 this.unit_price = 0;
       			 this.total_price = 0;
				 this.shipping_cost = 0;
                this.stockstatus=false;
				}
				else{
				this.stockstatus=true;
                this.unit_price = response.data.price; 
                this.total_price = response.data.total_price;  
                this.shipping_cost = response.data.shipping_cost;
				}
                                                  
            })
            .catch(error => {
                console.log(error);
            });
  
    },


    submitData() {
      this.$validator.validateAll().then(result => {
          if (result) {
            const old_value = localStorage.getItem('order_product_list');
            const old_price_details = localStorage.getItem('price_details');
            const obj = {
			  id      :this.data.id,	
              product_id: this.product_id,
              quantity: this.quantity,
              unit_price: this.unit_price,
              total_price: this.total_price,
              shipping_cost: this.shipping_cost,
				
            }
            var product_id = obj.product_id.id;
            var product_name = obj.product_id.label;
            var unit_price = obj.unit_price;
            var total_price = obj.total_price;
            var shipping_cost = obj.shipping_cost;
            var quantity = obj.quantity;
			 var id = obj.id;
            var full_obj = {
			
              product_id : product_id,
              product_name : product_name,
              unit_price : unit_price,
              total_price : total_price,
              shipping_cost : shipping_cost,
		
              quantity : quantity,
				id :id,
            }
            if(full_obj != null){
                var myObjStr = JSON.stringify(full_obj);
                if(old_value != ''){
                  myObjStr = myObjStr+','+old_value;
                }
            }
            console.log(myObjStr);
            var price_details;
            if(old_price_details){
              
              var priObj = JSON.parse(old_price_details);
             
              var total_unit_price = +priObj.total_unit_price + +total_price;
              var total_total_price = +priObj.total_total_price + +total_price;
              var total_shipping_cost = +priObj.total_shipping_cost + +shipping_cost;
              price_details = {
                total_unit_price : total_unit_price,
                total_total_price : +total_total_price + +total_shipping_cost,
                total_shipping_cost : total_shipping_cost
              }
            }else{
              price_details = {
                total_unit_price : total_price,
                total_total_price : +total_price + +shipping_cost,
                total_shipping_cost : shipping_cost
              }
            }
            var myObjpri = JSON.stringify(price_details);
            localStorage.setItem('order_product_list', myObjStr);
            localStorage.setItem('price_details', myObjpri);
            this.$emit('closeSidebar')
            this.initValues()
            this.$validator.reset()
          }
      })
    },
    
  },
  components: {
    CreateOrder,
    'v-select': vSelect,
  }
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
