<template>
  <vx-card>
    <vs-prompt title="Export To Excel" class="export-options" @cancle="clearFields" @accept="exportToExcel" accept-text="Export" @close="clearFields" :active.sync="activePrompt">
        <vs-input v-model="fileName" placeholder="Enter File Name.." class="w-full" />
        <v-select v-model="selectedFormat" :options="formats" class="my-4" />
        <div class="flex">
          <span class="mr-4">Cell Auto Width:</span>
          <vs-switch v-model="cellAutoWidth">Cell Auto Width</vs-switch>
        </div>
    </vs-prompt>

    <div class="export-table">
     <vs-table pagination :max-items="10" search :data="orders">

        <template slot="header">
          	<vs-button @click="activePrompt=true">Export</vs-button>
			<vs-button class="ml-5" icon-pack="feather" icon="icon icon-file" @click="printInvoice">Print</vs-button>
			<v-select class="vx-col md:w-1/4 w-full ml-5" :options="orderstatuslist" :dir="$vs.rtl ? 'rtl' : 'ltr'"  name="order_status_view" id="order_status_view" v-model="order_status_view" v-on:input="changeOrderStatus($event)"  />
        </template>

        <template slot="thead">
                <vs-th sort-key="transation_order_id">Order</vs-th>
                <vs-th sort-key="order_date">Date</vs-th>
                <vs-th sort-key="members_username">Distributor Name</vs-th>
                <vs-th sort-key="quantity">Order Quantity</vs-th>
                <vs-th sort-key="total_price">Purchase Total</vs-th>
                <vs-th sort-key="order_status">Status</vs-th>
                <vs-th sort-key="history_amount">Action</vs-th>
        </template>

        <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                   
                    <vs-td :data="data[indextr].transation_order_id">
                        {{data[indextr].transation_order_id}}
                    </vs-td>

                    <vs-td :data="data[indextr].order_date">
                        {{data[indextr].order_date}}
                    </vs-td>

                    <vs-td :data="data[indextr].members_username">
                        {{data[indextr].members_username}}
                    </vs-td>
 
                    <vs-td :data="data[indextr].quantity">
                        {{data[indextr].quantity}}
                    </vs-td>

                    <vs-td :data="data[indextr].total_price">
                        {{ currency }}{{data[indextr].total_price}}
                    </vs-td>

                    <vs-td :data="data[indextr].order_status" >
						  {{data[indextr].order_status}}
					  </vs-td>
                    <vs-td :data="data[indextr].order_id">
                        <vs-button size="small" @click.stop="viewOrder(data[indextr].order_id)">View Order</vs-button>
                    </vs-td>

                </vs-tr>
            </template>

      </vs-table>
    </div>
  </vx-card>
</template>

<script>
import vSelect from 'vue-select'
import config from "@/config.js"

export default {
  components: {
    vSelect
  },
  data() {
    return {
		currency:'',
	  order_status_view:'Select Order Status',
	  orderstatuslist:[
            {"id":3,"label":"Pending Orders"},
            {"id":4,"label":"Processing Orders"},
            {"id":5,"label":"Completed Orders"},
            {"id":6,"label":"Cancelled Orders"},
            {"id":7,"label":"Refunded Orders"}, 
      ],
      fileName: "",
      formats:["xlsx", "csv", "txt"] ,
      cellAutoWidth: true,
      selectedFormat: "xlsx",
	  headerTitle: [ "Order", "Date","Distributor Name", "Order Quantity", "Purchase Total", "status"],
      headerVal: [ "transation_order_id", "order_date","members_username", "quantity", "total_price", "order_status"],
      orders: [],
      activePrompt: false,
    }
  },
  created() {
       return this.fetchData(),this.fetchcurrency();
    },
  methods: {
	     fetchcurrency()
        {
             const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcurrency",{ headers: { Authorization: AuthStr } })

            .then(response => {  
                 
                this.currency=response.data;

            })
             .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
	   changeOrderStatus(osid){
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/orderhistoryfilter/"+osid['id'],{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.orders = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                this.$vs.loading.close()
                console.log(error);
            });
        },
	  printInvoice() {
        window.print()
      },
	   viewOrder(orderid) {
            this.$router.push({ path : '/order/orderdetails/'+orderid });
        },
       fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/orderhistory",{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response);
                this.orders = response.data;
                this.$vs.loading.close()
            })
            .catch(error => {
                this.$vs.loading.close()
                console.log(error);
            });
        },
    
    exportToExcel() {
      import('@/vendor/Export2Excel').then(excel => {
        const list = this.orders
        const data = this.formatJson(this.headerVal, list)
        excel.export_json_to_excel({
          header: this.headerTitle,
          data,
          filename: this.fileName,
          autoWidth: this.cellAutoWidth,
          bookType: this.selectedFormat
        })
        this.clearFields()
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        // Add col name which needs to be translated
        // if (j === 'timestamp') {
        //   return parseTime(v[j])
        // } else {
        //   return v[j]
        // }

        return v[j]
      }))
    },
    clearFields() {
      this.filename = "",
      this.cellAutoWidth = true,
      this.selectedFormat = "xlsx"
    }
  }
}
</script>
