<template>
  <vx-card>
    <vs-prompt title="Export To Excel" class="export-options" @cancle="clearFields" @accept="exportToExcel" accept-text="Export" @close="clearFields" :active.sync="activePrompt">
        <vs-input v-model="fileName" placeholder="Enter File Name.." class="w-full" />
        <v-select v-model="selectedFormat" :options="formats" class="my-4" />
        <div class="flex">
          <span class="mr-4">Cell Auto Width:</span>
          <vs-switch v-model="cellAutoWidth">Cell Auto Width</vs-switch>
        </div>
    </vs-prompt>

    <div class="export-table">
     <vs-table pagination :max-items="10" search :data="orders">

        <template slot="header">
          <vs-button @click="activePrompt=true">Export</vs-button>
		<vs-button class="ml-5" icon-pack="feather" icon="icon icon-file" @click="printInvoice">Print</vs-button>
        </template>

         <template slot="thead">
                <vs-th>S.No</vs-th>
                <vs-th sort-key="members_username">Distributor Name</vs-th>
                <vs-th sort-key="total_price">Amount</vs-th>
                <vs-th sort-key="shipping_price">Purchase Amount(shipping)</vs-th>
                <vs-th sort-key="paymentsettings_name">Payment Mode</vs-th>
                <vs-th sort-key="paymenthistory_trans_id">Transaction ID</vs-th>
                <vs-th sort-key="quantity">No. of Products</vs-th>
                <vs-th sort-key="order_date">Date</vs-th>
                <vs-th sort-key="paymenthistory_status">Pay Status</vs-th>
            </template>

        <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td>
                    {{ indextr + 1 }}
                    </vs-td>
                    <vs-td :data="data[indextr].members_username">
                        {{data[indextr].members_username}}
                    </vs-td>

                    <vs-td :data="data[indextr].total_price">
                        {{ currency }}{{data[indextr].total_price}}
                    </vs-td>

                    <vs-td :data="data[indextr].shipping_price">
                        {{ currency }}{{data[indextr].shipping_price}}
                    </vs-td>

                    <vs-td :data="data[indextr].paymentsettings_name">
                        {{data[indextr].paymentsettings_name}}
                    </vs-td>

                    <vs-td :data="data[indextr].paymenthistory_trans_id" >
                        <a href='javascript:void(0)' @click.stop="viewOrder(data[indextr].order_id)"> {{data[indextr].paymenthistory_trans_id}} </a>
                    </vs-td>

                    <vs-td :data="data[indextr].quantity">
                        {{data[indextr].quantity}}
                    </vs-td>

                    <vs-td :data="data[indextr].order_date">
                        {{data[indextr].order_date}}
                    </vs-td>

                   <vs-td :data="data[indextr].paymenthistory_status" v-if="data[indextr].paymenthistory_status == 'paid'">
                       <vs-chip color="primary">Paid</vs-chip>
                    </vs-td>
                    <vs-td :data="data[indextr].paymenthistory_status" v-else>
                        <a href='javascript:void(0)' @click.stop="changePaidStatus(data[indextr].paymenthistory_id,data[indextr].order_id)"><vs-chip color="danger">Not Paid</vs-chip></a>
                    </vs-td>
                </vs-tr>
            </template>

      </vs-table>
    </div>
  </vx-card>
</template>

<script>
import vSelect from 'vue-select'
import config from "@/config.js"

export default {
  components: {
    vSelect
  },
  data() {
    return {
		currency:'',
      fileName: "",
      formats:["xlsx", "csv", "txt"] ,
      cellAutoWidth: true,
      selectedFormat: "xlsx",
      headerTitle: [ "Username", "Total Price","Shipping Price", "Payment Mode", "Transaction ID", "No of Products", "Date", "Status"],
      headerVal: [ "members_username", "total_price","shipping_price", "paymentsettings_name", "paymenthistory_trans_id", "quantity", "order_date", "paymenthistory_status"],
      orders: [],
      activePrompt: false,
    }
  },
  created() {
       return this.fetchData(),this.fetchcurrency();
    },
  methods: {
	   fetchcurrency()
        {
             const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcurrency",{ headers: { Authorization: AuthStr } })

            .then(response => {  
                 
                this.currency=response.data;

            })
            .catch(error => {
                console.log(error);
            });
        },
	   printInvoice() {
        window.print()
      },
      viewOrder(orderid) {
            this.$router.push({ path : '/order/orderdetails/'+orderid });
        },
        changePaidStatus(paymenthistoryid,orderid){
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/salesstatuschange/"+paymenthistoryid+"/"+orderid,{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response);
                this.fetchData();
            })
        },
        fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/saleshistory",{ headers: { Authorization: AuthStr } })
            .then(response => {
                console.log(response);
                this.orders = response.data;
                this.$vs.loading.close()
            })
             .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
        },
    
    exportToExcel() {
      import('@/vendor/Export2Excel').then(excel => {
        const list = this.orders
        const data = this.formatJson(this.headerVal, list)
        excel.export_json_to_excel({
          header: this.headerTitle,
          data,
          filename: this.fileName,
          autoWidth: this.cellAutoWidth,
          bookType: this.selectedFormat
        })
        this.clearFields()
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        // Add col name which needs to be translated
        // if (j === 'timestamp') {
        //   return parseTime(v[j])
        // } else {
        //   return v[j]
        // }

        return v[j]
      }))
    },
    clearFields() {
      this.filename = "",
      this.cellAutoWidth = true,
      this.selectedFormat = "xlsx"
    }
  }
}
</script>
