<template>
    <div>
        <div class="vx-col w-full mb-base">
            <vx-card title="Order Details">
				    <vs-prompt title="Export To Excel" class="export-options" @cancle="clearFields" @accept="exportToExcel" accept-text="Export" @close="clearFields" :active.sync="activePrompt">
        <vs-input v-model="fileName" placeholder="Enter File Name.." class="w-full" />
        <v-select v-model="selectedFormat" :options="formats" class="my-4" />
        <div class="flex">
          <span class="mr-4">Cell Auto Width:</span>
          <vs-switch v-model="cellAutoWidth">Cell Auto Width</vs-switch>
        </div>
    </vs-prompt>
				<!-- <vs-button @click="activePrompt=true">Export</vs-button>-->
				<vs-button class="ml-auto mb-5" icon-pack="feather" icon="icon icon-file" @click="printInvoice">Print</vs-button>
            <table style="width:100%" class="border-collapse">
                 <tr>
                    <td class="p-2 border border-solid d-theme-border-grey-light" style="width:30%">Distributor Name</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.product_details[0].members_username }}</td>
                </tr>
                <tr>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Order Date</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.product_details[0].order_date }}</td>
                </tr>
                 <tr>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Billing Address</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.product_details[0].address }},{{ orderdetails.product_details[0].city }},{{ orderdetails.product_details[0].state }},{{ orderdetails.product_details[0].country }},{{ orderdetails.product_details[0].zipcode }}</td>
                </tr>
                 <tr>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Shipping Address</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.product_details[0].shipping_address }},{{ orderdetails.product_details[0].shipping_city }},{{ orderdetails.product_details[0].shipping_state }},{{ orderdetails.product_details[0].shipping_country }},{{ orderdetails.product_details[0].shipping_zipcode }}</td>
                </tr>
                <tr>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Phone Number</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.product_details[0].phone }}</td>
                </tr>
                <tr>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Payment Through</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light" v-if="orderdetails.product_details[0].paymenthistory_mode == 0">Cash On Delivery</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light" v-else>{{ orderdetails.product_details[0].paymentsettings_name }}</td>
                </tr>
                <tr>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Order Status</td>

                    <td class="p-2 border border-solid d-theme-border-grey-light" v-if="orderdetails.product_details[0].order_status == 0"><vs-button @click="popupActive2=true" class="btn_cbn" color="primary" type="border" >Processing</vs-button></td>
                    <td class="p-2 border border-solid d-theme-border-grey-light" v-else-if="orderdetails.product_details[0].order_status == 1"><vs-button @click="popupActive2=true" class="btn_cbn" color="success" type="border" >Completed</vs-button></td>
                    <td class="p-2 border border-solid d-theme-border-grey-light" v-else-if="orderdetails.product_details[0].order_status == -1"><vs-button @click="popupActive2=true" class="btn_cbn" color="danger" type="border" >Cancelled</vs-button></td>
					<td class="p-2 border border-solid d-theme-border-grey-light" v-else-if="orderdetails.product_details[0].order_status == 3"><vs-button @click="popupActive2=true" class="btn_cbn" color="danger" type="border" >Refunded</vs-button></td>
                    <td class="p-2 border border-solid d-theme-border-grey-light" v-else><vs-button @click="popupActive2=true" class="btn_cbn" color="primary" type="border">Pending</vs-button></td>
                </tr>
                <tr>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Order Track ID</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.product_details[0].transation_order_id }}</td>
                </tr>
                <tr>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Note</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.product_details[0].note }}</td>
                </tr>
				<tr>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Account Type</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.product_details[0].account_type }}</td>
                </tr>
				<tr v-if="orderdetails.product_details[0].tracking_carriar != ''">
                    <td class="p-2 border border-solid d-theme-border-grey-light">Carriar</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.product_details[0].tracking_carriar }}</td>
                </tr>
                <tr v-if="orderdetails.product_details[0].tracking_code != ''">
                    <td class="p-2 border border-solid d-theme-border-grey-light">Tracking Code</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.product_details[0].tracking_code }}</td>
                </tr>
                <tr v-if="orderdetails.product_details[0].tracking_code != ''">
                    <td class="p-2 border border-solid d-theme-border-grey-light">Track Location</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light"><a :href="orderdetails.product_details[0].tracking_url" target="_blank" class="btn_cbn_new" color="primary" type="border">View Track</a></td>
                </tr>
            </table>
            </vx-card>
        </div>
        <div class="vx-col w-full mb-base">
            <vx-card title="View Order List">
            <table style="width:100%" class="border-collapse" >
                <tr>
                    <th class="p-2 border border-solid d-theme-border-grey-light">S.No</th>
                    <th class="p-2 border border-solid d-theme-border-grey-light">Product Name</th>
                    <th class="p-2 border border-solid d-theme-border-grey-light">Product Price</th>
                    <th class="p-2 border border-solid d-theme-border-grey-light">Quantity</th>
                    <th class="p-2 border border-solid d-theme-border-grey-light" v-if="shippingtype == 0">Shipping</th>
                    <th class="p-2 border border-solid d-theme-border-grey-light">Discount</th>
                    <th class="p-2 border border-solid d-theme-border-grey-light">Sub Total</th>
                </tr>
                <tr :key="indextr" v-for="(tr, indextr) in orderdetails.product_list" >
                     
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ indextr + 1 }}</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{orderdetails.product_list[indextr].product_name}}</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ currency }} {{orderdetails.product_list[indextr].unit_price}}</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{orderdetails.product_list[indextr].quantity}}</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light" v-if="shippingtype == 0">{{ currency }} {{orderdetails.product_list[indextr].shipping_price}}</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ currency }} {{orderdetails.product_list[indextr].discount}}</td>  
                   <td class="p-2 border border-solid d-theme-border-grey-light" v-if="shippingtype == 0">{{ currency }} {{orderdetails.product_list[indextr].total_price}}</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light" v-else>{{ currency }} {{orderdetails.product_list[indextr].shippingtotalprice}}</td>
                    
                </tr>
				<tr v-if="orderdetails.product_details[0].tax_amount!=0">
                    <td :colspan="coltype"></td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ orderdetails.taxdetails[0].tax_name }}({{ orderdetails.taxdetails[0].tax_value }}%)</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ currency }} {{ orderdetails.product_details[0].tax_amount }}</td>
                </tr>
                <tr v-if="shippingtype == 0">
                    <td :colspan="coltype"></td>
                    <td class="p-2 border border-solid d-theme-border-grey-light" >Total Amount</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ currency }} {{ orderdetails.total_price }}</td>
                </tr>
                <tr v-else>
                    <td :colspan="coltype"></td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Total Amount</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ currency }} {{ total_amount }}</td>
                </tr>
                <tr>
                    <td :colspan="coltype"></td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Shipping Amount</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ currency }} {{ shippingprice }}</td>
                </tr>
                <tr v-if="orderdetails.giftcnt==1">
                    <td :colspan="coltype"></td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Giftcard Amount</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ currency }} {{ orderdetails.giftcarddetails[0].used_amount }}</td>
                </tr>
                 <tr v-if="orderdetails.giftcnt==1">
                    <td :colspan="coltype"></td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Amount Paid</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ currency }} {{ amountpaid }}</td>
                </tr>
                <tr v-if="orderdetails.giftcnt==0">
                    <td :colspan="coltype"></td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">Amount Paid</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ currency }} {{ total_price }}</td>
                </tr>
               
            </table>
            </vx-card>
        </div>

        <div class="vx-col w-full mb-base">
            <vx-card title="View Order Status">
            <table style="width:100%" class="border-collapse">
                <tr>
                    <th class="p-2 border border-solid d-theme-border-grey-light">S.No</th>
                    <th class="p-2 border border-solid d-theme-border-grey-light">	Product Name</th>
                    <th class="p-2 border border-solid d-theme-border-grey-light">Order Status</th>
                </tr>
                 <tr :key="indextr" v-for="(tr, indextr) in orderdetails.product_list">
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{ indextr + 1 }}</td>
                    <td class="p-2 border border-solid d-theme-border-grey-light">{{orderdetails.product_list[indextr].product_name}}</td>
                    <td class="p-2  border border-solid d-theme-border-grey-light" v-if="orderdetails.product_details[0].order_status == 0">Processing</td>
                    <td class="p-2  border border-solid d-theme-border-grey-light" v-else-if="orderdetails.product_details[0].order_status == -1">Cancelled</td>
                    <td class="p-2  border border-solid d-theme-border-grey-light" v-else-if="orderdetails.product_details[0].order_status == 2">Pending</td>
					 <td class="p-2  border border-solid d-theme-border-grey-light" v-else-if="orderdetails.product_details[0].order_status == 3">Refunded</td>
                    <td class="p-2  border border-solid d-theme-border-grey-light" v-else>Completed</td>
                </tr>
            </table>
            </vx-card>
        </div>

    <vs-popup classContent="popup-example" title="Order Status" :active.sync="popupActive2">
      <v-select class="inputx sm:w-3/3" v-model="changestatus" name="changestatus" :options="optionchangestatus" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-validate="'required'" v-on:input="changeselect($event)"></v-select>
        <span class="text-danger" v-show="errors.has('changestatus')">Order status is required</span>  
      <br>
        <div v-if="trackingstatus == 1">
            
            <vs-select v-model="carrier" name="carrier" class="w-full select-large"  placeholder="Carrier">
                <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in optioncarrier" class="w-full" />
            </vs-select>
            <br>
            <vs-input class="inputx sm:w-3/3" placeholder="Tracking ID" v-model="trackingid" name="trackingid"/>
            <!-- <span class="text-danger" v-show="errors.has('trackingid')"> Tracking id is required</span>   -->
        
        <br>
        </div> 
      <vs-button @click="submitOrderStatus()" color="primary" type="filled">Submit</vs-button>
    </vs-popup>
    </div>

    
</template>

<script>
import config from "@/config.js"
import vSelect from 'vue-select'
export default {
    components: {
    'v-select': vSelect,
		vSelect
    },
    data() {
        return {
			members_id:'',
            matrix_id:'',
			shippingtype:"",
            shippingprice:"",
            coltype:"",
            total_price:"",
            shipping_total:"",
            total_amount:"",
			trackingid:"",
			trackingstatus:"",
			carrier:"",
			optioncarrier:  [
				{text: "UPS", value:"UPS"},
				{text: "USPS", value:"USPS"},
				{text: "FedEx", value:"FedEx"},
				{text: "DHL eCommerce", value:"DHL eCommerce"},
				{text: "DHL Express", value:"DHL Express"},
            ],
			 fileName: "",
			formats:["xlsx", "csv", "txt"] ,
      		cellAutoWidth: true,
      		selectedFormat: "xlsx",
			 headerTitle: [ "Order", "Date","Distributor Name", "Order Quantity", "Purchase Total", "status"],
      		headerVal: [ "transation_order_id", "order_date","members_username", "quantity", "total_price", "order_status"],
      		orders: [],
			activePrompt: false,			
            orderdetails: [],
			amountpaidse:'',
            optionchangestatus: [{"id":"0","label":"Processing"},{"id":"1","label":"Completed"},{"id":"2","label":"Pending"},{"id":"-1","label":"Cancelled"},{"id":"3","label":"Refund"}],
            changestatus:'',
            amountpaid:'',
            popupActive2: false,
            currency:'', 
            used_amount:'',
        }
    },
    created() {
       return this.fetchData(),this.getcurrencydetails();
    },
    methods: {
		changeselect(status){
            this.trackingstatus = status.id;
        },
		clearFields() {
      this.filename = "",
      this.cellAutoWidth = true,
      this.selectedFormat = "xlsx"
    },
		exportToExcel() {
      import('@/vendor/Export2Excel').then(excel => {
        const list = this.orders
        const data = this.formatJson(this.headerVal, list)
        excel.export_json_to_excel({
          header: this.headerTitle,
          data,
          filename: this.fileName,
          autoWidth: this.cellAutoWidth,
          bookType: this.selectedFormat
        })
        this.clearFields()
      })
    },
		printInvoice() {
        window.print()
      },
        getcurrencydetails(){

      const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
            this.$http.get(config.apiUrl +"api/admin/getcurrency",{ headers: { Authorization: AuthStr } })
            .then(response => {                       
                this.currency = response.data;                                       
            })
            .catch(error => {
                console.log(error);
            });

    },
        submitOrderStatus(){
            this.$validator.validateAll().then(result => {
        if(result) {
            this.$vs.loading()
            let obj = {
                  changestatus: this.changestatus,
				  trackingid : this.trackingid,
                  carrier: this.carrier,
                  orderid:this.$route.params.orderid,
				  total_price:this.total_price,
                  members_id:this.members_id,
                  matrix_id:this.matrix_id,
            }            
           const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));
           this.$http.post(config.apiUrl +"api/admin/changeorderstatus",obj,{ headers: { Authorization: AuthStr } })
            .then(response => {
                //console.log(response);
                this.$vs.notify({
                    title: 'Order Changed',
                    text: 'Status Changed Successfully ',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$vs.loading.close()
                this.popupActive2 = false;
                this.fetchData()
                
            })
            .catch(error => {
                //console.log(error);
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Failed',
                    text: error.response.data.errors.message,
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
                })
            }); 

        }else{
            this.$vs.loading.close()
            this.$vs.notify({
                    title: 'Order Create',
                    text: 'Please fill all fields',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'warning'
            })
        }
    })
        },
			fetchData() {
            this.$vs.loading()
            const AuthStr = 'Bearer '.concat(localStorage.getItem('admin_token'));          
            this.$http.get(config.apiUrl +"api/admin/orderdetails/"+this.$route.params.orderid,{ headers: { Authorization: AuthStr } })
            .then(response => {
                this.orderdetails = response.data;
				this.members_id = response.data.product_details[0].members_id;
                this.matrix_id = response.data.product_details[0].matrix_id;
				this.shippingtype = response.data.product_details[0].auto_shipping_status;
                this.shippingprice = response.data.product_details[0].auto_shipping_price;
                this.total_price = response.data.total_price;
                this.shipping_total = response.data.total_shipping;
             
                
                // if(response.data['giftcnt']==1){
				// 	this.amountpaidse=response.data['total_price'] - response.data['giftcarddetails'][0]['used_amount'];
					
				// 	if(response.data['total_price'] < response.data['giftcarddetails'][0]['used_amount']){
				// 		this.amountpaid='0';
				// 	}else{
				// 		this.amountpaid=this.amountpaidse;
				// 	}
                    
                // }else{
                //      this.amountpaidse=response.data['total_price'];  
					
                // }

                if(response.data['giftcnt']==1){
                    this.amountpaid=response.data['total_price']-response.data['giftcarddetails'][0]['used_amount'];
                    
					if(response.data['total_price'] > response.data['giftcarddetails'][0]['used_amount']){
						this.amountpaid=this.amountpaid;
					}
					else{
						this.amountpaid='0';
					}	
                }else{
                     this.amountpaid=response.data['total_price'];   
                }
                if(this.shippingtype == 1){
                    this.coltype = 4;
                    this.amountpaid = +this.amountpaid + +this.shippingprice;
                    this.total_amount = this.total_price - this.shipping_total;
                    this.total_price = (+this.total_price + +this.shippingprice) - this.shipping_total;
                    
                }else{
                    this.coltype = 5;
                    this.amountpaid = this.amountpaid;
                    this.total_price = this.total_price;
                }
                this.$vs.loading.close()
            })
            .catch(error => {
				localStorage.clear();
            this.$router.push('/login').catch(() => {})
            this.$vs.notify({
                title: 'Session Token',
                text: 'Token expired',
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })  
                this.$vs.loading.close()
				// setTimeout(this.$router.push('/login') , 1000)
                console.log(error);
            });
            
        },
       
    }   
}
</script>
        
<style lang="scss">
.btn_cbn {

    padding: 5px 10px !important;
    font-size: 12px;

}
	.btn_cbn_new {
    padding: 5px 10px !important;
    border: 1px solid #7367f0;
}
</style>